.error {
    &__number {
        font-weight: normal;
        font-size: 6rem;
        line-height: 1em;
        color: $gris-medio;
        text-align: center;
        margin: 0 auto;
        padding: .3em 0 0 0;
    }
    &__titulo {
        font-weight: bold;
        font-size: 1.6rem;
        line-height: 1.05em;
        text-align: center;
        margin: 0 auto;
        padding: .2em 0;
    }
    &__subtitulo {
        font-size: 1.2rem;
        line-height: 1.05em;
        font-weight: normal;
        text-align: center;
        padding: .6em 0 .3em 0;
        margin-bottom: 1em;
    }

    &__contenido {
        text-align: center;
        p.main-page {
            font-weight: bold;
            a {
                color: $color-brand;
            }
        }

        &__sugerencias {
            margin: 10px auto;
            border-top: $borde;
            padding: 10px;
            p {
                text-transform: uppercase;
                font-weight: bold;
                color: $gris-medio;
            }
            ul {
                padding: 5px 0;
                margin: 0;
                list-style: none;
                &.lostemas {
                    li {
                        &:first-of-type {
                            display: none;
                        }
                    }
                }
                li {
                    padding: 0;
                    margin: .3em 0;
                    a {
                        color: $color-brand;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            img {
                margin: 10px auto;
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .error {
        &__number {
            font-size: 10rem;
        }
        &__contenido {    
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            p.main-page {
                width: 100%;
                font-size: 1.6rem;
                margin: 1em auto;
            }
            &__sugerencias {
                width: 100%;
                &:nth-child(-n+4) {
                    width: 30%;
                    border-top: none;
                }
            }
        }
    }
}