.masleidas {
    padding-top: 10px;

    h1 {
        width: 100%;
        text-transform: uppercase;
        font-weight: 700;
    }

    .articulo {
        border: $borde;
        position: relative;
        a {
            display: flex;
            flex-direction: column;
            height: 100%;
            .meta-content {
                padding-top: 0;
                h2 {
                    color: $gris-oscuro;
                    padding: 1rem;
                    color: #313133;
                    font-size: 1.1rem;
                    line-height: 1.3rem;
                    font-weight: 500;
                
                }
            }
        } 
        &__ordenleidas {
            position: absolute;
            left: 10px;
            top: 10px;
            color: white;
            font-size: 4rem;
            text-shadow: $text-shadow;
            z-index: 2;
            letter-spacing: -.04em;
            opacity: .7;
            transition: ease .3s;
        }
    }
}

@include media-breakpoint-up(md) {
    .masleidas {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .articulo {
            width: 48%;
            margin-bottom: 20px;
            transition: ease .3s;
            .meta-content {
                h2 {
                    transition: ease .3s;
                }
            }
            &:hover {
                .meta-content {
                    h2 {
                        color: $negro;
                    }
                }
                .articulo__ordenleidas {
                    opacity: 1;
                }
                box-shadow: $box-shadow;
            } 
        }
    }
}

@include media-breakpoint-up(xxl) {
    .masleidas {
        .articulo {
            width: 32%;
        }
    }
}


.wf-loaded { 
    .masleidas {
        padding-top: 10px;
    
        h1 {
          
        }
    
        .articulo {
          
            a {
                
                .meta-content {
                   
                    h2 {
                        font-size: 1rem;
                        line-height: 1.3rem;
                        font-weight: 500;
                      
                    
                    }
                }
            } 
            &__ordenleidas {
                position: absolute;
                left: 10px;
                top: 10px;
                color: white;
                font-size: 4rem;
                text-shadow: $text-shadow;
                z-index: 2;
                letter-spacing: -.04em;
                opacity: .7;
                transition: ease .3s;
            }
        }
    }
    
  
    @include media-breakpoint-up(xxl) {
        .masleidas {
            .articulo {
                width: 32%;
            }
        }
    }
    



}