.supercontenedor.reperfilar {
	h1 {
		display: none;
	}
	.reperfilar-main-content {
		background: $negro;
		.articulo {
			padding-top: 6px;
			border-top: 1px solid $linea-oscura;
			display: flex;
			justify-content: space-between;
			figure {
				width: 35%;
			}
			.meta-content {
				padding: 0 10px 0 0;
				width: 62%;
				a {
					.hat {
						display: none;
					}
					h2 {
						color: white;
					}
					.date-time {
						display: none;
					}
				}
				.firma-home {
					color: white;
					a {
						color: white;
					}
				}
			}
			&:first-of-type {
				padding-top: none;
				display: block;
				border-top: none;
				padding-top: none;
				figure {
					width: 100%;
				}
				.meta-content {
					width: 100%;
					padding: 5px 10px;
					h2 {
						font-size: 1.4rem;
						font-size: 7vw;
					}
				}
			}
			.embed-responsive {
				position: relative;
				display: block;
				height: 0;
				padding: 0;
				overflow: hidden;
				.embed-responsive-item,
				embed,
				iframe,
				object,
				video {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border: 0;
				}
			}
			.embed-responsive-16by9 {
				padding-bottom: 56.25%;
			}
		}
	}
}

@include media-breakpoint-up(sm) {
	.supercontenedor {
		&.reperfilar {
			.reperfilar-main-content {
				.articulo {
					&:nth-child(1) {
						.meta-content {
							a {
								h2 {
									font-size: 1.6rem;
								}
							}
						}
					}
				}
			}
		}
	}
}
@include media-breakpoint-up(md) {
	.supercontenedor {
		&.reperfilar {
			.reperfilar-main-content {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
				.articulo {
					width: 47%;
					flex-direction: column;
					figure {
						width: 100%;
					}
					.meta-content {
						width: 100%;
						h2 {
							font-size: 1.3rem;
						}
					}
					&:nth-child(1) {
						width: 100%;
					}
				}
			}
		}
	}
}
@include media-breakpoint-up(lg) {
	.supercontenedor {
		&.reperfilar {
			.reperfilar-main-content {
				padding: 10px;
				justify-content: space-between;
				.articulo {
					width: 24%;
					justify-content: flex-start;
					.meta-content {
						padding-top: 5px;
						a {
							h2 {
								font-size: 1.2rem;
								font-weight: 400;
								letter-spacing: -0.02em;
							}
						}
					}
					&:nth-child(1) {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						.videoContainer,
						figure {
							flex-basis: 66%;
						}
						.embed-responsive-16by9 {
							padding-bottom: 37%
						}
						.meta-content {
							flex-basis: 32%;
							padding: 0;
							a {
								h2 {
									font-size: 1.8rem;
								}
								p.headline {
									display: block;
									color: white;
									margin: 10px 0;
								}
							}
						}
					}
					&:hover {
						figure {
							img {
								filter: none;
								transform: none;
							}
						}
					}
				}
			}
		}
	}
}
@include media-breakpoint-up(xl) {
	.supercontenedor {
		&.reperfilar {
			.reperfilar-main-content {
				display: grid;
				grid-template-areas: 
					'big smallone'
					'big smalltwo'
					'big smallthree'
					'big smallfour';
				grid-template-columns: 2fr 1fr;
				grid-column-gap: 20px;
				.articulo {
					width: 100%;
					flex-direction: row;
					justify-content: space-between;
					figure {
						width: 30%;
					}
					.meta-content {
						width: 68%;
					}
					&:nth-child(1) {
						grid-area: big;
						flex-direction: column;
						.embed-responsive-16by9 {
							padding-bottom: 56.25%
						}
						.meta-content {
							a {
								p.headline {
									display: none;
								}
							}
						}
					}
					&:nth-child(2) {
						grid-area: smallone;
					}
					&:nth-child(3) {
						grid-area: smalltwo;
					}
					&:nth-child(4) {
						grid-area: smallthree;
					}
					&:nth-child(5) {
						grid-area: smallfour;
					}
				}
			}
		}
	}
}