.supercontenedor.reperfilar {
	.listado-subchannel {
		padding: 0 10px;
		.articulo {
			display: flex;
			justify-content: space-between;;
			figure {
				width: 30%;
				a {
					.galeria-video {
						background: red;
						color: white;
						border: none;
						margin: auto;
						left: 0;
						right: 0;
						top: 0;
						bottom: 0;
					}
				}
			}
			.meta-content {
				padding: 0;
				width: 68%;
				a {
					p.headline {
						display: none;
					}
				}
				.firma-home {
					font:{
						family: $font-sinserif;
						size: .75rem;
						size: 3.5vw;
						weight: normal;
					}
					text-transform: uppercase;
					border-top: 1px solid $linea;
					padding-top: 5px;
					margin-top: 5px;
				}
			}
			padding-bottom: 10px;
			border-bottom: 1px solid $reperfilar-azul;
			&:nth-child(6n+1) {
				display: block;
				figure {
					width: 100%;
				}
				.meta-content {
					width: 100%;
				}
			}
		}
	}
}