.news {
    margin: 0 0 10px 0;
    width: 100%;
    position: relative;
    background: white;
    a {
        figure {
            width: 100%;
            position: relative;
        }
    }
    &__media {
        width: 100%;
    }
    &__meta {
        padding: 10px;
    }
    
    &__hat {
        display: inline-block;
        text-transform: uppercase;
        background: $color-brand;
        color: white;
        padding: 3px 8px;
        margin: 0 0 5px 0;
        font-size: .85rem;
        font-weight: 700;
        letter-spacing: 0;
        border-radius: 3px;

    }
    &__title {
        letter-spacing: -0.07em;
        font-size: 1.3rem;
        line-height: 1.24em;         
    }
    &__headline {
        display: none;;
    }
    &__autor {
        font-size: .78rem;
        text-transform: uppercase;
        margin: .4em 0 0 0;
        color: $color-brand;
        &:before {
            content: '';
            display: block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: $gris-oscuro;
            float: left;
            margin: 5px 5px 0 0;
        }
    }
}

.galeria-video {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #424242ad;
    line-height: 42px;
    text-align: center;
    .hasvideo {
        transform: translate(2px, 2px);
    }
}
