.destacada {
    flex-direction: column;
    gap: 1rem;
}

@include media-breakpoint-up(md) {
    .destacada {
        flex-direction: row;
    }
}


@include media-breakpoint-up(xl) {
    .destacada {
        gap: 1.5rem;
        &__container {
            gap: 2rem;
        }
    }
}