
.supercontenedor.bgalerta {
	background-color: #51708a;
	padding: 0;
	max-width: 100%;
	.alerta {
		background-color: $azul;
		padding: 5px 10px;
		margin: 0 auto;
		width: 100%;
		article {
			display: flex;
			justify-content: flex-start;
			padding-top: 3px;
			font-family: $font-condensada;
			text-transform: uppercase;
			.laalerta {
				margin: 0 10px 0 0;
				img {
					width: 20px;
				}
			}
			a {
				letter-spacing: -0.03em;
				h2 {
					color: white;
					font-size: 1.2rem;
					line-height: 1.05em;
					font-weight: normal;
					letter-spacing: 0;
					span.hat {
						margin: 0 5px 0 0;
						color: $azul-light;
					}
				}
			}
		}
		@include media-breakpoint-up(sm) {
			max-width: 540px;
		}
	}
}

.supercontenedor.radio-ticker {
	display: none;
}

.coronavirus {
	margin: 0 auto;
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid $negro;
	background: #271428 url('../../../img/bg-covid.jpg') right center no-repeat;
	article {
		font-family: $font-sinserif;
		text-transform: uppercase;
		border-bottom: 1px solid $linea;
		padding-bottom: 0;
		margin: 0;
		line-height: 1.5em;
		border-bottom: none;
		a {
			h2 {
				color: white;
				font-weight: 600;
				font-size: 1rem;
				font-size: 5vw;
				letter-spacing: -0.01em;
				margin: 0;
			}
			p {
				font-weight: 400;
				color: white;
				font-size: .9rem;
				font-size: 4vw;
				letter-spacing: -0.01em;
				margin: 5px 0 0 20px;
				line-height: 1.3em;
				.pipe {
					display: none;
				}
			}
		}
	}
}