.articulo {
	width: 100%;
	margin: 0 0 10px 0;
	figure {
		width: 100%;
		height: auto;
		overflow: hidden;
		position: relative;
		margin: 0;
		align-self: flex-start;
		a {
			img {
				width: 100%;
				height: auto;
				transition: ease .3s;
				display: block;
			}
			p.headline {
				font:{
					family: $font-sinserif;
					size: .9rem;
					weight: normal;
				}
				color: white;
				margin-bottom: 0;
				position: absolute;
				left: 0;
				right: 0;
				top: 170px;
				opacity: 0;
				transition: ease 0.5s;
				padding: 15px;
				display: none;
				line-height: 1.2em;
			}
			.galeria-video {
				position: absolute;
				bottom: 5px;
				left: 5px;
				border-radius: 50%;
				width: 40px;
				height: 40px;
				display: block;
				text-align: center;
				line-height: 36px;
				transition: ease .3s;
				border: 2px solid #ffffff;
				display: flex;
				background: rgba(0,0,0,.3);
				img {
					width: 20px;
					margin: auto;
					&.hasvideo {
						padding-left: 4px;
					}
				}
			}
		}
	}
	.meta-content {
		width: 100%;
		text-align: left;
		padding: 5px 10px;
		a {
			.hat {
				display: block;
				font:{
					family: $font-sinserif;
					size: .8rem;
					weight: 600;
				}
				line-height: 1em;
				color: $azul;
				text-transform: uppercase;
				margin: 0;
			}
			h2 {
				font: {
					size: 1.35rem;
					weight: 500;
				}
				color: $negro;
				line-height: 1em;
				letter-spacing: -0.03em;
				transition: ease .2s;
				-webkit-perspective: 1000;
				-webkit-backface-visibility: hidden;
				-webkit-font-smoothing: antialiased !important; 
				font-smoothing: antialiased !important; 
			}
			p.headline {
				font:{
					family: $font-sinserif;
					size: 15px;
					weight: normal;
				}
				color: $dark;
				display: none;
				line-height: 1.3em;
				letter-spacing: -0.01em;
			}
		}
		.firma-home {
			font:{
				family: $font-sinserif;
				size: .8rem;
				weight: 400;
			}
			text-transform: uppercase;
			color: $dark;
			border-top: 1px solid #d7cec5;
			display: inline-block;
			padding-top: 5px;
			margin: 6px 0 0  0;
			a {
				color: $dark;
				&:hover {
					color: $black;
				}
			}
		}
	}
	&:hover {
		.meta-content {
			h2 {
				color: $linea-oscura;
			}
		}
	}
}