.articulo {
    margin: 0 0 10px 0;
    width: 100%;
    position: relative;
    background: white;
    a {
        figure {
            width: 100%;
            position: relative;
            .galeria-video {
                position: absolute;
                top: 10px;
                right: 10px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: #424242ad;
                line-height: 42px;
                text-align: center;
                .hasvideo {
                    transform: translate(2px, 2px);
                }
            }
        }
        .meta-content {
            padding: 10px;
            .hat {
                display: inline-block;
                text-transform: uppercase;
                background: $color-brand;
                color: white;
                padding: 3px 8px;
                margin: 0 0 5px 0;
                font-size: .85rem;
                font-weight: 700;
                letter-spacing: 0;
                border-radius: 3px;

            }
            h2 {
                letter-spacing: -0.07em;
                font-size: 1.3rem;
                line-height: 1.24em;         
            }
            p {
                display: none;;
            }
            .firma-home {
                font-size: .78rem;
                text-transform: uppercase;
                margin: .4em 0 0 0;
                color: $color-brand;
                &:before {
                    content: '';
                    display: block;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background: $gris-oscuro;
                    float: left;
                    margin: 5px 5px 0 0;
                }
            }
        }
    }
}


.wf-loaded {
    .articulo {
        border-radius: 10px;
        a {
            .meta-content {
                .hat {
                    font-size: .8rem;
                    letter-spacing: 1px;
                    
                }
                h2 {
                    font-size: 1.2rem;
                    letter-spacing: -0.02em;
                    line-height: 1.1em; 
                    text-align: center; 
                    font-weight: 600; 
                    padding: 10px;
                }
            }
        }
    }
}
