.bloque {
	figure {
		width: 100%;
		height: auto;
		overflow: hidden;
		margin: 0;
		position: relative;
		img {
			width: 100%;
			height: auto;
			transition: ease 0.5s;
			filter: brightness(100%);
		}
		h4 {
			position: absolute;
			top: 180px;
			left: 0;
			right: 0;
			transition: ease 0.5s;
			opacity: 0;
			padding: 10px;
			font: {
				family: $font-general;
				size: 16px;
				weight: normal;
			}
			color: white;
		}
	}
	&:hover {
		figure {
			img {
				filter: brightness(105%);
			}
		}
	}
	.meta-content {
		h3 {
			font:{
				family: $font-general;
				size: 14px;
			}
			text-transform: uppercase;
			color: $miscelanea;
			padding: 0;
			margin-bottom: 3px;
			line-height: 1em;
		}
		h2 {
			font:{
				family: $font-destacada;
				weight: 700;
				size: 1.5em;
			}
			color: $negro;
			line-height: 1em;
			letter-spacing: -0.01em;
		}
		h4 {
			font: {
				family: $font-general;
				size: 16px;
				weight: normal;
			}
			color: $secondary;
		}
		h5 {
			font:{
				family: $font-general;
				size: 14px;
				weight: 400;
			}
			color: $dark;
			border-top: 1px solid #d7cec5;
			display: inline-block;
			padding-top: 5px;
		}
	}
	&.bloquextres {
		a {
			.meta-content {
				h2 {
					font-size: 1.1em;
				}
				h3 {
					padding: 0;
					background: transparent;
					color: $miscelanea;
					margin-bottom: 0;
				}
			}
			figure {
				position: relative;
			}
			@include media-breakpoint-up(md) {
				.meta-content {
					transform: translateY(2px);
				}
				&:hover {
					figure {
						img {
							filter: brightness(30%);
						}
					}
				}
			}
			@include media-breakpoint-up(lg) {
				.meta-content {
					transform: translateY(-26px);
					text-align: left;
					h2 {
						font-size: 1.5em;
						line-height: 1em;
						letter-spacing: -0.02em;
					}
					h3 {
						margin: 0;
						opacity: 1;
						background: $azul;
						padding: 5px 10px;
						color: #fff;
						display: inline-block;
						transition: ease .3s;
						margin-bottom: 10px;
					}
					h5 {
						margin-bottom: 0;
						padding-bottom: 0;
						line-height: 1;
					}
				}
				&:hover {
					.meta-content {
						h3 {
							opacity: 0;
						}
					}
				}
			}
			@include media-breakpoint-up(xl) {
				.meta-content {
					h2 {
						font-size: 1.7em;
					}
				}
				figure {
					h4 {
						padding: 20px;
					}
				}
			}
			@include media-breakpoint-down(sm) {
				figure {
					width: 33%;
				}
				.meta-content {
					width: 67%;
					transform: translateY(-6px);
					padding-left: 10px;
					text-align: left;
				}
			}
		}
	}
	&.primera {
		a {
			.meta-content {
				h2 {
					font-size: 1.6em;
				}
				h4 {
					display: none;
				}
			}
		}	
		&:hover {
			figure {
				img {
					transform: scale(1);
					filter: brightness(100%);
				}
			}
		}
		@include media-breakpoint-up(lg) {
			a {
				.meta-content {
					h2 {
						font-size: 1.8em;
					}
				}
			}
		}
		@include media-breakpoint-up(xl) {
			a {
				.meta-content {
					h2 {
						font-size: 2em;
					}
					h4 {
						display: block;
					}
				}
			}
		}
	}
	&:hover {
		a {
			figure {
				img {
					transform: scale(1.05);
				}
			}
		}
	}
}
.grupo-tres-notas {
	display: flex;
	.bloque {
		&:hover {
			figure {
				img {
					filter: brightness(100%);
				}
			}
		}		
	}
}

.tres-notas-irregulares {
	.nota-b {
		@include media-breakpoint-up(xl) {
			article.bloque {
				position: relative;
				a {
					.meta-content {
						position: absolute;
						bottom: 0;
						left: 20px;
						right: 20px;
						background: #fff;
						padding: 5px 10px;
						transform: translateY(-12px);
						-webkit-box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.3);
						box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.3);
						h3 {
							background-color: transparent;
							padding: 0;
							color: $azul;
							margin-bottom: 5px;
						}
						h4 {
							display: none;
						}
					}
				}
			}
		}
	}
}



.bloque-de-notas {
	.banner-horizontal {
		position: -webkit-sticky;
		position: sticky;
		border-top: 10px solid white;
		border-bottom: 10px solid white;
		background: white;
		margin: auto;
		top: 2.7em;
		z-index: 9;
		margin-bottom: 15px;
		-webkit-box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.3);
		box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.3);
		display: none;
		>div,
		>iframe {
			width: 970px;
			margin: 0 auto;
			display: block;
		}
		@include media-breakpoint-up(lg) {
			display: block;
		}
	}
}
.ads-space-home {
	@include media-breakpoint-down(sm) {
		background-image: linear-gradient(135deg, #fafafa 25%, #eee 25%, #eee 50%, #fafafa 50%, #fafafa 75%, #eee 75%, #eee 100%);
		background-size: 14.66px 13.67px;
		&:before {
			content: "Espacio de publicidad";
			text-transform: uppercase;
			padding: 5px 0;
			margin: 0 0 5px 0;
			text-align: center;
			background: #eee;
			color: #ccc;
			font-size: 12px;
			font-family: $font-general;
			display: block;
			clear: both;
		}
		&:after {
			content: "";
			display: block;
			height: 10px;
			clear:both;
		}
	}
}

.conmega {
	#eplAdDiv970x90x1,
	#eplAdDiv970x90x2,
	#eplAdDiv970x90x3,
	#eplAdDiv970x90x4,
	#eplAdDiv970x90x5,
	#eplAdDiv970x90x6,
	#eplAdDiv970x90x7,
	#eplAdDiv970x90x8,
	#eplAdDiv970x90x9,
	.bn-stick {
		display: none;
		>div,
		>iframe {
			display: none;
		}
	}
	@media only screen and(min-width:1290px) {
		#eplAdDiv970x90x1,
		#eplAdDiv970x90x2,
		#eplAdDiv970x90x3,
		#eplAdDiv970x90x4,
		#eplAdDiv970x90x5,
		#eplAdDiv970x90x6,
		#eplAdDiv970x90x7,
		#eplAdDiv970x90x8,
		#eplAdDiv970x90x9
		.bn-stick {
			display: block;
			>div,
			>iframe {
				display: block;
			}
		}
	}
}
@include media-breakpoint-up(xl) {
	.conmega {
		.bloque.bloquextres {
			a {
				.meta-content {
					h4 {
						display: none;
					}
				}
			}
		}
	}
}
#eplAdDiv970x90x1,
#eplAdDiv970x90x2,
#eplAdDiv970x90x3,
#eplAdDiv970x90x4,
#eplAdDiv970x90x5,
#eplAdDiv970x90x6,
#eplAdDiv970x90x7,
#eplAdDiv970x90x8,
#eplAdDiv970x90x9,
.bn-stick {
	display: none;
	>div,
	>iframe {
		display: none;
	}
}
@media only screen and(min-width:1090px) {
	#eplAdDiv970x90x1,
	#eplAdDiv970x90x2,
	#eplAdDiv970x90x3,
	#eplAdDiv970x90x4,
	#eplAdDiv970x90x5,
	#eplAdDiv970x90x6,
	#eplAdDiv970x90x7,
	#eplAdDiv970x90x8,
	#eplAdDiv970x90x9
	.bn-stick {
		display: block;
		>div,
		>iframe {
			display: block;
		}
	}
}
