$azul-bloomberg: #00bbe9;

.bloomberg {
	margin: 0 auto 20px auto;
	padding: 10px 0;
	h6 {
		display: block;
		width: 100%;
		height: 33px;
		text-align: right;
		padding: 5px 10px;
		text-transform: uppercase;
		color: $azul-bloomberg;
		font:{
			family: $font-general;
			size: 18px;
			weight: bold;
		}
		background:{
			image: url('img/bloomberg_menu.png');
			repeat: no-repeat;
			position: 10px bottom;
			size: 148px;
		}
	}
	.caja-contenido {
		.caja-notas {
			.articulo.notabloomberg {
				.meta-content {
					a {
						h2 {
							font-family: $font-sinserif;
						}
					}
					h5 {
						display: none;
					}
				}
				&:hover {
					.meta-content {
						a {
							h2 {
								color: $azul-bloomberg;
							}
						}
					}
				}
			}
		}
	}
	@include media-breakpoint-up(md) {
		.caja-contenido {
			background: white;
			box-shadow: 0 2px 7px 0 rgba(0,0,0,.3);
			.caja-notas {
				.articulo {
					.meta-content {
						a {
						}
					}
				}
			}
		}
	}
	@include media-breakpoint-up(lg) {
		display: flex;
		.caja-contenido {
			flex: 1 1 0;
			.caja-notas {
				.articulo {
					float: left;
					&.bl-0 {
						width: 320px;
						position: relative;
						padding: 0 10px;
						background: #d7eaf8;
						height: 350px;
						.meta-content {
							background: white;
							position: absolute;
							bottom: 0;
							padding: 10px;
							width: 350px;
							h3 {
								display: none;
							}
							h2 {
								font-family: $font-sinserif;
								font-size: 2rem;
								font-weight: 600;
							}
							&:after {
								content: " ";
								display: block;
								width: 340px;
								margin: 0 auto;
								height: 3px;
								background: $azul-bloomberg;
								position: absolute;
								bottom: 0;
							}
						}
					}
					&.bl-1 {
						width: 320px;
					}
					&.bl-2 {
						width: 320px;
					}
				}
			}
		}
		.caja-right {
			flex-basis: 300px;
			margin: 0 0 0 20px;
		}
		h5 {
			margin-top: 10px;
			padding-top: 4px;
			font-size: 24px;
		}
	}
	@include media-breakpoint-up(xl) {
		.caja-contenido {
			.caja-notas {
				.articulo {
					&.bl-0 {
						width: 380px;
					}
					&.bl-1 {
						width: 350px;
						padding: 10px 30px 10px 10px;
						background: #d7eaf8;
						position: relative;
						margin: 0 0 0 10px;
						height: 209px;
						.meta-content {
							position: absolute;
							background: white;
							padding: 10px;
							bottom: 10px;
							right: 10px;
							width: 85%;
							a {
								h2 {
									font-size: 1.2rem;
									font-weight: 600;
								}
							}
						}
					}
					&.bl-2 {
						width: 180px;
						margin: 0 0 0 10px;
						border-top: 2px dotted $negro;
						display: flex;
						height: 209px;
						flex-direction: column-reverse;
						justify-content: space-between;
						.meta-content {
							a {
								h2 {
									font-size: 1.1rem;
									font-weight: 600;
									line-height: 1.2em;
								}
							}
						}
					}
				}
				.bloomberg-tres {
					float: left;
					width: 540px;
					margin: 10px 0 0 10px;
					display: flex;
					justify-content: space-between;
					align-items: stretch;
					height: 129px;
					.articulo {
						border-top: 2px dotted $negro;
						border-bottom: 2px dotted $negro;
						width: 32%;
						margin: 0;
						figure {
							display: none;
						}
						.meta-content {
							a {
								h2 {
									font-size: 1rem;
									line-height: 1.3em;
								}
							}
						}
					}
				}
			}
		}
	}
}