.catastrofe {
	background: $negro;
	padding: 15px 0 5px 0;
	margin-bottom: 20px;
	article {
		position: relative;
		margin-bottom: 10px;
		a {
			figure {
				width: 100%;
				height: 100%;
				overflow: hidden;
				img {
					width: 100%;
					height: auto;
				}
			}
			.meta-contenido {
				text-align: center;
				h3 {
					font:{
						family: $font-general;
						size: 14px;
						weight: normal;
					}
					background: $miscelanea;
					color: white;
					margin-top: 0;
					display: inline-block;
					text-transform: uppercase;
					padding: 5px 10px;
				}
				h2 {
					font:{
						family: $font-destacada;
						size: 1.5em;
						weight: 700;
					}
					color: white;
					margin-bottom:0;
					padding:0 10px 20px 10px;
				}
				h4 {
					display: none;
				}
				@include media-breakpoint-up(md) {
					h2 {
						font-size: 2em;
					}
				}
				@include media-breakpoint-up(lg) {
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					background: white;
					h2 {
						font-size: 3em;
						transform: translateY(-20px);
						color: $negro;
						padding: 0;
					}
					h3 {
						transform: translateY(-20px);
					}
				}
			}
		}
	}
}

.alerta {
	background-color: $azul-dark;
	padding: 0;
	.container {
		background: $azul;
		article {
			a {
				font-family: $font-destacada;
				h2 {
					color: white;
					font-size: 1.5rem;
					line-height: 1.6em;
					white-space: nowrap;
    			overflow: hidden;
					span.hat {
						margin: 0 5px 0 0;
						color: $azul-light;
					}
					.laalerta {
						background: rgba(0,0,0,0.3);
						padding: 4px 10px;
						margin: 0 10px 0 0;
						text-transform: uppercase;
						.fas {
							font-size: 1.4rem;
							margin: 0 5px 0 0;
						}
					}
				}
			}
		}
	}
}