.celebrities {
    margin-bottom: 20px;
    padding: 0;
    position: relative;
    background:{
        color: $negro;
        image: radial-gradient(circle, $color-brand 1%, transparent 10%), radial-gradient(circle, $color-brand 1%, transparent 10%);
        size: 20px 20px;
        position: 0 0, 20px 20px;
    }

    &__titulo {
        position: relative;
        font:{
            family: $font-titulos;
            size: 2rem;
        }
        background: $color-brand;
        color: white;
        padding: 5px 10px;
        margin: 0;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: -0.02em;
    }
    &__btn {
        position: absolute;
        top: 5px;
        left: 10px;
        background: transparent;
        border: none;
        width: 30px;
        height: 30px;
        cursor: pointer;
        >div {
            background: white;
            display: block;
            width: 30px;
            height: 2px;
            margin: 8px 0;
            transition: ease .3s;
            transform: rotate(0);
        }
        &.open {
            >div {
                &:nth-child(1) {
                    transform: rotate(-45deg) translate(-3px, 4px);
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    transform: rotate(45deg) translate(-3px, -4px);
                }
            }
        }
    }
    &__nav {
        height: 0;
        overflow: hidden;
        position: absolute;
        top: 48px;
        left: 10px;
        font-family: $font-titulos;
        z-index: 2;
        list-style: none;
        background: $gris-muy-claro;
        transition: ease .3s;
        li {
            padding: 4px 10px;
            border-top: 1px solid $gris-claro;
        };
        &.mostrar {
            height: auto;
            border: 1px solid white;
            border-top: none;
            box-shadow: $box-shadow;
        }
    }
    &__notas {
        padding: 10px;
        width: 100%;
    }
    .articulo {
        background: $gris-oscuro;
        margin-bottom: 20px;

        a {
            figure {
                margin-bottom: 0;
                .galeria-video {
                    top: 20px;
                    right: 20px;
                }
            }
            .meta-content {
                transform: translateY(-20px);
                padding: 0 20px;
                margin-bottom: 0;
                .hat {
                    text-transform: uppercase;
                    font-family: $font-titulos;
                    text-align: center;
                    display: block;
                    letter-spacing: .05em;
                    width: 90%;
                    margin: 5px auto;
                    padding: 5px 10px;
                }
                h2 {
                    color: white;
                    font-weight: normal;
                    letter-spacing: -0.02em;
                }
            }
        }
        &:after {
            @include filete-blanco;
        }
    }
}

@include media-breakpoint-up(md) {
    .celebrities {
        &__notas {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .articulo {
            &:after {
                content: none;
            }
            border-right: 3px solid $color-brand;
            transition: ease .3s;
            &.nota-0 {
                width: 100%;
                a {
                    figure {
                        .galeria-video {
                            top: 10px;
                            right: 10px;
                        }
                    }
                    .meta-content {
                        h2 {
                            font-size: 1.6rem;
                        }
                    }   
                }
            }
            &.nota-1,
            &.nota-2 {
                width: 48%;
            }
            &:hover {
                background: $gris-muy-claro;
                a {
                    .meta-content {
                        h2 {
                            color: $negro;
                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .celebrities {
        .articulo {
            &.nota-0,
            &.nota-1,
            &.nota-2 {
                width: 32%;
                padding-bottom: 0;
                a {
                    .meta-content {
                        padding: 0 10px;
                        h2 {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .celebrities {
        &__btn {
            display: none;
        }
        &__nav,
        &__nav.mostrar {
            border: none;
            position: static;
            height: auto;
            background: $negro;
            display: flex;
            justify-content: flex-start;
            list-style: none;
            padding: 10px 10px 0 10px;
            li {
                border-top: none;
                padding: 5px 12px;
                letter-spacing: -0.02em;
                text-transform: uppercase;
                a {
                    color: white;
                }
            }
        }
    }
}


@include media-breakpoint-up(xxl) {
    .celebrities {
        &__btn {
            display: none;
        }
        &__nav,
        &__nav.mostrar {
            position: static;
            height: auto;
            background: $negro;
            display: flex;
            justify-content: flex-start;
            list-style: none;
            padding: 10px 10px 0 10px;
            li {
                border-top: none;
                padding: 5px 12px;
                letter-spacing: -0.02em;
                text-transform: uppercase;
                a {
                    color: white;
                }
            }
        }
        flex-wrap: nowrap;
        .articulo {
            &.nota-0,
            &.nota-1,
            &.nota-2 {
                width: 24%;
            }
        }
        .ads {
            width: 24%;
        }
    }
}