.cobertura {
  
    margin-bottom: 20px;
    background:$gris-claro;
    &__titulo {
        font-size: 2rem;
        font-weight: bold;
        color: $negro;
        padding: 5px 10px;
        margin: 0;
        text-align: right;
        letter-spacing: -0.02em;
        
    }
    .articulo {
        padding: 0 20px 10px 10px;
        margin: 0;
        background: transparent;
        figure {
            margin: 0 auto;
            box-shadow: 10px 10px 0 0 $gris-oscuro;
            padding-bottom: 56.2%;
            height: 0;
            overflow: hidden;
            >picture img {
                display: block;
                position: absolute;
                top: 0;
                left:0;
                right:0;
                bottom:0;
                width: 100%;
            }
        }
        .meta-content {
            transform: translateY(-20px);
            background: white;
            width: 90%;
            margin: auto;
            box-shadow: $box-shadow;
            .hat {
                display: none;;
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .cobertura {
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &__titulo {
            width: 100%;
        }
        .articulo {
            &.nota-0 {
                .meta-content {
                    width: 70%;
                    h2 {
                        font-size: 1.6rem;
                    }
                }
            }
            &.nota-1,
            &.nota-2 {
                width: 50%;
            }
            &.nota-3,
            &.nota-4,
            &.nota-5 {
                width: 33.33333%;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .cobertura {
        .articulo {
            &.nota-0,
            &.nota-1,
            &.nota-2 {
                width: 33.33333%;
                padding-bottom: 0;
                .meta-content {
                    width: 90%;
                    h2 {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}