.cobertura {
	* {
		box-sizing: border-box;
	}
	background: $fondo-gris;
	.container {
		h6 {
			font-family: $font-destacada;
			font-weight: 600;
			font-size: 1.5em;
			text-transform: uppercase;
			padding: 0 10px;
		}
		.row {
			.notas-cobertura {
				display: flex;
				flex-direction: column;
				.cobertura-nota {
					margin: 0;
					border-top: 1px solid $linea;
					padding: 10px 0;
					a {
						display: flex;
						justify-content: space-between;
						figure {
							width: 33%;
							height: auto;
							img {
								width: 100%;
								height: auto;
								transition: ease 0.3s;
							}
						}
						.meta-content {
							transform: translateY(-2px);
							width: 65%;
							padding-right: 10px;
							h3 {
								font-size: 14px;
								font-weight: 400;
								text-transform: uppercase;
								margin: 0 0 3px 0;
								line-height: 1em;
							}
							h2 {
								font:{
									family: $font-destacada;
									size: 1.2em;
									weight: 600;
								}
								line-height: 1.03em;
								letter-spacing: -0.02em;
								color: $negro;
								margin: 0 0 5px 0;
							}
							h4 {
								display: none;
							}
							h5 {
								font: {
									family: $font-general;
									size: .9em;
									weight: 400;
								}
								color: $negro;
							}
						}
					}
					&:first-of-type {
						border-top: none;
						a {
							flex-direction: column;
							figure {
								width: 100%;
								margin: 0 0 10px 0;
							}
							.meta-content {
								width: 100%;
								padding: 0 10px;
								h2 {
									font-size: 1.4em;
									margin: 0;
								}
								h3 {
									display: none;
								}
							}
						}
					}
					&:hover {
						figure {
							img {
								filter: brightness(110%);
							}
						}
					}
				}
			}
		}
	}
	
	.bn-stick {
	    position: sticky;
	    margin: auto;
	    top: 2.7em;
	    z-index: 9;
	    margin-bottom: 5px;
	}
	&.moderada {
		.cobertura-nota-porcuatro {
			flex-basis: 20%;
			padding: 0 15px;
			.meta-content {
				h4 {
					display: none;
				}
				h2 {
					font-size: 1.4rem;
					line-height: 1em;
				}
			}
			&:first-child {
				flex: 1 1 0;
				position: relative;
				.meta-content {
					position: absolute;
					padding: 10px;
					bottom: 25px;
					right: 25px;
					left: 25px;
					background: white;
					color: $negro;
					display: block;
				}
			}
		}

	}
}



.seccionfija {
	.container {
		.row {
			.container {
				display: flex;
				.contenedor-notas {
					flex: 1 1 0;
				}
				.ads-space {
					flex-basis: 300px;
					margin-left: 20px;
				}
			}
		}
	}
}