.destacada {
	.articulo {
		
		background-color: #fff;
		border-radius: 10px;
		box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
		overflow: hidden;
		
	}
}

@include media-breakpoint-up(md) {
	.destacada {
		
	}
}

@include media-breakpoint-up(lg) {
	.destacada {
		.articulo {
			
				a {
					>figure {
						height: 100%;
						>picture {
							
							height: 100%;
							img {
								object-fit: cover;
							}
						}
					}
				}
			
		
		}
	
	}
}


@include media-breakpoint-up(xl) {
	.destacada {
		.articulo {
			&.nota-0,
			.nota-1,
			.nota-2  {
				height: auto;
				a {
					.meta-content {
						h2 {
							font-size: 1.6rem;
						}
					}
				}
			}
		}
	}
}


@include media-breakpoint-up(xxl) {
	.destacada {
		.articulo {
			&.nota-0,
			.nota-1,
			.nota-2 
			 {
				a {
					.meta-content {
						h2 {
							font-size: 1.6rem;
							padding: 1 rem
						}
					}
				}
			}
		}
	}
}