.destacada {
	display: flex;
	justify-content: space-around;
	padding: 0;
	align-items: flex-start;
	margin-bottom: 20px;
	flex-direction: column;
	.caja-contenido {
		margin: 0 auto;
		flex: 1 1 0;
		.container {
			display: flex;
			width: 100%;
			.articulo {
				&.main-destacada {
					.meta-content {
						a {
							h2 {
								font-size: 1.8em;
								line-height: 1em;
							}
							h4 {
								display: block;
							}
						}
					}
					&:hover {
						figure {
							a {
								img {
									transform: none;
									filter: brightness(100%);
								}
							}
						}
					}
				}
				&.destacadin {
					display: flex;
					justify-content: space-between;
					figure {
						width: 30%;
						margin-bottom: 10px;
					}
					.meta-content {
						padding: 0 10px 0 0;
						width: 68%;
						h3 {
							display: none;
						}
					}
					border-bottom: 1px solid $linea;
				}
			}
			.columna-dostercios {
				display: flex;
				flex: 1 1 0;
				flex-wrap: wrap;
				max-width: 100%;
			}
			.columna-tercio {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				.articulo {
					&:first-of-type {
						.meta-content {
							a {
								h2 {
									font-size: 1.4rem;
								}
							}
						}
					}
					&:nth-child(n+2) {
						display: flex;
						border-top: 1px solid $linea;
						padding-top: 10px;
						figure {
							flex-basis:33%;
							margin-right: 10px;
						}
						.meta-content {
							flex: 1 1 0;
							padding: 0;
						}
					}
					&:nth-child(4) {
						background: $negro;
						padding: 0;
						border-top: none;
						.meta-content {
							padding: 10px;
							a {
								h2 {
									color: white;
									font-family: $font-condensada;
									text-transform: uppercase;
									font-weight: 400;
								}
							}
							h5 {
								color: white;
								a {
									color: white;
								}
							}
						}
						figure {
							margin-top: auto;
							margin-bottom: auto;
						}
					}
				}
			}
		}
	}
	.container.caja-right {
		margin: 10px auto;
		background: #fde;
	}

	@include media-breakpoint-up(sm) {
		.caja-contenido {
			.container {
				.columna-dostercios {
					justify-content: space-between;
					flex-wrap: wrap;
					.main-destacada {
						flex-basis: 100%;
						a {
							.meta-content {
								width: auto;
								h2 {
									margin-bottom: 12px;
									font-size: 2rem;
								}
							}
						}
					}
					.destacadin {
						flex-basis: 48%;
						display: block;
						position: relative;
						figure {
							width: 100%;
							margin: 0 0 5px 0;
						}
						.meta-content {
							width: 100%;
							h3 {
								display: block;
							}
						}
						&:nth-child(odd) {
							&:before {
								content: "";
								display: block;
								position: absolute;
								top: 0;
								left: 0;
								bottom: 0;
								width: 1px;
								background: $linea;
								transform: translateX(-10px);
							}
						}
					}
				}
				.columna-tercio {
					flex-direction: row;
					flex-wrap: wrap;
					.articulo {
						flex-basis: 48%;
						flex-direction: column;
						&:nth-child(n+2) {
							display: block;
							padding: 0;
							border-top: none;
							.meta-content {
								padding: 5px 0;
							}
						}
						&:nth-child(n+3) {
							flex-basis: 32%;
							.meta-content {
								a {
									h2 {
										font-size: 1.2rem;
									}
								}
							}
						}
						&:nth-child(4) {
							figure {
								margin-top: 0;
								margin-bottom: 0;
							}
							.meta-content {
								padding: 5px 10px;
								a {
									h3 {
										display: none;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	@include media-breakpoint-up(md) {
		.caja-contenido {
			.container {
				.columna-dostercios {
					flex: 1 1 0;
					.articulo.destacadin {
						&:nth-last-child(-n+2) {
							margin-bottom: 0;
						}
					}
				}
				.columna-tercio {
					flex-basis: 33%;
					flex-direction: column;
					margin-left: 15px;
					padding-left: 15px;
					border-left: 1px solid $linea;
					justify-content: flex-start;
					flex-wrap: nowrap;
					.articulo {
						border-top: 1px solid $linea;
						padding-top: 10px;
						flex-basis: auto;
						&:first-of-type {
							padding-top: 0;
							border-top: none;
							figure {
								display: none;
							}
							.meta-content {
								padding-top: 0;
							}
						}
						&:nth-child(n+3) {
							flex-basis: auto;
							.meta-content {
								a {
									h2 {
										font-size: 1.4rem;
									}
								}
							}
						}
						&:nth-child(3) {
							background: white;
							padding: 10px;
							box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
							border-top: none;
							figure {
								display: none;
							}
						}
						&:nth-child(4) {
							.meta-content {
								a {
									h3 {
										display: block;
									}
								}
							}
						}
						&:nth-child(5) {
							figure {
								display: none;
							}
						}
					}
				}
			}
		}
	}
	@include media-breakpoint-up(lg) {
		flex-direction: row;
		.caja-contenido {
			.container {
				.columna-dostercios {
					.articulo {
						&.main-destacada {
							background: white;
							box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
							margin: 0 0 20px 0;
							.meta-content {
								transform: translateY(-37px);
								margin-bottom: -20px;
								padding: 0 15px;
								a {
									h2 {
										font-size: 1.8rem;
									}
									h3 {
										background: $negro;
										color: white;
										display: inline-block;
										padding: 10px 15px;
										font-weight: normal;
										margin-left: -15px;
										margin-bottom: 5px;
									}
								}
							}
						}
						&.destacadin {
							.meta-content {
								a {
									h2 {
										font-size: 1.2rem;
									}
								}
							}
						}
					}
				}
				.columna-tercio {
					border-bottom: 1px solid $linea;
					border-left: none;
					padding: 0;
					margin: 0 0 0 20px;
					.articulo {
						.meta-content {
							a {
								h2 {
									font-size: 1.2rem;
								}
							}
						}
						&:nth-child(n+3) {
							.meta-content {
								a {
									h2 {
										font-size: 1.2rem;
									}
								}
							}
						}
					}
				}
			}
		}
		.container.caja-right {
			flex-basis: 300px;
			margin: 0 0 0 20px;
			align-self: stretch;
		}
	}
	@include media-breakpoint-up(xl) {
		.caja-contenido {
			.container {
				.columna-dostercios {
					flex-basis: 620px;
					.articulo {
						&.main-destacada {
							.meta-content {
								a {
									h2 {
										font-size: 2.2rem;
									}
								}
							}
						}
						&.destacadin {
							flex-basis: 300px;
							.meta-content {
								a {
									h2 {
										font-size: 1.4rem;
									}
								}
							}
						}
					}
					align-self: stretch;
				}
				.columna-tercio {
					flex-basis: 300px;
					.articulo {
						.meta-content {
							a {
								h2 {
									font-size: 1.4rem;
								}
							}
						}
						&:nth-child(n+3) {
							.meta-content {
								a {
									h2 {
										font-size: 1.4rem;
									}
								}
							}
						}
					}
				}
			}
		}		
	}
}








.container.maincontainer.conmega {
	.editorial {
		.destacada {
			.banner-vertical {
				display: none;
			}
		}
	}
}