.supercontenedor.especiales {
	background: $negro;
	width: 100%;
	padding: 0;
	.especial {
		width: 100%;
		margin: auto;
		.articulo {
			.meta-content {
				a {
				 	h2 {
				 		color: white;
				 	}
				 }
			}
			&:nth-child(n+2) {
				border-top: 1px solid $dark;
				padding-top: 6px;
				display: flex;
				justify-content: space-between;
				figure {
					flex-basis: 30%;
				}
				.meta-content {
					flex-basis: 68%;
				}
			}
		}
	}
	@include media-breakpoint-up(sm) {
		padding: 10px 0;
		max-width: 100%;
		.especial {
			max-width: 540px;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			.articulo {
				width: 48.5%;
				&:first-of-type {
					width: 100%;
				}
				&:nth-child(n+2) {
					display: block;
				}
			}
		}
	}
	@include media-breakpoint-up(md) {
		max-width: 100%;
		.especial {
			max-width: 720px;
		}
	}
	@include media-breakpoint-up(lg) {
		max-width: 100%;
		.especial {
			max-width: 960px;
			.articulo {
				width: 32%;
				&:first-of-type {
					width: 32%;
				}
				&:nth-child(n+2) {
					border-top: none;
					padding-top: 0;
				}
			}
		}
	}
	@include media-breakpoint-up(xl) {
		max-width: 100%;
		.especial {
			max-width: 1140px;
		}
	}
	@include media-breakpoint-up(xxl) {
		width: 100%;
		max-width: 100%;
		.especial {
			max-width: 1300px;
		}
	}
}
