.especial {
	background-color: $black;
	margin-bottom: 20px;
	article {
		background-color: $black;
		transition: ease .3s;
		text-align: center;
		padding-top: 15px;
		a {
			color: white;
			text-decoration: none;
			figure {
				width: 100%;
				height: auto;
				padding: 0;
				margin: 0 0 10px 0;
				overflow: hidden;
				img {
					width: 100%;
					height: auto;
					padding: 0;
					margin: 0;
					transition: ease .3s;
				}
			}
			.meta-contenido {
				transform: translateY(-30px);
				width: 100%;
				padding: 0 10px;
				@include media-breakpoint-up(sm) {
					padding: 0;
				}
				h3 {
					font: {
						family: $font-general;
						size: 14px;
						weight: 700;
					}
					text-transform: uppercase;
					color: $miscelanea;
					background: white;
					padding: 5px 10px;
					display: inline-block;
					margin: 0 auto 5px auto;
					letter-spacing: 0.03em;
					-webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
					-moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
					box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
				}
				h2 {
					color: white;
					font:{
						family: $font-destacada;
						size: 1.3em;
						weight: 700;
					}
					@include media-breakpoint-up(sm) {
						font-size: 1.3em;
					}
					@include media-breakpoint-up(lg) {
						font-size: 1.4em;
					}
					@include media-breakpoint-up(xl) {
						font-size: 1.5em;
					}
				}
				h4 {
					font: {
						family: $font-general;
						size: 16px;
						weight: 400;
					}
					color: #cfcfcf;
					margin-bottom: 0;
					display: none;
					@include media-breakpoint-up(md) {
						display: block;
					}
					@include media-breakpoint-up(lg) {
						display: none;
					}
					@include media-breakpoint-up(xl) {
						display: block;
					}
				}
			}
		}
		&:hover {
			background: $azul;
			a {
				figure {
					img {
						transform: scale(1.02);
					}
				}
			}
		}
		&.portres:nth-child(n+2) {
			@include media-breakpoint-down(md) {
				a {
					.meta-contenido {
						h2 {
							font-size: 1.3em;
						}
					}
				}
			}
			@include media-breakpoint-down(sm) {
				padding:5px 5px 0 5px;
				transform: translateY(-30px);
				border-top: 1px solid $miscelanea-light;
				a {
					figure {
						width: 30%;
						float: left;
					}
					.meta-contenido {
						transform: translateY(0);
						width: 70%;
						float: left;
						text-align: left;
						padding-left: 10px;
						box-sizing: border-box;
						h3 {
							display: none;
						}
						h2 {
							font-size: 1.1em;
						}
					}
				}
			}
		}
		@include media-breakpoint-up(sm){
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}