.destacada {
    .articulo {
		padding-bottom: 10px;
		&::after {
			@include filete-articulo;
		}
        a {
            figure {
                .galeria-video {
                    right: 25px;
                    top: 25px;
                } 
            }
            .meta-content {
                display: flex;
                flex-direction: column;
                padding: 0 30px;
                transform: translateY(-20px);
                .hat {
                    margin: 0 0 5px auto;
                    transform: translateX(15px);
                }
            }
        }
    }
}


@include media-breakpoint-up(md) {
	.destacada {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
        .articulo {
			&:nth-child(n+2) {
				width: 48%;
			}
        }
    }
}



@include media-breakpoint-up(lg) {
    
	.destacada {
		display: grid;
		grid-template-areas: 
			'a b'
			'a c'
			'd d';
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 20px;
        .articulo {
            &.nota-0 {
                aspect-ratio: 1.7;
				grid-area: a;
				padding: 0;
				margin: 0;
				a {
					figure {
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						top: 0;
						img {
							width: auto;
							height: 100%;
						}
					}
					.meta-content {
						background: linear-gradient(180deg,transparent 50%,#000);
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						padding-bottom: 20px;
						transform: none;
						h2 {
							text-shadow: 0 3px 5px #000;
						}
						p {
							display: none;
						}
					}
				}
            }
			&.nota-1 {
				grid-area: b;
				align-self: start;
			}
			&.nota-2 {
				grid-area: c;
				align-self: end;
			}
			&.nota-1,
			&.nota-2 {
				width: 100%;
				padding-bottom: 0;
				margin: 0;
                a {
					display: flex;
					justify-content: space-between;
					flex-direction: row;
                    .meta-content {
						transform: none;
                        width: 55%;
                    }
                    figure {
                        width: 45%;
                        height: 0;
                        padding-bottom: 27%;
                    }
                }
            }
        }
    }

}


@include media-breakpoint-up(xxl) {
	.bloque {
		grid-template-areas:
			'a b c sidebar'
			'd e f sidebar';
	}
}
.wf-loaded {
    @include media-breakpoint-up(lg) {
        .destacada {
            .articulo {
                &.nota-0 {
                }
            }
        }
    }
}