.destacada {
    .articulo {
		padding-bottom: 10px;
		
        a {
            figure {
                .galeria-video {
                    right: 25px;
                    top: 25px;
                } 
            }
            .meta-content {
                display: flex;
                flex-direction: column;
                padding: 0 25px;
                transform: translateY(-10px);
                .hat {
					background-color: $second-color;
                    margin: auto;
                    transform: translateX(15px);
					border-radius: 2px;
					font-size: o.70rem;
					color: $color-brand;
					font-weight: 700;
					padding: 6px 9px 5px;
					line-height: 1;
					letter-spacing: .8px;
					text-transform: uppercase;
                }
            }
        }
    }
}


// @include media-breakpoint-up(md) {
// 	.destacada {
	
     
//     }
// }



@include media-breakpoint-up(lg) {
    
	.destacada {
		align-items: start;
	display: grid;
	grid-gap: 16px;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: center;
        // .articulo {
        //    /*  &.nota-0 {
                
		// 		padding: 0;
		// 		margin: 0;
		// 		a {
		// 			// figure {
		// 			// 	position: absolute;
		// 			// 	bottom: 0;
		// 			// 	left: 0;
		// 			// 	right: 0;
		// 			// 	top: 0;
		// 			// 	img {
		// 			// 		width: auto;
		// 			// 		height: 100%;
		// 			// 	}
		// 			// }
		// 			// .meta-content {
		// 			// 	background: linear-gradient(180deg,transparent 50%,#000);
		// 			// 	position: absolute;
		// 			// 	bottom: 0;
		// 			// 	left: 0;
		// 			// 	right: 0;
		// 			// 	padding-bottom: 20px;
		// 			// 	transform: none;
		// 			// 	h2 {
		// 			// 		text-shadow: 0 3px 5px #000;
		// 			// 	}
		// 			// 	p {
		// 			// 		display: none;
		// 			// 	}
		// 			// }
		// 		}
        //     }
		// 	&.nota-1 {
		// 		grid-area: b;
		// 		align-self: start;
		// 	}
		// 	&.nota-2 {
		// 		grid-area: c;
		// 		align-self: end;
		// 	}
		// 	&.nota-1,
		// 	&.nota-2 {
		// 		width: 100%;
		// 		padding-bottom: 0;
		// 		margin: 0;
        //         a {
		// 			display: flex;
		// 			justify-content: space-between;
		// 			flex-direction: row;
        //             .meta-content {
		// 				transform: none;
        //                 width: 55%;
        //             }
        //             figure {
        //                 width: 45%;
        //                 height: 0;
        //                 padding-bottom: 27%;
        //             }
        //         }
        //     } */
        // }
    }

}


@include media-breakpoint-up(xxl) {
	.bloque {
		grid-template-areas:
			'a b c sidebar'
			'd e f sidebar';
	}
}
// .wf-loaded {
//     @include media-breakpoint-up(lg) {
//         .destacada {
//             .articulo {
//                 &.nota-0 {
//                 }
//             }
//         }
//     }
// }