/* .masvistas {
    background: white;
    box-shadow: $box-shadow;
    padding: 10px 18px;
    margin-bottom: 20px;
    &__titulo {
        //background: $color-brand;
        color: $negro;
        font-family: $font-titulos;
        font-size: 1.2rem;
        text-transform: uppercase;
        padding: 5px;
       border-left: 4px solid $second-color;
        margin-bottom: 10px;
        font-weight: 700;
        a {
            color: $negro;
        }
    }
    &__articulos {
        padding: 0;
        margin-bottom: 10px;
        .nota {
            position: relative;
            padding: 10px 0;
            margin-bottom: 10px;
            .enlace {
                display: flex;
                justify-content: space-between;
                width: 100%;
                picture {
                    width: 30%;
                    display: block;
                    img {
                        width: 100%;
                        display: block;
                    }
                }
                &__titulo {
                    display: block;
                    width: 66%;
                    font-size: 1rem;
                    font-family: $font-titulos;
                    letter-spacing: -0.02em;
                    line-height: 1.1em;
                    font-weight: bold;
                }
                .rankOrder {
                    position: absolute;
                    z-index: 2;
                    left: 10px;
                    top: 10px;
                    font-family: $font-titulos;
                    font-size: 3rem;
                    color: white;
                    text-shadow: 0 3px 5px #000;
                    transition: ease .3s;
                }
            }
            &:first-of-type {
                .enlace {
                    display: block;
                    picture {
                        width: 100%
                    }
                    &__titulo {
                        width: 100%;
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(sm) {
    .masvistas {
        &__articulos {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .nota {
                width: 48%;
                .enlace {
                    display: block;
                    picture {
                        width: 100%;
                    }
                    &__titulo {
                        width: 100%;
                    }
                }
                &:first-of-type {
                    width: 100%;
                    .enlace {
                        &__titulo {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .masvistas {
        &__articulos {
            .nota {
                width: 18%;
              
                &:first-of-type {
                    width: 18%;
                }
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .masvistas {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &__titulo {
            width: 100%;
        }
        .ads {
            flex-basis: 300px;
            height: 250px;
            margin: 0;
        }
        &__articulos {
            flex: 1 1 0;
            padding-right: 10px;
            display: grid;
            grid-template-areas:
                'a b c'
                'a d e';
            grid-template-columns: 2fr 1fr 1fr;
            gap: 1px;
            .nota {
                width: 100%;
                margin: 0;
                padding: 0;
                .enlace {
                    position: relative;
                    overflow: hidden;
                    height: 100%;
                    &__titulo {
                        position: absolute;
                        color: white;
                        padding: 0 5px;
                        bottom: -90px;
                        transition: ease .3s;
                        text-shadow: $text-shadow;
                        font-size: 1.2rem;
                    }
                    picture {
                        height: 100%;
                        img {
                            height: 100%;
                        }
                    }
                }
                &.nota-0 {
                    width: 100%;
                    grid-area: a;
                    .enlace {
                        &__titulo {
                            font-size: 1.5rem;
                            padding: 0 10px;
                        }
                    }
                }
                &.nota-1 {
                    grid-area: b;
                }
                &.nota-2 {
                    grid-area: c;
                }
                &.nota-3 {
                    grid-area: d;
                }
                &.nota-4 {
                    grid-area: e;
                }
                &:hover {
                    .enlace__titulo {
                        bottom: 5px;
                    }
                }
            }
        }
    }
} */