/*
SECCIONES 
FOTOGALERIA
VIDEO
REVISTAS

*/



$sports: #33c381;
$mujer: #eaeaea;
$shows: #e43d3d;


.secciones {
	padding: 0;
	width: 100%;
	margin: 0 auto 20px auto;
	.caja-contenido {
		.seccionfija {
			.seccion-fija-titulo {
				margin: 0;
				font: {
					size: 1.3rem;
					weight: 400;
				}
				text-transform: uppercase;
				color: dark;
				background: $mujer;
				padding: 3px 10px;
				a {
					color: $negro;
				}
			}
			.contenedor-notas {
				border-bottom: 4px solid $mujer;
				.articulo.seccion {
					display: flex;
					justify-content: space-between;
					padding-top: 10px;
					border-top: 1px solid $linea;
					figure {
						width: 30%;
					}
					.meta-content {
						width: 68%;
						padding: 0;
						span.hat {
							display: none;
						}
						@include media-breakpoint-only(xs) {
							transform: translateY(-4px);
							padding-right: 10px;
						}
					}
					&:first-of-type {
						display: block;
						padding-top: 0;
						figure {
							width: 100%;
						}
						.meta-content {
							width: 100%;
							padding: 5px 10px 0 10px;
							a {
								h2 {
									font-size: 6vw;
								}
							}
							@include media-breakpoint-only(xs) {
								transform: none;
							}
						}
					}
				}
			}
			&.deportes {
				.seccion-fija-titulo {
					background: $sports;
					color: white;
					a {
						color: white;
					}
				}
				.contenedor-notas {
					border-bottom: 4px solid $sports;
				}
			}
			&.espectaculos {
				.seccion-fija-titulo {
					background: $shows;
					color: white;
					a {
						color: white;
					}
				}
				.contenedor-notas {
					border-bottom: 4px solid $shows;
				}
			}
		}
	}
	.caja-right {
		width: 100%;
	}
}

.fotogaleria {
	background: $dark;
	padding: 10px;
	margin-bottom: 20px;
	h6 {
		font:{
			family: $font-serif;
			weight: 600;
			size: 1.3rem;
		}
		text-transform: uppercase;
		color: white;
		margin-bottom: 5px;
	}
	.notas-fotogaleria {
		.articulo.defotogaleria {
			background: $negro;
			margin-bottom: 0;
			.meta-content {
				a {
					span.hat {
						display: none;
					}
					h2 {
						color: white;
					}
					p.headline {
						color: white;
					}
				}
				.firma-home {
					color: white;
					border-top: 1px solid $dark;
					a {
						color: white;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
			figure {
				.galeria-video {
					top: 10px;
					right: 10px;
					left: auto;
					bottom: auto;
				}
			}
		}
		.secundarias {
			.articulo.defotogaleria {
				display: flex;
				justify-content: space-between;
				padding-top: 10px;
				border-top: 1px solid $dark;
				figure {
					width: 30%;
					margin-bottom: 10px;
					.galeria-video {
						top: 5px;
						right: auto;
						left: 5px;
						bottom: auto;
					}
				}
				.meta-content {
					width: 68%;
					padding: 0 10px 0 0;
					transform: translateY(-4px);
				}
			}
		}
		>.articulo.defotogaleria {
			.meta-content {
				a {
					h2 {
						font-size: 1.6rem;
						font-size: 6vw;
					}
				}
			}
		}
	}
}

.video {
	width: 100%;
	padding: 0;
	margin: 20px 0;
	background: $dark;
	h6 {
		font:{
			family: $font-serif;
			weight: 600;
			size: 1.3rem;
		}
		text-transform: uppercase;
		color: white;
		padding: 10px 10px 0 10px;
		margin-bottom: 5px;
	}
	.notas-video {
		.articulo {
			display: flex;
			justify-content: space-between;
			padding-top: 10px;
			border-top: 1px solid $linea-oscura;
			margin: 0 10px 10px 10px;
			width: auto;
			figure {
				width: 30%;
			}
			.meta-content {
				width: 68%;
				padding: 0 10px 0 0;
				a {
					span.hat {
						color: white;
						display: none;
					}
					h2 {
						color: white;
					}
				}
				.firma-home {
					color: white;
					border-top: 1px solid $linea-oscura;
					a {
						color: white;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
			&:nth-child(1) {
				display: block;
				width: 100%;
				padding: 0;
				margin: 0;
				border-top: none;
				figure {
					width: 100%;
				}
				.meta-content {
					width: 100%;
					padding: 5px 10px;
				}
			}
		}
	}
	.miramas {
		font:{
			family: $font-sinserif;
			size: .8rem;
			weight: bold;
		}
		text-transform: uppercase;
		letter-spacing: 0.05em;
		text-align: right;
		padding: 10px;
		border-top: 1px solid $linea-oscura;
		a {
			color: white;
			img {
				float: right;
				margin-left: 10px;
				filter: invert(1) brightness(255);
			}
		}
	}
}

.revistas {
	margin:0 auto 20px auto;
	padding: 0;
	border: 1px solid $linea;
	.titulo-revista {
		height:30px;
		display: block;
		background: url('../../../img/logos-revistas.png');
		background-repeat: no-repeat;
		text-indent: -9999px;
		margin-top: 10px;
		&.rev-caras {background-position:0 0;}
		&.rev-noticias {background-position:0 -50px}
		&.rev-weekend {background-position: 0 -200px}
		&.rev-fortuna {background-position: 0 -250px}
		&.rev-parabrisas {background-position: 0 -150px}
		&.rev-supercampo {background-position: 0 -500px}
		&.rev-luz {background-position: 0 -400px}
		&.rev-hombre {background-position: 0 -300px}
		&.rev-mia {background-position: 0 -350px}
		&.rev-look {background-position: 0 -99px}
		&.rev-lunateen {background-position: 0 -450px}
		&.rev-marieclaire {background-position: 0 -100px}
		&.rev-delirio {background-position: 0 190px}
	}
	.notas-revistas {
		.articulo.derevistas {
			margin: 0;
			padding: 10px;
			transition: ease .3s;
			.meta-content {
				padding: 5px 0;
			}
			&:hover {
				background: $light;
			}
		}
		.grupotres {
			.articulo.derevistas {
				border-top: 1px solid $linea;
				display: flex;
				justify-content: space-between;
				figure {
					width: 30%;
				}
				.meta-content {
					width: 68%;
					padding: 0;
				}
			}
		}
	}
}