@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Roboto-fallback";
  size-adjust: 100.06%;
  ascent-override: 96%;
  src: local("Arial");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

body {
  font-family: "Roboto", "Roboto-fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: normal;
  color: #171717;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #171717;
}

.max-width {
  width: 100%;
}

.margin-auto {
  margin: 0 auto;
}

.image-responsive {
  width: 100%;
  height: auto;
}

a {
  color: #171717;
  text-decoration: none;
}

.iframe-container iframe {
  pointer-events: none;
}

.iframe-container iframe.clicked {
  pointer-events: auto;
}

figure picture.cls-optimized {
  padding-top: 56.25%;
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
}

figure picture.cls-optimized img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

figure img {
  width: 100%;
}

.seccion {
  width: 100%;
}

.embed-responsive-16by9 {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
}

.embed-responsive-16by9 iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (min-width: 576px) {
  .max-width {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .max-width {
    max-width: 728px;
  }
}

@media (min-width: 1020px) {
  .considebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 2.5em;
  }

  .considebar .sidebar {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    min-width: 300px;
  }

  .considebar .noticia,
  .considebar .autor,
  .considebar .channel,
  .considebar .tag,
  .considebar .masleidas {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    padding-right: 30px;
    max-width: 889px;
  }

  .max-width {
    max-width: 960px;
  }
}

@media (min-width: 1295px) {
  .max-width {
    max-width: 1140px;
  }
}

@media (min-width: 1360px) {
  .max-width {
    max-width: 1300px;
  }
}

.pre-header {
  display: none;
}

.main-header {
  background: #ed1b24;
  position: sticky;
  top: 0;
  z-index: 9;
  width: 100%;
  padding: 5px 10px;
  -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
}

.main-header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header > .container .hamburguer {
  width: 28px;
  height: 28px;
  overflow: hidden;
  margin: 0 10px 0 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.main-header > .container .hamburguer div[class*="bar-"] {
  width: 25px;
  height: 2px;
  display: block;
  background: white;
  margin: 5px 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

.main-header > .container .hamburguer.open .bar-1 {
  -webkit-transform: rotate(-45deg) translate(-2px, 4px);
          transform: rotate(-45deg) translate(-2px, 4px);
}

.main-header > .container .hamburguer.open .bar-3 {
  -webkit-transform: rotate(45deg) translate(0, -4px);
          transform: rotate(45deg) translate(0, -4px);
}

.main-header > .container .hamburguer.open .bar-2 {
  display: none;
}

.main-header > .container .logo {
  width: 230px;
  height: auto;
}

.main-header > .container .logo a img {
  width: 100%;
  height: auto;
  display: block;
}

.main-header .navbar {
  background: transparent;
  position: absolute;
  top: 60px;
  z-index: 9;
  width: 100%;
  right: 100%;
}

.main-header .navbar .container ul.nav {
  background: #313133;
  -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3);
  list-style: none;
  padding: 3px 0 0 0;
}

.main-header .navbar .container ul.nav li {
  position: relative;
  display: block;
  text-transform: uppercase;
  border-bottom: 0.3px solid #666;
}

.main-header .navbar .container ul.nav li:last-of-type {
  border-bottom: 0.3px solid #666;
}

.main-header .navbar .container ul.nav li:first-of-type {
  font-weight: bold;
  color: #313133;
}

.main-header .navbar .container ul.nav li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 5px 10px;
}

.main-header .navbar .container ul.nav li a.has-children-a {
  font-weight: bold;
}

.main-header .navbar .container ul.nav li ul {
  background: #ed1b24;
}

.main-header .navbar .container ul.nav li ul li:before {
  padding-left: 12px;
  content: ">";
  float: left;
  display: block;
  margin: 4px 5px 0 0;
  width: 10px;
  font-weight: bold;
}

.main-header .navbar .container ul.nav li ul li:first-of-type {
  font-weight: normal;
}

.main-header .navbar .container .search-form {
  background: #eee;
  padding: 10px;
  width: 100%;
  position: relative;
}

.main-header .navbar .container .search-form__btn {
  margin: 0 0 0 10px;
  border: none;
  cursor: pointer;
  background: transparent;
  position: absolute;
  right: 20px;
  top: 20px;
}

.main-header .navbar .container .search-form__input {
  width: 100%;
  height: 35px;
  border: 1px solid #eee;
  border-radius: 3px;
  background: white;
  padding: 5px;
}

.main-header .navbar .container .social-top {
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #eee;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header .navbar .container .social-top a {
  display: block;
  width: 30px;
  margin-left: 15px;
}

.main-header .navbar .container .social-top__label {
  margin: 0 auto 0 0;
  font-size: .9rem;
}

.main-header .navbar.mostrar {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

@media (min-width: 576px) {
  .main-header {
    margin-bottom: 10px;
  }

  .main-header .main-menu {
    padding-top: 55px;
  }

  .main-header .navbar .container {
    background: #ed1b24;
    -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .main-header .navbar .container ul.nav {
    width: 100%;
    padding: 0 1%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .main-header .navbar .container ul.nav.main-menu {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .main-header .navbar .container ul.nav.topics {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .main-header .navbar .container ul.nav li:last-of-type {
    border-bottom: none;
  }

  .main-header .navbar .container .search-form {
    border-top: 1px solid #eee;
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .main-header .navbar .container .social-top {
    border-top: 1px solid #eee;
    grid-column: 1/3;
    grid-row: 3/4;
  }
}

@media (min-width: 768px) {
  .pre-header {
    display: block;
    background: #171717;
    width: 100%;
    padding: 3px 10px;
  }

  .pre-header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .pre-header .container .time-top {
    color: white;
    font-size: .8rem;
    text-transform: uppercase;
  }

  .pre-header .container .perfil-logo {
    height: 20px;
    width: 90px;
  }
}

@media (min-width: 1020px) {
  .main-header {
    position: static;
    margin-bottom: 15px;
  }

  .main-header .navbar {
    top: 86px;
    width: 30%;
  }

  .main-header .navbar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-header .navbar .container ul.nav li {
    position: relative;
  }

  .main-header .navbar .container ul.nav li ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    width: 220px;
    z-index: 2;
  }

  .main-header .navbar .container ul.nav li.has-children::after {
    content: '>';
    display: block;
    width: 10px;
    position: absolute;
    right: 10px;
    top: 4px;
    font-weight: bold;
    z-index: 1;
    color: white;
  }

  .main-header .navbar .container ul.nav li:hover > ul {
    display: block;
  }
}

@media (min-width: 1360px) {
  .main-header {
    margin-bottom: 60px;
    height: 65px;
    -webkit-box-shadow: -6px 11px 22px -13px rgba(0, 0, 0, 0.6), 0 50px 0 0 #eee, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
            box-shadow: -6px 11px 22px -13px rgba(0, 0, 0, 0.6), 0 50px 0 0 #eee, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  }

  .main-header > .container .hamburguer {
    display: none;
  }

  .main-header > .container .logo {
    -ms-flex-item-align: start;
        align-self: flex-start;
    -ms-flex-preferred-size: 230px;
        flex-basis: 230px;
    mragin-right: 10px;
  }

  .main-header .navbar {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    position: static;
    height: auto;
    overflow: visible;
    width: 100%;
  }

  .main-header .navbar .container {
    background: transparent;
    display: grid;
    -webkit-box-shadow: none;
            box-shadow: none;
    grid-template-areas: 'a b' 'c d';
    grid-template-columns: auto 280px;
    row-gap: 15px;
    grid-row-gap: 15px;
  }

  .main-header .navbar .container ul.nav {
    background: transparent;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .main-header .navbar .container ul.nav li {
    border-bottom: none;
    width: auto;
    display: inline-block;
    font-size: 0.95em;
    letter-spacing: 0.01em;
  }

  .main-header .navbar .container ul.nav li ul {
    display: none;
  }

  .main-header .navbar .container ul.nav li ul li {
    width: 100%;
    background: #313133;
  }

  .main-header .navbar .container ul.nav li ul li a {
    color: white;
    padding: 10px;
    border-bottom: 0.5px solid #666;
  }

  .main-header .navbar .container ul.nav li ul li:first-of-type {
    border-top: none;
  }

  .main-header .navbar .container ul.nav li ul li:before {
    content: none;
  }

  .main-header .navbar .container ul.nav li.has-children {
    position: relative;
  }

  .main-header .navbar .container ul.nav li.has-children:hover > ul {
    display: block;
    border-top: none;
    position: absolute;
    top: 32px;
    left: 8px;
    padding-top: 10px;
    -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
    background: transparent;
  }

  .main-header .navbar .container ul.nav li.has-children:after {
    content: none;
  }

  .main-header .navbar .container ul.nav li a {
    padding: 10px 10px 0 10px;
  }

  .main-header .navbar .container ul.nav.main-menu {
    grid-area: a;
    padding-top: 18px;
  }

  .main-header .navbar .container ul.nav.topics {
    grid-area: c;
    -webkit-transform: translateX(-240px);
            transform: translateX(-240px);
    height: 50px;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .main-header .navbar .container ul.nav.topics li:first-of-type {
    display: inline-block;
  }

  .main-header .navbar .container ul.nav.topics li a {
    color: #313133;
    padding: 15px 0.6rem 0;
    font-size: .9rem;
  }

  .main-header .navbar .container .search-form {
    background: transparent;
    grid-area: b;
    padding: 0;
    margin: 7px 0 0 0;
    border-top: none;
  }

  .main-header .navbar .container .search-form__btn {
    right: 10px;
    top: 10px;
  }

  .main-header .navbar .container .social-top {
    margin: 0;
    background: transparent;
    border-top: none;
    grid-area: d;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }

  .main-header .navbar .container .social-top a {
    margin: 0 0 0 20px;
  }

  .main-header .navbar.mostrar {
    -webkit-transform: none;
            transform: none;
  }
}

.main-footer {
  background: #313133;
  padding: 10px 0;
}

.main-footer figure {
  margin: 10px auto;
  width: 160px;
}

.main-footer figure img {
  width: 100%;
}

.main-footer .footer-redes {
  background: #313133;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-footer .footer-redes a {
  margin: 10px;
}

.main-footer .nav-footer {
  background: #313133;
}

.main-footer .nav-footer ul {
  list-style: none;
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #171717;
}

.main-footer .nav-footer ul li {
  padding: 5px 10px;
}

.main-footer .nav-footer ul li a {
  color: white;
}

.main-footer .disclaimer {
  background: #171717;
  padding: 10px;
  color: white;
  text-align: center;
  font-size: .9rem;
}

.main-footer .disclaimer a {
  color: #eee;
}

.masvistas__titulo {
  color: #171717;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding-left: 15px;
  border-left: 4px solid #313133;
  margin-bottom: 10px;
  font-weight: 700;
}

.masvistas__nota {
  background: white;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

.masvistas__nota .enlace {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0px;
  border-bottom: 1px solid #eee;
  margin-bottom: 0px;
}

.masvistas__nota .enlace .rankOrder {
  text-align: center;
  padding: 2px 0;
  font-weight: 500;
  font-size: 2.8rem;
  margin-right: 10px;
  line-height: 1;
  width: 10%;
}

.masvistas__nota .enlace__titulo {
  padding: 0 .4em;
  letter-spacing: 0.02em;
  line-height: 1.11em;
  width: 85%;
  font-size: 0.91em;
  margin: 0 1% 2% 4%;
}

.masvistas__nota .enlace picture {
  width: 38%;
  height: 60px;
}

.masvistas__nota:hover a {
  color: white;
}

.wf-loaded .masvistas__titulo {
  line-height: 1.15em;
}

.wf-loaded .masvistas .enlace__titulo {
  font-size: 0.88em;
  letter-spacing: -0.03em;
  line-height: 1.15em;
}

.placa-home {
  border: 1px solid #eee;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

.placa-home a img {
  width: 100%;
  max-width: 300px;
}

aside div {
  margin-bottom: 200px;
}

.channel,
.tag,
.autor {
  padding-top: 10px;
}

.channel h1,
.tag h1,
.autor h1 {
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 10px;
}

.channel .articulo,
.tag .articulo,
.autor .articulo {
  border: 1px solid #eee;
}

.channel .articulo a,
.tag .articulo a,
.autor .articulo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.channel .articulo a .meta-content,
.tag .articulo a .meta-content,
.autor .articulo a .meta-content {
  padding: 1.5em;
}

.channel .articulo a .meta-content .hat,
.tag .articulo a .meta-content .hat,
.autor .articulo a .meta-content .hat {
  background: #eee;
  border-radius: 4px;
  padding: 8px 15px;
  border-radius: 4px;
  padding: 8px 15px;
  text-transform: uppercase;
  background: #313133;
  color: #eee;
  font-size: .8rem;
  letter-spacing: 0.7px;
  font-weight: 700;
}

.channel .articulo a .meta-content h2,
.tag .articulo a .meta-content h2,
.autor .articulo a .meta-content h2 {
  font-size: 1.5em;
  line-height: 1.1;
  margin-top: 20px;
  letter-spacing: -1px;
}

.channel .articulo a .meta-content p.headline,
.tag .articulo a .meta-content p.headline,
.autor .articulo a .meta-content p.headline {
  display: block;
  font-size: .9rem;
  margin: 10px 0 20px;
}

.channel .articulo a .meta-content .firma-home:before,
.tag .articulo a .meta-content .firma-home:before,
.autor .articulo a .meta-content .firma-home:before {
  margin-top: 8px;
}

.channel .articulo a .date-time,
.tag .articulo a .date-time,
.autor .articulo a .date-time {
  padding: 10px;
  border-top: 1px solid #eee;
  font-size: .8rem;
  color: #666;
  display: block;
  margin-top: auto;
}

.autor__indice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #eee;
  padding: .25em .5em;
}

.autor__indice figure {
  -ms-flex-preferred-size: 60px;
      flex-basis: 60px;
}

.autor__indice__img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #eee;
}

.autor__indice__data {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  padding: 0 0 0 10px;
}

.autor__indice__nombre {
  text-transform: uppercase;
  font-size: .9rem;
}

@media (min-width: 576px) {
  .channel,
  .tag,
  .autor {
    padding-top: 0;
  }

  .channel h1,
  .tag h1,
  .autor h1 {
    padding-left: 0;
  }

  .channel .articulo,
  .tag .articulo,
  .autor .articulo {
    margin-bottom: 20px;
  }

  .autor__indice {
    width: 100%;
    margin: 10px 0 20px 0;
  }
}

@media (min-width: 768px) {
  .channel,
  .tag,
  .autor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .channel .articulo,
  .tag .articulo,
  .autor .articulo {
    width: 48%;
  }
}

@media (min-width: 1295px) {
  .channel .articulo:nth-child(7n - 5),
  .tag .articulo:nth-child(7n - 5),
  .autor .articulo:nth-child(7n - 5) {
    width: 100%;
    position: relative;
  }

  .channel .articulo:nth-child(7n - 5) a,
  .tag .articulo:nth-child(7n - 5) a,
  .autor .articulo:nth-child(7n - 5) a {
    display: block;
  }

  .channel .articulo:nth-child(7n - 5) a .meta-content,
  .tag .articulo:nth-child(7n - 5) a .meta-content,
  .autor .articulo:nth-child(7n - 5) a .meta-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2em;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0)), to(#000));
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, #000);
  }

  .channel .articulo:nth-child(7n - 5) a .meta-content h2,
  .tag .articulo:nth-child(7n - 5) a .meta-content h2,
  .autor .articulo:nth-child(7n - 5) a .meta-content h2 {
    color: white;
    font-size: 2em;
    line-height: 1.2;
  }

  .channel .articulo:nth-child(7n - 5) a .meta-content p.headline,
  .tag .articulo:nth-child(7n - 5) a .meta-content p.headline,
  .autor .articulo:nth-child(7n - 5) a .meta-content p.headline {
    color: white;
  }

  .channel .articulo:nth-child(7n - 5) a .meta-content .firma-home,
  .tag .articulo:nth-child(7n - 5) a .meta-content .firma-home,
  .autor .articulo:nth-child(7n - 5) a .meta-content .firma-home {
    color: white;
  }

  .channel .articulo:nth-child(7n - 5) a .meta-content .firma-home:before,
  .tag .articulo:nth-child(7n - 5) a .meta-content .firma-home:before,
  .autor .articulo:nth-child(7n - 5) a .meta-content .firma-home:before {
    background: #eee;
  }

  .channel .articulo:nth-child(7n - 5) a .date-time,
  .tag .articulo:nth-child(7n - 5) a .date-time,
  .autor .articulo:nth-child(7n - 5) a .date-time {
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 6px;
    padding-left: 2.5em;
    border-top-color: #666;
  }
}

/* 
@include media-breakpoint-only(md) {
    .masvistas {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0px;
        &__titulo {
            width: 100%;
            font-size: 1.8em;
        }
        &__nota {
            width: 49%;
            .enlace {
                &__titulo {
                    font-size: .9rem;
                }
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .masvistas {
        &__nota {
            .enlace {
                &__titulo {
                 font-size: .9rem;
                }
            }
        }
    }
} */

/* @include media-breakpoint-up(xxl) {
    .masvistas {
        &__nota {
            .enlace {
                &__titulo {
                    font-size: 1rem;
                }
            }
        }
    }
} */

.social-sharing .btn-share {
  border-radius: 100%;
  height: 55px;
  width: 55px;
  background-color: transparent !important;
  background-image: none !important;
  font-size: 24px;
}

.social-sharing .btn-share-facebook {
  color: #1877f2 !important;
  border: 2px solid #1877f2;
}

.social-sharing .btn-share-twitter {
  color: #4295DA !important;
  border: 2px solid #4295DA;
}

.social-sharing .btn-share-whatsapp {
  color: #25D366 !important;
  border: 2px solid #25D366;
}

.social-sharing .btn-share-pinterest {
  color: #cc2127 !important;
  border: 2px solid #cc2127;
}

.social-sharing a[class*="facebook"],
.social-sharing a[class*="facebook"]:hover,
.social-sharing a[class*="facebook"] span {
  background: #1877f2;
}

.social-sharing a[class*="twitter"],
.social-sharing a[class*="twitter"]:hover,
.social-sharing a[class*="twitter"] span {
  background: #4295DA;
}

.social-sharing a[class*="linkedin"],
.social-sharing a[class*="linkedin"]:hover,
.social-sharing a[class*="linkedin"] span {
  background: #007bb6;
}

.social-sharing a[class*="instagram"],
.social-sharing a[class*="instagram"]:hover,
.social-sharing a[class*="instagram"] span {
  background: #C73F7A;
}

.social-sharing a[class*="pinterest"],
.social-sharing a[class*="pinterest"]:hover,
.social-sharing a[class*="pinterest"] span {
  background: #cc2127;
}

.social-sharing a[class*="flickr"],
.social-sharing a[class*="flickr"]:hover,
.social-sharing a[class*="flickr"] span {
  background: #ff0084;
}

.social-sharing a[class*="tumblr"],
.social-sharing a[class*="tumblr"]:hover,
.social-sharing a[class*="tumblr"] span {
  background: #32506d;
}

.social-sharing a[class*="whatsapp"],
.social-sharing a[class*="whatsapp"]:hover,
.social-sharing a[class*="whatsapp"] span {
  background: #25D366;
}

