.error__number {
  font-weight: normal;
  font-size: 6rem;
  line-height: 1em;
  color: #666;
  text-align: center;
  margin: 0 auto;
  padding: .3em 0 0 0;
}

.error__titulo {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.05em;
  text-align: center;
  margin: 0 auto;
  padding: .2em 0;
}

.error__subtitulo {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  line-height: 1.05em;
  font-weight: normal;
  text-align: center;
  padding: .6em 0 .3em 0;
  margin-bottom: 1em;
}

.error__contenido {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.error__contenido p.main-page {
  font-weight: bold;
}

.error__contenido p.main-page a {
  color: #e12111;
}

.error__contenido__sugerencias {
  margin: 10px auto;
  border-top: 1px solid #eee;
  padding: 10px;
}

.error__contenido__sugerencias p {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #666;
}

.error__contenido__sugerencias ul {
  padding: 5px 0;
  margin: 0;
  list-style: none;
}

.error__contenido__sugerencias ul.lostemas li:first-of-type {
  display: none;
}

.error__contenido__sugerencias ul li {
  padding: 0;
  margin: .3em 0;
}

.error__contenido__sugerencias ul li a {
  color: #e12111;
}

.error__contenido__sugerencias ul li a:hover {
  text-decoration: underline;
}

.error__contenido__sugerencias img {
  margin: 10px auto;
}

@media (min-width: 768px) {
  .error__number {
    font-size: 10rem;
  }

  .error__contenido {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .error__contenido p.main-page {
    width: 100%;
    font-size: 1.6rem;
    margin: 1em auto;
  }

  .error__contenido__sugerencias {
    width: 100%;
  }

  .error__contenido__sugerencias:nth-child(-n+4) {
    width: 30%;
    border-top: none;
  }
}

