@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Roboto-fallback";
  size-adjust: 100.06%;
  ascent-override: 96%;
  src: local("Arial");
}

.main-footer {
  background: #313133;
  padding: 10px 0;
}

.main-footer figure {
  margin: 10px auto;
  width: 160px;
  height: 34px;
  background: #ed1b24;
  border-radius: 2px;
}

.main-footer figure img {
  width: 100%;
}

.main-footer .footer-redes {
  background: #313133;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-footer .footer-redes a {
  margin: 10px;
}

.main-footer .nav-footer {
  background: #313133;
}

.main-footer .nav-footer ul {
  list-style: none;
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #171717;
}

.main-footer .nav-footer ul li {
  padding: 5px 10px;
}

.main-footer .nav-footer ul li a {
  color: white;
}

.main-footer .disclaimer {
  background: #171717;
  padding: 10px;
  color: white;
  text-align: center;
  font-size: .9rem;
}

.main-footer .disclaimer a {
  color: #eee;
}

