@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Crimson-fallback";
  size-adjust: 98.82000000000002%;
  ascent-override: 85%;
  src: local("Times New Roman");
}

@font-face {
  font-family: "Roboto-fallback";
  size-adjust: 100.06%;
  ascent-override: 96%;
  src: local("Arial");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: normal;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #333;
}

.wf-loaded h1,
.wf-loaded h2,
.wf-loaded h3,
.wf-loaded h4,
.wf-loaded h5,
.wf-loaded h6 {
  font-family: "Roboto", sans-serif;
}

.max-width {
  width: 100%;
}

.margin-auto {
  margin: 0 auto;
}

.container-white {
  background: white;
}

.image-responsive {
  width: 100%;
  height: auto;
}

a {
  color: #333;
  text-decoration: none;
}

.bg-ads-space {
  background: repeating-linear-gradient(-45deg, #e7e7e7, #e7e7e7 5px, white, white 7px) !important;
  border: 0 !important;
}

.bg-ads-space p {
  margin: 0;
}

.iframe-container iframe {
  pointer-events: none;
}

.iframe-container iframe.clicked {
  pointer-events: auto;
}

figure picture.cls-optimized {
  padding-top: 56.25%;
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
}

figure picture.cls-optimized img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

figure img {
  width: 100%;
}

.seccion {
  width: 100%;
}

.embed-responsive-16by9 {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
}

.embed-responsive-16by9 iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ads-title {
  text-align: center;
  padding: 2px 0;
  margin: 0;
  color: #666;
}

.ads-container {
  margin: 0.5em 0 1em 0;
}

@media (min-width: 576px) {
  .max-width {
    max-width: 540px;
  }

  .container-white {
    padding: 15px;
  }
}

@media (min-width: 768px) {
  .max-width {
    max-width: 728px;
  }
}

@media (min-width: 1020px) {
  .considebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 2.5em;
  }

  .considebar .sidebar {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    min-width: 300px;
  }

  .considebar .noticia,
  .considebar .autor,
  .considebar .channel,
  .considebar .tag,
  .considebar .masleidas {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    padding-right: 30px;
    max-width: 889px;
  }

  .max-width {
    max-width: 960px;
  }
}

@media (min-width: 1295px) {
  .max-width {
    max-width: 1140px;
  }
}

@media (min-width: 1360px) {
  .max-width {
    max-width: 1300px;
  }
}

.pre-header {
  display: none;
}

.main-header {
  background: #ed1b24;
  position: sticky;
  top: 0;
  z-index: 9;
  width: 100%;
  padding: 10px;
  -webkit-box-shadow: -6px 11px 22px -13px rgba(0, 0, 0, 0.58);
          box-shadow: -6px 11px 22px -13px rgba(0, 0, 0, 0.58);
}

.main-header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header > .container .hamburguer {
  width: 28px;
  height: 28px;
  overflow: hidden;
  margin: 0 10px 0 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.main-header > .container .hamburguer div[class*="bar-"] {
  width: 25px;
  height: 2px;
  display: block;
  background: black;
  margin: 5px 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

.main-header > .container .hamburguer.open .bar-1 {
  -webkit-transform: rotate(-45deg) translate(-3px, 4px);
          transform: rotate(-45deg) translate(-3px, 4px);
}

.main-header > .container .hamburguer.open .bar-3 {
  -webkit-transform: rotate(45deg) translate(-3px, -4px);
          transform: rotate(45deg) translate(-3px, -4px);
}

.main-header > .container .hamburguer.open .bar-2 {
  display: none;
}

.main-header > .container .logo {
  width: 230px;
  height: 55px;
}

.main-header > .container .logo img {
  width: 100%;
  height: auto;
}

.main-header .navbar {
  height: 0;
  background: transparent;
  overflow: hidden;
  position: absolute;
  top: 50px;
  z-index: 9;
  width: 100%;
  left: 0;
  right: 0;
}

.main-header .navbar .container ul.nav {
  background: white;
  -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3);
  width: 240px;
  list-style: none;
  padding: 3px 0 0 0;
  font-family: "Roboto", sans-serif;
}

.main-header .navbar .container ul.nav li {
  position: relative;
  display: block;
  text-transform: uppercase;
  border-bottom: 1px solid #eee;
}

.main-header .navbar .container ul.nav li:last-of-type {
  border-bottom: 2px solid #eee;
}

.main-header .navbar .container ul.nav li:first-of-type {
  font-weight: bold;
  color: #313133;
}

.main-header .navbar .container ul.nav li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 5px 10px;
}

.main-header .navbar .container ul.nav li a.has-children-a {
  font-weight: bold;
}

.main-header .navbar .container ul.nav li ul {
  background: #e3ebf3;
}

.main-header .navbar .container ul.nav li ul li:before {
  padding-left: 12px;
  content: ">";
  float: left;
  display: block;
  margin: 4px 5px 0 0;
  width: 10px;
  font-weight: bold;
}

.main-header .navbar .container ul.nav li ul li:first-of-type {
  font-weight: normal;
}

.main-header .navbar .container .search-form {
  background: white;
  -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 240px;
}

.main-header .navbar .container .search-form__btn {
  width: 30px;
  height: 35px;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
  margin: 0 0 0 10px;
  border: none;
  padding-top: 4px;
  padding-left: 2px;
  cursor: pointer;
}

.main-header .navbar .container .search-form__input {
  width: 170px;
  height: 35px;
  border: 1px solid #eee;
  border-radius: 3px;
  background: white;
  padding: 5px;
}

.main-header .navbar .container .social-top {
  width: 240px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: white;
  -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3);
}

.main-header .navbar .container .social-top a {
  display: block;
  width: 30px;
}

.main-header .navbar.mostrar {
  height: auto;
  overflow: visible;
}

@media (min-width: 576px) {
  .pre-header {
    display: block;
    background: #333;
    width: 100%;
    padding: 3px 10px;
  }

  .pre-header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .pre-header .container .time-top {
    color: white;
    font-size: .8rem;
    text-transform: uppercase;
  }

  .pre-header .container .perfil-logo {
    height: 20px;
    width: 90px;
  }

  .main-header {
    margin-bottom: 10px;
  }

  .main-header .main-menu {
    padding-top: 55px;
  }

  .main-header .navbar .container {
    background: #ed1b24;
    -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-areas: 'a b' 'a c' 'd e';
    grid-template-columns: 1fr 1fr;
  }

  .main-header .navbar .container ul.nav {
    width: 100%;
    padding: 0 1%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .main-header .navbar .container ul.nav:nth-child(1) {
    grid-area: a;
  }

  .main-header .navbar .container ul.nav:nth-child(2) {
    grid-area: b;
  }

  .main-header .navbar .container ul.nav:nth-child(3) {
    grid-area: c;
  }

  .main-header .navbar .container ul.nav li:last-of-type {
    border-bottom: none;
  }

  .main-header .navbar .container .search-form {
    border-top: 1px solid #eee;
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    grid-area: e;
    margin-top: 20px;
  }

  .main-header .navbar .container .search-form__btn {
    -ms-flex-preferred-size: 35px;
        flex-basis: 35px;
  }

  .main-header .navbar .container .search-form__input {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }

  .main-header .navbar .container .social-top {
    border-top: 1px solid #eee;
    -webkit-box-shadow: none;
            box-shadow: none;
    grid-area: d;
    width: 100%;
    margin-top: 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .main-header .navbar .container .social-top a {
    margin-right: 20px;
  }
}

@media (min-width: 1020px) {
  .main-header {
    position: static;
    margin-bottom: 15px;
  }

  .main-header .navbar {
    top: 76px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .main-header .navbar .container {
    grid-template-areas: 'a a b b c c' 'd d d e e e';
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .main-header .navbar .container ul.nav li {
    position: relative;
  }

  .main-header .navbar .container ul.nav li ul {
    display: none;
  }

  .main-header .navbar .container ul.nav li.has-children::after {
    content: '>';
    display: block;
    width: 10px;
    position: absolute;
    left: 140px;
    top: 4px;
    font-weight: bold;
    z-index: 1;
  }

  .main-header .navbar .container ul.nav li:hover > ul {
    display: block;
    position: absolute;
    left: 130px;
    top: 0;
    width: 180px;
    z-index: 2;
  }

  .main-header .navbar .container .search-form {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .main-header .navbar .container .search-form__input {
    width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

@media (min-width: 1295px) {
  .main-header {
    height: 65px;
    padding: 10px;
  }

  .main-header > .container .logo {
    width: 230px;
    height: 30px;
    padding: 0px 8px;
  }

  .main-header .navbar {
    top: 91px;
  }
}

@media (min-width: 1360px) {
  .main-header {
    margin-bottom: 60px;
    display: grid;
    grid-template-areas: 'a b c d';
    grid-template-columns: 0px 230px auto 0px;
    -webkit-box-shadow: -6px 11px 22px -13px rgba(0, 0, 0, 0.6), 0 50px 0 0 #eee, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
            box-shadow: -6px 11px 22px -13px rgba(0, 0, 0, 0.6), 0 50px 0 0 #eee, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  }

  .main-header > .container {
    grid-area: b;
  }

  .main-header > .container .hamburguer {
    display: none;
  }

  .main-header > .container .logo {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .main-header .navbar {
    grid-area: c;
    position: static;
    height: auto;
    overflow: visible;
  }

  .main-header .navbar .container {
    background: transparent;
    display: grid;
    -webkit-box-shadow: none;
            box-shadow: none;
    grid-template-areas: 'a b c' 'd d e';
    grid-template-columns: auto 0px auto;
  }

  .main-header .navbar .container ul.nav {
    background: transparent;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .main-header .navbar .container ul.nav li {
    border-bottom: none;
    width: auto;
    display: inline-block;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0.95em;
    letter-spacing: 0.01em;
  }

  .main-header .navbar .container ul.nav li ul {
    display: none;
  }

  .main-header .navbar .container ul.nav li ul li {
    width: 180px;
    background: #e3ebf3;
  }

  .main-header .navbar .container ul.nav li ul li a {
    color: white;
    padding: 10px;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
  }

  .main-header .navbar .container ul.nav li ul li:first-of-type {
    border-top: none;
  }

  .main-header .navbar .container ul.nav li ul li:before {
    content: none;
  }

  .main-header .navbar .container ul.nav li.has-children {
    position: relative;
  }

  .main-header .navbar .container ul.nav li.has-children:hover > ul {
    display: block;
    border-top: none;
    position: absolute;
    top: 45px;
    left: 0;
    padding-top: 10px;
    -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
    background: transparent;
  }

  .main-header .navbar .container ul.nav li.has-children:after {
    content: none;
  }

  .main-header .navbar .container ul.nav li a {
    padding: 10px 10px 0 10px;
  }

  .main-header .navbar .container ul.nav:nth-child(1) {
    grid-area: a;
  }

  .main-header .navbar .container ul.nav:nth-child(2) {
    grid-area: d;
  }

  .main-header .navbar .container ul.nav:nth-child(3) {
    grid-area: b;
  }

  .main-header .navbar .container ul.nav:nth-child(3) li:first-of-type {
    display: none;
  }

  .main-header .navbar .container ul.nav:nth-child(3) li:nth-child(n+3) {
    display: none;
  }

  .main-header .navbar .container ul.nav.topics {
    -webkit-transform: translateX(-230px);
            transform: translateX(-230px);
    height: 50px;
    overflow: hidden;
  }

  .main-header .navbar .container ul.nav.topics li a {
    color: #313131;
    padding: 15px 0.6rem 0;
    font-size: .9rem;
  }

  .main-header .navbar .container .search-form {
    grid-area: e;
    background: transparent;
    padding: 0;
    margin: 10px 0 0 0;
    border-top: none;
  }

  .main-header .navbar .container .search-form__input {
    width: 100%;
    margin-left: -100px;
  }

  .main-header .navbar .container .search-form__btn {
    padding: 0;
  }

  .main-header .navbar .container .social-top {
    margin: 0;
    padding-right: 0.8rem;
    background: transparent;
    border-top: none;
    height: 55px;
    grid-area: c;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }

  .main-header .navbar .container .social-top a {
    margin: 0 0 0 20px;
  }

  .wf-loaded .main-header .navbar .container ul.nav li {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    letter-spacing: 0;
  }
}

.main-footer {
  background: #313133;
  padding: 10px 0;
}

.main-footer figure {
  margin: 10px auto;
  width: 160px;
}

.main-footer figure img {
  width: 100%;
}

.main-footer .footer-redes {
  background: #313133;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-footer .footer-redes a {
  margin: 10px;
}

.main-footer .nav-footer {
  background: #313133;
}

.main-footer .nav-footer ul {
  list-style: none;
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #333;
}

.main-footer .nav-footer ul li {
  padding: 5px 10px;
}

.main-footer .nav-footer ul li a {
  color: white;
}

.main-footer .disclaimer {
  background: #333;
  padding: 10px;
  color: white;
  text-align: center;
  font-size: .9rem;
}

.main-footer .disclaimer a {
  color: #eee;
}

.articulo {
  margin: 0 0 10px 0;
  width: 100%;
  position: relative;
  background: white;
}

.articulo a figure {
  width: 100%;
  position: relative;
}

.articulo a figure .galeria-video {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #424242ad;
  line-height: 42px;
  text-align: center;
}

.articulo a figure .galeria-video .hasvideo {
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
}

.articulo a .meta-content {
  padding: 10px;
}

.articulo a .meta-content .hat {
  display: inline-block;
  text-transform: uppercase;
  background: #ed1b24;
  color: white;
  padding: 3px 8px;
  margin: 0 0 5px 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: .85rem;
  font-weight: 700;
  letter-spacing: 0;
  border-radius: 3px;
}

.articulo a .meta-content h2 {
  letter-spacing: -0.07em;
  font-size: 1.3rem;
  line-height: 1.24em;
}

.articulo a .meta-content p {
  display: none;
}

.articulo a .meta-content .firma-home {
  font-size: .8rem;
  text-transform: uppercase;
  margin: .4em 0 0 0;
  color: #ed1b24;
}

.articulo a .meta-content .firma-home:before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #666;
  float: left;
  margin: 5px 5px 0 0;
}

.wf-loaded .articulo {
  border-radius: 10px;
}

.wf-loaded .articulo a .meta-content .hat {
  font-family: "Roboto", sans-serif;
  font-size: .8rem;
  letter-spacing: 1px;
}

.wf-loaded .articulo a .meta-content h2 {
  font-size: 1.2rem;
  letter-spacing: -0.02em;
  line-height: 1.1em;
  text-align: center;
  font-weight: 600;
  padding: 10px;
}

.destacada .articulo {
  padding-bottom: 10px;
}

.destacada .articulo a figure .galeria-video {
  right: 25px;
  top: 25px;
}

.destacada .articulo a .meta-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 25px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.destacada .articulo a .meta-content h2 {
  font-weight: 500;
  font-size: 1.7rem;
  letter-spacing: -.02em;
  line-height: 1.1em;
  padding: 10px 0;
  text-align: center;
}

.destacada .articulo a .meta-content .hat {
  background-color: #ed1b24;
  margin: auto;
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
  border-radius: 2px;
  font-size: 0.80rem;
  color: white;
  font-weight: 700;
  padding: 6px 9px 5px;
  line-height: 1;
  letter-spacing: .8px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .masvistas__articulos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .destacada {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-row: auto;
  }

  .destacada .articulo {
    min-height: 100%;
  }

  .destacada-medio {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    display: grid;
    grid-gap: 18px;
    grid-template-columns: minmax(200px, 2fr) 1fr 1fr;
  }
}

@media (min-width: 1020px) {
  .destacada-medio {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    display: grid;
    grid-gap: 18px;
    grid-template-columns: minmax(200px, 2fr) 1fr 1fr;
  }
}

@media (min-width: 1360px) {
  .bloque {
    grid-template-areas: 'a b c sidebar' 'd e f sidebar';
  }
}

@media (min-width: 768px) {
  .wf-loaded .destacada a .meta-content h2 {
    font-size: 1.4rem;
  }
}

.bloque {
  margin-bottom: 20px;
}

.bloque .articulo a figure {
  padding-bottom: 56.2%;
  height: 0;
  overflow: hidden;
}

.bloque .articulo a figure .galeria-video {
  right: 25px;
  top: 25px;
}

.bloque .articulo a figure > picture img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.bloque .articulo a .meta-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10px;
}

.bloque .articulo a .meta-content .hat {
  background: none;
  color: #ed1b24;
  letter-spacing: normal;
  font-weight: 900;
}

.bloque .articulo.nota-0 a .meta-content h2,
.bloque .articulo.nota-1 a .meta-content h2,
.bloque .articulo.nota-2 a .meta-content h2,
.bloque .articulo.nota-3 a .meta-content h2,
.bloque .articulo.nota-4 a .meta-content h2 {
  font-size: 1.5rem;
  text-align: left;
  line-height: 1.2;
}

.bloque .articulo.nota-2 {
  background: #ed1b24;
}

.bloque .articulo.nota-2 a .meta-content .hat {
  background: #313131;
}

.bloque .articulo.nota-2 a .meta-content h2 {
  color: white;
  font-size: 1.4rem;
  text-align: left;
}

.bloque .articulo.nota-2 a .meta-content .firma-home {
  color: white;
}

.bloque .bloque-sidebar {
  width: 100%;
  /* 
		.tapa {
			background: $gris-claro;
			padding: 10px;

			figure {
				width: 100%;
				max-width: 300px;
				margin: 0 auto;

				picture.cls-optimized {
					width: 100%;
					height: auto;
					overflow: visible;
					padding: 0;

					img {
						position: static;
						width: 100%;
						height: auto;
					}
				}
			}

			.suscripcion-kiosco {
				display: block;
				width: 100%;
				max-width: 300px;
				padding: 10px 0;
				margin: 0 auto;

				a {
					display: block;
					width: 100%;
					background: $color-brand;
					color: white;
					text-decoration: none;
					text-align: center;
					text-transform: uppercase;
					padding: 10px;
					border-radius: 20px;
				}
			}
		}

		.placa-home {
			width: 100%;
			max-width: 300px;
			margin: 15px auto;
		} */
}

.bloque .masvistas__titulo {
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 0px 10px;
  border-left: 5px solid #ed1b24;
  margin-bottom: 10px;
  font-weight: 700;
}

.bloque .masvistas__nota {
  background: white;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

.bloque .masvistas__nota .enlace {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid #eee;
}

.bloque .masvistas__nota .enlace .rankOrder {
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding: 2px 0;
  font-weight: 500;
  font-size: 2.8rem;
  border-bottom: 5px solid #313131;
  margin-right: 10px;
}

.bloque .masvistas__nota .enlace__titulo {
  padding: 0 .4em;
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.02em;
  line-height: 1.1rem;
  width: 85%;
  font-size: 13px;
  margin: 0 1% 2% 4%;
}

.bloque .masvistas__nota .enlace figure {
  width: 88%;
  height: 60px;
}

.bloque .masvistas__nota:hover {
  background: #313131;
}

.bloque .masvistas__nota:hover a {
  color: white;
}

@media (min-width: 768px) {
  .bloque {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .bloque .articulo {
    width: 100%;
  }

  .bloque .articulo.nota-0,
  .bloque .articulo.nota-1,
  .bloque .articulo.nota-2 {
    width: 32%;
    margin: 20px 0;
  }

  .bloque .articulo.nota-0:after,
  .bloque .articulo.nota-1:after,
  .bloque .articulo.nota-2:after {
    content: none;
  }

  .bloque .bloque-sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* .tapa {
				width: 100%;
			}

			.placa-home {
				width: 300px;
			} */
  }
}

@media (min-width: 1020px) {
  .bloque {
    display: grid;
    grid-template-areas: 'a b sidebar' 'c d sidebar' 'e f sidebar';
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .bloque .articulo.nota-0,
  .bloque .articulo.nota-1,
  .bloque .articulo.nota-2,
  .bloque .articulo.nota-3,
  .bloque .articulo.nota-4,
  .bloque .articulo.nota-5 {
    width: 100%;
    margin: 0;
  }

  .bloque .articulo.nota-0:after,
  .bloque .articulo.nota-1:after,
  .bloque .articulo.nota-2:after,
  .bloque .articulo.nota-3:after,
  .bloque .articulo.nota-4:after,
  .bloque .articulo.nota-5:after {
    content: none;
  }

  .bloque .articulo.nota-0 .meta-content,
  .bloque .articulo.nota-1 .meta-content,
  .bloque .articulo.nota-2 .meta-content,
  .bloque .articulo.nota-3 .meta-content,
  .bloque .articulo.nota-4 .meta-content,
  .bloque .articulo.nota-5 .meta-content {
    padding: 0.5em 0px;
  }

  .bloque .articulo.nota-0 figure .galeria-video,
  .bloque .articulo.nota-1 figure .galeria-video,
  .bloque .articulo.nota-2 figure .galeria-video,
  .bloque .articulo.nota-3 figure .galeria-video,
  .bloque .articulo.nota-4 figure .galeria-video,
  .bloque .articulo.nota-5 figure .galeria-video {
    top: 10px;
    right: 10px;
  }

  .bloque .articulo.nota-0 {
    grid-area: a;
  }

  .bloque .articulo.nota-1 {
    grid-area: b;
  }

  .bloque .articulo.nota-2 {
    grid-area: c;
  }

  .bloque .articulo.nota-3 {
    grid-area: e;
  }

  .bloque .articulo.nota-4 {
    grid-area: f;
  }

  .bloque .ad-300x250 {
    grid-area: d;
  }

  .bloque .bloque-sidebar {
    grid-area: sidebar;
    display: block;
  }
}

@media (min-width: 1360px) {
  .bloque {
    grid-template-areas: 'a b c sidebar' 'd e f sidebar';
    grid-template-columns: repeat(4, 1fr);
  }
}

@-webkit-keyframes animateright {
  from {
    right: -300px;
    opacity: 0;
  }

  to {
    right: 0;
    opacity: 1;
  }
}

@keyframes animateright {
  from {
    right: -300px;
    opacity: 0;
  }

  to {
    right: 0;
    opacity: 1;
  }
}

.d-xs-none {
  display: none !important;
}

.d-xs-inline {
  display: inline !important;
}

.d-xs-inline-block {
  display: inline-block !important;
}

.d-xs-block {
  display: block !important;
}

.d-xs-grid {
  display: grid !important;
}

.d-xs-table {
  display: table !important;
}

.d-xs-table-cell {
  display: table-cell !important;
}

.d-xs-table-row {
  display: table-row !important;
}

.d-xs-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.d-xs-inline-flex {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

@media (min-width: 576px) {
  .d-sm-none {
    display: none !important;
  }
}

@media (min-width: 576px) {
  .d-sm-inline {
    display: inline !important;
  }
}

@media (min-width: 576px) {
  .d-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 576px) {
  .d-sm-block {
    display: block !important;
  }
}

@media (min-width: 576px) {
  .d-sm-grid {
    display: grid !important;
  }
}

@media (min-width: 576px) {
  .d-sm-table {
    display: table !important;
  }
}

@media (min-width: 576px) {
  .d-sm-table-cell {
    display: table-cell !important;
  }
}

@media (min-width: 576px) {
  .d-sm-table-row {
    display: table-row !important;
  }
}

@media (min-width: 576px) {
  .d-sm-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (min-width: 576px) {
  .d-sm-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .d-md-inline {
    display: inline !important;
  }
}

@media (min-width: 768px) {
  .d-md-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 768px) {
  .d-md-block {
    display: block !important;
  }
}

@media (min-width: 768px) {
  .d-md-grid {
    display: grid !important;
  }
}

@media (min-width: 768px) {
  .d-md-table {
    display: table !important;
  }
}

@media (min-width: 768px) {
  .d-md-table-cell {
    display: table-cell !important;
  }
}

@media (min-width: 768px) {
  .d-md-table-row {
    display: table-row !important;
  }
}

@media (min-width: 768px) {
  .d-md-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (min-width: 768px) {
  .d-md-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-none {
    display: none !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-inline {
    display: inline !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-block {
    display: block !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-grid {
    display: grid !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-table {
    display: table !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-table-cell {
    display: table-cell !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-table-row {
    display: table-row !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-none {
    display: none !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-inline {
    display: inline !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-block {
    display: block !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-grid {
    display: grid !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-table {
    display: table !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-table-cell {
    display: table-cell !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-table-row {
    display: table-row !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-none {
    display: none !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-inline {
    display: inline !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-block {
    display: block !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-grid {
    display: grid !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-table {
    display: table !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-table-cell {
    display: table-cell !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-table-row {
    display: table-row !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-none {
    display: none !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-inline {
    display: inline !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-block {
    display: block !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-grid {
    display: grid !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-table {
    display: table !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-table-cell {
    display: table-cell !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-table-row {
    display: table-row !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

