@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Roboto-fallback";
  size-adjust: 100.06%;
  ascent-override: 96%;
  src: local("Arial");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: ease .3s;
  transition: ease .3s;
  font-family: "Roboto", "Roboto-fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  font-family: "Roboto", "Roboto-fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: normal;
  color: #171717;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #171717;
}

.container {
  width: 100%;
  padding: 0 1rem;
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.seccion {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.max-width {
  width: 100%;
  margin: 0 auto;
}

.image-responsive {
  width: 100%;
  height: auto;
}

a {
  color: #171717;
  text-decoration: none;
}

.iframe-container iframe {
  pointer-events: none;
}

.iframe-container iframe.clicked {
  pointer-events: auto;
}

figure picture.cls-optimized {
  padding-top: 56.25%;
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
}

figure picture.cls-optimized img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

figure img {
  width: 100%;
}

.embed-responsive-16by9 {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
}

.embed-responsive-16by9 iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bg-negro {
  background: #171717;
  color: white;
}

@media (min-width: 1020px) {
  .main {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .considebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 2.5em;
  }

  .considebar .sidebar {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    min-width: 300px;
  }

  .considebar .noticia,
  .considebar .autor,
  .considebar .channel,
  .considebar .tag,
  .considebar .masleidas {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    padding-right: 30px;
    max-width: 889px;
  }
}

@media (min-width: 1360px) {
  .max-width {
    max-width: 1300px;
  }
}

@-webkit-keyframes animateright {
  from {
    right: -300px;
    opacity: 0;
  }

  to {
    right: 0;
    opacity: 1;
  }
}

@keyframes animateright {
  from {
    right: -300px;
    opacity: 0;
  }

  to {
    right: 0;
    opacity: 1;
  }
}

.d-xs-none {
  display: none !important;
}

.d-xs-inline {
  display: inline !important;
}

.d-xs-inline-block {
  display: inline-block !important;
}

.d-xs-block {
  display: block !important;
}

.d-xs-grid {
  display: grid !important;
}

.d-xs-table {
  display: table !important;
}

.d-xs-table-cell {
  display: table-cell !important;
}

.d-xs-table-row {
  display: table-row !important;
}

.d-xs-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.d-xs-inline-flex {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

@media (min-width: 576px) {
  .d-sm-none {
    display: none !important;
  }
}

@media (min-width: 576px) {
  .d-sm-inline {
    display: inline !important;
  }
}

@media (min-width: 576px) {
  .d-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 576px) {
  .d-sm-block {
    display: block !important;
  }
}

@media (min-width: 576px) {
  .d-sm-grid {
    display: grid !important;
  }
}

@media (min-width: 576px) {
  .d-sm-table {
    display: table !important;
  }
}

@media (min-width: 576px) {
  .d-sm-table-cell {
    display: table-cell !important;
  }
}

@media (min-width: 576px) {
  .d-sm-table-row {
    display: table-row !important;
  }
}

@media (min-width: 576px) {
  .d-sm-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (min-width: 576px) {
  .d-sm-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .d-md-inline {
    display: inline !important;
  }
}

@media (min-width: 768px) {
  .d-md-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 768px) {
  .d-md-block {
    display: block !important;
  }
}

@media (min-width: 768px) {
  .d-md-grid {
    display: grid !important;
  }
}

@media (min-width: 768px) {
  .d-md-table {
    display: table !important;
  }
}

@media (min-width: 768px) {
  .d-md-table-cell {
    display: table-cell !important;
  }
}

@media (min-width: 768px) {
  .d-md-table-row {
    display: table-row !important;
  }
}

@media (min-width: 768px) {
  .d-md-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (min-width: 768px) {
  .d-md-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-none {
    display: none !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-inline {
    display: inline !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-block {
    display: block !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-grid {
    display: grid !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-table {
    display: table !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-table-cell {
    display: table-cell !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-table-row {
    display: table-row !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-none {
    display: none !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-inline {
    display: inline !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-block {
    display: block !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-grid {
    display: grid !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-table {
    display: table !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-table-cell {
    display: table-cell !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-table-row {
    display: table-row !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-none {
    display: none !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-inline {
    display: inline !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-block {
    display: block !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-grid {
    display: grid !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-table {
    display: table !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-table-cell {
    display: table-cell !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-table-row {
    display: table-row !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-none {
    display: none !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-inline {
    display: inline !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-block {
    display: block !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-grid {
    display: grid !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-table {
    display: table !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-table-cell {
    display: table-cell !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-table-row {
    display: table-row !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

.header {
  background: #ed1b24;
  position: sticky;
  top: 0;
  z-index: 9;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
}

.header__nav-toggler {
  width: 28px;
  height: 28px;
  overflow: hidden;
  margin: 0 10px 0 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.header__nav-toggler span[class*="bar-"] {
  width: 25px;
  height: 2px;
  display: block;
  background: white;
  margin: 5px 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

.header__nav-toggler.open .bar-1 {
  -webkit-transform: rotate(-45deg) translate(-2px, 4px);
          transform: rotate(-45deg) translate(-2px, 4px);
}

.header__nav-toggler.open .bar-3 {
  -webkit-transform: rotate(45deg) translate(0, -4px);
          transform: rotate(45deg) translate(0, -4px);
}

.header__nav-toggler.open .bar-2 {
  display: none;
}

.header__logo {
  width: 200px;
  height: auto;
}

.header__logo a img {
  width: 100%;
  height: auto;
  display: block;
}

.header > .max-width {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  background: transparent;
  position: absolute;
  top: 60px;
  z-index: 9;
  width: 100%;
  right: 100%;
  overflow-y: auto;
  height: calc(100vh - 60px);
  max-width: 540px;
}

.navbar ul.nav {
  background: #313133;
  -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3);
  list-style: none;
  padding: 3px 0 0 0;
  font-family: "Roboto", "Roboto-fallback", sans-serif;
}

.navbar ul.nav li {
  position: relative;
  display: block;
  text-transform: uppercase;
  border-bottom: 0.3px solid #666;
}

.navbar ul.nav li:last-of-type {
  border-bottom: 0.3px solid #666;
}

.navbar ul.nav li:first-of-type {
  font-weight: bold;
  color: #313133;
}

.navbar ul.nav li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
}

.navbar ul.nav li a.has-children-a {
  font-weight: bold;
}

.navbar ul.nav li ul {
  background: #ed1b24;
}

.navbar ul.nav li ul li:before {
  padding-left: 12px;
  content: ">";
  float: left;
  display: block;
  margin: 4px 5px 0 0;
  width: 10px;
  font-weight: bold;
}

.navbar ul.nav li ul li:first-of-type {
  font-weight: normal;
}

.navbar ul.nav.topics {
  background: #eee;
  padding: 10px;
}

.navbar ul.nav.topics li {
  margin: 5px 0;
  background: #313133;
}

.navbar .search-form {
  background: #eee;
  padding: 10px;
  width: 100%;
  position: relative;
}

.navbar .search-form__btn {
  margin: 0 0 0 10px;
  border: none;
  cursor: pointer;
  background: transparent;
  position: absolute;
  right: 20px;
  top: 20px;
}

.navbar .search-form__input {
  width: 100%;
  height: 35px;
  border: 1px solid #eee;
  border-radius: 3px;
  background: white;
  padding: 5px;
}

.navbar .social-top {
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #eee;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .social-top a {
  display: block;
  width: 30px;
  margin-left: 15px;
}

.navbar .social-top__label {
  margin: 0 auto 0 0;
  font-size: .9rem;
}

.navbar.mostrar {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

@media (min-width: 576px) {
  .pre-header > .d-md-flex {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3px 0;
  }

  .pre-header > .d-md-flex .time-top {
    font-size: .8rem;
    text-transform: uppercase;
  }

  .pre-header > .d-md-flex .perfil-logo {
    height: 20px;
    width: 90px;
  }

  .navbar {
    width: 360px;
    max-width: 100%;
  }
}

@media (min-width: 1360px) {
  .header {
    margin-bottom: 50px;
    height: 65px;
    -webkit-box-shadow: -6px 11px 22px -13px rgba(0, 0, 0, 0.6), 0 50px 0 0 #eee, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
            box-shadow: -6px 11px 22px -13px rgba(0, 0, 0, 0.6), 0 50px 0 0 #eee, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  }

  .header__nav-toggler {
    display: none;
  }

  .header__logo {
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 230px;
    -ms-flex-preferred-size: 230px;
        flex-basis: 230px;
    margin-right: 10px;
  }

  .navbar {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    position: static;
    height: auto;
    overflow: visible;
    width: 100%;
  }

  .navbar__container {
    background: transparent;
    display: grid;
    -webkit-box-shadow: none;
            box-shadow: none;
    grid-template-areas: 'a b' 'c d';
    grid-template-columns: auto 280px;
    row-gap: 15px;
    grid-row-gap: 15px;
  }

  .navbar__container ul.nav {
    background: transparent;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .navbar__container ul.nav li {
    border-bottom: none;
    width: auto;
    display: inline-block;
    font-size: 0.95em;
    letter-spacing: 0.01em;
  }

  .navbar__container ul.nav li ul {
    display: none;
  }

  .navbar__container ul.nav li ul li {
    width: 100%;
    background: #313133;
  }

  .navbar__container ul.nav li ul li a {
    color: white;
    padding: 10px;
    border-bottom: 0.5px solid #666;
  }

  .navbar__container ul.nav li ul li:first-of-type {
    border-top: none;
  }

  .navbar__container ul.nav li ul li:before {
    content: none;
  }

  .navbar__container ul.nav li.has-children {
    position: relative;
  }

  .navbar__container ul.nav li.has-children:hover > ul {
    display: block;
    border-top: none;
    position: absolute;
    top: 32px;
    left: 8px;
    padding-top: 10px;
    -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
    background: transparent;
  }

  .navbar__container ul.nav li.has-children:after {
    content: none;
  }

  .navbar__container ul.nav li a {
    padding: 10px 10px 0 10px;
  }

  .navbar__container ul.nav.main-menu {
    grid-area: a;
    padding-top: 18px;
  }

  .navbar__container ul.nav.topics {
    padding: 0;
    background: transparent;
    grid-area: c;
    -webkit-transform: translateX(-240px);
            transform: translateX(-240px);
    height: 50px;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .navbar__container ul.nav.topics li {
    margin: 0;
    background: transparent;
  }

  .navbar__container ul.nav.topics li:first-of-type {
    display: inline-block;
  }

  .navbar__container ul.nav.topics li a {
    color: #313133;
    padding: 15px 0.6rem 0;
    font-size: .9rem;
  }

  .navbar__container .search-form {
    background: transparent;
    grid-area: b;
    padding: 0;
    margin: 7px 0 0 0;
    border-top: none;
  }

  .navbar__container .search-form__btn {
    right: 10px;
    top: 10px;
  }

  .navbar__container .social-top {
    margin: 0;
    background: transparent;
    border-top: none;
    grid-area: d;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }

  .navbar__container .social-top a {
    margin: 0 0 0 20px;
  }

  .navbar.mostrar {
    -webkit-transform: none;
            transform: none;
  }
}

.main-footer {
  background: #313133;
  padding: 10px 0;
}

.main-footer figure {
  margin: 10px auto;
  width: 160px;
}

.main-footer figure img {
  width: 100%;
}

.main-footer .footer-redes {
  background: #313133;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-footer .footer-redes a {
  margin: 10px;
}

.main-footer .nav-footer {
  background: #313133;
}

.main-footer .nav-footer ul {
  list-style: none;
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #171717;
}

.main-footer .nav-footer ul li {
  padding: 5px 10px;
}

.main-footer .nav-footer ul li a {
  color: white;
}

.main-footer .disclaimer {
  background: #171717;
  padding: 10px;
  color: white;
  text-align: center;
  font-size: .9rem;
}

.main-footer .disclaimer a {
  color: #eee;
}

/* publicidad */

.ads-title {
  text-align: center;
  padding: 2px 0;
  margin: 0;
  color: #666;
}

.ads-container {
  margin: 0.5em 0 1em 0;
}

.ads-space {
  background: repeating-linear-gradient(-45deg, #e3ebf3, #e3ebf3 5px, white, white 7px) !important;
  border: 0 !important;
}

.ads-space p {
  margin: 0;
}

.news {
  margin: 0 0 10px 0;
  width: 100%;
  position: relative;
  background: white;
}

.news figure {
  width: 100%;
  position: relative;
}

.news__media {
  width: 100%;
}

.news__meta {
  position: relative;
  padding: 10px 0;
}

.news__hat {
  color: #ed1b24;
  font-size: .95rem;
  font-weight: 700;
  border-radius: 3px;
}

.news__title {
  font-size: 1.3rem;
  line-height: 1.23em;
  margin-top: .5rem;
}

.news__headline {
  font-size: .9rem;
  margin-top: .5rem;
  display: none;
}

.news__autor {
  font-size: .8rem;
  text-transform: uppercase;
  margin-top: .5rem;
  color: #ed1b24;
}

.news__autor:before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #313133;
  float: left;
  margin: 5px 5px 0 0;
}

.news--figure-rounded figure {
  border-radius: 6px;
  overflow: hidden;
}

.news--centered .news__meta {
  text-align: center;
}

.news--centered .news__hat {
  margin-right: auto;
  margin-left: auto;
}

.news--text-over .news__meta {
  margin-top: -1.5rem;
  z-index: 1;
}

.news--border-bottom {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.news--hat-inverted .news__hat {
  display: inline-block;
  text-transform: uppercase;
  background: #ed1b24;
  color: white;
  padding: 3px 8px;
  letter-spacing: .08em;
}

.news--card-rounded {
  border: 1px solid #eee;
  border-radius: 6px;
  overflow: hidden;
}

.news--card-rounded .news__meta {
  padding: 10px;
}

.news--shadow-bottom:after,
.news--shadow-bottom:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  background: white;
  -webkit-box-shadow: 0 11px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 11px 15px 0 rgba(0, 0, 0, 0.15);
  width: 70%;
  height: 50px;
  bottom: 17px;
}

.news--shadow-bottom:before {
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  left: 10px;
}

.news--shadow-bottom:after {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  right: 10px;
}

.news:hover .news__media > figure > picture > img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.galeria-video {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #424242ad;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.galeria-video .hasvideo {
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
}

@media (max-width: 1019.98px) {
  .news--full-width .news__media {
    margin-left: -1rem;
    margin-right: -1rem;
    width: calc(100% + 2rem);
  }

  .news--full-width figure {
    border-radius: 0;
  }
}

.destacada {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

@media (min-width: 1020px) {
  .destacada {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.especial {
  background: #171717;
  margin: 2rem -1rem;
  width: calc(100% + 2rem);
}

.bloque {
  margin-bottom: 20px;
}

.bloque .articulo a figure {
  padding-bottom: 56.2%;
  height: 0;
  overflow: hidden;
}

.bloque .articulo a figure .galeria-video {
  right: 25px;
  top: 25px;
}

.bloque .articulo a figure > picture img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.bloque .articulo a .meta-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10px;
}

.bloque .articulo a .meta-content .hat {
  background: none;
  color: #ed1b24;
  letter-spacing: normal;
  font-weight: 900;
  padding: 0.5em 8px 5px;
  margin: 0px;
}

.bloque .articulo a .meta-content h2 {
  text-align: left;
  padding: 0px 10px 0.5em;
}

.bloque .articulo a .meta-content .firma-home {
  padding: 0px 10px 0.5em;
}

.bloque .articulo.nota-0 a .meta-content h2,
.bloque .articulo.nota-1 a .meta-content h2,
.bloque .articulo.nota-2 a .meta-content h2,
.bloque .articulo.nota-3 a .meta-content h2,
.bloque .articulo.nota-4 a .meta-content h2 {
  font-size: 1.4rem;
  text-align: left;
  line-height: 1.2;
  padding: 0 10px 0.5em;
}

.bloque .articulo.nota-2 {
  background: #ed1b24;
}

.bloque .articulo.nota-2 a .meta-content {
  padding: 0px;
}

.bloque .articulo.nota-2 a .meta-content .hat {
  background: #313133;
  color: white;
  padding: 10px 20px;
  font-size: 0.8rem;
  display: inline-block;
}

.bloque .articulo.nota-2 a .meta-content h2 {
  color: white;
  text-align: left;
  padding: 0.5em 20px;
}

.bloque .articulo.nota-2 a .meta-content .firma-home {
  color: white;
}

.bloque .bloque-sidebar {
  width: 100%;
  /* 
		.tapa {
			background: $gris-claro;
			padding: 10px;

			figure {
				width: 100%;
				max-width: 300px;
				margin: 0 auto;

				picture.cls-optimized {
					width: 100%;
					height: auto;
					overflow: visible;
					padding: 0;

					img {
						position: static;
						width: 100%;
						height: auto;
					}
				}
			}

			.suscripcion-kiosco {
				display: block;
				width: 100%;
				max-width: 300px;
				padding: 10px 0;
				margin: 0 auto;

				a {
					display: block;
					width: 100%;
					background: $color-brand;
					color: white;
					text-decoration: none;
					text-align: center;
					text-transform: uppercase;
					padding: 10px;
					border-radius: 20px;
				}
			}
		}

		.placa-home {
			width: 100%;
			max-width: 300px;
			margin: 15px auto;
		} */
}

.bloque .masvistas__titulo {
  color: #171717;
  font-family: "Roboto", "Roboto-fallback", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 0px 10px;
  border-left: 5px solid #ed1b24;
  margin-bottom: 10px;
  font-weight: 700;
}

.bloque .masvistas__nota {
  background: white;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

.bloque .masvistas__nota .enlace {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid #eee;
}

.bloque .masvistas__nota .enlace .rankOrder {
  text-align: center;
  font-family: "Roboto", "Roboto-fallback", sans-serif;
  padding: 2px 0;
  font-weight: 500;
  font-size: 2.8rem;
  margin-right: 10px;
}

.bloque .masvistas__nota .enlace__titulo {
  padding: 0 .4em;
  font-family: "Roboto", "Roboto-fallback", sans-serif;
  letter-spacing: -0.02em;
  line-height: 1.1rem;
  width: 85%;
  font-size: 13px;
  margin: 0 1% 2% 4%;
}

.bloque .masvistas__nota .enlace figure {
  width: 88%;
  height: 60px;
}

.bloque .masvistas__nota:hover {
  background: #313133;
}

.bloque .masvistas__nota:hover a {
  color: white;
}

@media (min-width: 768px) {
  .bloque {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .bloque .articulo {
    width: 100%;
    border: 1px solid #eee;
    border-radius: 10px;
  }

  .bloque .articulo.nota-0,
  .bloque .articulo.nota-1,
  .bloque .articulo.nota-2 {
    width: 32%;
    margin: 20px 0;
  }

  .bloque .articulo.nota-0:after,
  .bloque .articulo.nota-1:after,
  .bloque .articulo.nota-2:after {
    content: none;
  }

  .bloque .bloque-sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* .tapa {
				width: 100%;
			}

			.placa-home {
				width: 300px;
			} */
  }
}

@media (min-width: 1020px) {
  .bloque {
    display: grid;
    grid-template-areas: 'a b sidebar' 'c d sidebar' 'e f sidebar';
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .bloque .articulo.nota-0,
  .bloque .articulo.nota-1,
  .bloque .articulo.nota-2,
  .bloque .articulo.nota-3,
  .bloque .articulo.nota-4,
  .bloque .articulo.nota-5 {
    width: 100%;
    margin: 0;
  }

  .bloque .articulo.nota-0:after,
  .bloque .articulo.nota-1:after,
  .bloque .articulo.nota-2:after,
  .bloque .articulo.nota-3:after,
  .bloque .articulo.nota-4:after,
  .bloque .articulo.nota-5:after {
    content: none;
  }

  .bloque .articulo.nota-0 .meta-content,
  .bloque .articulo.nota-1 .meta-content,
  .bloque .articulo.nota-2 .meta-content,
  .bloque .articulo.nota-3 .meta-content,
  .bloque .articulo.nota-4 .meta-content,
  .bloque .articulo.nota-5 .meta-content {
    padding: 0.5em 0px;
  }

  .bloque .articulo.nota-0 figure .galeria-video,
  .bloque .articulo.nota-1 figure .galeria-video,
  .bloque .articulo.nota-2 figure .galeria-video,
  .bloque .articulo.nota-3 figure .galeria-video,
  .bloque .articulo.nota-4 figure .galeria-video,
  .bloque .articulo.nota-5 figure .galeria-video {
    top: 10px;
    right: 10px;
  }

  .bloque .articulo.nota-0 {
    grid-area: a;
  }

  .bloque .articulo.nota-1 {
    grid-area: b;
  }

  .bloque .articulo.nota-2 {
    grid-area: c;
  }

  .bloque .articulo.nota-3 {
    grid-area: e;
  }

  .bloque .articulo.nota-4 {
    grid-area: f;
  }

  .bloque .ad-300x250 {
    grid-area: d;
  }

  .bloque .bloque-sidebar {
    grid-area: sidebar;
    display: block;
  }
}

@media (min-width: 1360px) {
  .bloque {
    grid-template-areas: 'a b c sidebar' 'd e f sidebar';
    grid-template-columns: repeat(4, 1fr);
  }
}

