.masvistas {
  width: 100%;
}

.masvistas__nota .enlace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.masvistas__nota .enlace picture {
  width: 40%;
  height: 0;
  padding-bottom: 24%;
  position: relative;
  overflow: hidden;
}

.masvistas__nota .enlace picture img {
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
}

.masvistas__nota .enlace .rankOrder {
  width: 10%;
}

.masvistas__nota .enlace__titulo {
  width: 50%;
}

.placa-home {
  border: 1px solid #d7dee4;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

.placa-home a img {
  width: 100%;
  max-width: 300px;
}

.masleidas {
  padding-top: 10px;
}

.masleidas h1 {
  width: 100%;
  text-transform: uppercase;
  font-weight: normal;
}

.masleidas .articulo {
  border: 1px solid #d7dee4;
  position: relative;
}

.masleidas .articulo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.masleidas .articulo a .meta-content {
  padding-top: 0;
}

.masleidas .articulo a .meta-content h2 {
  color: #313133;
  font-size: 1.2rem;
}

.masleidas .articulo__ordenleidas {
  position: absolute;
  left: 10px;
  top: 10px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  text-shadow: 0 3px 5px black;
  z-index: 2;
  letter-spacing: -.04em;
  opacity: .7;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

@media (min-width: 768px) {
  .masleidas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .masleidas .articulo {
    width: 48%;
    margin-bottom: 20px;
    -webkit-transition: ease .3s;
    transition: ease .3s;
  }

  .masleidas .articulo .meta-content h2 {
    -webkit-transition: ease .3s;
    transition: ease .3s;
  }

  .masleidas .articulo:hover {
    -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
  }

  .masleidas .articulo:hover .meta-content h2 {
    color: #333;
  }

  .masleidas .articulo:hover .articulo__ordenleidas {
    opacity: 1;
  }
}

@media (min-width: 1360px) {
  .masleidas .articulo {
    width: 32%;
  }
}

.masvistas {
  width: 100%;
  border-bottom: 1px solid #d7dee4;
}

.masvistas__titulo {
  background: #e12111;
  color: white;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  padding: .2em .4em;
  letter-spacing: -0.02em;
  margin: 0 0 .2em 0;
}

.masvistas__titulo a {
  color: white;
}

.masvistas__nota {
  padding: .2em 0;
  border-top: 1px solid #d7dee4;
  background: #e3ebf3;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

.masvistas__nota .enlace .rankOrder {
  background: #e12111;
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: .4em 0;
  font-weight: bold;
  font-size: 2rem;
}

.masvistas__nota .enlace__titulo {
  padding: 0 .4em;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  letter-spacing: -0.02em;
  line-height: 1.1em;
}

.masvistas__nota:hover {
  background: white;
}

@media (min-width: 768px) and (max-width: 1019.98px) {
  .masvistas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .masvistas__titulo {
    width: 100%;
  }

  .masvistas__nota {
    width: 49%;
  }

  .masvistas__nota .enlace__titulo {
    font-size: .9rem;
  }
}

@media (min-width: 1020px) {
  .masvistas__nota .enlace__titulo {
    font-size: .9rem;
  }
}

@media (min-width: 1360px) {
  .masvistas__nota .enlace__titulo {
    font-size: 1rem;
  }
}

