@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Roboto-fallback";
  size-adjust: 100.06%;
  ascent-override: 96%;
  src: local("Arial");
}

.masleidas {
  padding-top: 10px;
}

.masleidas h1 {
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

.masleidas .articulo {
  border: 1px solid #eee;
  position: relative;
}

.masleidas .articulo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.masleidas .articulo a .meta-content {
  padding-top: 0;
}

.masleidas .articulo a .meta-content h2 {
  color: #313133;
  padding: 1rem;
  color: #313133;
  font-size: 1.1rem;
  line-height: 1.3rem;
  font-weight: 500;
}

.masleidas .articulo__ordenleidas {
  position: absolute;
  left: 10px;
  top: 10px;
  color: white;
  font-size: 4rem;
  text-shadow: 0 3px 5px black;
  z-index: 2;
  letter-spacing: -.04em;
  opacity: .7;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

@media (min-width: 768px) {
  .masleidas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .masleidas .articulo {
    width: 48%;
    margin-bottom: 20px;
    -webkit-transition: ease .3s;
    transition: ease .3s;
  }

  .masleidas .articulo .meta-content h2 {
    -webkit-transition: ease .3s;
    transition: ease .3s;
  }

  .masleidas .articulo:hover {
    -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
  }

  .masleidas .articulo:hover .meta-content h2 {
    color: #171717;
  }

  .masleidas .articulo:hover .articulo__ordenleidas {
    opacity: 1;
  }
}

@media (min-width: 1360px) {
  .masleidas .articulo {
    width: 32%;
  }
}

.wf-loaded .masleidas {
  padding-top: 10px;
}

.wf-loaded .masleidas .articulo a .meta-content h2 {
  font-size: 1rem;
  line-height: 1.3rem;
  font-weight: 500;
}

.wf-loaded .masleidas .articulo__ordenleidas {
  position: absolute;
  left: 10px;
  top: 10px;
  color: white;
  font-size: 4rem;
  text-shadow: 0 3px 5px black;
  z-index: 2;
  letter-spacing: -.04em;
  opacity: .7;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

@media (min-width: 1360px) {
  .wf-loaded .masleidas .articulo {
    width: 32%;
  }
}

