.masvistas {
  width: 100%;
}

.masvistas__titulo {
  background: white;
  color: #333;
}

.masvistas__nota .enlace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid #eee;
}

.masvistas__nota .enlace .rankOrder {
  font-size: 1.5rem;
}

.masvistas__nota .enlace picture {
  width: 38%;
  height: 60px;
  position: relative;
  overflow: hidden;
}

.masvistas__nota .enlace picture img {
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.masvistas__nota .enlace .rankOrder {
  width: 10%;
}

.masvistas__nota .enlace__titulo {
  width: 85%;
  margin: 0 1% 2% 4%;
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
}

.placa-home {
  border: 1px solid #eee;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

.placa-home a img {
  width: 100%;
  max-width: 300px;
}

.noticia figure {
  position: relative;
}

.noticia figure .fotogaleria {
  display: block;
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
  background: url("/images/glyph/ampliar-foto.png") no-repeat 0 0;
  background-size: cover;
  opacity: .6;
}

.noticia .main-article .news-body {
  /*  .social-topsharing {
                position: sticky;
                top: 0;
                padding: 10px;
                z-index: 9;
                margin-left: 120px;
                flex-direction: row;
                ul {
                    display: flex;
                    list-style: none;
                    justify-content: space-between;
                    align-items: center;
                    li {
                        margin-left: 15px;
                        &.share {
                            margin-left: auto;
                        }
                        &.mailto {
                            display: none;
                        }
                        a {
                            img {
                                display: block;
                            }
                        }
                    }
                }
                p {
                    display: none;
                }
            } */
}

.noticia .main-article .news-body .autor {
  width: 100%;
  border: 1px solid #eee;
  padding: .25em .5em;
  margin-bottom: 10px;
}

.noticia .main-article .news-body .autor__nota {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.noticia .main-article .news-body .autor__nota__img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 10px 0 0;
  border: 1px solid #eee;
}

.noticia .main-article .news-body .autor__nota__nombre {
  text-transform: uppercase;
  font-size: .9rem;
}

.noticia .main-article .news-body .news-content {
  /*  h2 {
                    line-height: 1.05em;
                    font-size: 1.8rem;
                    margin: 1em .7em;
                } */
  /* >p:first-of-type:first-letter {
                    color: $color-brand;
                    float: left;
                    font-size: 3.2rem;
                    font-weight: bold;
                    line-height: .2;
                    font-family: $font-titulos;
                    margin: 24px 10px 10px 0;
                    transform: translateY(-10px);
                } */
  /*   figure {
                    img {
                        display: block;
                        height: auto;
                    }
                    figcaption {
                        font-size: .9rem;
                        padding: .2em 1.3em .5em 1.3em;
                        border-bottom: 2px solid $second-color;
                        font-weight: bold;
                        text-transform: uppercase;
                        font-family: $font-titulos;
                        letter-spacing: -0.02em;
                        line-height: 1em;
                        text-align: left;;
                    }
                } */
  /*   .tags {
                    width: 100%;
                    border-top: $borde;
                    padding: 1em;
                    &__titulo {
                        width: 100%;
                        padding: 0;
                        margin: .5em 0;
                        font-family: $font-titulos;
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 1.3rem;
                    }
                    &__listado {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        label {
                            font-size: .9rem;
                            text-transform: uppercase;
                            font-weight: bold;
                            padding: .2em 1em;
                        }
                        li {
                            display: inline-block;
                            margin: .5em 1em;
                            font-size: .8rem;
                            text-transform: uppercase;
                            a {
                                background: $gris-muy-claro;
                                border: $borde;
                                border-radius: 3px;
                                display: block;
                                padding: .2em .6em;
                                color: $negro;
                                &:hover {
                                    background: white;
                                    border: $borde;
                                }
                            }
                        }
                    }

                } */
}

.noticia .main-article .news-body .news-content ol,
.noticia .main-article .news-body .news-content h3,
.noticia .main-article .news-body .news-content h4,
.noticia .main-article .news-body .news-content h5,
.noticia .main-article .news-body .news-content h6 {
  margin: 1em;
  font-size: 1.2rem;
  line-height: 1.6em;
  color: #333;
  letter-spacing: -0.02em;
}

.noticia .main-article .news-body .news-content ol a,
.noticia .main-article .news-body .news-content h3 a,
.noticia .main-article .news-body .news-content h4 a,
.noticia .main-article .news-body .news-content h5 a,
.noticia .main-article .news-body .news-content h6 a {
  color: #e12111;
}

.noticia .main-article .news-body .news-content .galeria-fotos {
  padding: 10px;
  width: 100%;
  margin: 20px 0;
}

.noticia .main-article .news-body .news-content .galeria-fotos__title {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: #e12111;
  text-transform: uppercase;
  margin: 0 0 .2em 0;
}

.noticia .main-article .news-body .news-content .galeria-fotos__fotos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.noticia .main-article .news-body .news-content .galeria-fotos__fotos a {
  width: 32.5%;
  display: block;
  margin: 0 .5% 5px 0;
}

.noticia .main-article .news-body .news-content .galeria-fotos__fotos a img {
  width: 100%;
  display: block;
}

.noticia .main-article .ads {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .noticia .main-article .news-body .social-topsharing ul li.mailto {
    display: block;
  }

  .noticia .main-article .news-body .news-content .galeria-fotos {
    padding: 10px 0;
  }

  .noticia .main-article .news-body .news-content .galeria-fotos__fotos a {
    width: 24%;
    margin: 0 1% 5px 0;
  }
}

@media (min-width: 768px) {
  .noticia .main-article .news-body .social-topsharing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .noticia .main-article .news-body .social-topsharing ul li.share,
  .noticia .main-article .news-body .social-topsharing ul li.whatsapp {
    display: none;
  }

  .noticia .main-article .news-body .social-topsharing p {
    display: inline-block;
    color: #eee;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
  }

  .noticia .main-article .news-body .news-content .galeria-fotos__fotos a {
    width: 16%;
    margin: 0 .66666% 5px 0;
  }
}

@media (min-width: 1020px) {
  .noticia .main-article {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .noticia .main-article .news-body .autor {
    margin-top: 20px;
  }

  .noticia .main-article .news-body .social-topsharing {
    margin: 20px 0 10px 0;
    padding: 10px;
    background: #e3ebf3;
    position: static;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .noticia .main-article .news-body .social-topsharing p {
    color: #313133;
    margin-bottom: 0;
    line-height: 1.6em;
    font-family: "Poppins", sans-serif;
  }

  .noticia .main-article .news-body .news-content p,
  .noticia .main-article .news-body .news-content ul,
  .noticia .main-article .news-body .news-content ol,
  .noticia .main-article .news-body .news-content li,
  .noticia .main-article .news-body .news-content h3,
  .noticia .main-article .news-body .news-content h4,
  .noticia .main-article .news-body .news-content h5,
  .noticia .main-article .news-body .news-content h6 {
    margin: 1em 0;
  }

  .noticia .main-article .news-body .news-content p a,
  .noticia .main-article .news-body .news-content ul a,
  .noticia .main-article .news-body .news-content ol a,
  .noticia .main-article .news-body .news-content li a,
  .noticia .main-article .news-body .news-content h3 a,
  .noticia .main-article .news-body .news-content h4 a,
  .noticia .main-article .news-body .news-content h5 a,
  .noticia .main-article .news-body .news-content h6 a {
    color: #e12111;
    border-bottom: 2px dotted #e12111;
    -webkit-transition: ease .3s;
    transition: ease .3s;
  }

  .noticia .main-article .news-body .news-content p a:hover,
  .noticia .main-article .news-body .news-content ul a:hover,
  .noticia .main-article .news-body .news-content ol a:hover,
  .noticia .main-article .news-body .news-content li a:hover,
  .noticia .main-article .news-body .news-content h3 a:hover,
  .noticia .main-article .news-body .news-content h4 a:hover,
  .noticia .main-article .news-body .news-content h5 a:hover,
  .noticia .main-article .news-body .news-content h6 a:hover {
    color: #e12111;
    border-bottom: 2px solid #e12111;
  }

  .noticia .main-article .news-body .news-content h2 {
    margin: 1.5em 0 1em 0;
  }

  .noticia .main-article .news-body .news-content:before {
    margin: 0 0 20px 0;
    background: #666;
    height: 1px;
    clear: both;
  }

  .noticia .main-article .news-body .news-content figure figcaption {
    padding: .3em 0 .5em 0;
  }
}

@media (min-width: 1295px) {
  .noticia .main-article .news-body .news-content h2 {
    font-size: 2rem;
  }
}

.botones-redes {
  height: 100%;
  width: 100%;
  text-align: center;
}

.botones-redes .boton-redes-sociales {
  top: 12em;
  margin-right: .5em;
  margin-left: auto;
  z-index: 99;
  background: transparent;
  width: 50px;
  min-height: 50px;
  background: white;
  border-radius: 25px;
  -webkit-box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.2);
}

.botones-redes .boton-redes-sociales a {
  line-height: 50px;
}

.botones-redes .boton-redes-sociales div {
  margin: 0 !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  width: 50px;
}

.botones-redes .boton-redes-sociales div a {
  line-height: 50px;
  width: 50px;
  height: 50px;
  background: transparent !important;
}

.botones-redes .boton-redes-sociales div ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.botones-redes .boton-redes-sociales div ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 1.2rem !important;
}

.botones-redes .boton-redes-sociales div ul li a {
  width: 50px;
  height: 50px;
  line-height: 50px;
}

.botones-redes .boton-redes-sociales .btn-primary {
  background-color: transparent !important;
  border: none !important;
}

.botones-redes .boton-redes-sociales .btn-primary a {
  border: none !important;
}

.botones-redes .boton-redes-sociales .btn-primary:active,
.botones-redes .boton-redes-sociales .btn-primary:hover,
.botones-redes .boton-redes-sociales .btn-primary:focus {
  background-color: transparent !important;
  border: none !important;
}

@media (min-width: 768px) {
  .botones-redes {
    display: none;
  }
}

