@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Roboto-fallback";
  size-adjust: 100.06%;
  ascent-override: 96%;
  src: local("Arial");
}

.main-footer {
  background: #313133;
  padding: 1rem 0 0 0;
}

.main-footer__logo {
  margin: 1rem auto;
  width: 160px;
  height: 34px;
  background: #ed1b24;
  border-radius: 2px;
}

.main-footer__logo img {
  width: 100%;
}

.main-footer__redes {
  background: #313133;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-footer__redes a {
  margin: 10px;
}

.main-footer__nav {
  background: #313133;
}

.main-footer__nav ul {
  list-style: none;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #171717;
}

.main-footer__nav ul li {
  padding: 5px 10px;
}

.main-footer__nav ul li a {
  color: white;
}

.main-footer__disclaimer {
  background: #171717;
  padding: 1rem;
  color: white;
  text-align: center;
  font-size: .9rem;
  line-height: 1.5em;
}

.main-footer__disclaimer a {
  color: #eee;
}

.relacionadas__nota {
  width: 100%;
  padding: .3rem 0;
  border-bottom: 1px solid #eee;
}

.relacionadas__nota a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #313133;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.relacionadas__nota a figure {
  border-radius: 6px;
  overflow: hidden;
  width: 40%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.relacionadas__titulo-nota {
  width: 60%;
  padding: 0 .7rem;
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 1.05em;
}

.mas-en-perfil__titulo img {
  margin-bottom: -5px;
}

.mas-en-perfil__nota {
  width: 100%;
  margin: 0 0 20px 0;
  -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
  background: white;
  padding: 10px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 6px;
}

.mas-en-perfil__nota .logo-revista {
  display: block;
  text-indent: -9999px;
  background: url("/images/revistas-b.png") no-repeat 10px 0;
  width: 100%;
  height: 30px;
}

.mas-en-perfil__nota__titulo {
  display: block;
  line-height: 1em;
  padding: 1em;
}

.mas-en-perfil__nota.noticias {
  background: #004e94;
}

.mas-en-perfil__nota.noticias .logo-revista {
  background-position: 10px -50px;
}

.mas-en-perfil__nota.noticias .mas-en-perfil__nota__titulo {
  color: white;
}

.mas-en-perfil__nota.caras {
  background: #ed1b24;
}

.mas-en-perfil__nota.caras .mas-en-perfil__nota__titulo {
  color: white;
}

.mas-en-perfil__nota.exitoina {
  background: #e4d20b;
}

.mas-en-perfil__nota.exitoina .logo-revista {
  background-position: 10px -450px;
}

.mas-en-perfil__nota.perfil .logo-revista {
  background-position: 10px -600px;
}

.mas-en-perfil__nota.marieclaire .logo-revista {
  background-position: 10px -100px;
}

.mas-en-perfil__nota.parabrisas {
  background: #dd0305;
}

.mas-en-perfil__nota.parabrisas .logo-revista {
  background-position: 10px -150px;
}

.mas-en-perfil__nota.parabrisas .mas-en-perfil__nota__titulo {
  color: white;
}

@media (min-width: 576px) {
  .relacionadas {
    padding: 0;
  }

  .relacionadas__noticias {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }

  .relacionadas__nota a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .relacionadas__nota a figure {
    width: 100%;
  }

  .relacionadas__titulo-nota {
    width: 100%;
    padding: .5rem 0;
  }

  .mas-en-perfil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .mas-en-perfil__titulo {
    width: 100%;
  }

  .mas-en-perfil__nota {
    width: 48%;
  }
}

@media (min-width: 768px) {
  .mas-en-perfil__nota {
    width: 23%;
  }

  .mas-en-perfil__nota__titulo {
    font-size: 1rem;
  }
}

@media (min-width: 1020px) {
  .mas-en-perfil__nota {
    width: 48%;
  }

  .mas-en-perfil__nota__titulo {
    font-size: 1.1rem;
  }
}

@media (min-width: 1295px) {
  .mas-en-perfil__nota {
    width: 23%;
  }

  .mas-en-perfil__nota__titulo {
    font-size: 1rem;
  }
}

