@font-face {
  font-family: "Roboto-fallback";
  size-adjust: 100.06%;
  ascent-override: 96%;
  src: local("Arial");
}

@font-face {
  font-family: "Roboto Condensed-fallback";
  size-adjust: 88.94%;
  ascent-override: 110%;
  src: local("Arial");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: ease .3s;
  transition: ease .3s;
  font-family: "Roboto", "Roboto-fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  font-family: "Roboto", "Roboto-fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: normal;
  color: #171717;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #171717;
}

.container {
  width: 100%;
  padding: 0 1rem;
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col-fixed,
.col-fixed-news {
  width: 100%;
}

.col-fluid {
  width: 100%;
}

.seccion {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.max-width {
  width: 100%;
  margin: 0 auto;
}

.image-responsive {
  width: 100%;
  height: auto;
}

a {
  color: #171717;
  text-decoration: none;
}

.iframe-container iframe {
  pointer-events: none;
}

.iframe-container iframe.clicked {
  pointer-events: auto;
}

figure picture.cls-optimized {
  padding-top: 56.25%;
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
}

figure picture.cls-optimized img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

figure img {
  width: 100%;
}

.embed-responsive-16by9 {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
}

.embed-responsive-16by9 iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bg-negro {
  background: #171717;
  color: white;
}

@media (min-width: 768px) {
  .col-fixed {
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
  }

  .col-fluid {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }

  .sticky {
    position: sticky;
    top: 65px;
  }
}

@media (min-width: 1020px) {
  .main {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .col-fixed-news {
    -ms-flex-preferred-size: 360px;
        flex-basis: 360px;
  }
}

@media (min-width: 1360px) {
  .max-width {
    max-width: 1300px;
  }

  .sticky {
    top: 125px;
  }
}

@-webkit-keyframes animateright {
  from {
    right: -300px;
    opacity: 0;
  }

  to {
    right: 0;
    opacity: 1;
  }
}

@keyframes animateright {
  from {
    right: -300px;
    opacity: 0;
  }

  to {
    right: 0;
    opacity: 1;
  }
}

.d-xs-none {
  display: none !important;
}

.d-xs-inline {
  display: inline !important;
}

.d-xs-inline-block {
  display: inline-block !important;
}

.d-xs-block {
  display: block !important;
}

.d-xs-grid {
  display: grid !important;
}

.d-xs-table {
  display: table !important;
}

.d-xs-table-cell {
  display: table-cell !important;
}

.d-xs-table-row {
  display: table-row !important;
}

.d-xs-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.d-xs-inline-flex {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

@media (min-width: 576px) {
  .d-sm-none {
    display: none !important;
  }
}

@media (min-width: 576px) {
  .d-sm-inline {
    display: inline !important;
  }
}

@media (min-width: 576px) {
  .d-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 576px) {
  .d-sm-block {
    display: block !important;
  }
}

@media (min-width: 576px) {
  .d-sm-grid {
    display: grid !important;
  }
}

@media (min-width: 576px) {
  .d-sm-table {
    display: table !important;
  }
}

@media (min-width: 576px) {
  .d-sm-table-cell {
    display: table-cell !important;
  }
}

@media (min-width: 576px) {
  .d-sm-table-row {
    display: table-row !important;
  }
}

@media (min-width: 576px) {
  .d-sm-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (min-width: 576px) {
  .d-sm-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .d-md-inline {
    display: inline !important;
  }
}

@media (min-width: 768px) {
  .d-md-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 768px) {
  .d-md-block {
    display: block !important;
  }
}

@media (min-width: 768px) {
  .d-md-grid {
    display: grid !important;
  }
}

@media (min-width: 768px) {
  .d-md-table {
    display: table !important;
  }
}

@media (min-width: 768px) {
  .d-md-table-cell {
    display: table-cell !important;
  }
}

@media (min-width: 768px) {
  .d-md-table-row {
    display: table-row !important;
  }
}

@media (min-width: 768px) {
  .d-md-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (min-width: 768px) {
  .d-md-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-none {
    display: none !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-inline {
    display: inline !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-block {
    display: block !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-grid {
    display: grid !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-table {
    display: table !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-table-cell {
    display: table-cell !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-table-row {
    display: table-row !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-none {
    display: none !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-inline {
    display: inline !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-block {
    display: block !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-grid {
    display: grid !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-table {
    display: table !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-table-cell {
    display: table-cell !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-table-row {
    display: table-row !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-none {
    display: none !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-inline {
    display: inline !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-block {
    display: block !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-grid {
    display: grid !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-table {
    display: table !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-table-cell {
    display: table-cell !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-table-row {
    display: table-row !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-none {
    display: none !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-inline {
    display: inline !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-block {
    display: block !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-grid {
    display: grid !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-table {
    display: table !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-table-cell {
    display: table-cell !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-table-row {
    display: table-row !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

.header {
  background: #ed1b24;
  position: sticky;
  top: 0;
  z-index: 9;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
}

.header__nav-toggler {
  width: 28px;
  height: 28px;
  overflow: hidden;
  margin: 0 10px 0 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.header__nav-toggler span[class*="bar-"] {
  width: 25px;
  height: 2px;
  display: block;
  background: white;
  margin: 5px 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

.header__nav-toggler.open .bar-1 {
  -webkit-transform: rotate(-45deg) translate(-2px, 4px);
          transform: rotate(-45deg) translate(-2px, 4px);
}

.header__nav-toggler.open .bar-3 {
  -webkit-transform: rotate(45deg) translate(0, -4px);
          transform: rotate(45deg) translate(0, -4px);
}

.header__nav-toggler.open .bar-2 {
  display: none;
}

.header__logo {
  width: 200px;
  height: auto;
}

.header__logo a img {
  width: 100%;
  height: auto;
  display: block;
}

.header > .max-width {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  background: transparent;
  position: absolute;
  top: 53px;
  z-index: 9;
  width: 100%;
  right: 100%;
  overflow-y: auto;
  height: calc(100vh - 60px);
  max-width: 540px;
}

.navbar ul.nav {
  background: #313133;
  -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3);
  list-style: none;
  padding: 3px 0 0 0;
}

.navbar ul.nav li {
  position: relative;
  display: block;
  text-transform: uppercase;
  border-bottom: 0.3px solid #666;
}

.navbar ul.nav li:last-of-type {
  border-bottom: 0.3px solid #666;
}

.navbar ul.nav li:first-of-type {
  font-weight: bold;
  color: #313133;
}

.navbar ul.nav li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
}

.navbar ul.nav li ul {
  background: #ed1b24;
}

.navbar ul.nav li ul li:before {
  padding-left: 12px;
  content: ">";
  float: left;
  display: block;
  margin: 4px 5px 0 0;
  width: 10px;
  font-weight: bold;
}

.navbar ul.nav li ul li:first-of-type {
  font-weight: normal;
}

.navbar ul.nav.topics {
  background: #eee;
  padding: 10px;
}

.navbar ul.nav.topics li {
  margin: 5px 0;
  background: #313133;
}

.navbar .search-form {
  background: #eee;
  padding: 10px;
  width: 100%;
  position: relative;
}

.navbar .search-form__btn {
  margin: 0 0 0 10px;
  border: none;
  cursor: pointer;
  background: transparent;
  position: absolute;
  right: 20px;
  top: 20px;
}

.navbar .search-form__input {
  width: 100%;
  height: 35px;
  border: 1px solid #eee;
  border-radius: 3px;
  background: white;
  padding: 5px;
}

.navbar .social-top {
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #eee;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .social-top a {
  display: block;
  width: 30px;
  margin-left: 15px;
}

.navbar .social-top__label {
  margin: 0 auto 0 0;
  font-size: .9rem;
}

.navbar.mostrar {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

@media (min-width: 576px) {
  .pre-header > .d-md-flex {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3px 0;
  }

  .pre-header > .d-md-flex .time-top {
    font-size: .8rem;
    text-transform: uppercase;
  }

  .pre-header > .d-md-flex .perfil-logo {
    height: 20px;
    width: 90px;
  }

  .navbar {
    width: 360px;
    max-width: 100%;
  }
}

@media (min-width: 1360px) {
  .header {
    margin-bottom: 50px;
    height: 65px;
    -webkit-box-shadow: -6px 11px 22px -13px rgba(0, 0, 0, 0.6), 0 50px 0 0 #eee, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
            box-shadow: -6px 11px 22px -13px rgba(0, 0, 0, 0.6), 0 50px 0 0 #eee, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  }

  .header__nav-toggler {
    display: none;
  }

  .header__logo {
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 230px;
    -ms-flex-preferred-size: 230px;
        flex-basis: 230px;
    margin-right: 10px;
  }

  .navbar {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    position: static;
    height: auto;
    overflow: visible;
    width: 100%;
  }

  .navbar__container {
    background: transparent;
    display: grid;
    -webkit-box-shadow: none;
            box-shadow: none;
    grid-template-areas: 'a b' 'c d';
    grid-template-columns: auto 280px;
    row-gap: 5px;
    grid-row-gap: 5px;
  }

  .navbar__container ul.nav {
    background: transparent;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .navbar__container ul.nav li {
    border-bottom: none;
    width: auto;
    display: inline-block;
    font-size: 0.95em;
    letter-spacing: 0.01em;
  }

  .navbar__container ul.nav li ul {
    display: none;
  }

  .navbar__container ul.nav li ul li {
    width: 100%;
    background: #313133;
  }

  .navbar__container ul.nav li ul li a {
    color: white;
    padding: 10px;
    border-bottom: 0.5px solid #666;
  }

  .navbar__container ul.nav li ul li:first-of-type {
    border-top: none;
  }

  .navbar__container ul.nav li ul li:before {
    content: none;
  }

  .navbar__container ul.nav li.has-children {
    position: relative;
  }

  .navbar__container ul.nav li.has-children:hover > ul {
    display: block;
    border-top: none;
    position: absolute;
    top: 32px;
    left: -2px;
    padding-top: 10px;
    -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
    background: transparent;
    z-index: 1;
    width: 200px;
  }

  .navbar__container ul.nav li.has-children:hover > ul li:hover {
    background: #ed1b24;
  }

  .navbar__container ul.nav li.has-children:after {
    content: none;
  }

  .navbar__container ul.nav li:last-of-type {
    border-bottom: none;
  }

  .navbar__container ul.nav.main-menu {
    grid-area: a;
    padding-top: 18px;
  }

  .navbar__container ul.nav.main-menu > li a {
    padding: 10px;
    border-radius: 6px;
  }

  .navbar__container ul.nav.main-menu > li a:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .navbar__container ul.nav.topics {
    width: 120%;
    padding: 0;
    background: transparent;
    grid-area: c;
    -webkit-transform: translateX(-240px);
            transform: translateX(-240px);
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .navbar__container ul.nav.topics li {
    margin: 0;
    background: transparent;
  }

  .navbar__container ul.nav.topics li:first-of-type {
    display: inline-block;
  }

  .navbar__container ul.nav.topics li a {
    font-family: "Roboto Condensed", "Roboto Condensed-fallback", sans-serif;
    color: #313133;
    padding: 17px 0.6rem 0;
    font-size: .8rem;
    white-space: nowrap;
  }

  .navbar__container ul.nav.topics::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .navbar__container ul.nav.topics::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0);
  }

  .navbar__container ul.nav.topics::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0);
  }

  .navbar__container ul.nav.topics::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0);
  }

  .navbar__container ul.nav.topics:hover::-webkit-scrollbar-thumb {
    background-color: #535353;
  }

  .navbar__container ul.nav.topics:hover::-webkit-scrollbar-thumb:hover {
    background-color: #353535;
  }

  .navbar__container ul.nav.topics:hover::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.13);
  }

  .navbar__container .search-form {
    background: transparent;
    grid-area: b;
    padding: 0;
    margin: 7px 0 0 0;
    border-top: none;
  }

  .navbar__container .search-form__btn {
    right: 10px;
    top: 10px;
  }

  .navbar__container .social-top {
    margin: 0;
    background: transparent;
    border-top: none;
    grid-area: d;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }

  .navbar__container .social-top a {
    margin: 0 0 0 20px;
  }

  .navbar.mostrar {
    -webkit-transform: none;
            transform: none;
  }
}

.main-footer {
  background: #313133;
  padding: 10px 0;
}

.main-footer figure {
  margin: 10px auto;
  width: 160px;
  height: 34px;
  background: #ed1b24;
  border-radius: 2px;
}

.main-footer figure img {
  width: 100%;
}

.main-footer .footer-redes {
  background: #313133;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-footer .footer-redes a {
  margin: 10px;
}

.main-footer .nav-footer {
  background: #313133;
}

.main-footer .nav-footer ul {
  list-style: none;
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #171717;
}

.main-footer .nav-footer ul li {
  padding: 5px 10px;
}

.main-footer .nav-footer ul li a {
  color: white;
}

.main-footer .disclaimer {
  background: #171717;
  padding: 10px;
  color: white;
  text-align: center;
  font-size: .9rem;
}

.main-footer .disclaimer a {
  color: #eee;
}

/* publicidad */

.ads-title {
  text-align: center;
  padding: 2px 0;
  margin: 0;
  color: #666;
}

.ads-container {
  margin: 0.5em 0 1em 0;
}

.ads-space {
  background: repeating-linear-gradient(-45deg, #e3ebf3, #e3ebf3 5px, white, white 7px) !important;
  border: 0 !important;
}

.ads-space p {
  margin: 0;
}

.masvistas__titulo {
  font-size: 1.2rem;
  text-transform: uppercase;
  padding-left: 15px;
  border-left: 4px solid #313133;
  margin-bottom: 10px;
  font-weight: 700;
}

.masvistas__nota {
  background: white;
}

.masvistas__nota__titulo {
  font-family: "Roboto Condensed", "Roboto Condensed-fallback", sans-serif;
  font-weight: bold;
  line-height: 1.1em;
  font-size: 0.95em;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.masvistas__nota:hover a {
  color: #ed1b24;
}

.masvistas__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .8rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px 0px;
  border-bottom: 1px solid #eee;
  margin-bottom: 0px;
}

.masvistas__link picture {
  border-radius: 6px;
  overflow: hidden;
}

.masvistas__link picture img {
  display: block;
}

.masvistas__ranking {
  text-align: center;
  padding: 2px 0;
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 1;
}

.news {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding: 0 0 1rem 0;
}

.news__hat {
  display: inline-block;
  text-transform: uppercase;
  margin: 1rem auto 0 0;
  font-size: .95rem;
  line-height: 1;
  color: #ed1b24;
  border-bottom: 1px solid #666;
}

.news__hat a {
  font-weight: bold;
  color: #313133;
}

.news__title {
  font-family: "Roboto Condensed", "Roboto Condensed-fallback", sans-serif;
  padding: .5rem 0 0 0;
  font-size: 2rem;
  line-height: 1.15em;
  letter-spacing: -0.05rem;
}

.news__headline {
  font-size: 1.25rem;
  margin: 1rem 0 0 0;
  line-height: 1.3em;
  font-weight: 400;
}

.news__headline .open-gallery {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: #ed1b24;
}

.news__headline .open-gallery img {
  margin: 0 5px;
  font-size: 1px;
}

.news__sharing {
  width: 100%;
  padding: .5rem 0;
}

.news__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  height: auto;
  padding: 0;
  margin: 0 -1rem;
  width: calc(100% + 2rem);
}

.news__media picture img {
  display: block;
}

.news__media .figure-caption {
  font-size: .69em;
  padding: 5px 1rem;
  border-bottom: 1px solid #ed1b24;
  text-transform: uppercase;
  color: #313133;
  line-height: 1.3em;
  font-weight: bold;
}

.news__media .figure-caption .credito-foto {
  font-weight: normal;
}

.news__date {
  color: #666;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.news__autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.news__autor .autor-nota__img {
  -ms-flex-preferred-size: 60px;
      flex-basis: 60px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.news__autor .autor-nota__img img {
  width: 100%;
  display: block;
}

.news__autor .autor-nota__data {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.news__autor .autor-nota__nombre {
  font-weight: bold;
  font-size: .9rem;
}

.news__autor .autor-nota__about {
  font-size: .9rem;
  font-weight: normal;
  padding-top: .5px;
}

.news__main-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  border-top: 1px solid #e3ebf3;
}

.news__main-article .relacionadas {
  width: 100%;
  padding: 0 .5em;
}

.news__main-article .relacionadas__titulo {
  font-weight: bold;
  font-size: 1.15em;
  text-transform: uppercase;
  margin: 0 0 .5em 0;
  padding: 0 0 .1em 0;
  color: #ed1b24;
  border-bottom: 1px solid #ed1b24;
  line-height: 1.2em;
  letter-spacing: -0.02em;
}

.news__main-article .relacionadas__nota .relacionada-titulo-nota {
  font-size: 0.77em;
}

.news__main-article .mas-en-perfil__nota__titulo {
  font-size: 1.2em;
  letter-spacing: 0.03em;
}

.news__main-article .galeria-fotos {
  padding: 10px;
  width: 100%;
  margin: 20px 0;
}

.news__main-article .galeria-fotos__title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ed1b24;
  text-transform: uppercase;
  margin: 0 0 .2em 0;
}

.news__main-article .galeria-fotos__fotos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news__main-article .galeria-fotos__fotos a {
  width: 32.5%;
  display: block;
  margin: 0 .5% 5px 0;
}

.news__main-article .galeria-fotos__fotos a img {
  width: 100%;
  display: block;
}

.news__content p {
  margin: 1em 0;
  font-size: 1.16rem;
  line-height: 1.5em;
}

.news__content p img {
  margin: 1em 0;
}

.news__content h2 {
  line-height: 1.05em;
  font-size: 1.6em;
  margin: 1em;
}

.news__content figure img {
  display: block;
  height: auto;
}

.news__content figure figcaption {
  font-size: .69em;
  padding: 5px;
  border-bottom: 5px solid #313133;
  font-weight: bold;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #313133;
  line-height: 1.38em;
}

.news__content .tags {
  width: 100%;
  border-top: 1px solid #eee;
  padding: 1em;
}

.news__content .tags__titulo {
  width: 100%;
  padding: 0;
  margin: .5em 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.news__content .tags__listado {
  list-style: none;
  padding: 0;
  margin: 0;
}

.news__content .tags__listado label {
  font-size: .9rem;
  text-transform: uppercase;
  font-weight: bold;
  line-height: normal;
}

.news__content .tags__listado ul {
  margin: 0px;
}

.news__content .tags__listado li {
  display: inline-block;
  font-size: .8rem;
  text-transform: uppercase;
  line-height: 1.6em;
  font-size: 0.7em;
  line-height: 1.6em;
  color: #333;
  letter-spacing: -0.02em;
  font-weight: bold;
}

.news__content .tags__listado li a {
  background: #ed1b24;
  border-radius: 3px;
  display: block;
  padding: .2em .6em;
  color: white !important;
}

.news__content .tags__listado li a:hover {
  background: #171717;
  border: none;
}

.news__comments-suggested {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

@media (min-width: 576px) {
  .news .articulo-header {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    padding: 0;
  }

  .news .articulo-header h1 {
    font-size: 2.4rem;
  }

  .news figure {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .news .main-article {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

@media (min-width: 768px) {
  .news .articulo-header h1 {
    font-size: 2.6rem;
  }
}

@media (min-width: 1020px) {
  .news .articulo-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .news .articulo-header .hat {
    padding: 0 0.3em 0.3em;
    border-bottom: 1px solid #eee;
    margin-bottom: 1em;
  }

  .news .articulo-header h1 {
    font-size: 3.438rem;
    letter-spacing: -0.058em;
    line-height: 3.813rem;
    margin: 0 0 0.3em 0;
  }

  .news .articulo-header h2 {
    font-size: 1.6em;
    letter-spacing: -0.03em;
    line-height: 1.13em;
  }
}

@media (min-width: 768px) {
  .news__header {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .news__media {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .news__main-article {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1rem;
    padding-top: 2rem;
  }

  .news__sharing {
    -ms-flex-preferred-size: 90px;
        flex-basis: 90px;
  }

  .news__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }
}

@media (min-width: 1020px) {
  .news {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 2rem;
  }

  .news__media {
    width: 100%;
    margin: 0;
  }
}

.relacionadas {
  width: 100%;
}

.relacionadas__noticias {
  width: 100%;
}

.relacionadas__nota {
  width: 100%;
  padding: 0 0 .3em 0;
  margin: 0 0 .3em 0;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.05em;
  border-bottom: 1px solid #eee;
}

.relacionadas__nota a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #313133;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.relacionadas__nota a figure {
  width: 40%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.relacionadas__nota a .relacionada-titulo-nota {
  width: 60%;
  padding: 0.1em .7em;
  font-weight: 600;
  font-size: 0.75em;
}

.mas-en-perfil {
  width: 100%;
  padding: 0 .5em;
}

.mas-en-perfil__titulo {
  font-weight: bold;
  font-size: 1.2em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-transform: uppercase;
  letter-spacing: -0.03em;
}

.mas-en-perfil__titulo img {
  margin-left: 5px;
  margin-bottom: -5px;
}

.mas-en-perfil__nota {
  width: 100%;
  margin: 20px 0;
  -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
  background: white;
  padding: 10px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mas-en-perfil__nota .logo-revista {
  display: block;
  text-indent: -9999px;
  background: url("/images/revistas-b.png") no-repeat 10px 0;
  width: 100%;
  height: 30px;
}

.mas-en-perfil__nota__titulo {
  display: block;
  line-height: 1em;
  padding: 1em;
}

.mas-en-perfil__nota.noticias {
  background: #004e94;
}

.mas-en-perfil__nota.noticias .logo-revista {
  background-position: 10px -50px;
}

.mas-en-perfil__nota.noticias .mas-en-perfil__nota__titulo {
  color: white;
}

.mas-en-perfil__nota.caras {
  background: #ed1b24;
}

.mas-en-perfil__nota.caras .mas-en-perfil__nota__titulo {
  color: white;
}

.mas-en-perfil__nota.exitoina {
  background: #e4d20b;
}

.mas-en-perfil__nota.exitoina .logo-revista {
  background-position: 10px -450px;
}

.mas-en-perfil__nota.perfil .logo-revista {
  background-position: 10px -600px;
}

.mas-en-perfil__nota.marieclaire .logo-revista {
  background-position: 10px -100px;
}

.mas-en-perfil__nota.parabrisas {
  background: #dd0305;
}

.mas-en-perfil__nota.parabrisas .logo-revista {
  background-position: 10px -150px;
}

.mas-en-perfil__nota.parabrisas .mas-en-perfil__nota__titulo {
  color: white;
}

@media (min-width: 576px) {
  .relacionadas {
    padding: 0;
    /*
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        */
  }

  .relacionadas__noticias {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }

  .relacionadas__titulo {
    width: 100%;
  }

  .relacionadas__nota a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .relacionadas__nota a figure {
    width: 100%;
  }

  .relacionadas__nota a .relacionada-titulo-nota {
    width: 100%;
    padding: .5em;
  }

  .mas-en-perfil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .mas-en-perfil__titulo {
    width: 100%;
  }

  .mas-en-perfil__nota {
    width: 48%;
  }
}

@media (min-width: 768px) {
  /*
    .relacionadas {
        &__nota {
            width: 24%;
        }
    }
    */

  .mas-en-perfil__nota {
    width: 24%;
  }

  .mas-en-perfil__nota__titulo {
    font-size: 1rem;
  }
}

@media (min-width: 1020px) {
  .mas-en-perfil__nota {
    width: 48%;
  }

  .mas-en-perfil__nota__titulo {
    font-size: 1.1rem;
  }
}

@media (min-width: 1295px) {
  .mas-en-perfil__nota {
    width: 24%;
  }

  .mas-en-perfil__nota__titulo {
    font-size: 1rem;
  }
}

