@font-face {
  font-family: "Faustina-fallback";
  size-adjust: 103.06%;
  ascent-override: 93%;
  src: local("Times New Roman");
}

@font-face {
  font-family: "Fira-fallback";
  size-adjust: 102.56%;
  ascent-override: 94%;
  src: local("Arial");
}

.main-footer {
  background: #313133;
  padding: 1rem 0 0 0;
}

.main-footer__logo {
  margin: 1rem auto;
  width: 160px;
  height: 34px;
  border-radius: 2px;
}

.main-footer__logo img {
  width: 100%;
}

.main-footer__redes {
  background: #313133;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-footer__redes a {
  margin: 10px;
}

.main-footer__nav {
  background: #313133;
}

.main-footer__nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #171717;
}

.main-footer__nav ul li a {
  display: block;
  color: white;
  white-space: nowrap;
}

.main-footer__fijas {
  padding: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-footer__fijas li a {
  padding: 10px;
}

.main-footer__revistas {
  overflow-x: auto;
}

.main-footer__revistas li a {
  padding: 2rem 1rem;
}

.main-footer__disclaimer {
  background: #171717;
  padding: 1rem;
  color: white;
  text-align: center;
  font-size: .9rem;
  line-height: 1.5em;
}

.main-footer__disclaimer a {
  color: #eee;
}

@media (min-width: 1020px) {
  .main-footer__revistas {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main-footer__revistas::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .main-footer__revistas::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: transparent;
  }

  .main-footer__revistas::-webkit-scrollbar-thumb:hover {
    background-color: transparent;
  }

  .main-footer__revistas::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: transparent;
  }

  .main-footer__revistas:hover::-webkit-scrollbar-thumb {
    background-color: #535353;
  }

  .main-footer__revistas:hover::-webkit-scrollbar-thumb:hover {
    background-color: #353535;
  }

  .main-footer__revistas:hover::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.13);
  }
}

@media (min-width: 1020px) {
  .main-footer__revistas {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.relacionadas__nota {
  width: 100%;
  padding: .3rem 0;
  border-bottom: 1px solid #eee;
}

.relacionadas__nota a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #313133;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.relacionadas__nota a figure {
  border-radius: 6px;
  overflow: hidden;
  width: 40%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.relacionadas__titulo-nota {
  width: 60%;
  padding: 0 .7rem;
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 1.05em;
}

.mas-en-perfil__titulo img {
  margin-bottom: -5px;
}

.mas-en-perfil__nota {
  width: 100%;
  margin: 0 0 20px 0;
  -webkit-box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2);
  background: white;
  padding: 10px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 6px;
}

.mas-en-perfil__nota .logo-revista {
  display: block;
  text-indent: -9999px;
  background: url("/images/revistas-b.png") no-repeat 10px 0;
  width: 100%;
  height: 40px;
}

.mas-en-perfil__nota__titulo {
  display: block;
  line-height: 1em;
  padding: 1em;
}

.mas-en-perfil__nota.noticias {
  background: #004e94;
}

.mas-en-perfil__nota.noticias .logo-revista {
  background-position: 10px -50px;
}

.mas-en-perfil__nota.noticias .mas-en-perfil__nota__titulo {
  color: white;
}

.mas-en-perfil__nota.caras {
  background: #922624;
}

.mas-en-perfil__nota.caras .mas-en-perfil__nota__titulo {
  color: white;
}

.mas-en-perfil__nota.exitoina {
  background: #e4d20b;
}

.mas-en-perfil__nota.exitoina .logo-revista {
  background-position: 10px -450px;
}

.mas-en-perfil__nota.perfil .logo-revista {
  background-position: 10px -600px;
}

.mas-en-perfil__nota.marieclaire .logo-revista {
  background-position: 10px -100px;
}

.mas-en-perfil__nota.parabrisas {
  background: #dd0305;
}

.mas-en-perfil__nota.parabrisas .logo-revista {
  background-position: 10px -150px;
}

.mas-en-perfil__nota.parabrisas .mas-en-perfil__nota__titulo {
  color: white;
}

.mas-en-perfil__nota:hover {
  -webkit-box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.35);
          box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.35);
}

.noticias-crawlers article {
  font-weight: bold;
  font-size: 1rem;
  padding: .5rem 0;
  border-top: 1px solid #eee;
}

.noticias-crawlers article:before {
  content: "";
  display: block;
  float: left;
  border-left: 6px solid #a5a5a5;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  margin-top: 5px;
}

.noticias-crawlers article a {
  padding-left: 15px;
  display: block;
}

.noticias-crawlers article a:hover {
  color: #922624;
}

@media (min-width: 576px) {
  .relacionadas {
    padding: 0;
  }

  .relacionadas__noticias {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }

  .relacionadas__nota a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .relacionadas__nota a figure {
    width: 100%;
  }

  .relacionadas__titulo-nota {
    width: 100%;
    padding: .5rem 0;
  }

  .mas-en-perfil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .mas-en-perfil__titulo {
    width: 100%;
  }

  .mas-en-perfil__nota {
    width: 48%;
  }
}

@media (min-width: 768px) {
  .mas-en-perfil__nota {
    width: 23%;
  }

  .mas-en-perfil__nota__titulo {
    font-size: 1rem;
  }
}

@media (min-width: 1020px) {
  .mas-en-perfil__nota {
    width: 48%;
  }

  .mas-en-perfil__nota__titulo {
    font-size: 1.1rem;
  }
}

@media (min-width: 1295px) {
  .mas-en-perfil__nota {
    width: 23%;
  }

  .mas-en-perfil__nota__titulo {
    font-size: 1rem;
  }
}

