/** PERFIL **/

@media (min-width: 576px) {
  .supercontenedor {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .supercontenedor {
    max-width: 720px;
  }
}

@media (min-width: 1020px) {
  .supercontenedor {
    max-width: 960px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .supercontenedor .sidebar {
    max-width: 300px;
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 0 0 20px;
    padding: 0;
  }

  .supercontenedor .sidebar .content-sidebar {
    width: 300px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    position: -webkit-sticky;
    position: sticky;
    bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .supercontenedor .contenido {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    max-width: 640px;
  }
}

@media (min-width: 1295px) {
  .supercontenedor {
    max-width: 1140px;
  }

  .supercontenedor .sidebar {
    margin: 0 0 0 25px;
  }

  .supercontenedor .contenido {
    max-width: 815px;
  }
}

@media (min-width: 1360px) {
  .supercontenedor {
    max-width: 1300px;
  }

  .supercontenedor .contenido {
    max-width: 970px;
  }
}

.w3-animate-right {
  position: relative;
  -webkit-animation: animateright 0.1s;
          animation: animateright 0.1s;
}

@-webkit-keyframes animateright {
  from {
    right: -300px;
    opacity: 0;
  }

  to {
    right: 0;
    opacity: 1;
  }
}

@keyframes animateright {
  from {
    right: -300px;
    opacity: 0;
  }

  to {
    right: 0;
    opacity: 1;
  }
}

.d-xs-none {
  display: none !important;
}

.d-xs-inline {
  display: inline !important;
}

.d-xs-inline-block {
  display: inline-block !important;
}

.d-xs-block {
  display: block !important;
}

.d-xs-grid {
  display: grid !important;
}

.d-xs-table {
  display: table !important;
}

.d-xs-table-cell {
  display: table-cell !important;
}

.d-xs-table-row {
  display: table-row !important;
}

.d-xs-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.d-xs-inline-flex {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

@media (min-width: 576px) {
  .d-sm-none {
    display: none !important;
  }
}

@media (min-width: 576px) {
  .d-sm-inline {
    display: inline !important;
  }
}

@media (min-width: 576px) {
  .d-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 576px) {
  .d-sm-block {
    display: block !important;
  }
}

@media (min-width: 576px) {
  .d-sm-grid {
    display: grid !important;
  }
}

@media (min-width: 576px) {
  .d-sm-table {
    display: table !important;
  }
}

@media (min-width: 576px) {
  .d-sm-table-cell {
    display: table-cell !important;
  }
}

@media (min-width: 576px) {
  .d-sm-table-row {
    display: table-row !important;
  }
}

@media (min-width: 576px) {
  .d-sm-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (min-width: 576px) {
  .d-sm-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .d-md-inline {
    display: inline !important;
  }
}

@media (min-width: 768px) {
  .d-md-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 768px) {
  .d-md-block {
    display: block !important;
  }
}

@media (min-width: 768px) {
  .d-md-grid {
    display: grid !important;
  }
}

@media (min-width: 768px) {
  .d-md-table {
    display: table !important;
  }
}

@media (min-width: 768px) {
  .d-md-table-cell {
    display: table-cell !important;
  }
}

@media (min-width: 768px) {
  .d-md-table-row {
    display: table-row !important;
  }
}

@media (min-width: 768px) {
  .d-md-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (min-width: 768px) {
  .d-md-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-none {
    display: none !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-inline {
    display: inline !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-block {
    display: block !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-grid {
    display: grid !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-table {
    display: table !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-table-cell {
    display: table-cell !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-table-row {
    display: table-row !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (min-width: 1020px) {
  .d-lg-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-none {
    display: none !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-inline {
    display: inline !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-block {
    display: block !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-grid {
    display: grid !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-table {
    display: table !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-table-cell {
    display: table-cell !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-table-row {
    display: table-row !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (min-width: 1295px) {
  .d-xl-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-none {
    display: none !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-inline {
    display: inline !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-block {
    display: block !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-grid {
    display: grid !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-table {
    display: table !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-table-cell {
    display: table-cell !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-table-row {
    display: table-row !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (min-width: 1360px) {
  .d-xxl-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-none {
    display: none !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-inline {
    display: inline !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-block {
    display: block !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-grid {
    display: grid !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-table {
    display: table !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-table-cell {
    display: table-cell !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-table-row {
    display: table-row !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (min-width: 1690px) {
  .d-xxxl-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 576px) {
  .supercontenedor h1.seccion-titulo {
    font-size: 1.6rem;
    padding: 0 0 5px 0;
  }

  .supercontenedor h1.seccion-titulo.Bloomberg {
    background-position: 0 0;
  }

  .supercontenedor .contenido.canal .autor-pagina,
  .supercontenedor .contenido.autor .autor-pagina {
    margin: 0 0 20px 0;
  }

  .supercontenedor .contenido.canal .cuatro-notas .articulo figure,
  .supercontenedor .contenido.autor .cuatro-notas .articulo figure {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }

  .supercontenedor .contenido.canal .cuatro-notas .articulo .meta-content,
  .supercontenedor .contenido.autor .cuatro-notas .articulo .meta-content {
    -ms-flex-preferred-size: 58%;
        flex-basis: 58%;
    padding: 0;
  }

  .supercontenedor .contenido.canal .cuatro-notas .articulo .meta-content a h2,
  .supercontenedor .contenido.autor .cuatro-notas .articulo .meta-content a h2 {
    font-size: 1.4rem;
  }

  .supercontenedor .contenido.canal .cuatro-notas .articulo .meta-content .firma-home,
  .supercontenedor .contenido.autor .cuatro-notas .articulo .meta-content .firma-home {
    font-size: .76rem;
  }

  .supercontenedor .contenido.canal .cuatro-notas .articulo:first-of-type,
  .supercontenedor .contenido.autor .cuatro-notas .articulo:first-of-type {
    border-top: none;
  }

  .supercontenedor .contenido.canal .cuatro-notas .articulo:first-of-type .meta-content,
  .supercontenedor .contenido.autor .cuatro-notas .articulo:first-of-type .meta-content {
    padding: 0;
  }

  .supercontenedor .contenido.canal .cuatro-notas .articulo:first-of-type .meta-content a h2,
  .supercontenedor .contenido.autor .cuatro-notas .articulo:first-of-type .meta-content a h2 {
    font-size: 1.6rem;
  }
}

@media (min-width: 768px) {
  .supercontenedor .contenido.canal .autor-pagina,
  .supercontenedor .contenido.autor .autor-pagina {
    padding: 15px;
  }

  .supercontenedor .contenido.canal .autor-pagina figure,
  .supercontenedor .contenido.autor .autor-pagina figure {
    -ms-flex-preferred-size: 80px;
        flex-basis: 80px;
    width: 80px;
    height: 80px;
  }

  .supercontenedor .contenido.canal .autor-pagina figure img,
  .supercontenedor .contenido.autor .autor-pagina figure img {
    height: auto;
  }

  .supercontenedor .contenido.canal .cuatro-notas,
  .supercontenedor .contenido.autor .cuatro-notas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .supercontenedor .contenido.canal .cuatro-notas .articulo,
  .supercontenedor .contenido.autor .cuatro-notas .articulo {
    display: block;
    width: 48%;
    border-top: none;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 10px;
  }

  .supercontenedor .contenido.canal .cuatro-notas .articulo .meta-content a h2,
  .supercontenedor .contenido.autor .cuatro-notas .articulo .meta-content a h2 {
    font-size: 1.3rem;
  }

  .supercontenedor .contenido.canal .cuatro-notas .articulo:first-of-type .meta-content a h2,
  .supercontenedor .contenido.autor .cuatro-notas .articulo:first-of-type .meta-content a h2 {
    font-size: 1.3rem;
  }
}

@media (min-width: 1020px) {
  .supercontenedor h1.seccion-titulo.Bloomberg {
    background-position: 0 -78px;
    height: 50px;
  }
}

@media (min-width: 1295px) {
  .supercontenedor .contenido.canal .cuatro-notas:first-of-type,
  .supercontenedor .contenido.canal .cuatro-notas:nth-child(odd),
  .supercontenedor .contenido.autor .cuatro-notas:first-of-type,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(odd) {
    display: grid;
    grid-template-areas: 'topleft topleft topright' 'topleft topleft topright' 'topleft topleft bottomright' 'bottomleft bottomleft bottomright';
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
  }

  .supercontenedor .contenido.canal .cuatro-notas:first-of-type .articulo,
  .supercontenedor .contenido.canal .cuatro-notas:nth-child(odd) .articulo,
  .supercontenedor .contenido.autor .cuatro-notas:first-of-type .articulo,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(odd) .articulo {
    width: 100%;
    display: block;
    -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
    background: white;
    -webkit-transition: ease .4s;
    transition: ease .4s;
    margin: 0 0 20px 0;
  }

  .supercontenedor .contenido.canal .cuatro-notas:first-of-type .articulo:nth-child(1),
  .supercontenedor .contenido.canal .cuatro-notas:nth-child(odd) .articulo:nth-child(1),
  .supercontenedor .contenido.autor .cuatro-notas:first-of-type .articulo:nth-child(1),
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(odd) .articulo:nth-child(1) {
    grid-area: topleft;
    padding-top: 0;
  }

  .supercontenedor .contenido.canal .cuatro-notas:first-of-type .articulo:nth-child(1) .meta-content,
  .supercontenedor .contenido.canal .cuatro-notas:nth-child(odd) .articulo:nth-child(1) .meta-content,
  .supercontenedor .contenido.autor .cuatro-notas:first-of-type .articulo:nth-child(1) .meta-content,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(odd) .articulo:nth-child(1) .meta-content {
    padding: 0 10px;
  }

  .supercontenedor .contenido.canal .cuatro-notas:first-of-type .articulo:nth-child(1) .meta-content a h2,
  .supercontenedor .contenido.canal .cuatro-notas:nth-child(odd) .articulo:nth-child(1) .meta-content a h2,
  .supercontenedor .contenido.autor .cuatro-notas:first-of-type .articulo:nth-child(1) .meta-content a h2,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(odd) .articulo:nth-child(1) .meta-content a h2 {
    font-size: 1.8rem;
    margin: 0 0 10px 0;
  }

  .supercontenedor .contenido.canal .cuatro-notas:first-of-type .articulo:nth-child(1) .meta-content a p.headline,
  .supercontenedor .contenido.canal .cuatro-notas:nth-child(odd) .articulo:nth-child(1) .meta-content a p.headline,
  .supercontenedor .contenido.autor .cuatro-notas:first-of-type .articulo:nth-child(1) .meta-content a p.headline,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(odd) .articulo:nth-child(1) .meta-content a p.headline {
    display: block;
    font-family: "Roboto", Helvetica, Arial, Sans-serif;
    font-size: .9rem;
    font-weight: normal;
    margin: 0 0 10px 0;
  }

  .supercontenedor .contenido.canal .cuatro-notas:first-of-type .articulo:nth-child(2),
  .supercontenedor .contenido.canal .cuatro-notas:nth-child(odd) .articulo:nth-child(2),
  .supercontenedor .contenido.autor .cuatro-notas:first-of-type .articulo:nth-child(2),
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(odd) .articulo:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-area: bottomleft;
    padding: 10px;
    position: relative;
    margin: 0 0 38px 0;
  }

  .supercontenedor .contenido.canal .cuatro-notas:first-of-type .articulo:nth-child(2):after,
  .supercontenedor .contenido.canal .cuatro-notas:nth-child(odd) .articulo:nth-child(2):after,
  .supercontenedor .contenido.autor .cuatro-notas:first-of-type .articulo:nth-child(2):after,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(odd) .articulo:nth-child(2):after {
    content: ' ';
    height: 2px;
    background: #656565;
    display: block;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
  }

  .supercontenedor .contenido.canal .cuatro-notas:first-of-type .articulo:nth-child(3),
  .supercontenedor .contenido.canal .cuatro-notas:nth-child(odd) .articulo:nth-child(3),
  .supercontenedor .contenido.autor .cuatro-notas:first-of-type .articulo:nth-child(3),
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(odd) .articulo:nth-child(3) {
    grid-area: topright;
    padding: 10px;
  }

  .supercontenedor .contenido.canal .cuatro-notas:first-of-type .articulo:nth-child(4),
  .supercontenedor .contenido.canal .cuatro-notas:nth-child(odd) .articulo:nth-child(4),
  .supercontenedor .contenido.autor .cuatro-notas:first-of-type .articulo:nth-child(4),
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(odd) .articulo:nth-child(4) {
    grid-area: bottomright;
    padding: 10px;
  }

  .supercontenedor .contenido.canal .cuatro-notas:first-of-type .articulo:nth-child(4) .meta-content a h2,
  .supercontenedor .contenido.canal .cuatro-notas:nth-child(odd) .articulo:nth-child(4) .meta-content a h2,
  .supercontenedor .contenido.autor .cuatro-notas:first-of-type .articulo:nth-child(4) .meta-content a h2,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(odd) .articulo:nth-child(4) .meta-content a h2 {
    margin-bottom: 10px;
  }

  .supercontenedor .contenido.canal .cuatro-notas:first-of-type .articulo:nth-child(4) .meta-content a p.headline,
  .supercontenedor .contenido.canal .cuatro-notas:nth-child(odd) .articulo:nth-child(4) .meta-content a p.headline,
  .supercontenedor .contenido.autor .cuatro-notas:first-of-type .articulo:nth-child(4) .meta-content a p.headline,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(odd) .articulo:nth-child(4) .meta-content a p.headline {
    display: block;
    font-family: "Roboto", Helvetica, Arial, Sans-serif;
    font-size: .9rem;
    font-weight: normal;
    margin: 0 0 10px 0;
  }

  .supercontenedor .contenido.canal .cuatro-notas:first-of-type .articulo:hover,
  .supercontenedor .contenido.canal .cuatro-notas:nth-child(odd) .articulo:hover,
  .supercontenedor .contenido.autor .cuatro-notas:first-of-type .articulo:hover,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(odd) .articulo:hover {
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
  }

  .supercontenedor .contenido.canal .cuatro-notas:first-of-type .articulo:hover figure a img,
  .supercontenedor .contenido.canal .cuatro-notas:nth-child(odd) .articulo:hover figure a img,
  .supercontenedor .contenido.autor .cuatro-notas:first-of-type .articulo:hover figure a img,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(odd) .articulo:hover figure a img {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
    -webkit-transform: none;
            transform: none;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even),
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .articulo,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .articulo {
    display: block;
    width: 100%;
    -ms-flex-preferred-size: 23.5%;
        flex-basis: 23.5%;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .articulo .meta-content a h2,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .articulo .meta-content a h2 {
    font-size: 1.1rem;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .articulo:hover figure a img,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .articulo:hover figure a img {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
    -webkit-transform: none;
            transform: none;
  }
}

@media (min-width: 1360px) {
  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even),
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) {
    display: grid;
    grid-template-areas: 'tl tl tm tm tr tr' 'bl bl bl br br br';
    grid-column-gap: 20px;
    grid-template-columns: repeat(6, 1fr);
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .d-xs-none,
  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .d-lg-block,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .d-xs-none,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .d-lg-block {
    grid-area: tl;
    width: 100%;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .ads-space,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .ads-space {
    grid-area: tl;
    width: 300px;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .articulo,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .articulo {
    width: 100%;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .articulo .meta-content a h2,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .articulo .meta-content a h2 {
    font-size: 1.3rem;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .articulo:nth-child(3),
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .articulo:nth-child(3) {
    width: 100%;
    padding-top: 0;
    grid-area: tm;
    border-bottom: 1px solid #d4d4d4;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .articulo:nth-child(3) .meta-content a h2,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .articulo:nth-child(3) .meta-content a h2 {
    font-size: 1.4rem;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .articulo:nth-child(4),
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .articulo:nth-child(4) {
    grid-area: tr;
    background: #171717;
    padding: 10px;
    width: 100%;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .articulo:nth-child(4) .meta-content a h2,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .articulo:nth-child(4) .meta-content a h2 {
    color: white;
    font-family: "Oswald", Helvetica, Arial, Sans-serif;
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 1.1em;
    margin-top: 5px;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .articulo:nth-child(4) .meta-content a p,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .articulo:nth-child(4) .meta-content a p {
    color: white;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .articulo:nth-child(4) .meta-content .firma-home,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .articulo:nth-child(4) .meta-content .firma-home {
    color: white;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .articulo:nth-child(4) .meta-content .firma-home a,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .articulo:nth-child(4) .meta-content .firma-home a {
    color: white;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .articulo:nth-child(5),
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .articulo:nth-child(5) {
    grid-area: bl;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .articulo:nth-child(5) .meta-content,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .articulo:nth-child(5) .meta-content {
    padding: 0;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .articulo:nth-child(5) .meta-content .hat,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .articulo:nth-child(5) .meta-content .hat {
    display: none;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .articulo:nth-child(6),
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .articulo:nth-child(6) {
    grid-area: br;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .articulo:nth-child(6) .meta-content,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .articulo:nth-child(6) .meta-content {
    padding: 0;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .articulo:nth-child(6) .meta-content .hat,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .articulo:nth-child(6) .meta-content .hat {
    display: none;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .articulo:nth-child(6):before,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .articulo:nth-child(6):before {
    content: "";
    background: #d4d4d4;
    position: absolute;
    top: 10px;
    bottom: 0;
    left: -10px;
    width: 1px;
  }
}

@media (min-width: 576px) {
  .supercontenedor .contenido.columnistas .box-columnista {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 0;
  }

  .supercontenedor .contenido.columnistas .box-columnista .info-columnista {
    -ms-flex-preferred-size: 120px;
        flex-basis: 120px;
    margin: 0 15px 0 0;
  }

  .supercontenedor .contenido.columnistas .box-columnista .info-columnista a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .supercontenedor .contenido.columnistas .box-columnista .info-columnista a figure {
    margin: 0 0 5px 0;
  }

  .supercontenedor .contenido.columnistas .box-columnista .info-columnista a .nombre-columnista {
    font-size: 1rem;
    text-align: center;
  }

  .supercontenedor .contenido.columnistas .box-columnista .articulo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    border-top: none;
    padding-top: 0;
  }

  .supercontenedor .contenido.columnistas .box-columnista .articulo a .hat {
    font-size: .9rem;
  }

  .supercontenedor .contenido.columnistas .box-columnista .articulo a h2 {
    font-size: 1.6rem;
  }

  .supercontenedor .contenido.columnistas .box-columnista .articulo a p.headline {
    font-size: .9rem;
  }

  .supercontenedor .contenido.columnistas .box-columnista .articulo a .fechayhora {
    font-size: .8rem;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista {
    display: grid;
    grid-template-areas: 'autor notauno' 'autor notados';
    grid-template-columns: 120px auto;
    grid-column-gap: 10px;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista .info-columnista {
    grid-area: autor;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista .articulo:first-of-type {
    grid-area: notauno;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista .articulo:last-of-type {
    border-top: 1px solid #d4d4d4;
    padding-top: 10px;
    grid-area: notados;
  }
}

@media (min-width: 768px) {
  .supercontenedor .contenido.columnistas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .supercontenedor .contenido.columnistas .box-columnista {
    width: 48%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-bottom: 10px;
  }

  .supercontenedor .contenido.columnistas .box-columnista .info-columnista {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    margin-top: auto;
    border-top: 1px solid #d4d4d4;
    padding-top: 10px;
    margin-top: 10px;
  }

  .supercontenedor .contenido.columnistas .box-columnista .info-columnista a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .supercontenedor .contenido.columnistas .box-columnista .info-columnista a figure {
    margin: 0 10px 0 0;
  }

  .supercontenedor .contenido.columnistas .box-columnista .info-columnista a .nombre-columnista {
    text-align: left;
  }

  .supercontenedor .contenido.columnistas .box-columnista .articulo {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista {
    width: 100%;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista .info-columnista {
    padding-top: 0;
    border-top: none;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista .info-columnista a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista .info-columnista a figure {
    margin: 0 0 5px 0;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista .info-columnista a .nombre-columnista {
    text-align: center;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista .articulo:first-of-type a h2 {
    font-size: 2rem;
  }

  .supercontenedor .contenido.columnistas .box-columnista:nth-child(5) {
    background: #171717;
  }

  .supercontenedor .contenido.columnistas .box-columnista:nth-child(5) .articulo a h2,
  .supercontenedor .contenido.columnistas .box-columnista:nth-child(5) .articulo a p.headline,
  .supercontenedor .contenido.columnistas .box-columnista:nth-child(5) .articulo a .fechayhora {
    color: white;
  }

  .supercontenedor .contenido.columnistas .box-columnista:nth-child(5) .articulo a .fechayhora {
    border-top: 1px solid #343a40;
  }

  .supercontenedor .contenido.columnistas .box-columnista:nth-child(5) .info-columnista {
    border-top: 1px solid #343a40;
  }

  .supercontenedor .contenido.columnistas .box-columnista:nth-child(5) .info-columnista a .nombre-columnista {
    color: white;
  }
}

@media (min-width: 1295px) {
  .supercontenedor .contenido.columnistas .box-columnista {
    width: 24%;
  }

  .supercontenedor .contenido.columnistas .box-columnista .articulo a .fechayhora {
    margin-top: 10px;
    border-top: 1px solid #d4d4d4;
    margin-right: auto;
    display: inline-block;
  }

  .supercontenedor .contenido.columnistas .box-columnista:nth-child(2),
  .supercontenedor .contenido.columnistas .box-columnista:nth-child(3) {
    width: 49.4%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .supercontenedor .contenido.columnistas .box-columnista:nth-child(2) .info-columnista,
  .supercontenedor .contenido.columnistas .box-columnista:nth-child(3) .info-columnista {
    padding-top: 0;
    border-top: none;
    -ms-flex-preferred-size: 120px;
        flex-basis: 120px;
    margin: 0 10px 0 0;
  }

  .supercontenedor .contenido.columnistas .box-columnista:nth-child(2) .info-columnista a,
  .supercontenedor .contenido.columnistas .box-columnista:nth-child(3) .info-columnista a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .supercontenedor .contenido.columnistas .box-columnista:nth-child(2) .info-columnista a figure,
  .supercontenedor .contenido.columnistas .box-columnista:nth-child(3) .info-columnista a figure {
    margin: 0 auto 5px auto;
    width: 80px;
    height: 80px;
    -ms-flex-item-align: center;
        align-self: center;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }

  .supercontenedor .contenido.columnistas .box-columnista:nth-child(2) .info-columnista a .nombre-columnista,
  .supercontenedor .contenido.columnistas .box-columnista:nth-child(3) .info-columnista a .nombre-columnista {
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }

  .supercontenedor .contenido.columnistas .box-columnista:nth-child(2) .articulo,
  .supercontenedor .contenido.columnistas .box-columnista:nth-child(3) .articulo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    padding-left: 10px;
    border-left: 1px solid white;
  }

  .supercontenedor .contenido.columnistas .box-columnista:nth-child(2) .articulo a .fechayhora,
  .supercontenedor .contenido.columnistas .box-columnista:nth-child(3) .articulo a .fechayhora {
    border-top: 1px solid white;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista .info-columnista {
    margin: 0 10px 0 0;
    -ms-flex-preferred-size: 120px;
        flex-basis: 120px;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista .info-columnista a figure {
    margin: 0 auto 5px auto;
    width: 80px;
    height: 80px;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista .articulo {
    -webkit-box-pack: strech;
        -ms-flex-pack: strech;
            justify-content: strech;
    padding-left: 10px;
    border-left: 1px solid #d4d4d4;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista .articulo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista .articulo a .hat {
    margin-bottom: 5px;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista .articulo a h2 {
    margin-bottom: 10px;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista .articulo a p.headline {
    margin-bottom: 10px;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista .articulo a .fechayhora {
    margin-top: auto;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista .articulo:first-of-type {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    -ms-flex-preferred-size: 480px;
        flex-basis: 480px;
    margin: 0 20px 0 0;
    -webkit-box-pack: strech;
        -ms-flex-pack: strech;
            justify-content: strech;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista .articulo:last-of-type {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    border-top: none;
    padding-top: 0;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista .articulo:last-of-type a p.headline {
    display: none;
  }
}

@media (min-width: 576px) {
  .supercontenedor .contenido.masleidas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .supercontenedor .contenido.masleidas .articulo {
    display: block;
    padding: 0;
    border-bottom: none;
    width: 48%;
    margin: 0 0 20px 0;
  }

  .supercontenedor .contenido.masleidas .articulo figure {
    width: 100%;
    margin: 0 0 3px 0;
  }

  .supercontenedor .contenido.masleidas .articulo .meta-content {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .supercontenedor .contenido.masleidas .articulo {
    width: 32%;
  }
}

@media (min-width: 1360px) {
  .supercontenedor .contenido.masleidas .articulo figure .masleidas-orden {
    font-size: 3rem;
  }
}

@media (min-width: 576px) {
  .supercontenedor.reperfilar .reperfilar-main-content .articulo:nth-child(1) .meta-content a h2 {
    font-size: 1.6rem;
  }

  .supercontenedor.reperfilar .reperfilar-secciones .reperfilar-seccion {
    padding: 0;
  }

  .supercontenedor.reperfilar .reperfilar-secciones .reperfilar-seccion .seguinos-vermas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .supercontenedor.reperfilar .reperfilar-secciones .reperfilar-seccion .seguinos-vermas .redes {
    display: block;
  }

  .supercontenedor.reperfilar .reperfilar-secciones .reperfilar-seccion .seguinos-vermas .redes ul {
    list-style: none;
    padding: 3px 0 0 0;
    margin: 0;
  }

  .supercontenedor.reperfilar .reperfilar-secciones .reperfilar-seccion .seguinos-vermas .redes ul li {
    float: left;
    margin: 0 0 0 16px;
  }

  .supercontenedor.reperfilar .reperfilar-secciones .reperfilar-seccion .seguinos-vermas .redes ul li a {
    width: 20px;
    height: 20px;
    display: block;
    text-indent: 9999px;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .supercontenedor.reperfilar .reperfilar-secciones .reperfilar-seccion .seguinos-vermas .redes ul li.facebook a {
    background-image: url(/images/facebook.svg?d051fa4c94c6d96d219a7c499d3451bc);
  }

  .supercontenedor.reperfilar .reperfilar-secciones .reperfilar-seccion .seguinos-vermas .redes ul li.instagram a {
    background-image: url(/images/instagram.svg?fc36a1c0cf6e00c4399f3adb405c60a6);
  }

  .supercontenedor.reperfilar .reperfilar-secciones .reperfilar-seccion .seguinos-vermas .redes ul li.twitter a {
    background-image: url(/images/twitter.svg?4e8cd3a95e497865d913b11f514a39cd);
  }

  .supercontenedor.reperfilar .reperfilar-secciones .reperfilar-seccion .seguinos-vermas .redes ul li.youtube a {
    background-image: url(/images/youtube.svg?803e4751bcceb447d1f0cc0f70a058b2);
  }

  .supercontenedor.reperfilar .reperfilar-secciones .reperfilar-seccion .seguinos-vermas .redes ul li.followus {
    text-transform: uppercase;
    color: #171717;
    font-family: "Crimson Pro", "Times New Roman", Times, Georgia, serif;
    font-size: 1rem;
    margin: 2px 0;
  }
}

@media (min-width: 768px) {
  .supercontenedor.reperfilar .reperfilar-main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .supercontenedor.reperfilar .reperfilar-main-content .articulo {
    padding-right: 0;
    padding-left: 0;
    width: 47%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .supercontenedor.reperfilar .reperfilar-main-content .articulo figure {
    width: 100%;
  }

  .supercontenedor.reperfilar .reperfilar-main-content .articulo .meta-content {
    width: 100%;
  }

  .supercontenedor.reperfilar .reperfilar-main-content .articulo .meta-content a h2 {
    font-size: 1.3rem;
    letter-spacing: -0.02em;
  }

  .supercontenedor.reperfilar .reperfilar-main-content .articulo:nth-child(1) {
    width: 100%;
  }

  .supercontenedor.reperfilar .reperfilar-secciones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .supercontenedor.reperfilar .reperfilar-secciones .reperfilar-seccion {
    width: 48%;
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .supercontenedor.reperfilar .reperfilar-secciones .reperfilar-seccion .articulo .meta-content a h2 {
    font-size: 1.2rem;
  }

  .supercontenedor.reperfilar .reperfilar-secciones .reperfilar-seccion .seguinos-vermas {
    margin-top: auto;
  }
}

@media (min-width: 1020px) {
  .supercontenedor.reperfilar .reperfilar-main-content {
    padding: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .supercontenedor.reperfilar .reperfilar-main-content .articulo {
    width: 24%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .supercontenedor.reperfilar .reperfilar-main-content .articulo .meta-content {
    padding-top: 5px;
  }

  .supercontenedor.reperfilar .reperfilar-main-content .articulo .meta-content a h2 {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: -0.02em;
  }

  .supercontenedor.reperfilar .reperfilar-main-content .articulo:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .supercontenedor.reperfilar .reperfilar-main-content .articulo:nth-child(1) .embed-responsive,
  .supercontenedor.reperfilar .reperfilar-main-content .articulo:nth-child(1) .embed-responsive-16by9,
  .supercontenedor.reperfilar .reperfilar-main-content .articulo:nth-child(1) .iframeContainer,
  .supercontenedor.reperfilar .reperfilar-main-content .articulo:nth-child(1) figure {
    -ms-flex-preferred-size: 66%;
        flex-basis: 66%;
  }

  .supercontenedor.reperfilar .reperfilar-main-content .articulo:nth-child(1) .embed-responsive-16by9 {
    padding-bottom: 37%;
  }

  .supercontenedor.reperfilar .reperfilar-main-content .articulo:nth-child(1) .meta-content {
    -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
    padding: 0;
  }

  .supercontenedor.reperfilar .reperfilar-main-content .articulo:nth-child(1) .meta-content a h2 {
    font-size: 1.8rem;
  }

  .supercontenedor.reperfilar .reperfilar-main-content .articulo:nth-child(1) .meta-content a p.headline {
    display: block;
    color: white;
    margin: 10px 0;
  }

  .supercontenedor.reperfilar .reperfilar-main-content .articulo:hover figure img {
    -webkit-filter: none;
            filter: none;
    -webkit-transform: none;
            transform: none;
  }

  .supercontenedor.reperfilar .reperfilar-secciones .reperfilar-seccion .articulo:hover figure a img {
    -webkit-filter: brightness(1.3);
            filter: brightness(1.3);
    -webkit-transform: none;
            transform: none;
  }

  .supercontenedor.reperfilar .reperfilar-secciones .reperfilar-seccion .articulo:hover figure a .galeria-video {
    opacity: 1;
  }
}

@media (min-width: 1295px) {
  .supercontenedor.reperfilar .reperfilar-main-content {
    display: grid;
    grid-template-areas: 'big smallone' 'big smalltwo' 'big smallthree' 'big smallfour';
    grid-template-columns: 7fr 3fr;
    grid-column-gap: 20px;
  }

  .supercontenedor.reperfilar .reperfilar-main-content .articulo {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 5px;
  }

  .supercontenedor.reperfilar .reperfilar-main-content .articulo figure {
    width: 30%;
  }

  .supercontenedor.reperfilar .reperfilar-main-content .articulo .meta-content {
    padding-top: 0;
    padding-right: 0;
    width: 68%;
  }

  .supercontenedor.reperfilar .reperfilar-main-content .articulo .meta-content a h2 {
    font-size: 1.2rem;
  }

  .supercontenedor.reperfilar .reperfilar-main-content .articulo:nth-child(1) {
    grid-area: big;
    background: #343a40;
    padding: 10px;
    margin-bottom: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .supercontenedor.reperfilar .reperfilar-main-content .articulo:nth-child(1) .embed-responsive-16by9 {
    padding-bottom: 42.2%;
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }

  .supercontenedor.reperfilar .reperfilar-main-content .articulo:nth-child(1) figure {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }

  .supercontenedor.reperfilar .reperfilar-main-content .articulo:nth-child(1) .meta-content {
    -ms-flex-preferred-size: 23%;
        flex-basis: 23%;
  }

  .supercontenedor.reperfilar .reperfilar-main-content .articulo:nth-child(1) .meta-content a h2 {
    font-size: 1.6rem;
  }

  .supercontenedor.reperfilar .reperfilar-main-content .articulo:nth-child(1) .meta-content a p.headline {
    display: block;
  }

  .supercontenedor.reperfilar .reperfilar-main-content .articulo:nth-child(1) .meta-content .firma-home {
    border-top: 1px solid #656565;
  }

  .supercontenedor.reperfilar .reperfilar-main-content .articulo:nth-child(2) {
    border-top: none;
    padding-top: 0;
    grid-area: smallone;
  }

  .supercontenedor.reperfilar .reperfilar-main-content .articulo:nth-child(3) {
    grid-area: smalltwo;
  }

  .supercontenedor.reperfilar .reperfilar-main-content .articulo:nth-child(4) {
    grid-area: smallthree;
  }

  .supercontenedor.reperfilar .reperfilar-main-content .articulo:nth-child(5) {
    grid-area: smallfour;
  }

  .supercontenedor.reperfilar .reperfilar-secciones .reperfilar-seccion {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .supercontenedor.reperfilar .reperfilar-secciones .reperfilar-seccion hr {
    display: block;
    width: 100%;
    height: 1px;
    visibility: hidden;
    margin: 0;
  }

  .supercontenedor.reperfilar .reperfilar-secciones .reperfilar-seccion .articulo {
    width: 19%;
    border-top: none;
    padding-top: 0;
    display: block;
  }

  .supercontenedor.reperfilar .reperfilar-secciones .reperfilar-seccion .articulo figure {
    width: 100%;
  }

  .supercontenedor.reperfilar .reperfilar-secciones .reperfilar-seccion .articulo .meta-content {
    width: 100%;
  }

  .supercontenedor.reperfilar .reperfilar-secciones .reperfilar-seccion .articulo:first-of-type {
    border-top: none;
  }
}

/* RESPONSIVE */

@media (min-width: 576px) {
  .header-reperfilar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header-reperfilar:before {
    content: "";
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }

  .header-reperfilar:after {
    content: "";
    background: #4285f4;
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }

  .header-reperfilar .supercontenedor {
    padding: 0;
  }
}

@media (min-width: 1295px) {
  .header-reperfilar .supercontenedor {
    padding: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .header-reperfilar .supercontenedor .reperfilar-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }

  .header-reperfilar .supercontenedor .reperfilar-menu .secciones {
    display: none;
  }

  .header-reperfilar .supercontenedor .reperfilar-menu ul#reperfilar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: auto;
    position: static;
    height: auto;
    margin: 14px 0 0 0;
    overflow: visible;
    width: 100%;
  }

  .header-reperfilar .supercontenedor .reperfilar-menu ul#reperfilar-nav li {
    border-top: none;
    border-radius: 0;
    width: auto;
    margin: 0 0 0 10px;
    padding: 5px 10px 0 10px;
  }

  .header-reperfilar .supercontenedor .reperfilar-menu ul#reperfilar-nav li a {
    position: relative;
    padding: 0;
  }

  .header-reperfilar .supercontenedor .reperfilar-menu ul#reperfilar-nav li a:after {
    content: "";
    display: block;
    height: 3px;
    width: auto;
    background: black;
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -3px;
    -webkit-transition: ease .3s;
    transition: ease .3s;
  }

  .header-reperfilar .supercontenedor .reperfilar-menu ul#reperfilar-nav li a:hover:after {
    left: 0;
    right: 0;
  }

  .header-reperfilar .supercontenedor .reperfilar-menu ul#reperfilar-nav li.seguinos {
    height: 36px;
    padding-right: 20px;
  }

  .header-reperfilar .supercontenedor .reperfilar-menu ul#reperfilar-nav li.seguinos a.seguinos {
    display: block;
    text-align: right;
  }

  .header-reperfilar .supercontenedor .reperfilar-menu ul#reperfilar-nav li.seguinos a.seguinos:after {
    background-color: transparent;
    right: -20px;
    top: 0;
    bottom: auto;
    left: auto;
    width: 20px;
    height: 20px;
    background-image: url(/images/chevrondown.svg?7e9f58f2bc1ad290e5a17c6e211647ef);
    background-size: 12px;
    background-position: right center;
    background-repeat: no-repeat;
    margin-left: 5px;
  }

  .header-reperfilar .supercontenedor .reperfilar-menu ul#reperfilar-nav li.seguinos ul {
    position: absolute;
    top: 50px;
    height: 40px;
    right: 0;
    display: none;
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0 0 3px 3px;
    overflow: hidden;
    -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
    background: white;
    z-index: 9;
  }

  .header-reperfilar .supercontenedor .reperfilar-menu ul#reperfilar-nav li.seguinos ul li {
    -webkit-box-shadow: inset 0 20px 7px -15px #dee0e2;
            box-shadow: inset 0 20px 7px -15px #dee0e2;
    padding: 10px;
    float: left;
    margin: 0;
    width: 40px;
    height: 40px;
  }

  .header-reperfilar .supercontenedor .reperfilar-menu ul#reperfilar-nav li.seguinos ul li a {
    padding: 0;
  }

  .header-reperfilar .supercontenedor .reperfilar-menu ul#reperfilar-nav li.seguinos ul li a:after {
    content: none;
  }

  .header-reperfilar .supercontenedor .reperfilar-menu ul#reperfilar-nav li.seguinos:hover > ul {
    display: block;
  }
}

