/** PERFIL **/

@media (min-width: 576px) {
  .supercontenedor h1.seccion-titulo {
    font-size: 1.6rem;
    padding: 0 0 5px 0;
  }

  .supercontenedor h1.seccion-titulo.Bloomberg {
    background-position: 0 0;
  }

  .supercontenedor .contenido.canal .autor-pagina,
  .supercontenedor .contenido.autor .autor-pagina {
    margin: 0 0 20px 0;
  }

  .supercontenedor .contenido.canal .cuatro-notas .articulo figure,
  .supercontenedor .contenido.autor .cuatro-notas .articulo figure {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }

  .supercontenedor .contenido.canal .cuatro-notas .articulo .meta-content,
  .supercontenedor .contenido.autor .cuatro-notas .articulo .meta-content {
    -ms-flex-preferred-size: 58%;
        flex-basis: 58%;
    padding: 0;
  }

  .supercontenedor .contenido.canal .cuatro-notas .articulo .meta-content a h2,
  .supercontenedor .contenido.autor .cuatro-notas .articulo .meta-content a h2 {
    font-size: 1.4rem;
  }

  .supercontenedor .contenido.canal .cuatro-notas .articulo .meta-content .firma-home,
  .supercontenedor .contenido.autor .cuatro-notas .articulo .meta-content .firma-home {
    font-size: .76rem;
  }

  .supercontenedor .contenido.canal .cuatro-notas .articulo:first-of-type,
  .supercontenedor .contenido.autor .cuatro-notas .articulo:first-of-type {
    border-top: none;
  }

  .supercontenedor .contenido.canal .cuatro-notas .articulo:first-of-type .meta-content,
  .supercontenedor .contenido.autor .cuatro-notas .articulo:first-of-type .meta-content {
    padding: 0;
  }

  .supercontenedor .contenido.canal .cuatro-notas .articulo:first-of-type .meta-content a h2,
  .supercontenedor .contenido.autor .cuatro-notas .articulo:first-of-type .meta-content a h2 {
    font-size: 1.6rem;
  }
}

@media (min-width: 768px) {
  .supercontenedor .contenido.canal .autor-pagina,
  .supercontenedor .contenido.autor .autor-pagina {
    padding: 15px;
  }

  .supercontenedor .contenido.canal .autor-pagina figure,
  .supercontenedor .contenido.autor .autor-pagina figure {
    -ms-flex-preferred-size: 80px;
        flex-basis: 80px;
    width: 80px;
    height: 80px;
  }

  .supercontenedor .contenido.canal .autor-pagina figure img,
  .supercontenedor .contenido.autor .autor-pagina figure img {
    height: auto;
  }

  .supercontenedor .contenido.canal .cuatro-notas,
  .supercontenedor .contenido.autor .cuatro-notas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .supercontenedor .contenido.canal .cuatro-notas .articulo,
  .supercontenedor .contenido.autor .cuatro-notas .articulo {
    display: block;
    width: 48%;
    border-top: none;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 10px;
  }

  .supercontenedor .contenido.canal .cuatro-notas .articulo .meta-content a h2,
  .supercontenedor .contenido.autor .cuatro-notas .articulo .meta-content a h2 {
    font-size: 1.3rem;
  }

  .supercontenedor .contenido.canal .cuatro-notas .articulo:first-of-type .meta-content a h2,
  .supercontenedor .contenido.autor .cuatro-notas .articulo:first-of-type .meta-content a h2 {
    font-size: 1.3rem;
  }
}

@media (min-width: 1020px) {
  .supercontenedor h1.seccion-titulo.Bloomberg {
    background-position: 0 -78px;
    height: 50px;
  }
}

@media (min-width: 1295px) {
  .supercontenedor .contenido.canal .cuatro-notas:first-of-type,
  .supercontenedor .contenido.canal .cuatro-notas:nth-child(odd),
  .supercontenedor .contenido.autor .cuatro-notas:first-of-type,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(odd) {
    display: grid;
    grid-template-areas: 'topleft topleft topright' 'topleft topleft topright' 'topleft topleft bottomright' 'bottomleft bottomleft bottomright';
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
  }

  .supercontenedor .contenido.canal .cuatro-notas:first-of-type .articulo,
  .supercontenedor .contenido.canal .cuatro-notas:nth-child(odd) .articulo,
  .supercontenedor .contenido.autor .cuatro-notas:first-of-type .articulo,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(odd) .articulo {
    width: 100%;
    display: block;
    -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
    background: white;
    -webkit-transition: ease .4s;
    transition: ease .4s;
    margin: 0 0 20px 0;
  }

  .supercontenedor .contenido.canal .cuatro-notas:first-of-type .articulo:nth-child(1),
  .supercontenedor .contenido.canal .cuatro-notas:nth-child(odd) .articulo:nth-child(1),
  .supercontenedor .contenido.autor .cuatro-notas:first-of-type .articulo:nth-child(1),
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(odd) .articulo:nth-child(1) {
    grid-area: topleft;
    padding-top: 0;
  }

  .supercontenedor .contenido.canal .cuatro-notas:first-of-type .articulo:nth-child(1) .meta-content,
  .supercontenedor .contenido.canal .cuatro-notas:nth-child(odd) .articulo:nth-child(1) .meta-content,
  .supercontenedor .contenido.autor .cuatro-notas:first-of-type .articulo:nth-child(1) .meta-content,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(odd) .articulo:nth-child(1) .meta-content {
    padding: 0 10px;
  }

  .supercontenedor .contenido.canal .cuatro-notas:first-of-type .articulo:nth-child(1) .meta-content a h2,
  .supercontenedor .contenido.canal .cuatro-notas:nth-child(odd) .articulo:nth-child(1) .meta-content a h2,
  .supercontenedor .contenido.autor .cuatro-notas:first-of-type .articulo:nth-child(1) .meta-content a h2,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(odd) .articulo:nth-child(1) .meta-content a h2 {
    font-size: 1.8rem;
    margin: 0 0 10px 0;
  }

  .supercontenedor .contenido.canal .cuatro-notas:first-of-type .articulo:nth-child(1) .meta-content a p.headline,
  .supercontenedor .contenido.canal .cuatro-notas:nth-child(odd) .articulo:nth-child(1) .meta-content a p.headline,
  .supercontenedor .contenido.autor .cuatro-notas:first-of-type .articulo:nth-child(1) .meta-content a p.headline,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(odd) .articulo:nth-child(1) .meta-content a p.headline {
    display: block;
    font-family: "Roboto", Helvetica, Arial, Sans-serif;
    font-size: .9rem;
    font-weight: normal;
    margin: 0 0 10px 0;
  }

  .supercontenedor .contenido.canal .cuatro-notas:first-of-type .articulo:nth-child(2),
  .supercontenedor .contenido.canal .cuatro-notas:nth-child(odd) .articulo:nth-child(2),
  .supercontenedor .contenido.autor .cuatro-notas:first-of-type .articulo:nth-child(2),
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(odd) .articulo:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-area: bottomleft;
    padding: 10px;
    position: relative;
    margin: 0 0 38px 0;
  }

  .supercontenedor .contenido.canal .cuatro-notas:first-of-type .articulo:nth-child(2):after,
  .supercontenedor .contenido.canal .cuatro-notas:nth-child(odd) .articulo:nth-child(2):after,
  .supercontenedor .contenido.autor .cuatro-notas:first-of-type .articulo:nth-child(2):after,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(odd) .articulo:nth-child(2):after {
    content: ' ';
    height: 2px;
    background: #656565;
    display: block;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
  }

  .supercontenedor .contenido.canal .cuatro-notas:first-of-type .articulo:nth-child(3),
  .supercontenedor .contenido.canal .cuatro-notas:nth-child(odd) .articulo:nth-child(3),
  .supercontenedor .contenido.autor .cuatro-notas:first-of-type .articulo:nth-child(3),
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(odd) .articulo:nth-child(3) {
    grid-area: topright;
    padding: 10px;
  }

  .supercontenedor .contenido.canal .cuatro-notas:first-of-type .articulo:nth-child(4),
  .supercontenedor .contenido.canal .cuatro-notas:nth-child(odd) .articulo:nth-child(4),
  .supercontenedor .contenido.autor .cuatro-notas:first-of-type .articulo:nth-child(4),
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(odd) .articulo:nth-child(4) {
    grid-area: bottomright;
    padding: 10px;
  }

  .supercontenedor .contenido.canal .cuatro-notas:first-of-type .articulo:nth-child(4) .meta-content a h2,
  .supercontenedor .contenido.canal .cuatro-notas:nth-child(odd) .articulo:nth-child(4) .meta-content a h2,
  .supercontenedor .contenido.autor .cuatro-notas:first-of-type .articulo:nth-child(4) .meta-content a h2,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(odd) .articulo:nth-child(4) .meta-content a h2 {
    margin-bottom: 10px;
  }

  .supercontenedor .contenido.canal .cuatro-notas:first-of-type .articulo:nth-child(4) .meta-content a p.headline,
  .supercontenedor .contenido.canal .cuatro-notas:nth-child(odd) .articulo:nth-child(4) .meta-content a p.headline,
  .supercontenedor .contenido.autor .cuatro-notas:first-of-type .articulo:nth-child(4) .meta-content a p.headline,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(odd) .articulo:nth-child(4) .meta-content a p.headline {
    display: block;
    font-family: "Roboto", Helvetica, Arial, Sans-serif;
    font-size: .9rem;
    font-weight: normal;
    margin: 0 0 10px 0;
  }

  .supercontenedor .contenido.canal .cuatro-notas:first-of-type .articulo:hover,
  .supercontenedor .contenido.canal .cuatro-notas:nth-child(odd) .articulo:hover,
  .supercontenedor .contenido.autor .cuatro-notas:first-of-type .articulo:hover,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(odd) .articulo:hover {
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
  }

  .supercontenedor .contenido.canal .cuatro-notas:first-of-type .articulo:hover figure a img,
  .supercontenedor .contenido.canal .cuatro-notas:nth-child(odd) .articulo:hover figure a img,
  .supercontenedor .contenido.autor .cuatro-notas:first-of-type .articulo:hover figure a img,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(odd) .articulo:hover figure a img {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
    -webkit-transform: none;
            transform: none;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even),
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .articulo,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .articulo {
    display: block;
    width: 100%;
    -ms-flex-preferred-size: 23.5%;
        flex-basis: 23.5%;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .articulo .meta-content a h2,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .articulo .meta-content a h2 {
    font-size: 1.1rem;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .articulo:hover figure a img,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .articulo:hover figure a img {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
    -webkit-transform: none;
            transform: none;
  }
}

@media (min-width: 1360px) {
  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even),
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) {
    display: grid;
    grid-template-areas: 'tl tl tm tm tr tr' 'bl bl bl br br br';
    grid-column-gap: 20px;
    grid-template-columns: repeat(6, 1fr);
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .down-ml.up-xl,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .down-ml.up-xl {
    grid-area: tl;
    width: 100%;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .articulo,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .articulo {
    width: 100%;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .articulo .meta-content a h2,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .articulo .meta-content a h2 {
    font-size: 1.3rem;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .articulo:nth-child(1),
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .articulo:nth-child(1) {
    width: 100%;
    grid-area: tm;
    border-bottom: 1px solid #d4d4d4;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .articulo:nth-child(1) .meta-content a h2,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .articulo:nth-child(1) .meta-content a h2 {
    font-size: 1.4rem;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .articulo:nth-child(2),
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .articulo:nth-child(2) {
    grid-area: tr;
    background: #171717;
    padding: 10px;
    width: 100%;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .articulo:nth-child(2) .meta-content a h2,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .articulo:nth-child(2) .meta-content a h2 {
    color: white;
    font-family: "Oswald", Helvetica, Arial, Sans-serif;
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 1.1em;
    margin-top: 5px;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .articulo:nth-child(2) .meta-content a p,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .articulo:nth-child(2) .meta-content a p {
    color: white;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .articulo:nth-child(2) .meta-content .firma-home,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .articulo:nth-child(2) .meta-content .firma-home {
    color: white;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .articulo:nth-child(2) .meta-content .firma-home a,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .articulo:nth-child(2) .meta-content .firma-home a {
    color: white;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .articulo:nth-child(3),
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .articulo:nth-child(3) {
    grid-area: bl;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .articulo:nth-child(3) .meta-content,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .articulo:nth-child(3) .meta-content {
    padding: 0;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .articulo:nth-child(3) .meta-content .hat,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .articulo:nth-child(3) .meta-content .hat {
    display: none;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .articulo:nth-child(4),
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .articulo:nth-child(4) {
    grid-area: br;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .articulo:nth-child(4) .meta-content,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .articulo:nth-child(4) .meta-content {
    padding: 0;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .articulo:nth-child(4) .meta-content .hat,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .articulo:nth-child(4) .meta-content .hat {
    display: none;
  }

  .supercontenedor .contenido.canal .cuatro-notas:nth-child(even) .articulo:nth-child(4):before,
  .supercontenedor .contenido.autor .cuatro-notas:nth-child(even) .articulo:nth-child(4):before {
    content: "";
    background: #d4d4d4;
    position: absolute;
    top: 10px;
    bottom: 0;
    left: -10px;
    width: 1px;
  }
}

@media (min-width: 576px) {
  .supercontenedor .contenido.columnistas .box-columnista {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 0;
  }

  .supercontenedor .contenido.columnistas .box-columnista .info-columnista {
    -ms-flex-preferred-size: 120px;
        flex-basis: 120px;
    margin: 0 15px 0 0;
  }

  .supercontenedor .contenido.columnistas .box-columnista .info-columnista a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .supercontenedor .contenido.columnistas .box-columnista .info-columnista a figure {
    margin: 0 0 5px 0;
  }

  .supercontenedor .contenido.columnistas .box-columnista .info-columnista a .nombre-columnista {
    font-size: 1rem;
    text-align: center;
  }

  .supercontenedor .contenido.columnistas .box-columnista .articulo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    border-top: none;
    padding-top: 0;
  }

  .supercontenedor .contenido.columnistas .box-columnista .articulo a .hat {
    font-size: .9rem;
  }

  .supercontenedor .contenido.columnistas .box-columnista .articulo a h2 {
    font-size: 1.6rem;
  }

  .supercontenedor .contenido.columnistas .box-columnista .articulo a p.headline {
    font-size: .9rem;
  }

  .supercontenedor .contenido.columnistas .box-columnista .articulo a .fechayhora {
    font-size: .8rem;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista {
    display: grid;
    grid-template-areas: 'autor notauno' 'autor notados';
    grid-template-columns: 120px auto;
    grid-column-gap: 10px;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista .info-columnista {
    grid-area: autor;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista .articulo:first-of-type {
    grid-area: notauno;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista .articulo:last-of-type {
    border-top: 1px solid #d4d4d4;
    padding-top: 10px;
    grid-area: notados;
  }
}

@media (min-width: 768px) {
  .supercontenedor .contenido.columnistas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .supercontenedor .contenido.columnistas .box-columnista {
    width: 48%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-bottom: 10px;
  }

  .supercontenedor .contenido.columnistas .box-columnista .info-columnista {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    margin-top: auto;
    border-top: 1px solid #d4d4d4;
    padding-top: 10px;
    margin-top: 10px;
  }

  .supercontenedor .contenido.columnistas .box-columnista .info-columnista a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .supercontenedor .contenido.columnistas .box-columnista .info-columnista a figure {
    margin: 0 10px 0 0;
  }

  .supercontenedor .contenido.columnistas .box-columnista .info-columnista a .nombre-columnista {
    text-align: left;
  }

  .supercontenedor .contenido.columnistas .box-columnista .articulo {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista {
    width: 100%;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista .info-columnista {
    padding-top: 0;
    border-top: none;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista .info-columnista a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista .info-columnista a figure {
    margin: 0 0 5px 0;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista .info-columnista a .nombre-columnista {
    text-align: center;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista .articulo:first-of-type a h2 {
    font-size: 2rem;
  }

  .supercontenedor .contenido.columnistas .box-columnista:nth-child(5) {
    background: #171717;
  }

  .supercontenedor .contenido.columnistas .box-columnista:nth-child(5) .articulo a h2,
  .supercontenedor .contenido.columnistas .box-columnista:nth-child(5) .articulo a p.headline,
  .supercontenedor .contenido.columnistas .box-columnista:nth-child(5) .articulo a .fechayhora {
    color: white;
  }

  .supercontenedor .contenido.columnistas .box-columnista:nth-child(5) .articulo a .fechayhora {
    border-top: 1px solid #343a40;
  }

  .supercontenedor .contenido.columnistas .box-columnista:nth-child(5) .info-columnista {
    border-top: 1px solid #343a40;
  }

  .supercontenedor .contenido.columnistas .box-columnista:nth-child(5) .info-columnista a .nombre-columnista {
    color: white;
  }
}

@media (min-width: 1295px) {
  .supercontenedor .contenido.columnistas .box-columnista {
    width: 24%;
  }

  .supercontenedor .contenido.columnistas .box-columnista .articulo a .fechayhora {
    margin-top: 10px;
    border-top: 1px solid #d4d4d4;
    margin-right: auto;
    display: inline-block;
  }

  .supercontenedor .contenido.columnistas .box-columnista:nth-child(2),
  .supercontenedor .contenido.columnistas .box-columnista:nth-child(3) {
    width: 49.4%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .supercontenedor .contenido.columnistas .box-columnista:nth-child(2) .info-columnista,
  .supercontenedor .contenido.columnistas .box-columnista:nth-child(3) .info-columnista {
    padding-top: 0;
    border-top: none;
    -ms-flex-preferred-size: 120px;
        flex-basis: 120px;
    margin: 0 10px 0 0;
  }

  .supercontenedor .contenido.columnistas .box-columnista:nth-child(2) .info-columnista a,
  .supercontenedor .contenido.columnistas .box-columnista:nth-child(3) .info-columnista a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .supercontenedor .contenido.columnistas .box-columnista:nth-child(2) .info-columnista a figure,
  .supercontenedor .contenido.columnistas .box-columnista:nth-child(3) .info-columnista a figure {
    margin: 0 auto 5px auto;
    width: 80px;
    height: 80px;
    -ms-flex-item-align: center;
        align-self: center;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }

  .supercontenedor .contenido.columnistas .box-columnista:nth-child(2) .info-columnista a .nombre-columnista,
  .supercontenedor .contenido.columnistas .box-columnista:nth-child(3) .info-columnista a .nombre-columnista {
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }

  .supercontenedor .contenido.columnistas .box-columnista:nth-child(2) .articulo,
  .supercontenedor .contenido.columnistas .box-columnista:nth-child(3) .articulo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    padding-left: 10px;
    border-left: 1px solid white;
  }

  .supercontenedor .contenido.columnistas .box-columnista:nth-child(2) .articulo a .fechayhora,
  .supercontenedor .contenido.columnistas .box-columnista:nth-child(3) .articulo a .fechayhora {
    border-top: 1px solid white;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista .info-columnista {
    margin: 0 10px 0 0;
    -ms-flex-preferred-size: 120px;
        flex-basis: 120px;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista .info-columnista a figure {
    margin: 0 auto 5px auto;
    width: 80px;
    height: 80px;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista .articulo {
    -webkit-box-pack: strech;
        -ms-flex-pack: strech;
            justify-content: strech;
    padding-left: 10px;
    border-left: 1px solid #d4d4d4;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista .articulo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista .articulo a .hat {
    margin-bottom: 5px;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista .articulo a h2 {
    margin-bottom: 10px;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista .articulo a p.headline {
    margin-bottom: 10px;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista .articulo a .fechayhora {
    margin-top: auto;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista .articulo:first-of-type {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    -ms-flex-preferred-size: 480px;
        flex-basis: 480px;
    margin: 0 20px 0 0;
    -webkit-box-pack: strech;
        -ms-flex-pack: strech;
            justify-content: strech;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista .articulo:last-of-type {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    border-top: none;
    padding-top: 0;
  }

  .supercontenedor .contenido.columnistas .box-columnista.main-columnista .articulo:last-of-type a p.headline {
    display: none;
  }
}

@media (min-width: 576px) {
  .supercontenedor.reperfilar .listado-subchannel {
    padding: 0;
  }

  .supercontenedor.reperfilar .listado-subchannel .articulo .meta-content .firma-home {
    font-size: .75rem;
  }

  .supercontenedor.reperfilar .listado-subchannel .articulo .meta-content a h2 {
    font-size: 1.3rem;
  }
}

@media (min-width: 768px) {
  .supercontenedor.reperfilar .listado-subchannel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .supercontenedor.reperfilar .listado-subchannel .articulo {
    display: block;
    width: 32%;
    position: relative;
  }

  .supercontenedor.reperfilar .listado-subchannel .articulo .meta-content {
    width: 100%;
  }

  .supercontenedor.reperfilar .listado-subchannel .articulo .meta-content a h2 {
    font-size: 1.2rem;
  }

  .supercontenedor.reperfilar .listado-subchannel .articulo figure {
    width: 100%;
  }

  .supercontenedor.reperfilar .listado-subchannel .articulo:nth-child(6n+1),
  .supercontenedor.reperfilar .listado-subchannel .articulo:nth-child(6n+2) {
    width: 48.5%;
    padding-bottom: 0;
  }

  .supercontenedor.reperfilar .listado-subchannel .articulo:nth-child(6n+1) .meta-content,
  .supercontenedor.reperfilar .listado-subchannel .articulo:nth-child(6n+2) .meta-content {
    position: absolute;
    bottom: 20px;
    left: 10px;
    right: 10px;
    border-left: 5px solid #fa7268;
    background: white;
    padding: 5px 10px;
    width: auto;
  }
}

@media (min-width: 1020px) {
  .supercontenedor.reperfilar .listado-subchannel .articulo:nth-child(6n+1) .meta-content a h2,
  .supercontenedor.reperfilar .listado-subchannel .articulo:nth-child(6n+2) .meta-content a h2 {
    font-size: 1.3rem;
  }
}

@media (min-width: 1295px) {
  .supercontenedor.reperfilar .listado-subchannel .articulo {
    width: 24%;
    margin-bottom: 0;
    margin-top: 20px;
  }

  .supercontenedor.reperfilar .listado-subchannel .ads-up-xl {
    width: 300px;
    margin-top: 20px;
  }
}

/* RESPONSIVE */

@media (min-width: 576px) {
  .header-reperfilar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header-reperfilar:before {
    content: "";
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }

  .header-reperfilar:after {
    content: "";
    background: #4285f4;
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }
}

@media (min-width: 1295px) {
  .header-reperfilar .supercontenedor {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .header-reperfilar .supercontenedor .reperfilar-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }

  .header-reperfilar .supercontenedor .reperfilar-menu .secciones {
    display: none;
  }

  .header-reperfilar .supercontenedor .reperfilar-menu ul#reperfilar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: auto;
    position: static;
    height: auto;
    margin: 14px 0 0 0;
    overflow: visible;
    width: 100%;
  }

  .header-reperfilar .supercontenedor .reperfilar-menu ul#reperfilar-nav li {
    border-top: none;
    border-radius: 0;
    width: auto;
    margin: 0 0 0 10px;
    padding: 5px 10px 0 10px;
  }

  .header-reperfilar .supercontenedor .reperfilar-menu ul#reperfilar-nav li a {
    position: relative;
    padding: 0;
  }

  .header-reperfilar .supercontenedor .reperfilar-menu ul#reperfilar-nav li a:after {
    content: "";
    display: block;
    height: 3px;
    width: auto;
    background: black;
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -3px;
    -webkit-transition: ease .3s;
    transition: ease .3s;
  }

  .header-reperfilar .supercontenedor .reperfilar-menu ul#reperfilar-nav li a:hover:after {
    left: 0;
    right: 0;
  }

  .header-reperfilar .supercontenedor .reperfilar-menu ul#reperfilar-nav li.seguinos {
    height: 36px;
    padding-right: 20px;
  }

  .header-reperfilar .supercontenedor .reperfilar-menu ul#reperfilar-nav li.seguinos a.seguinos {
    display: block;
    text-align: right;
  }

  .header-reperfilar .supercontenedor .reperfilar-menu ul#reperfilar-nav li.seguinos a.seguinos:after {
    background-color: transparent;
    right: -20px;
    top: 0;
    bottom: auto;
    left: auto;
    width: 20px;
    height: 20px;
    background-image: url(/images/chevrondown.svg?7e9f58f2bc1ad290e5a17c6e211647ef);
    background-size: 12px;
    background-position: right center;
    background-repeat: no-repeat;
    margin-left: 5px;
  }

  .header-reperfilar .supercontenedor .reperfilar-menu ul#reperfilar-nav li.seguinos ul {
    position: absolute;
    top: 50px;
    height: 40px;
    right: 0;
    display: none;
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0 0 3px 3px;
    overflow: hidden;
    -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
    background: white;
    z-index: 9;
  }

  .header-reperfilar .supercontenedor .reperfilar-menu ul#reperfilar-nav li.seguinos ul li {
    -webkit-box-shadow: inset 0 20px 7px -15px #dee0e2;
            box-shadow: inset 0 20px 7px -15px #dee0e2;
    padding: 10px;
    float: left;
    margin: 0;
    width: 40px;
    height: 40px;
  }

  .header-reperfilar .supercontenedor .reperfilar-menu ul#reperfilar-nav li.seguinos ul li a {
    padding: 0;
  }

  .header-reperfilar .supercontenedor .reperfilar-menu ul#reperfilar-nav li.seguinos ul li a:after {
    content: none;
  }

  .header-reperfilar .supercontenedor .reperfilar-menu ul#reperfilar-nav li.seguinos:hover > ul {
    display: block;
  }
}

