.news {
	flex-direction: column;

	&__container {
			flex-direction: column;
	}

	&__header {
			display: flex;
			flex-direction: column;
			order: 2;
			padding: 0 0 1rem 0;
	}

	&__hat {
			display: inline-block;;
			text-transform: uppercase;
			margin: 1rem auto 0 0;
			font-size: .95rem;
			line-height: 1;
			color: $color-brand;
			border-bottom: 1px solid $gris-medio;

			a {
					font-weight: bold;
					color: $gris-oscuro;
			}
	}

	&__title {
			font-family: $font-condensada;
			padding: .5rem 0 0 0;
			font-size: 2rem;
			line-height: 1.15em;
			letter-spacing: -0.05rem;
	}

	&__headline {
			font-size: 1.25rem;
			margin: 1rem 0 0 0;
			line-height: 1.3em;
			font-weight: 400;

			.open-gallery {
					display: inline-flex;
					flex-wrap: nowrap;
					align-items: baseline;
					color: $color-brand;
					img {
							margin: 0 5px;
							font-size: 1px;
					}
			}
	}

	&__sharing {
			width: 100%;
			padding: .5rem 0;
	}

	&__media {
			display: flex;
			flex-direction: column;
			order: 1;
			height: auto;
			padding: 0;
			margin: 0 -1rem;
			width: calc(100% + 2rem);

			picture {
					img {
							display: block;
					}
			}

			.figure-caption {
					font-size: .7rem;
					padding: 5px 1rem;
					border-bottom: 1px solid $color-brand;
					text-transform: uppercase;
					color: $gris-oscuro;
					line-height: 1.3em;
					font-weight: bold;

					.credito-foto {
							font-weight: normal;
					}
			}
	}

	&__date {
			color: $gris-medio;
			font-size: 0.9rem;
			text-transform: uppercase;        
	}

	&__autor {
			display: flex;
			align-items: center;
			gap: 1rem;
			.autor-nota {
					&__img {
							flex-basis: 60px;
							border-radius: 6px;
							border: 1px solid rgba(0,0,0,.2);
							overflow: hidden;
							img {
									width: 100%;
									display: block;
							}
					}
					&__data {
							flex: 1 1 0;
					}
					&__nombre {
							font-weight: bold;
							font-size: .9rem;
					}
					&__about {
							font-size: .9rem;
							font-weight: normal;
							padding-top: .5px;
					}
			}
	}

	&__main-article {
		display: flex;
		flex-direction: column;
		order: 3;
		border-top: 1px solid $gris-muy-claro;

		.mas-en-perfil {
			&__nota {
				&__titulo {
					font-size: 1.2em;
					letter-spacing: 0.03em;
				}
			}
		}
		
		.galeria-fotos {
			&__fotos {
				display: grid;
				grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
				gap: 1rem;
				a {
					img {
						border-radius: 6px;
						width: 100%;
						display: block;
					}
				}
			}
		}
	}

	&__content {

		p {
				margin: 1em 0;
				font-size: 1.16rem;
				line-height: 1.5em;

				img {
						margin: 1em 0
				}

		}

		h2 {
				line-height: 1.05em;
				font-size: 1.6em;
				margin: 1em;
		}

		figure {
				img {
						display: block;
						height: auto;
				}

				figcaption {
						font-size: .69em;
						padding: 5px;
						border-bottom: 5px solid $gris-oscuro;
						font-weight: bold;
						letter-spacing: -0.07em;
						text-transform: uppercase;
						color: $gris-oscuro;
						line-height: 1.38em;
				}
		}

		.tags {
				width: 100%;
				border-top: $borde;
				padding: 1em 0;

				&__listado {
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					gap: .5rem;
					list-style: none;
					padding: 0;
					margin: 0;
					label {
							font-size: .9rem;
							text-transform: uppercase;
							font-weight: bold;
							line-height: normal;
					}

					ul {
							margin: 0px;
							display: flex;
							gap: .5rem;
					}

					li {
							line-height: 1.6em;
							font-size: 0.7em;
							line-height: 1.6em;

							a {
									border-radius: 30px;
									display: block;
									padding: .2rem .8rem;
									border: $borde;

									&:hover {
											background: $color-brand;
											color: white;
									}
							}
					}
				}

		}

		>p:first-of-type:first-letter {
				color: $color-brand;
				float: left;
				font-size: 4rem;
				font-weight: bold;
				line-height: .2em;
				margin: 22px 6px 7px 0;
				transform: translateY(-10px);
		}
	}

	&__comments-suggested {
		order: 4;
	}

	&__aside {
		width: 100%;
		margin: 2rem 0;
	}

	&__aside-title {
		font-size: 1.2rem;
		font-weight: bold;
		border-top: 3px solid $color-brand;
		text-transform: uppercase;
		padding: .5rem 0;
	}
}

@include media-breakpoint-up(sm) {
	.news {
		&__header {
				order: 1;
		}
		&__media {
				order: 2;
		}
	}
}
@include media-breakpoint-up(md) {
	.news {
		&__title {
				font-size: 2.6rem;
		}
		&__main-article {
				flex-direction: row;
				gap: 1rem;
				padding-top: 2rem;
		}
		&__sharing {
				flex-basis: 90px;
		}
		&__body {
				flex: 1 1 0;
		}
	}
}
@include media-breakpoint-up(lg) {
	.news {
		flex-direction: row;
		gap: 2rem;

		&__title {
				font-size: 3.5rem;
		}

		&__headline {
				font-size: 1.5rem;
		}

		&__media {
				width: 100%;
				margin: 0;

				

			.figure-caption {
				padding: 5px 0;
			}
		}
	}
}