@import "../theme/_variables";
@import "../theme/main/_general";
@import "../theme/main/_header";
@import "../theme/channels/_reperfilar-header";
@import "../theme/main/_footer";
@import "../theme/main/_paywall";

.perfil-noticia {

  .supercontenedor {
    padding-top: 10px;

    &.pre-header {
      padding-top: 3px;
    }

    &.main-header {
      padding-top: 0;
    }

    .articulo-header {
      width: 100%;
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      margin-bottom: 1em;

      .hat {
        line-height: 1em;
        padding: 0 0 5px 0;
        border-bottom: 1px solid $linea;
        font: {
          family: $font-sinserif;
          size: 0.9rem;
          weight: 400;
        }
        color: $azul;

        a {
          display: none;
        }

        span {
          &.volanta {
            font-weight: 600;
            text-transform: uppercase;
          }
        }

        .hat-fecha {
          display: none;
        }
      }

      h1 {
        font: {
          size: 2.4rem;
          weight: 300;
        }
      }

      h2 {
        font:{
          size: 1.45rem;
          weight: 400;
        }
        margin: 10px 0;
      }

      h3 {
        font-size: 1.2em;
        margin: 16px 0 10px 0;
      }
    }

    .container {

      .main-article {
        width: 100%;

        .embed-responsive-16by9 {
          padding-bottom: 56.25%;
        }

        .videoContainer {
          clear: both;
          display: block;
        }

        .embed-responsive {
          position: relative;
          display: block;
          height: 0;
          overflow: hidden;

          .embed-responsive-item, embed, iframe, object, video {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
          }
        }

        figure {
          width: 100%;
          position: relative;
          display: block;

          a.btn-open-gallery.fotogaleria {
            width: 100%;
            height: 100%;
            padding: 0;
            cursor: pointer;
            &:after {
              content: "";
              position: absolute;
              top: 10px;
              right: 10px;
              width: 30px;
              height: 30px;
              display: block;
              background: url('/images/glyph/ampliar.svg') right top no-repeat;
              background-size: 30px;
              opacity: .7;
            }
          }

          img {
            display: block;
          }

          figcaption {
            font-size: .85rem;
            line-height: 1.3em;
            padding: 5px;
            font-family: $font-sinserif;
            border-bottom: 1px solid $linea;
            margin: 0 0 10px 0;

            .credito-foto {
              text-transform: uppercase;
              font-size: .8em;
            }
          }
        }

        .news-body {
          position: relative;
          font-size: 1.35rem;
          padding: 0 10px;

          p, ul, ol, li {
            font-size: 1.3rem;
            line-height: 1.35em;
            letter-spacing: -0.01em;

            strong, a strong {
              font-weight: 600;
              letter-spacing: -0.02em;
            }

            a, a strong, strong a {
              color: $link-mobile;
              text-decoration: underline;
            }

            img {
              width: 100%;
              height: auto;
            }
          }

          p, ul, ol {
            margin: 0 0 .5em 0;
          }

          h2 {
            line-height: 1em;
            margin: 20px 0 14px 0;
            font-size: 1.5rem;
          }

          .fecha-autor {
            display: flex;
            flex-direction: column;
            align-self: flex-end;
            justify-content: flex-start;
            padding-top: 10px;
          }

          .fecha {
            font-size: .9rem;
            font-weight: 400;
            color: $linea-oscura;
            font-family: $font-sinserif;
            margin-bottom: 10px;
          }

          figure {

            img {
              height: auto;
            }

          }

          .social-topsharing {
            margin-bottom: 24px;

            h4 {
              display: none;
            }

            ul {
              margin: 0;
              display: flex;
              list-style: none;
              justify-content: flex-start;
              height: 26px;

              li {
                margin: 0 20px 0 0;
                width: 20px;
                height: 20px;
                padding: 0;

                a {
                  img {
                    width: 20px;
                    height: auto;
                  }
                }

                &:before {
                  display: none;
                }

                &.facebook {
                  margin-right: 12px;
                  a {
                    img {
                      width: 10px;
                    }
                  }
                }

                &.whatsapp {
                  a {
                    img {
                      transform: translateY(1px);
                    }
                  }
                }
              }
            }
          }

          p.destacadoNota {
            text-align: center;
            font-weight: 600;
            padding: 10px 20px;
            margin: 30px 0;
            font-family: $font-sinserif;
            line-height: 1.1em;
            color: $miscelanea;
            position: relative;
            border: 1px 0 solid $negro;

            &:before {
              content: "";
              height: 3px;
              background: $negro;
              display: block;
              position: absolute;
              top: -3px;
              left: 36%;
              right: 36%;
              margin: 0 auto;
            }

            &:after {
              content: "";
              height: 3px;
              background: $negro;
              display: block;
              position: absolute;
              bottom: -3px;
              left: 36%;
              right: 36%;
              margin: 0 auto;
            }

            a {
              color: $miscelanea;
              text-decoration: none;
            }
          }

          .news-content {
            >p:first-of-type:first-letter {
              font-size: 3.5em;
              float: left;
              display: block;
              margin: 14px 4px 0 0;
              color: $linea-oscura;
            }
          }
        }
      }

    }

  }

}
