.full-bg-dark {
    background: $negro;
    margin: 2rem -1rem;
    width: calc(100% + 2rem);
    padding: 1rem;
}



@include media-breakpoint-up(xxl) {
    .full-bg-dark {
        width: calc(100% + 2rem);
        margin: 2rem -1rem;
    }
}