.d-none {
	display: none !important;
}

@include media-breakpoint-up(sm) {
	.supercontenedor {
		max-width: 540px;
	}

	.hide-sm {
		display: none !important;
	}

	.show-sm {
		display: block !important;
	}

}
@include media-breakpoint-up(md) {
	.supercontenedor {
		max-width: 720px;
	}

	.hide-md {
		display: none !important;
	}

	.show-md {
		display: block !important;
	}
}
@include media-breakpoint-up(lg) {
	.supercontenedor {
		max-width: 960px;
		flex-direction: row;
		.sidebar {
			max-width: 300px;
			flex-basis: 300px;
			display: flex;
			align-self: stretch;
			align-items: flex-start;
			margin: 0 0 0 20px;
			padding: 0;
			.content-sidebar {
				width: 300px;
				align-self: flex-end;
				position: sticky;
				bottom: 1rem;
				display: flex;
				flex-direction: column;
			}
		}
		.contenido {
			flex: 1 1 0;
			max-width: 640px;
		}
	}

	.hide-lg {
		display: none !important;
	}

	.show-lg {
		display: block !important;
	}
}
@include media-breakpoint-up(xl) {
	.supercontenedor {
		max-width: 1140px;
		.sidebar {
			margin: 0 0 0 25px;
		}
		.contenido {
			max-width: 815px;
		}
	}

	.hide-xl {
		display: none !important;
	}

	.show-xl {
		display: block !important;
	}
}
@include media-breakpoint-up(xxl) {
	.supercontenedor {
		max-width: 1300px;
		.contenido {
			max-width: 970px;
		}
	}

	.hide-xxl {
		display: none !important;
	}

	.show-xxl {
		display: block !important;
	}
}
.w3-animate-right {
	position:relative;
	animation:animateright 0.1s
}
@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
