@include media-breakpoint-up(sm) {
	.main-header {
		box-shadow: none;
		.header-top {
			padding: 0;
		}
	}
	.pre-header {
		padding: 3px 0;
		background-color: white;
		border-bottom: 1px solid $linea;
	}
	ul.canales {
		li.nav-item {
			width: auto;
			clear: none;
			border-bottom: none;
			a {
				font-size: 15px;
			}
		}
	}
}
@include media-breakpoint-up(md) {
	.main-header {
		.header-top {
			.elisologo {
				figure {
					padding-bottom: 0;
				}
			}
			.radio-perfil {
				display: block;
				margin: 3px 0 0 auto;
				a {
					font-family: $font-sinserif;
					font-size: 11px;
					text-transform: uppercase;
					color: $linea-oscura;
					line-height: 1em;
					display: block;
					width: 140px;
					img {
						width: 100px;
						height: auto;
					}
					.radio-play {
						width: 22px;
						margin: 0 5px 0 0;
						transform: translateY(-1px);
						float: left;
					}
				}
			}
		}
	}
	.pre-header {
		display: flex;
		justify-content: space-between;
		.header-fecha {
			display: block;
		}
	}
	.buscador {
		display: block;
	}
	.nav-temas {
		justify-content: space-between;
		ul {
			flex: 1 1 0;
			border-top: none;
			width: auto;
			padding-left: 18px;
			li {
				a {
					padding: 5px 18px;
					font-size: 14px;
				}
			}
		}
	}
}
@include media-breakpoint-up(lg) {
	.pre-header {
		.header-data {
			.more-sites {
				display: block;
				ul {
					display: flex;
					justify-content: flex-end;
					list-style: none;
					padding: 0;
					margin: 0;
					li {
						background: url('../../../img/menu-sprite.png');
						background-repeat: no-repeat;
						text-indent: -9999px;
						margin: 0 0 0 12px;
						display: block;
						a {
							display: block;
							width: 100%;
							height: 20px;
							background: rgba(255,255,255,.2);
							transition: ease .3s;
							&:hover {
								background: rgba(255,255,255,0);
							}
						}
						&.menu-exitoina {
							background-position: 0 -121px;
							width: 92px;
						}
						&.menu-caras {
							background-position: 0 -89px;
							width: 40px;
						}
						&.menu-noticias {
							background-position: 0 -59px;
							width: 54px;
						}
						&.menu-bloomberg {
							background-position: 0 -29px;
							width: 94px;
						}
						&.menu-reperfilar {
							background-position: 0 1px;
							width: 102px;
						}
					}
				}
			}
		}
	}
	ul.temas {
		li {
			width: auto;
			clear: none;
			border-bottom: none;
			a {
				&:after {
					content: "\00b7";
					font-size: 20px;
					margin: 0 5px;
					line-height: 12px;
					display: inline-block;
					transform: translateY(2px);
					color: $linea;
				}
			}
		}
	}
}
@include media-breakpoint-up(xl) {
	.main-header {
		.header-top {
			.elisologo {
				.menu-primario {
					display: block;
					ul.menu-destacado {
						padding: 13px 10px 0 10px;
						margin: 0;
						list-style: none;
						font-family: $font-sinserif;
						font-size: 14px;
						li {
							display: inline-block;
							float: left;
							padding: 0;
							margin: 0;
							text-transform: uppercase;
							a {
								display: block;
								padding: 10px;
								color: $dark;
							}
						}
					}
				}
			}
		}
	}
	#contenedor-header-menu {
		max-width: 1260px;
	}
	ul.canales {
		li.nav-item {
			text-align: center;
			padding: 0 5px;
			a {
				padding:5px 10px 0 10px;
			}
		}
	}
	.navbar-toggler {
		display: block!important;	
	}
	.menudetemas {
		.container.elmenu {
			max-width: 1260px;
		}
	}
}

@include media-breakpoint-up(xxl) {
	.main-header.supercontenedor {
		max-width: 100%;
		.header-top {
			max-width: 1300px;
			margin: 0 auto;
		}
		.header-bottom {
			ul.temas {
				max-width: 1260px;
				margin: 0 auto;
			}
		}
	}
}
