
// Body
$body-bg: #fff;
$body-bg-2: #333;

// Typography
$font-family-sans-serif: "Source Sans Pro", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-condensed: "Oswald", sans-serif;

// **** Perfil Custom Theme ****
$pf_perfil_color: #333333;
$pf_main_color: #EE2314;
$pf_main_color_2: #e12111;
$pf_main_color_3: #E4D20B;
$pf_main_color_4: #FFFFFF;
$pf_font_color: #313133;
$pf_font_color_inverse: white;
$pf_font_color_inverse_middle: #cacaca;
$pf_font_color_headline: #4a4a4a;
$pf_font_color_headline_light: #cccccc;

$pf_facebook_color: #4868AD;
$pf_twitter_color: #4295DA;
$pf_google_color: #D95040;
$pf_instagram_color: #C73F7A;
$pf_youtube_color: #D95040;
$pf_linkedin_color: #007bb6;
$pf_pinterest_color: #cc2127;
$pf_flickr_color: #ff0084;
$pf_tumblr_color: #32506d;
$pf_whatsapp_color: #25D366;
$pf_rss_color: #ee802f;

$pf_articles_hat: $pf_main_color_2;
$pf_articles_details: $pf_main_color_2;
$pf_links_color: $pf_main_color_2;
$pf_links_color_hover: $pf_main_color;

// -- Footer
$pf_footer_bg: #333;
$pf_footer_font_color: #666;

// -- Sidebar
$pf_sidebar_most_viewed_bg: $pf_font_color_headline;

// News - Show
$pf_news_show_header_line: $pf_main_color;
$pf_news_show_author_img_border: $pf_main_color_2;
$pf_news_show_author_name: $pf_main_color_2;
$pf_news_show_main_image_caption_bg: $pf_main_color;
$pf_news_show_main_image_caption_border: $pf_font_color;

// Block - Mosaico
$pf_b_mosaico_bg: #333;

// Block - Especial-3
$pf_b_especial_3_bg: #333;

// -- Header
$pf_header_bg: $pf_main_color;

// -- Navbar
$pf_navbar_bg: #333;
$pf_a_color: #999;
$pf_a_color_hover: $pf_main_color;




$negro: #0a0a0a; 
$dark:#343a40;
$light: #f8f9fa;
$secondary: #6c757d;
$font-general: 'Source Sans Pro',Helvetica,Arial,Sans-serif;
$font-cuerpo:  'Crimson Pro', 'Times New Roman', Times, Georgia, Serif;



/** PERFIL **/
$font-destacada: 'Crimson Pro', 'Times New Roman', Times, Georgia, serif;
$font-destacada-mobile: 'Roboto Slab', Times, serif;;
$azul: #6286B1;
$miscelanea: $azul;
$miscelanea-light: #d0dbe4;
$azul-light: #d0dbe4;
$azul-dark: #445e7c;
$link: $azul;
$hover: $azul-dark;
$linea: #e5e5e5;
$linea-oscura: #b9b9b9;