@import "fortuna-02/commons/variables";
@import "fortuna-02/commons/commons";
@import "fortuna-02/commons/header";
@import "fortuna-02/commons/footer";


.pages {
  width: 100%;

  &__container{
    width: 100%;
    max-width: 768px;
    margin: 2rem auto;

    hr {
      border-bottom: 1px solid #ccc;
    }

    p {
      margin: 15px 0;
      line-height: 1.5em;
    }

    h2 {
      margin: 25px 0;
    }

    ol {
      padding: 0 2rem;

      li {
        list-style: decimal;
      }
    }

    ul {
      padding-left: 2rem;
      li {
        margin-bottom: 10px;
      }
    }

    li {
      margin: 15px 0;
    }

    .text-link {
      color: $link;
    }

    .nombres {
      display: block;
      padding-top: .5rem;
      line-height: 1.3rem;
    }
  }

  .container__transito {
    width: 100%;
    margin: 0 auto;
    height: 0;
    padding-bottom: 160%;
    position: relative;
    > iframe {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }

    @include media-breakpoint-up(sm) {
      padding-bottom: 80%;
    }

    @include media-breakpoint-up(lg) {
      padding-bottom: 60%;
    }

    @include media-breakpoint-up(xl) {
      padding-bottom: 56%;
    }
  }

}