.channel {
    flex-direction: column;
    &__container {
        flex-direction: column;
        gap: 1rem;

        .autor {
            background-color: $gris-claro;
            width: 100%;
            padding: .5rem;
            border-radius: 6px;
            .autor-nota__img {
                flex-basis: 82px;
            }
        }
    }
    &__title {
        text-transform: capitalize;
    }
}

.error {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    text-align: center;
    padding-top: 4rem;
    &__titulo {
        font-weight: bold;
        font-size: 1.6rem;
        line-height: 1.05em;
        margin: 0 auto;
        padding: .2em 0;
    }
    &__subtitulo {
        font-size: 1.2rem;
        line-height: 1.05em;
        font-weight: normal;
    }
    &__contenido {
        width:100%;
    }
    &__sugerencias {
        margin: 2rem 0;
        ul {
            list-style: none;
            li {
                margin: .5em 0;
                a {
                    color: $color-brand;
                }
            }
            &.lossitios {
                columns: 2;
            }
        }
    }

}

@include media-breakpoint-up(md) {
    .channel {
        &__container {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}

@include media-breakpoint-up(lg) {
    .channel {
        flex-direction: row;
        gap: 2rem;
        align-items: initial;
    }

    .error {
        &__contenido {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: space-between;
        }
        &__sugerencias {
            width: 60%;
            margin-left: auto;
            margin-right: auto;
            &:nth-child(-n+3) {
                width: 32%;
            }
        }
    }
}