.main-footer {
	border-top: 1px solid $linea;
	color: $dark;
	margin-top: 50px;
	padding: 6px 0 0 0;
	display: flex;
	flex-direction: column;
	figure {
		width: 120px;
		margin: 10px auto;
		img {
			width: 100%;
			height: auto;
		}
	}
	a {
		color: $dark;
	}
	.footer-redes {
		margin: 0 auto;
		a {
			margin: 0 8px;
			color: $linea-oscura;
			i {
				font-size: 1.5rem;
			}
		}
	}
	.disclaimer {
		font-size: .8rem;
		text-align: center;
		font-family: $font-sinserif;
		background: $dark;
		color: white;
		padding: 15px 10px 5px 10px;
		margin: 0;
		line-height: 1.2em;
		a {
			color: $linea;
		}
	}
	.nav-footer {
		width: 100%;
		background: $linea;
		padding: 5px 0;
		margin: 20px 0 0 0;
		ul.footer-revistas {
			font-family: $font-sinserif;
			margin: 0;
			padding: 0;
			text-align: center;
			li {
				display: inline-block;
				margin: 5px;
				font-size: .7rem;
				text-transform: uppercase;
				a {
					display: block;
					border: 1px solid $linea;
					border-radius: 3px;
					padding: 2px 5px;
					background: white;
				}
			}
		}
	}
}

