html,
body {
	width: 100%;
	max-width: 100%;
}
body {
	overflow-x: hidden;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
a {
	color: $link;
	text-decoration: none;
	&:hover {
		color: $hover;
		text-decoration: none;
	}
}

.image-responsive {
	width: 100%;
	height: auto;
}

.bg-ads-space {
	background: repeating-linear-gradient(-45deg,#fafafa,#fafafa 5px,#fff,#fff 7px)!important;
	border: 0 !important;

	p {
		color: $pf_font_color_headline_light;
		margin: 0;
	}
}

.iframe-container {
	iframe {
		pointer-events: none;
	}

	iframe.clicked {
		pointer-events: auto;
	}
}





.supercontenedor {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	width: 100%;
	padding: 20px 0 0 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
	flex-wrap: wrap;
	.contenedor-general {
		width: 100%;
	}
	.contenido {
		width: 100%;
		display: flex;
		flex-direction: column;
		.contenedor-general {
			display: flex;
			flex-direction: column;
		}
	}
	.sidebar {
		margin: 10px auto;
		padding: 0;
		display: flex;
		width: 100%;
		flex-direction: column;
	}

	@include media-breakpoint-up(sm) {
		max-width: 540px;
	}
	@include media-breakpoint-up(md) {
		max-width: 720px;
	}
	@include media-breakpoint-up(lg) {
		max-width: 960px;
		flex-direction: row;
		.sidebar {
			flex-basis: 300px;
			display: flex;
			align-self: stretch;
			align-items: flex-start;
			margin: 0 0 0 20px;
			padding: 0;
			.content-sidebar {
				width: 300px;
				align-self: flex-end;
				position: sticky;
				bottom: 1rem;
				display: flex;
				flex-direction: column;
			}
		}
		.contenido {
			flex: 1 1 0;
		}
	}
	@include media-breakpoint-up(xl) {
		max-width: 1140px;
		.sidebar {
			margin: 0 0 0 25px;
		}
	}
	@include media-breakpoint-up(xxl) {
		max-width: 1260px;
	}
}





