body {
	max-width: 100%;
	overflow-x: hidden;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
a {
	color: $link;
	&:hover {
		color: $hover;
		text-decoration: none;
	}
}


.btn-primary {
	background-color: $pf_main_color_2;
	border-color: $pf_main_color_2;
	color: black;
}

.btn-primary:active, .btn-primary:hover {
	background-color: black !important;
	border-color: black !important;
	color: white;
}

.btn-outline-primary {
	border-color: $pf_main_color_2;
	color: $pf_main_color_2;
}

.btn-outline-primary:hover, .btn-outline-primary:active {
	background-color: transparent !important;
	border-color: $pf_main_color_4 !important;
	color: $pf_main_color_4 !important;
}

.text-inverse {
	color: $pf_font_color_inverse;
}

.image-responsive {
	width: 100%;
	height: auto;
}

.bg-ads-space {
	background: repeating-linear-gradient(-45deg,#fafafa,#fafafa 5px,#fff,#fff 7px)!important;
	border: 0 !important;

	p {
		color: $pf_font_color_headline_light;
		margin: 0;
	}
}

.iframe-container {
	iframe {
		pointer-events: none;
	}

	iframe.clicked {
		pointer-events: auto;
	}
}


.maincontainer {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	.megalateral {
		width: 250px;
		height: 600px;
		display: none;
		flex-basis: 250px;
		position: sticky;
		top: 4.5rem; 
		background: #f60;
		.megalateral-b {
			width: 250px;
		}
	}
	.editorial {
		flex: 1 1 0;
		max-width: 100%;
		@include media-breakpoint-up(xl) {
			>section {
				flex-direction: column;
				>.container {
					max-width: 1260px;
				}
			}
		}
	}

	@include media-breakpoint-up(lg) {
		&.conmega {
			.megalateral {
				display: block;
			}
			.editorial {
				padding-right: 25px;
			}
		}
	}
}
.header-meta,
.perfil-header {
	@include media-breakpoint-up(xl) {
		>.container {
			max-width: 1260px;
		}
	}
}