html,
body {
	width: 100%;
	max-width: 100%;
}
body {
	overflow-x: hidden;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
a {
	color: $link;
	text-decoration: none;
	&:hover {
		color: $hover;
		text-decoration: none;
	}
}
figure img {
	width: 100%;
}

.image-responsive {
	width: 100%;
	height: auto;
}

.bg-ads-space {
	background: repeating-linear-gradient(-45deg,#fafafa,#fafafa 5px,#fff,#fff 7px)!important;
	border: 0 !important;

	p {
		color: $pf_font_color_headline_light;
		margin: 0;
	}
}

.iframe-container {
	iframe {
		pointer-events: none;
	}

	iframe.clicked {
		pointer-events: auto;
	}
}





.supercontenedor {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	width: 100%;
	padding: 20px 0 0 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
	flex-wrap: wrap;
	.contenedor-general {
		width: 100%;
	}
	.contenido {
		width: 100%;
		display: flex;
		flex-direction: column;
		.contenedor-general {
			display: flex;
			flex-direction: column;
		}
	}
	.sidebar {
		margin: 10px auto;
		padding: 0;
		display: flex;
		width: 100%;
	}
	&.main-header {
		padding-top: 0;
	}
}