.elisologo {
	display: flex;
	.hamburguer {
		display: inline-block;
		cursor: pointer;
		margin: 13px 10px 0 0;
		float: left;
		.bar1,
		.bar2,
		.bar3 {
			width: 30px;
			height: 3px;
			background-color: #333;
			margin: 6px 0;
			transition: 0.4s;
		}
		&.change .bar1 {
			-webkit-transform: rotate(-45deg) translate(-9px, 6px);
			transform: rotate(-45deg) translate(-6px, 4px);
		}
		&.change .bar2 {opacity: 0;}
		&.change .bar3 {
			-webkit-transform: rotate(45deg) translate(-8px, -8px);
			transform: rotate(45deg) translate(-8px, -8px);
		}
	}
	figure {
		margin: 0;
		padding: 10px 0 0 0;
		img {
			width: 170px;
		}
	}
	@include media-breakpoint-down(md) {
		figure {
			padding-bottom: 5px;
		}
	}
	@include media-breakpoint-down(sm) {
		figure {
			padding-top: 5px;
			padding-bottom: 5px;
			img {
				width: 140px;
			}
		}
		.hamburguer {			
			margin-top: 5px;
			.bar1,
			.bar2,
			.bar3 {
				width: 26px;
				height: 2px;
			}
			&.change .bar3 {
				-webkit-transform: rotate(45deg) translate(-7px, -6px);
				transform: rotate(45deg) translate(-7px, -6px);
			}
		}
	}
}


#contenedor-header-menu {
	position: relative;
	width: 100%;
	max-width: 1300px;
	margin: auto;
	#menues {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 999;
		transition: ease .9s;
		ul {
			list-style:none;
			padding: 0;
			margin: 0;
			border-top: 1px solid #e0e0e0;
			background: #fff;
			position: relative;
			li {
				padding: 10px;
				display: block;
				box-sizing: border-box;
				width: 180px;
				font-size: 16px;
				color: #666;
				border-left: 1px solid #e0e0e0;
				border-right: 1px solid #e0e0e0;
				border-bottom: 1px solid #e0e0e0;
				transition: ease .15s;
				cursor: pointer;
				a {
					color: #333;
					width: 100%;
					.fa {
						float: right;
						font-size: 16px;
					}
				}
				&:hover {
					background: #d2ecff;
				}
				ul {
					position: absolute;
					left: 178px;
					top: -1px;
					background: #fff;
					display: block;
					display: none;
					li {
						line-height: 1em;
					}
					&#principal {
						width: 360px;
						border-right: 1px solid #e0e0e0;
						li {
							float: left;
							border-right: none;
							width: 180px;
							&.despliega {
								padding: 0;
								border: none;
								&:hover {
									background: transparent;
								}
							}
							a.linkDespliega {
								display: none;
							}
							&.temasDelDia {
								display: none;
							}
							ul {
								display: block;
								position: relative;
								left: 0;
								top: 0;
								border-top: none;
								border-left: none;
								li {
									border-right: none;
								}
							}
						}
					}
				}
				&:hover>ul {
					display: block;
				}
			}
		}
		&.tescondo {
			display: none;
		}
		&.temuestro {
			display: block;
		}
	}
}




.perfil-header {
	font-family: $font-general;
	background:{
		color: white;
		position: center;
	}
	padding: 4px 0;
	transition: padding 1s;
	.logo,
	.logo-alt {
		padding: 5px;
		img {
			margin-top: auto;
			transition: width 0.5s;
			width: 170px;
		}
	}
	.descripcion-site {
		color: $negro;
		ul {
			li {
				font:{
					family: $font-general;
					size: 17px;
					weight: 400;
				}
				a {
					color: $negro;
					transition: ease .3s;
					&:hover {
						color: $hover;
						-webkit-box-shadow: inset 0 -2px 0 0 $miscelanea; 
						box-shadow: inset 0 -2px 0 0 $miscelanea;
					}
				}
				&:nth-child(n+6) {
					display: none;
				}

			}
		}
	}
	.suscribite {
		font:{
			family: $font-general;
			size: 18px;
			weight: 400;
		}
		border-radius: 1rem;
		&:hover {
			background-color: $hover !important;
			a {
				text-decoration: none;
			}
		}
	}
	@include media-breakpoint-up(xl) {
		.logo {
			padding: 5px;
			img {
				width: 170px;
			}
		}
		.logo-alt {
			padding: 5px;
			img {
				width: 170px;
			}
		}
	}
	@include media-breakpoint-down(sm) {
		.suscribite {
			display: none;
		}
	}
}
.social-header {
	a {
		color: $light;
		i {
			color: $light;
			font-size: 18px;
			transition: ease 0.3s;
		}
		&:hover {
			color: $azul-light;
			text-decoration: none;
			i {
				color: $azul-light;
			}
		}
	}
	&.responsivo {
		a {
			border: 2px solid #6c757d;
			width: 35px;
			height: 35px;
			i {
				font-size: 16px;
				line-height: 22px;
			}
			&:hover {
				text-decoration: none;
			}
		}
	}
}
.buscador {
	justify-content: flex-end;
	.form-control {
		border-radius: 1rem;
		@include media-breakpoint-down(md) {
			border-bottom-right-radius: 0;
			border-top-right-radius: 0;
		}
	}
	.btn {
		border-bottom-right-radius: 1rem;
		border-top-right-radius: 1rem;
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
	}
}
.buscador-alt {
	display: none;
}
.collapse:not(.show){
	@include media-breakpoint-up(lg) {
		display:inherit;
	}
}
ul.temas {
	font-family: $font-general;
	height: 2em;
	overflow: hidden;
	li.nav-item {
		text-align: center;
		a {
			font:{
				family: $font-general;
				size: 14px;
				weight: 400;
			}
			color: $light;
			&:hover {
				color: $azul-light!important;
			}
			&:after {
				content: "\00b7";
				font-size: 20px;
				margin: 0 10px;
				line-height: 12px;
			}
		}
		&:last-child {
			a {
				&:after {
					display: none;
				}
			}
		}
		@include media-breakpoint-down(lg) {
			width: 100%;
			clear: both;
			border-bottom: 1px solid #bebebe;
			a {
				&:after {
					display: none;
				}
			}
		}
	}
}
ul.canales {  
	font-family: $font-general;
	li.nav-item {
		text-align: left;
		padding: 0;
		a {
			font:{
				family: $font-general;
				size: 15px;
				weight: 400;
			}
			text-transform: uppercase;
			letter-spacing:0;
			padding:5px 0 0 0;
			color: $dark;
			&:hover {
				color: $hover !important;
			}
		}
		/*
		&:nth-child(n+6) {
			display: none;
		}
		*/
		@include media-breakpoint-down(xs) {
			width: 100%;
			clear: both;
			border-bottom: 1px solid #ebebeb;
			a {
				font-size: 13px;
			}
		}
		@include media-breakpoint-up(xl) {
			text-align: center;
			padding: 0 5px;
			a {
				padding:5px 10px 0 10px;
			}
		}
	}
}





.btn-outline-light {
	background: $pf_main_color_3;
	height: 30px;
	padding: 2px;
	width: 40px;
	border:none;
}

.input-group {
	margin: 5px 0 8px;
}
.input-group-append {
	margin-right: 5px;
}
.buscador-header {     
	margin:5px 2px;
}



@include media-breakpoint-up(md) {
	.nav-temas {
		justify-content: space-between;
		ul {
			flex: 1 1 0;
			border-top: none; 
			width: auto; 
			padding-left: 18px; 
			li { 
				a {
					padding: 5px 18px;
					font-size: 14px; 
				}
			}
		}
	}
}

@media (min-width: 979px) {
	.dropdown:hover .dropdown-menu {
		display:block;
	}
	a.menu:after, .dropdown-toggle:after {
		content: none;
	}
}

.navbar-toggler {
	margin-top: 5px;
	margin-right: 0;
	margin-bottom: 8px;
	background-color: transparent;
	color:$negro!important;
	padding: 5px 3px 3px 5px!important;
	border: none;
	&:focus {
		outline: none;
	}
	.navbar-toggler-icon {
		font-size: 1em!important;
		padding: 0!important;
		font-weight: 900!important;
		color: $negro!important;
	}
	@include media-breakpoint-up(xl) {
		display: block!important;
	}
}
@include media-breakpoint-down(lg) {
	.elheader,
	.elmenu {
		// max-width: 100%!important;
	}
}

.mainnavbar {
	padding-top: 0;
	padding-bottom: 0;
	@include media-breakpoint-up(xl) {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
.mainnavbar-alt {
	padding-top: 0;
	padding-bottom: 0;
}

ul.menu-destacado {
	padding: 14px 10px 0 10px;
	margin: 0;
	list-style: none;
	font-family: $font-general;
	li {
		display: inline-block;
		float: left;
		padding: 0;
		margin: 0;
		text-transform: uppercase;
		a {
			display: block;
			padding: 10px;
		}
	}
	@include media-breakpoint-down(lg) {
		display: none;
	}
}


.menudetemas {
	background: $dark;
}

.header-meta {
	.header-fecha {
		font:{
			family:$font-general;
			size: .7rem;
			weight: normal;
		}
		text-transform: uppercase;
		padding-top: 5px;
	}
	.radio-perfil {
		a {
			img {
				width: 120px;
				height: auto;
			}
			.fas {
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background: #fff;
				border: 1px solid #ededed;
				text-align: center;
				box-sizing: border-box;
				font-size: 10px;
				line-height: 18px;
				margin: 5px;
				padding-left: 2px;
			}
		}
	}
}