
/*
@include media-breakpoint-down(lg) {
    .navbar-collapse {
        position: absolute;
        background: white;
        top: 44px;
        left: -320px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 90%;
        max-width: 300px;
        transition: all 0.3s ease;
        display: block;
        -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
		-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
		box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
    }
    .navbar-collapse.collapsing {
        height: auto !important;
        margin-right: 50%;
        transition: all 0.3s ease;
        display: block;
    }
    .navbar-collapse.show {
        left: 0;
    }
}
*/


.navbar-collapse {
    position: absolute;
    background: white;
    top: 60px;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 90%;
    transition: all 0.5s ease;
    display: block;
    height: 0;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
		-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
		box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
		visibility: hidden;
		ul {
			display: none;
		}
}
.navbar-collapse.collapsing {
    height: auto !important;
    margin-right: 50%;
    transition: all 0.5s ease;
    display: block;
    ul {
    	display: none;
    }
}
.navbar-collapse.show {
    top: 60px;
    visibility: visible;
    height: auto;
    ul {
    	display: block;
    }
}



.perfil-header {
	font-family: $font-general;
	background:{
		color: white;
		position: center;
	}
	padding: 4px 0;
	transition: padding 1s;
	.logo,
	.logo-alt {
		padding: 5px;
		img {
			margin-top: auto;
			transition: width 0.5s;
			width: 170px;
		}
	}
	.descripcion-site {
		color: $negro;
		ul {
			li {
				font:{
					family: $font-general;
					size: 17px;
					weight: 400;
				}
				a {
					color: $negro;
					transition: ease .3s;
					&:hover {
						color: $hover;
						-webkit-box-shadow: inset 0 -2px 0 0 $miscelanea; 
						box-shadow: inset 0 -2px 0 0 $miscelanea;
					}
				}
				&:nth-child(n+6) {
					display: none;
				}

			}
		}
	}
	.suscribite {
		font:{
			family: $font-general;
			size: 18px;
			weight: 400;
		}
		border-radius: 1rem;
		&:hover {
			background-color: $hover !important;
			a {
				text-decoration: none;
			}
		}
	}
	@include media-breakpoint-up(xl) {
		.logo {
			padding: 5px;
			img {
				width: 170px;
			}
		}
		.logo-alt {
			padding: 5px;
			img {
				width: 170px;
			}
		}
	}
	@include media-breakpoint-down(sm) {
		.suscribite {
			display: none;
		}
	}
}
.social-header {
	a {
		i {
			font-size: 18px;
			transition: ease 0.3s;
		}
		&:hover {
			color: $azul-dark;
			text-decoration: none;
			i {
				color: $azul-dark;
			}
		}
	}
	&.responsivo {
		a {
			border: 2px solid #6c757d;
			width: 35px;
			height: 35px;
			i {
				font-size: 16px;
				line-height: 22px;
			}
			&:hover {
				text-decoration: none;
			}
		}
	}
}
.buscador {
	.form-control {
		border-radius: 1rem;
		@include media-breakpoint-down(md) {
			border-bottom-right-radius: 0;
			border-top-right-radius: 0;
		}
	}
	.btn {
		border-bottom-right-radius: 1rem;
		border-top-right-radius: 1rem;
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
	}
}
.buscador-alt {
	display: none;
}
.collapse:not(.show){
	@include media-breakpoint-up(lg) {
		display:inherit;
	}
}
ul.temas {
	font-family: $font-general;
	li.nav-item {
		text-align: center;
		a {
			font:{
				family: $font-general;
				size: 14px;
				weight: 400;
			}
			color: #222;
			&:hover {
				color: $azul-dark!important;
			}
			&:after {
				content: "\00b7";
				font-size: 20px;
				margin: 0 10px;
				line-height: 12px;
			}
		}
		&:last-child {
			a {
				&:after {
					display: none;
				}
			}
		}
		@include media-breakpoint-down(lg) {
			width: 100%;
			clear: both;
			border-bottom: 1px solid #bebebe;
			a {
				&:after {
					display: none;
				}
			}
		}
	}
}
ul.canales {  
	font-family: $font-general;
	li.nav-item {
		text-align: left;
		padding: 0;
		a {
			font:{
				family: $font-general;
				size: 15px;
				weight: 400;
			}
			text-transform: uppercase;
			letter-spacing:0;
			padding:5px 0 0 0;
			color: $dark;
			&:hover {
				color: $hover !important;
			}
		}
		/*
		&:nth-child(n+6) {
			display: none;
		}
		*/
		@include media-breakpoint-down(xs) {
			width: 100%;
			clear: both;
			border-bottom: 1px solid #ebebeb;
			a {
				font-size: 13px;
			}
		}
		@include media-breakpoint-up(xl) {
			text-align: center;
			padding: 0 5px;
			a {
				padding:5px 10px 0 10px;
			}
		}
	}
}





.btn-outline-light {
	background: $pf_main_color_3;
	height: 30px;
	padding: 2px;
	width: 40px;
	border:none;
}

.input-group {
	margin: 5px 0 8px;
}
.input-group-append {
	margin-right: 5px;
}
.buscador-header {     
	margin:5px 2px;
}



// RESPONSIVE //



@include media-breakpoint-up(xl) {
/*
	.navbar-toggle { 
		display:none
	}
	.navbar-collapse { 
		display: inherit;
	}
	nav {
		-ms-flex-wrap: nowrap;
		 display: -ms-flexbox;
		display: flex;
		flex-wrap: nowrap;   
		white-space: nowrap;
		li { 
			border:none; 
			padding: 12px 15px;
		}
		a {
			color: $pf_font_color;
			font-weight: lighter;
			transition: font-size 1s;
			vertical-align: middle;
			font-size: 15px;
			font-weight: 400;
		}

		li:hover {
			color: $pf_font_color_inverse;
			text-decoration: none;
			padding: 12px 15px;
		}
	}
	/*
	::-webkit-scrollbar {
		width: 0px;
		height: 0px;
		background: transparent;
	}
	*/
}

@include media-breakpoint-up(md) {
	.nav-temas {
		ul {
			border-top: none; 
			width: auto; 
			padding-left: 18px; 
			li { 
				a {
					padding: 5px 18px;
					font-size: 14px; 
				}
				&:nth-child(n+7) {
					display: none;
				}
			}
		}
	}
}

@media (min-width: 979px) {
	.dropdown:hover .dropdown-menu {
		display:block;
	}
	a.menu:after, .dropdown-toggle:after {
		content: none;
	}
}

.navbar-toggler {
	margin-top: 5px;
	margin-right: 0;
	margin-bottom: 8px;
	background-color: transparent;
	color:$negro!important;
	padding: 5px 3px 3px 5px!important;
	border: none;
	&:focus {
		outline: none;
	}
	.navbar-toggler-icon {
		font-size: 1em!important;
		padding: 0!important;
		font-weight: 900!important;
		color: $negro!important;
	}
	@include media-breakpoint-up(xl) {
		display: block!important;
	}
}
@include media-breakpoint-down(lg) {
	.elheader,
	.elmenu {
		// max-width: 100%!important;
	}
}

.mainnavbar {
	padding-top: 0;
	padding-bottom: 0;
	@include media-breakpoint-up(xl) {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
.mainnavbar-alt {
	padding-top: 0;
	padding-bottom: 0;
}

ul.menu-destacado {
	padding: 9px 0 0 0;
	margin: 0;
	list-style: none;
	font-family: $font-general;
	li {
		display: inline-block;
		float: left;
		padding: 0;
		margin: 0;
		text-transform: uppercase;
		a {
			display: block;
			padding: 10px;
		}
	}
}


.menudetemas {
	background: #eaeaea;
}

.header-meta {
	.header-fecha {
		font:{
			family:$font-general;
			size: .7rem;
			weight: normal;
		}
		text-transform: uppercase;
		padding-top: 5px;
	}
	.radio-perfil {
		a {
			img {
				width: 120px;
				height: auto;
			}
			.fas {
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background: #fff;
				border: 1px solid #ededed;
				text-align: center;
				box-sizing: border-box;
				font-size: 10px;
				line-height: 18px;
				margin: 5px;
				padding-left: 2px;
			}
		}
	}
}