.podcasts-radio {
	background: #1c313a;
	border-radius: 4px;
	overflow: hidden;
	margin: 0 0 20px 0;
	width: 100%;
	header {
		background-color: #161227;
		width: 100%;
		.titulo {
			width: 100%;
			padding: 10px;
			box-sizing: border-box;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			.podcasts {
				font-family: $font-serif;
				font-size: 28px;
				font-weight: 600;
				line-height: .9em;
				letter-spacing: -0.02em;
				flex: 1 1 0;
				color: #fff;
				transform: translateY(4px);
				a {
					color: #fff;
					&:hover {
						color: #fff;
					}
				}
			}
			.logo-radio {
				display: block;
				float: right;
				margin: 0 0 0 10px;
				flex-basis: 140px;
				height: 45px;
				background-image: url('/images/radio-perfil-isologo.png');
				background-position: 0 0;
				background-repeat: no-repeat;
				background-size: 140px;
				a {
					display: block;
					width: 140px;
					height: 45px;
				}
			}
			border-bottom: 2px solid #ddd;
		}
	}
	.notaPodcast {
		width: 100%;
		padding: 5px 10px;
		border-bottom: 1px solid #455a64;
		background: #1c313a;
		transition: ease .3s;
		box-sizing: border-box;
		a {
			width: 100%;
			display: flex;
			figure {
				width: 30%;
				height: 50px;
				float: left;
				margin: 0 10px 0 0;
				border-radius: 3px;
				overflow: hidden;
			}
			.content {
				flex: 1 1 0;
				color: #fff;
				h3 {
					font-size: 16px;
					line-height: 1.05em;
					font-weight: 600;
					letter-spacing: -0.01em;
					font-family: $font-serif;
				}
				h5 {
					font-size: 12px;
					font-family: $font-sinserif;
					line-height: 1em;
					margin-top: 5px;
					text-transform: uppercase;
				}
			}
		}
		&:hover {
			background: #455a64;
		}
		&:after {
			display: block;
			content: " ";
			clear: both;
			height: 0;
			margin: 0;
		}
	}
	footer {
		width: 100%;
		padding: 10px 0;
		border-bottom: 1px solid #ddd;
		margin: 0;
		a {
			font-family: $font-sinserif;
			font-size: 14px;
			font-weight: normal;
			letter-spacing: 0.2em;
			color: #fff;
			text-transform: uppercase;
			display: flex;
			justify-content: flex-end;
			line-height: 1em;
			&:after {
				content: "\f061";
				font-family: "FontAwesome";
				display: block;
				font-size: 20px;
				margin-left: 10px;
				margin-right: 10px;
				transform: translateY(-1px);
			}
		}
	}
	//@media only screen and (max-width: 890px) {
	@include media-breakpoint-down(md) {
		flex-direction: column;
		.notaPodcast {
			flex-basis: 100%;
			a {
				flex-direction: row;
				figure {
					flex-basis: 100px;
				}
			}
		}
	}
}



.caja-right,
.sidebar {
	#exitoina,
	#net,
	#investigacion,
	#opinion,
	#periodismopuro,
	#panorama {
		background: #fff;
		width: 100%;
		margin: 0 0 20px 0;
		box-sizing: border-box;
		box-shadow: 0 5px 8px 4px rgba(0, 0, 0, 0.15);
		border-radius: 6px;
		header {
			width: 100%;
			padding: 10px 10px 5px 10px;
			box-sizing: border-box;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			border-bottom: 1px solid #ddd;
			margin: 0;
			.exitoina-titulo {
				text-indent: -9999px;
				width: 180px;
				height: 26px;
				display: block;
				margin: 0;
				background: url('img/exitoina-logo-sidebar.png') 0 0 no-repeat;
				a {
					display: block;
					width: 180px;
					height: 26px;
				}
			}
			.net-titulo {
				text-indent: -9999px;
				width: 70px;
				height: 29px;
				display: block;
				margin: 0;
				background: url('img/net-logo-sidebar.png') 0 0 no-repeat;
				a {
					display: block;
					width: 70px;
					width: 29px;
				}
			}
			.investigacion-titulo {
				text-indent: -9999px;
				width: 280px;
				height: 35px;
				display: block;
				margin: 0;
				background: url('/static/css/img/investigacion-logo-sidebar.png') 0 0 no-repeat;
				a {
					display: block;
					width: 280px;
					height: 35px;
				}
			}
			.opinion-titulo {
				width: 100%;
				height: 30px;
				line-height: 44px;
				display: block;
				margin: 0;
				text-transform: uppercase;
				font-family: $font-serif;
				font-size: 24px;
				font-weight: 600;
				background: url('img/perfil-logo-xs-sidebar.png') right 0 no-repeat;
				.fa {
					color: #c3ced8;
					margin: 0 3px 0 0;
					font-weight: normal;
					font-size: 20px;
				}
				a {
					display: inline-block;
					color: #000;
				}
			}
			.panorama-titulo {
				width: 280px;
				height: 30px;
				line-height: 44px;
				display: block;
				margin: 0;
				text-transform: uppercase;
				font-family: $font-serif;
				font-size: 24px;
				font-weight: 600;
				background: url('img/perfil-logo-xs-sidebar.png') right 0 no-repeat;
				.fa {
					color: #c3ced8;
					margin: 0 3px 0 0;
					font-weight: normal;
					font-size: 20px;
				}
				a {
					display: inline-block;
					color: #000;
				}
			}
			.periodismopuro-titulo {
				text-indent: -9999px;
				width: 183px;
				height: 49px;
				display: block;
				margin: 0 auto;
				background: url('img/periodismo-puro-logo-sidebar.png') 0 0 no-repeat;
				background-position: center center;
				a {
					display: block;
					width: 183px;
					width: 49px;
					margin: auto;
				}
			}
			&.pp {
				flex-direction: column;
				h4 {
					border-top: 1px solid #d4d4d4;
					margin-top: 10px;
					padding-top: 5px;
					text-align: right;
					font-size: 15px;
					font-style: italic;
					display: block;
					width: 100%;
				}
			}
		}
		article {
			width: 100%;
			box-sizing: border-box;
			padding: 10px;
			border-bottom: 1px solid #ddd;
			background: #fff;
			transition: ease .3s;
			a {
				width: 100%;
				display: flex;
				figure {
					flex-basis: 35%;
					height: 50px;
					margin: 0 10px 0 0;
					border-radius: 3px;
					overflow: hidden;
				}
				h3 {
					flex: 1 1 0;
					color: #333;
					font-size: 16px;
					line-height: 1.05em;
					font-weight: 600;
					letter-spacing: -0.01em;
					font-family: $font-serif;
				}			
				h5 {
					font-size: 12px;
					font-family: $font-sinserif;
					line-height: 1em;
					margin-top: 5px;
					text-transform: uppercase;
				}
			}
			&.notaOpinion {
				a {
					display: flex;
					justify-content: space-between;
					figure {
						flex-basis: 35%;
						width: 100%;
					}
					.content {
						flex-basis: 63%;
					}
				}
				&:first-of-type {
					a {
						display: block;
					}
				}
			}
			&:after {
				display: block;
				content: " ";
				clear: both;
				height: 1px;
				margin: 0;
			}
			&:hover {
				background: #ededed;
				a {
					h3 {
						color: #000;
					}
				}
			}
			&:first-of-type {
				a {
					flex-direction: column;
					figure {
						flex-basis: 100%;
						height: auto;
						clear: both;
						margin: 0 0 5px 0;
					}
					h3 {
						font-size: 18px;
						line-height: 1.03em;
					}
				}
			}
			&.notaPanorama {
				a {
					display: flex;
					justify-content: space-between;
					figure {
						flex-basis: 35%;
						width: 100%;
					}
					.content {
						flex-basis: 63%;
						h5 {
							text-align: right;
						}
					}
				}
				&:first-of-type {
					a {
						flex-direction: row;
						figure {
							flex-basis: 35%;
							width: 100%;
							height: 50px;
							margin: 0 10px 0 0;
							border-radius: 3px;
							overflow: hidden;
						}
						.content {
							flex-basis: 63%;
							h3 {
								font-size: 16px;
							}
						}
					}
				}
			}
		}
		footer {
			width: 100%;
			padding: 10px;
			box-sizing: border-box;
			border-bottom: 1px solid #ddd;
			margin: 0;
			background-color: white;
			a {
				font-family: $font-sinserif;
				font-size: 14px;
				font-weight: 600;
				letter-spacing: 0.2em;
				color: #000;
				text-transform: uppercase;
				display: flex;
				justify-content: flex-end;
				line-height: 1em;
				&:after {
					content: "\f061";
					font-family: "FontAwesome";
					display: block;
					font-size: 20px;
					margin-left: 10px;
					transform: translateY(-1px);
				}
				&:hover {
					color: #444;
				}
			}
			&.edi {
				a {
					letter-spacing: 0.02em;
				}
			}
		}
		@include media-breakpoint-down(md) {
			article {
				width: 49%;
				margin-left: 1%;
				float: left;
				a {
					figure {
						height: 7vw;
						width: 100%;
						img {
							width: 100%;
						}
					}
				}
				&:first-of-type {
					width: 50%;
					margin: 0;
					border-bottom: none;
				}
				&:last-of-type {
					border-bottom: none;
				}
			}
			header {
				.opinion-titulo {
					width: 100%;
				}
				&.pp {
					flex-direction: row;
					justify-content: space-between;
					.periodismopuro-titulo {
						margin-left: 0;
					}
					h4 {
						display: inline-block;
						border-top: none;
						width: auto;
					}
				}
			}
			footer {
				clear: both;
				width: 100%;
				border-top: 1px solid #ddd;
			}
		}
		@include media-breakpoint-down(sm) {
			display: flex;
			flex-direction: column;
			article,
			article:first-of-type {
				width: 100%;
				margin: 0;
				flex-basis: 100%;
				a {
					display: flex;
					flex-direction: row;
					figure {
						flex-basis: 100px;
						height: auto;
						margin: 0 10px 0 0;
					}
					h3 {
						flex: 1 1 0;
						font-size: 18px;
					}
				}
			}
		}
	}
	#opinion,
	#panorama {
		header {
			background: -moz-linear-gradient(top,  rgba(228,226,232,0) 0%, rgba(228,226,232,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(228,226,232,0) 0%,rgba(228,226,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(228,226,232,0) 0%,rgba(228,226,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e4e2e8', endColorstr='#e4e2e8',GradientType=0 ); /* IE6-9 */
		}
	}
	#masLeidasSidebar {
		background: #fff;
		width: 100%;
		margin: 0 0 20px 0;
		box-sizing: border-box;
		box-shadow: 0 5px 8px 4px rgba(0, 0, 0, 0.15);
		border-radius: 6px;
		header.masleidas-titulo {
			height: 40px;
			display: block;
			margin: 10px 10px 5px 10px;
			text-transform: uppercase;
			font-family: $font-serif;
			font-size:18px;
			font-weight: 600;
			background: url('img/perfil-logo-xs-sidebar.png') right center no-repeat;
			a {
				display: inline-block;
				color: #000;
				line-height: 50px;
			}
		}
		#rankPerfilcom {
			width: 100%;
			article.masleidas {
				width: 100%;
				padding: 5px 10px;
				border-top: 1px solid $linea;
				background: #fff;
				transition: ease .3s;
				a {
					width: 100%;
					figure {
						width: 100%;
						margin: 0;
						border-radius: 3px;
						overflow: hidden;
						img {
							width: 100%;
						}
					}
					h3 {
						color: $dark;
						font-size: 1.1rem;
						font-size: 5vw;
						line-height: 1.05em;
						font-weight: 600;
						letter-spacing: -0.01em;
						font-family: $font-serif;
						margin: 0;
						padding: 0 0 0 40px;
						.rankOrder {
							width: 40px;
							margin: 0 0 0 -40px;;
							text-align: right;
							display: inline-block;
							padding: 0 8px 0 0;
							font-size: 2em;
							color: #999;
							transform: translateY(10px);
							font-weight: 400;
							letter-spacing: -0.03em;
						}
					}
				}
				&:hover {
					background: #ededed;
					a {
						h3 {
							color: $negro;
						}
					}
				}
				&:first-of-type {
					position: relative;
					padding: 0;
					a {
						h3 {
							display: block;
							background: rgba(0,0,0,0);
							background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
							position: absolute;
							bottom: 0;
							left: 0;
							right: 0px;
							color: white;
							padding: 50px 10px 10px 40px;
							.rankOrder {
								color: white;
							}
						}
					}
					&:hover {
						a {
							h3 {
								color: white;
							}
						}
					}
				}
			}
		}
		footer {
			width: 100%;
			padding: 10px;
			box-sizing: border-box;
			border-bottom: 1px solid #ddd;
			margin: 0;
			background-color: white;
			border-top: 1px solid $linea;
			a {
				font-family: $font-sinserif;
				font-size: 14px;
				font-weight: 600;
				letter-spacing: 0.2em;
				color: #000;
				text-transform: uppercase;
				display: flex;
				justify-content: flex-end;
				line-height: 1em;
				&:after {
					content: "\f061";
					font-family: "FontAwesome";
					display: block;
					font-size: 20px;
					margin-left: 10px;
					transform: translateY(-1px);
				}
				&:hover {
					color: #444;
				}
			}
		}		
		@include media-breakpoint-up(sm) {
			#rankPerfilcom {
				column-count: 2;
				column-gap: 2em;
				column-rule: 1px solid $linea;
				article.masleidas {
					break-inside: avoid-column;
					padding: 5px 0;
					a {
						h3 {
							font-size: 1.1rem
						}
						figure {
							height: 140px;
						}
					}
				}
			}
		}
		@include media-breakpoint-up(sm) {
			#rankPerfilcom {
				article.masleidas {
					a {
						figure {
							height: 190px;
						}
					}
				}
			}
		}
		@include media-breakpoint-up(lg) {
			#rankPerfilcom {
				column-count: 1;
				article.masleidas {
					padding: 5px 10px;
					a {
						figure {
							height: auto;
						}
					}
				}
			}
		}
	}
	#columnistas {
		background: #fff;
		width: 100%;
		margin: 0 0 20px 0;
		box-sizing: border-box;
		box-shadow: 0 5px 8px 4px rgba(0, 0, 0, 0.15);
		border-radius: 6px;
		header {
			width: 100%;
			padding: 10px 10px 5px 10px;
			box-sizing: border-box;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			margin: 0;
			background: linear-gradient(to bottom,  rgba(228,226,232,0) 0%,rgba(228,226,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e4e2e8', endColorstr='#e4e2e8',GradientType=0 ); /* IE6-9 */
			a {
				width: 100%;
				height: 30px;
				line-height: 44px;
				display: block;
				margin: 0;
				text-transform: uppercase;
				font-family: $font-serif;
				font-size: 24px;
				font-weight: 600;
				color: $negro;
				background: url('img/perfil-logo-xs-sidebar.png') right 0 no-repeat;
			}
		}
		.grupo-columnistas {
			article.nota-columnista {
				width: 100%;
				padding: 10px;
				border-top: 1px solid $linea;
				height: 70px;
				a {
					color: $dark;
					font:{
						family: $font-serif;
						weight: 400;
					}
					figure {
						width: 50px;
						height: 50px;
						border-radius: 50%;
						margin: 0 10px 0 0;
						border: 1px solid $azul;
						overflow: hidden;
						float: left;
						display: block;
						img {
							width: 100%;
							height: 100%;
							display: block;
						}
					}
					h3 {
						padding: 0;
						margin: 0;
						font-size: 1rem;
						font-size: 5vw;
						line-height: 1em;
						color: $negro;
					}
					h5 {
						padding: 0;
						margin: 0;
						font-size: .8rem;
						font-size: 4.5vw;
						color: $dark;
						font-style: italic;
					}
				}
			}
		}
		footer {
			width: 100%;
			padding: 10px;
			box-sizing: border-box;
			border-bottom: 1px solid #ddd;
			margin: 0;
			background-color: white;
			border-top: 1px solid $linea;
			a {
				font-family: $font-sinserif;
				font-size: 14px;
				font-weight: 600;
				letter-spacing: 0.2em;
				color: #000;
				text-transform: uppercase;
				display: flex;
				justify-content: flex-end;
				line-height: 1em;
				&:after {
					content: "\f061";
					font-family: "FontAwesome";
					display: block;
					font-size: 20px;
					margin-left: 10px;
					transform: translateY(-1px);
				}
				&:hover {
					color: #444;
				}
			}
		}
		@include media-breakpoint-up(sm) {
			.grupo-columnistas {
				padding: 0 10px;
				article.nota-columnista {
					padding: 10px 0;
					a {
						h3 {
							font-size: 1.2rem;
						}
						h5 {
							font-size: 1rem;
						}
					}
				}
			}
		}
		@include media-breakpoint-up(md) {
			.grupo-columnistas {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				article.nota-columnista {
					width: 48%;
					overflow: hidden;
				}
			}
		}
		@include media-breakpoint-up(lg) {
			.grupo-columnistas {
				padding: 0;
				display: block;
				article.nota-columnista {
					width: 100%;
					padding: 0 10px;
					border-top: 1px solid $linea;
					height: 70px;
					overflow: hidden;
					position: relative;
					a {
						display: flex;
						width: 510px;
						position: absolute;
						top: 0;
						left: 10px;
						transition: ease .3s;
						padding: 10px 0;
						figure {
							flex-basis: 50px;
							margin: 0 20px 0 10px;
							order: 1;
						}
						h3 {
							order: 0;
							display: block;
							padding: 0;
							margin: 0;
							width: 220px;
						}
						h5 {
							order: 2;
							display: block;
							padding: 0;
							margin: 0;
							width: 210px;
						}
					}
					&:hover {
						background: #ededed;
						a {
							left: -220px;
							transition: ease .3s;
						}
					}
				}
			}
		}
	}
}


