@import "theme/mixins/_breakpoints.scss";

// Body
$body-bg: #e7e7e7;
$body-bg-2: #333;

// -- Caras colores --//

$color-brand: #e12111;
$second-color: #f1df0f;
$link: #e12111;
$gris-oscuro: #313133;
$gris-medio: #666;
$gris-claro: #eee;
$gris-muy-claro: #e3ebf3;
$negro: #333;
$linea: #dfdfdf;

// --sombras -- //

$box-shadow: 0 3px 7px 0 rgba(0,0,0,.2);
$text-shadow: 0 3px 5px black;
$borde: 1px solid $gris-claro;

// -- Caras tipografías

$font-size: 1.2rem;
$line-height-base: 1.6;
$font-base: 'Poppins',Tahoma, -apple-system,BlinkMacSystemFont,"Segoe UI", Arial, "Roboto","Helvetica Neue",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$font-titulos-nowebfont: Tahoma, Helvetica, Roboto, sans-serif;
$font-titulos: 'Poppins', sans-serif;
//$condensada: 'Oswald', sans-serif;


// -- Paywall

$pw-azul: #4538f3;
$pw-azul-claro: #647ef1;


// -- Redes

$pf_facebook_color: #1877f2;
$pf_twitter_color: #4295DA;
$pf_instagram_color: #C73F7A;
$pf_youtube_color: #D95040;
$pf_linkedin_color: #007bb6;
$pf_pinterest_color: #cc2127;
$pf_flickr_color: #ff0084;
$pf_tumblr_color: #32506d;
$pf_whatsapp_color: #25D366;
$pf_rss_color: #ee802f;


@import "theme/mixins/_mixins.scss";