@import "theme/mixins/_breakpoints.scss";

// Body
$body-bg: #e7e7e7;
$body-bg-2: #333;

// -- Caras colores --//

$color-brand: #ed1b24;
$second-color: #313131;
$link: #ed1b24;
$gris-oscuro: #313133;
$gris-medio: #666;
$gris-claro: #eee;
$gris-muy-claro: #e3ebf3;
$negro: #333;
$linea: #dfdfdf;

// --sombras -- //

$box-shadow: 0 3px 7px 0 rgba(0,0,0,.2);
$text-shadow: 0 3px 5px black;
$borde: 1px solid $gris-claro;



@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  
  @font-face {
    font-family: "Crimson-fallback";
    size-adjust: 98.82000000000002%;
    ascent-override: 85%;
    src: local("Times New Roman");
  }
  
  
  @font-face {
      font-family: "Roboto-fallback";
      size-adjust: 100.06%;
      ascent-override: 96%;
      src: local("Arial");
  }
  
  $font-seccion: "Crimson Pro", "Crimson-fallback";
  $font-seccion-b: "Roboto", "Roboto-fallback";

// -- Caras tipografías

$font-size: 1.2rem;
$line-height-base: 1.6;
$font-base: 'Roboto', sans-serif, -apple-system,BlinkMacSystemFont,"Segoe UI", Arial, "Helvetica Neue",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$font-titulos-nowebfont: Arial,'Roboto', Helvetica, Roboto, sans-serif;
$font-titulos: 'Roboto', sans-serif;
$condensada: 'Roboto Condensed', sans-serif;


// -- Paywall

$pw-azul: #4538f3;
$pw-azul-claro: #647ef1;


// -- Redes

$pf_facebook_color: #1877f2;
$pf_twitter_color: #4295DA;
$pf_instagram_color: #C73F7A;
$pf_youtube_color: #D95040;
$pf_linkedin_color: #007bb6;
$pf_pinterest_color: #cc2127;
$pf_flickr_color: #ff0084;
$pf_tumblr_color: #32506d;
$pf_whatsapp_color: #25D366;
$pf_rss_color: #ee802f;


@import "theme/mixins/_mixins.scss";