.supercontenedor {
	h1.seccion-titulo {
		font:{
			size: 1.6rem;
			weight: 600;
		}
		color: $negro;
		text-transform: uppercase;
		margin: 0 0 10px 0;
		padding: 0 0 5px 10px;
		border-bottom: 1px solid $linea;
		width: 100%;
	}
	.contenido.canal,
	.contenido.autor {
		.autor-pagina {
			display: flex;
			padding: 10px;
			border: 1px solid $linea;
			border-radius: 3px;
			margin: 0 10px 20px 10px;
			figure {
				flex-basis: 60px;
				margin: 0 20px 0 0;
				width: 60px;
				height: 60px;
				overflow: hidden;
				background: white;
				img {
					width: 100%;
					height: auto;
					filter: grayscale(100%);
				}
			}
			.meta-autor {
				flex: 1 1 0;
				.nombre-autor {
					display: block;
					font:{
						size: 1.2rem;
						family: $font-serif;
						weight: 500;
					}
					margin: 0 0 5px 0;
					letter-spacing: -0.02em;
				}
				p.info-autor {
					font:{
						size: .75rem;
						family: $font-sinserif;
						weight: 400;
					}
					margin: 0 0 5px 0;
					color: $link-mobile;
					a {
						color: $link-mobile;
					}
				}
				p.redes-autor {
					margin: 0;
					a {
						display: inline-block;
						color: $link-mobile;
						font-size: 1.3rem;
						margin: 5px 15px 0 0;
						&:hover {
							color: $linea-oscura;
						}
					}
				}
			}
		}
		.cuatro-notas {
			.articulo {
				margin-bottom: 25px;
				.meta-content {
					a {

						h2 {
							letter-spacing: -0.02em;
							font-size: 1.6rem;
							font-size: 7.2vw;
						}
						p.date-time {
							font:{
								family: $font-sinserif;
								weight: normal;
								size: .8rem;
								size: 3vw;
							}
							text-transform: uppercase;
							color: $linea-oscura;
							margin: 10px 0 0 0;
						}
					}
				}
			}
		}
	}
}