.supercontenedor.reperfilar {
	.listado-subchannel {
		@include media-breakpoint-up(sm) {
			padding: 0;
			.articulo {
				.meta-content {
					.firma-home {
						font-size: .75rem;
					}
					a {
						h2 {
							font-size: 1.3rem;
						}
					}
				}
			}
		}
		@include media-breakpoint-up(md) {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			.articulo {
				display: block;
				width: 32%;
				position: relative;
				.meta-content {
					width: 100%;
					a {
						h2 {
							font-size: 1.2rem;
						}
					}
				}
				figure {
					width: 100%;
				}
				&:nth-child(7n+1),
				&:nth-child(7n+2) {
					width: 48.5%;
					padding-bottom: 0;
					.meta-content {
						position: absolute;
						bottom: 20px;
						left: 10px;
						right: 10px;
						border-left: 5px solid $reperfilar-rojo;
						background: white;
						padding: 5px 10px;
						width: auto;
					}
				}
			}
		}
		@include media-breakpoint-up(lg) {
			.articulo {
				&:nth-child(7n+1),
				&:nth-child(7n+2) {
					.meta-content {
						a {
							h2 {
								font-size: 1.3rem;
							}
						}
					}
				}
			}
		}
		@include media-breakpoint-up(xl) {
			.articulo {
				width: 22%;
				margin-bottom: 0;
				margin-top: 20px;
			}
			.ads-up-xl {
				width: 300px;
				margin-top: 20px;
			}
		}
		@include media-breakpoint-up(xl) {
			.articulo {
				width: 24%;
				&:nth-child(7n+1),
				&:nth-child(7n+2) {
					width: 49%;
				}
			}
		}
	}
}