
@include media-breakpoint-up(sm) {
	.supercontenedor {
		&.reperfilar {
			.reperfilar-main-content {
				.articulo {
					&:nth-child(1) {
						.meta-content {
							a {
								h2 {
									font-size: 1.6rem;
								}
							}
						}
					}
				}
			}
			.reperfilar-secciones {
				.reperfilar-seccion {
					padding: 0;
					.seguinos-vermas {
						display: flex;
						justify-content: space-between;
						.redes {
							display: block;
							ul {
								list-style: none;
								padding: 3px 0 0 0;
								margin: 0;
								li {
									float: left;
									margin: 0 0 0 16px;
									a {
										width: 20px;
										height: 20px;
										display: block;
										text-indent: 9999px;
										overflow: hidden;
										background:{
											size: contain;
											repeat: no-repeat;
											position: center;
										}
									}
									&.facebook {
										a {
											background:{
												image: url('../../../../img/glyph/share/facebook.svg');
											}
										}
									}
									&.instagram {
										a {
											background:{
												image: url('../../../../img/glyph/share/instagram.svg');
											}
										}
									}
									&.twitter {
										a {
											background:{
												image: url('../../../../img/glyph/share/twitter.svg');
											}
										}
									}
									&.youtube {
										a {
											background:{
												image: url('../../../../img/glyph/share/youtube.svg');
											}
										}
									}
									&.followus {
										text-transform: uppercase;
										color: $negro;
										font-family: $font-serif;
										font-size: 1rem;
										margin: 2px 0;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
@include media-breakpoint-up(md) {
	.supercontenedor {
		&.reperfilar {
			.reperfilar-main-content {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
				.articulo {
					padding-right: 0;
					padding-left: 0;
					width: 47%;
					flex-direction: column;
					justify-content: flex-start;
					figure {
						width: 100%;
					}
					.meta-content {
						width: 100%;
						a {
							h2 {
								font-size: 1.3rem;
								letter-spacing: -0.02em;
							}
						}
					}
					&:nth-child(1) {
						width: 100%;
					}
				}
			}
			.reperfilar-secciones {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				.reperfilar-seccion {
					width: 48%;
					margin-bottom: 40px;
					display: flex;
					flex-direction: column;
					.articulo {
						.meta-content {
							a {
								h2 {
									font-size: 1.2rem;
								}
							}
						}
					}
					.seguinos-vermas {
						margin-top: auto;
					}
				}
			}
		}
	}
}
@include media-breakpoint-up(lg) {
	.supercontenedor {
		&.reperfilar {
			.reperfilar-main-content {
				padding: 10px;
				justify-content: space-between;
				.articulo {
					width: 24%;
					justify-content: flex-start;
					.meta-content {
						padding-top: 5px;
						a {
							h2 {
								font-size: 1.2rem;
								font-weight: 400;
								letter-spacing: -0.02em;
							}
						}
					}
					&:nth-child(1) {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						.embed-responsive,
						.embed-responsive-16by9,
						.iframeContainer,
						figure {
							flex-basis: 66%;
						}
						.embed-responsive-16by9 {
							padding-bottom: 37%
						}
						.meta-content {
							flex-basis: 32%;
							padding: 0;
							a {
								h2 {
									font-size: 1.8rem;
								}
								p.headline {
									display: block;
									color: white;
									margin: 10px 0;
								}
							}
						}
					}
					&:hover {
						figure {
							img {
								filter: none;
								transform: none;
							}
						}
					}
				}
			}
			.reperfilar-secciones {
				.reperfilar-seccion {
					.articulo {
						&:hover {
							figure {
								a {
									img {
										filter: none;
										transform: none;
									}
									.galeria-video {
										opacity: 1;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
@include media-breakpoint-up(xl) {
	.supercontenedor {
		&.reperfilar {
			.reperfilar-main-content {
				display: grid;
				grid-template-areas: 
					'big smallone'
					'big smalltwo'
					'big smallthree'
					'big smallfour';
				grid-template-columns: 7fr 3fr;
				grid-column-gap: 20px;
				.articulo {
					width: 100%;
					flex-direction: row;
					justify-content: space-between;
					margin-bottom: 5px;
					figure {
						width: 30%;
					}
					.meta-content {
						padding-top: 0;
						padding-right: 0;
						width: 68%;
						a {
							h2 {
								font-size: 1.2rem;
							}
						}
					}
					&:nth-child(1) {
						grid-area: big;
						background: $dark;
						padding: 10px;
						margin-bottom: 0;
						justify-content: space-between;
						.embed-responsive-16by9 {
							padding-bottom: 42.2%;
							flex-basis: 75%;
						}
						.meta-content {
							flex-basis: 23%;
							a {
								h2 {
									font-size: 1.6rem;
								}
								p.headline {
									display: block;
								}
							}
							.firma-home {
								border-top: 1px solid $linea-oscura;
							}
						}
					}
					&:nth-child(2) {
						border-top: none;
						padding-top: 0;
						grid-area: smallone;
					}
					&:nth-child(3) {
						grid-area: smalltwo;
					}
					&:nth-child(4) {
						grid-area: smallthree;
					}
					&:nth-child(5) {
						grid-area: smallfour;
					}
				}
			}
			.reperfilar-secciones {
				.reperfilar-seccion {
					flex-wrap: wrap;
					width: 100%;
					flex-direction: row;
					justify-content: space-between;
					hr {
						display: block;
						width: 100%;
						height: 1px;
						visibility: hidden;
						margin: 0;
					}
					.articulo {
						width: 19%;
						border-top: none;
						padding-top: 0;
						display: block;
						figure {
							width: 100%;
						}
						.meta-content {
							width: 100%;
						}
						&:first-of-type {
							border-top: none;
						}
					}
				}
			}
		}
	}
}