.supercontenedor {
	@include media-breakpoint-up(sm) {
		h1.seccion-titulo {
			font-size: 1.6rem;
			padding: 0 0 5px 0;
		}
		.contenido.canal,
		.contenido.autor {
			.autor-pagina {
				margin: 0 0 20px 0;
			}
			.cuatro-notas {
				.articulo {
					figure {
						flex-basis: 40%;
					}
					.meta-content {
						flex-basis: 58%;
						padding: 0;
						a {
							h2 {
								font-size: 1.4rem;
							}
						}
						.firma-home {
							font-size: .76rem;
						}
					}
					&:first-of-type {
						border-top: none;
						.meta-content {
							padding: 0;
							a {
								h2 {
									font-size: 1.6rem;
								}
							}
						}
					}
				}
			}
		}
	}
	@include media-breakpoint-up(md) {
		.contenido.canal,
		.contenido.autor {
			.autor-pagina {
				padding: 15px;
				figure {
					flex-basis: 80px;
					width: 80px;
					height: 80px;
					img {
						height: auto;
					}
				}
			}
			.cuatro-notas {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				.articulo {
					display: block;
					width: 48%;
					border-top: none;
					border-bottom: 1px solid $linea;
					padding-bottom: 10px;
					.meta-content {
						a {
							h2 {
								font-size: 1.3rem;
							}
						}
					}
					&:first-of-type {
						.meta-content {
							a {
								h2 {
									font-size: 1.3rem;
								}
							}
						}
					}
				}
			}
		}
	}
	@include media-breakpoint-up(xl) {
		.contenido.canal,
		.contenido.autor {
			.cuatro-notas {
				&:first-of-type,
				&:nth-child(odd) {
					display: grid;
					grid-template-areas: 
						'topleft topleft topright'
						'topleft topleft topright'
						'topleft topleft bottomright'
						'bottomleft bottomleft bottomright';
				    grid-template-columns: repeat(3, 1fr);
					grid-column-gap: 20px;
					.articulo {
						width: 100%;
						display: block;
						box-shadow: 0 3px 7px 0 rgba(0,0,0,.2);
						background: white;
						transition: ease .4s;
						margin: 0 0 20px 0;
						&:nth-child(1) {
							grid-area: topleft;
							padding-top: 0;
							.meta-content {
								padding: 0 10px;
								a {
									h2 {
										font-size: 1.8rem;
										margin: 0 0 10px 0;
									}
									p.headline {
										display: block;
										font:{
											family: $font-sinserif;
											size: .9rem;
											weight: normal;
										}
										margin: 0 0 10px 0;
									}
								}
							}
						}
						&:nth-child(2) {
							display: flex;
							grid-area: bottomleft;
							padding: 10px;
							position: relative;
							margin: 0 0 38px 0;
							&:after {
								content: ' ';
								height: 2px;
								background: $linea-oscura;
								display: block;
								position: absolute;
								bottom: -20px;
								left: 0;
								right: 0;
							}
						}
						&:nth-child(3) {
							grid-area: topright;
							padding: 10px;
						}
						&:nth-child(4) {
							grid-area: bottomright;
							padding: 10px;
							.meta-content {
								a {
									h2 {
										margin-bottom: 10px;
									}
									p.headline {
										display: block;
										font:{
											family: $font-sinserif;
											size: .9rem;
											weight: normal;
										}
										margin: 0 0 10px 0;
									}									
								}
							}
						}
						&:hover {
							box-shadow: 0 5px 15px 0 rgba(0,0,0,.3);
							figure {
								a {
									img {
										filter: brightness(100%);
										transform: none;
									}
								}
							}
						}
					}
				}
				&:nth-child(even) {
					display: flex;
					justify-content: space-between;
					.articulo {
						display: block;
						width: 100%;
						flex-basis: 23.5%;
						.meta-content {
							a {
								h2 {
									font-size: 1.1rem;
								}
							}
						}
						&:hover {
							figure {
								a {
									img {
										filter: brightness(100%);
										transform: none;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	@include media-breakpoint-up(xxl) {
		.contenido.canal,
		.contenido.autor {
			.cuatro-notas {
				&:nth-child(even) {
					display: grid;
					grid-template-areas:
						'tl tl tm tm tr tr'
						'bl bl bl br br br';
					grid-column-gap: 20px;
				    grid-template-columns: repeat(6, 1fr);
					.down-ml.up-xl {
						grid-area: tl;
						width: 100%;
					}
					.articulo {
						width: 100%; 
						.meta-content {
							a {
								h2 {
									font-size: 1.3rem;
								}
							}
						}
						&:nth-child(1) {
							width: 100%;
							grid-area: tm;
							border-bottom: 1px solid $linea;
							.meta-content {
								a {
									h2 {
										font-size: 1.4rem;
									}
								}
							}
						}
						&:nth-child(2) {
							grid-area: tr;
							background: $black;
							padding: 10px;
							width: 100%;
							.meta-content {
								a {
									h2 {
										color: white;
										font-family: $font-condensada;
										text-transform: uppercase;
										font-size: 1.4rem;
										line-height: 1.1em;
										margin-top: 5px;
									}
									p {
										color: white;
									}
								}
								.firma-home {
									color: white;
									a {
										color: white;
									}
								}
							}
						}
						&:nth-child(3) {
							grid-area: bl;
							display: flex;
							.meta-content {
								padding: 0;
								.hat {
									display: none;
								}
							}
						}
						&:nth-child(4) {
							grid-area: br;
							display: flex;
							position: relative;
							.meta-content {
								padding: 0;
								.hat {
									display: none;
								}
							}
							&:before {
								content: "";
								background: $linea;
								position: absolute;
								top: 10px;
								bottom: 0;
								left: -10px;
								width: 1px;
							}
						}
					}
				}
			}
		}
	}

	//TODO- PAGINA COLUMNISTAS

	@include media-breakpoint-up(sm) {
		.contenido.columnistas {
			.box-columnista {
				display: flex;
				margin: 10px 0;
				.info-columnista {
					flex-basis: 120px;
					margin: 0 15px 0 0;
					a {
						display: flex;
						flex-direction: column;
						figure {
							margin: 0 0 5px 0;
						}
						.nombre-columnista {
							font-size: 1rem;
							text-align: center;
						}
					}
				}
				.articulo {
					flex: 1 1 0;
					border-top: none;
					padding-top: 0;
					a {
						.hat {
							font-size: .9rem;
						}
						h2 {
							font-size: 1.6rem;
						}
						p.headline {
							font-size: .9rem;
						}
						.fechayhora {
							font-size: .8rem;							
						}
					}
				}
				&.main-columnista {
					display: grid;
					grid-template-areas:
						'autor notauno'
						'autor notados';
					grid-template-columns: 120px auto;
					grid-column-gap: 10px;
					.info-columnista {
						grid-area: autor;
					}
					.articulo {
						&:first-of-type {
							grid-area: notauno;
						}
						&:last-of-type {
							border-top: 1px solid $linea;
							padding-top: 10px;
							grid-area: notados;
						}
					}
				}
			}
		}
	}
	@include media-breakpoint-up(md) {
		.contenido.columnistas {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			.box-columnista {
				width: 48%;
				flex-direction: column-reverse;
				padding-bottom: 10px;
				.info-columnista {
					flex-basis: auto;
					margin-top: auto;
					border-top: 1px solid $linea;
					padding-top: 10px;
					margin-top: 10px;
					a {
						flex-direction: row;
						justify-content: flex-start;
						figure {
							margin: 0 10px 0 0;
						}
						.nombre-columnista {
							text-align: left;
						}
					}
				}
				.articulo {
					flex-basis: auto;
				}
				&.main-columnista {
					width: 100%;
					.info-columnista {
						padding-top: 0;
						border-top: none;
						a {
							flex-direction: column;
							figure {
								margin: 0 0 5px 0;
							}
							.nombre-columnista {
								text-align: center;
							}
						}
					}
					.articulo {
						&:first-of-type {
							a {
								h2 {
									font-size: 2rem;
								}
							}
						}
					}
				}
				&:nth-child(5) {
					background: $negro;
					.articulo {
						a {
							h2,
							p.headline,
							.fechayhora {
								color: white;
							}
							.fechayhora {
								border-top: 1px solid $dark;
							}
						}
					}
					.info-columnista {
						border-top: 1px solid $dark;
						a {
							.nombre-columnista {
								color: white;
							}
						}
					}
				}
			}
		}
	}
	@include media-breakpoint-up(xl) {
		.contenido.columnistas {
			.box-columnista {
				width: 24%;
				.articulo {
					a {
						.fechayhora {
							margin-top: 10px;
							border-top: 1px solid $linea;
							margin-right: auto;
							display: inline-block;
						}
					}
				}
				&:nth-child(2),
				&:nth-child(3) {
					width: 49.4%;
					flex-direction: row;
					.info-columnista {
						padding-top: 0;
						border-top: none;
						flex-basis: 120px;
						margin: 0 10px 0 0;
						a {
							flex-direction: column;
							figure {
								margin: 0 auto 5px auto;
								width: 80px;
								height: 80px;
								align-self: center;
								flex-basis: auto;
							}
							.nombre-columnista {
								text-align: center;
								flex: auto;
							}

						}
					}
					.articulo {
						flex: 1 1 0;
						padding-left: 10px;
						border-left: 1px solid white;
						a {
							.fechayhora {
								border-top: 1px solid white;
							}
						}
					}
				}
				&.main-columnista {
					display: flex;
					flex-direction: row;
					.info-columnista {
						margin: 0 10px 0 0;
						flex-basis: 120px;
						a {
							figure {
								margin: 0 auto 5px auto;
								width: 80px;
								height: 80px;
								flex-basis: auto;
							}						
						}
					}
					.articulo {
						justify-content: strech;
						padding-left: 10px;
						border-left: 1px solid $linea;
						a {
							display: flex;
							flex-direction: column;
							height: 100%;
							.hat {
								margin-bottom: 5px;
							}
							h2 {
								margin-bottom: 10px;
							}
							p.headline {
								margin-bottom: 10px;
							}
							.fechayhora {
								margin-top: auto;
							}
						}
						&:first-of-type {
							flex: 0;
							flex-basis: 480px;
							margin: 0 20px 0 0;
							justify-content: strech;
						}
						&:last-of-type {
							flex: 1 1 0;
							border-top: none;
							padding-top: 0;
							a {
								p.headline {
									display: none;
								}
							}
						}
					}
				}
			}
		}
	}
}