.news {
	flex-direction: column;

	&__container {
        flex-direction: column;
	}

	&__header {
        display: flex;
        flex-direction: column;
        padding: 0 0 1rem 0;
	}

	&__hat {
        display: inline-block;;
        text-transform: uppercase;
        margin: 0 auto 0 0;
        font-size: .95rem;
        line-height: 1;
        color: $color-brand;
        border-bottom: 1px solid $gris-medio;

        a {
            font-weight: bold;
            color: $gris-oscuro;
        }
	}

	&__title {
        
        padding: .5rem 0 0 0;
        font-size: 2rem;
        line-height: 1.1em;
        letter-spacing: -0.05rem;
	}

	&__headline {
        font-size: 1.25rem;
        line-height: 1.3em;
        font-weight: 700;

        .open-gallery {
            display: inline-flex;
            flex-wrap: nowrap;
            align-items: baseline;
            color: $color-brand;
            img {
                margin: 0 5px;
                font-size: 1px;
            }
        }
	}

	&__sharing {
        width: 100%;
        padding: .5rem 0;
	}

	&__media {
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 0 -.5rem 1rem;
        width: calc(100% + 1rem);
        height: auto;
        padding: 0;


        picture {
            img {
                display: block;
            }
        }

        .figure-caption {
            font-size: .7rem;
            padding: 5px .5rem;
            border-bottom: 1px solid $color-secondary;
            text-transform: uppercase;
            color: $gris-oscuro;
            line-height: 1.3em;
            font-family: $font-secundaria;

            .credito-foto {
                font-weight: normal;
            }
        }
        a.fotogaleria {
            display: none;
        }
	}

	&__date {
        color: $gris-medio;
        font-size: 0.8rem;
        text-transform: uppercase;
        margin: 2rem 0 1rem 0;
        display: block;
        border-top: $borde;
        padding-top: 0.5rem;
        font-family: $font-secundaria;
	}

	&__main-article {
		display: flex;
		flex-direction: column;
		border-top: 1px solid $gris-muy-claro;

		.mas-en-perfil {
			&__nota {
				&__titulo {
					font-size: 1.2em;
					letter-spacing: 0.03em;
				}
			}
		}
		
		.galeria-fotos {
			&__fotos {
				display: grid;
				grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
				gap: 1rem;
				a {
					img {
						border-radius: 6px;
						width: 100%;
						display: block;
					}
				}
			}
		}
	}

	&__content {

		p,
		li {
            margin: 1em 0;
            font-size: 1.16rem;
            line-height: 1.6em;

            img {
                margin: 1em 0
            }

            a {
                color: black;
                background: rgba(77, 144, 254, 0);                   
                border-bottom: 3px solid rgba(77, 144, 254, 1);
                &:hover {
                    background: rgba(77, 144, 254, 0.4);                   
                    border-bottom: 3px solid rgba(77, 144, 254, 0);
                }
            }

		}

		ul {
			padding-left: 1.3rem;
		}

		h2 {
            font-size: 1.6em;
            margin: 1.5em 0 1em 0;
		}

		figure {
            img {
                display: block;
                height: auto;
            }

            figcaption {
                font-family: $font-secundaria;
                font-size: .8em;
                padding: 5px;
                border-bottom: 1px solid $color-secondary;
                text-transform: uppercase;
                color: $gris-oscuro;
                line-height: 1.3em;
            }
		}

		.tags {
            width: 100%;
            border-top: $borde;
            padding: 1em 0;

            &__listado {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: .5rem;
                list-style: none;
                padding: 0;
                margin: 0;
                label {
					font-size: .9rem;
					text-transform: uppercase;
					font-weight: bold;
					line-height: normal;
                }

                ul {
					margin: 0px;
					display: flex;
					gap: .5rem;
                }

                li {
					line-height: 1.6em;
					font-size: 0.75rem;
					line-height: 1.6em;
					margin: .3em 0;

					a {
						border-radius: 30px;
						display: block;
						padding: .2rem .8rem;
						border: $borde;
						background: white;

						&:hover {
							box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .1);
						}
					}
                }
            }

		}

		>p:first-of-type:first-letter {
            color: $color-brand;
            float: left;
            font-size: 4rem;
            font-weight: bold;
            line-height: .2em;
            margin: 22px 6px 7px 0;
            transform: translateY(-10px);
		}

        p.destacadoNota {
            font-size: 1.5em;
            font-weight: bold;
            padding-top: .5rem;
            padding-bottom: 1rem;
            margin-left: 1rem;
            margin-right: 1rem;
            border-top: 1px solid rgba(20, 38, 128, .3);
            border-bottom: 1px solid rgba(20, 38, 128, .3);
            color: $gris-oscuro;
            line-height: 1.2em;
            a {
                border-bottom: none;
                color: $gris-oscuro;
                &:hover {
                    color: $color-brand;
                    background: transparent;
                    text-decoration: underline;
                }
            }
            u {
                color: rgba(20,38,128,.5);
                font-size: .8em;
                text-decoration: none;
            }
        }
	}
}

.suggested-news {
    width: 100%;
    max-width: 600px;
    margin: 2rem auto;
    padding: 1em 0;
    border-top: $borde;
    position: relative;
    background: white;

    a {
        display: flex;
        gap: 1rem;
    }

    &__media {
        width: 80px;
        height: 80px;
        flex-basis: 80px;
        border-radius: 6px;
        overflow: hidden;
        img {
            display: block;
        }
    }
    &__content {
        flex: 1 1 0;
    }
    &__hat {
        font-size: .9rem;
        font-weight: bold;
        color: $color-brand;
    }
    &__title {
        display: block;
        font-size: 1.1rem;
        font-weight: bold;
        padding-top: .4rem;
    }
    &:before,
    &:after {
        content: "";
        width: 60%;
        position: absolute;
        background: white;
        z-index: -1;
        height: 20px;
        bottom: 18px;
        box-shadow: 0 13px 18px 0 rgba(0,0,0,.2);
    }

    &:before {
        transform: rotate(-3deg);
        left: 10px;
    }

    &:after {
        transform: rotate(3deg);
        right: 10px;
    }

}

@include media-breakpoint-up(md) {
	.news {
        &__title {
            font-size: 3rem;
        }
        &__main-article {
            flex-direction: row;
            gap: 1rem;
            padding-top: 2rem;
        }
        &__sharing {
            flex-basis: 90px;
        }
        &__body {
            flex: 1 1 0;
        }
        &__media {
            
            a.fotogaleria {
                z-index: 1;
                position: absolute;
                top: 1rem;
                right: 1rem;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(0,0,0,.5);
                img {
                    width: 22px;
                }
            }
        }

        &__content {
            p.destacadoNota {
                margin-left: 3rem;
                margin-right: 3rem;
            }
        }
	}
}
@include media-breakpoint-up(lg) {
	.news {
		flex-direction: row;
		gap: 2rem;
        align-items: initial;

		&__headline {
				font-size: 1.5rem;
		}

		&__media {
            width: 100%;
            margin: 1rem 0;
			.figure-caption {
				padding: 5px 0;
			}
		}
	}
}

@include media-breakpoint-up(xl) {
    .news {
        &__container {
            max-width: 908px;
        }

        &__content {
            p.destacadoNota {
                margin-left: 6rem;
                margin-right: 6rem;
            }
        }
    }
}

@include media-breakpoint-up(xxl) {
    .news {
        &__title {
            font-size: 3.6rem;
        }
    }
}