.perfil-noticia {
	.supercontenedor.reperfilar {
		@include media-breakpoint-up(sm) {
			.container {
				.main-article {
					.news-body {
						.news-content {
							p,
							ul,
							li {
								a,
								a strong,
								strong a {
									color: $negro;
									transition: ease .15s;
									box-shadow: inset 0 -2px 0 $reperfilar-rojo;
									word-break: break-word;
									text-decoration: none;
								}
							}
							p.destacadoNota {
								color: $miscelanea;
								position: relative;
								a {
									text-decoration: none;
									box-shadow: none;
								}
							}
							.social-topsharing {
								ul,
								li {
									a {
										box-shadow: none;
									}
								}
							}
							.noticias-relacionadas {
								ul {
									li {
										a {
											box-shadow: none;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		@include media-breakpoint-up(md) {
			.container {
				.main-article {
					.news-body {
						.news-content {
							p,
							ul,
							li {
								a,
								a strong,
								strong a {
									&:hover {
										color: white;
										box-shadow: inset 0 -24px 0 $reperfilar-rojo;
									}
								}
							}
							p.destacadoNota {
								color: $miscelanea;
								position: relative;
								a {
									&:hover {
										color: $negro;
										box-shadow: none;
									}
								}
							}
							.social-topsharing {
								ul,
								li {
									a {
										box-shadow: none;
									}
								}
							}
							.noticias-relacionadas {
								ul {
									li {
										a {
											&:hover {
												box-shadow: none;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
		@include media-breakpoint-up(xl) {
			.container {
				.main-article {
					.news-body {
						.news-content {
							.noticias-relacionadas {
								float: none;
								width: auto;
								margin: 0 5% 20px 5%;
							}
						}
					}
				}
			}
		}
	}
}