.perfil-noticia {
	@include media-breakpoint-up(sm) {
		.supercontenedor {
			.articulo-header {
				width: 100%;
				padding: 10px 0;
				.hat {
					font-size: 0.9rem;
					a {
						display: inline-block;
					}
					span {
						&.volanta {
							&:before {
								content: "";
								display: block;
								height: 1em;
								width: 1px;
								background: $linea;
								margin: 0 7px;
								display: inline-block;
							}
						}
					}
				}
				h1 {
					font-size: 2.4rem;
				}
				h2 {
					font-size: 1.42rem;
				}
			}
			.container {
				.main-article {
					.news-body {
						display: grid;
						grid-template-areas:
							'headerleft headerright'
							'main main'
							'bottom bottom';
						grid-template-columns: 2fr 1fr;
						padding: 0;
						margin-top: 20px;
						font-size: 1.35rem;
						p,
						ul,
						ol,
						li {
							font-size: 1.42rem;
							line-height: 1.4em;
						}
						.social-topsharing {
							grid-area: headerright;
							display: flex;
							justify-content: flex-end;
							align-items: flex-end;
							margin-bottom: 0;
							ul {
								justify-content: flex-end;
								li:last-of-type {
									margin-right: 0;
								}
							}
						}
						.fecha-autor {
							grid-area: headerleft;
							padding-top: 0;
							.fecha {
								font-size:0.85rem;
								margin-bottom: 0;
							}
							.autor {
								border-bottom: none;
								.autor-nota-arriba {
									padding: 0;
									margin-bottom: 0;
									display: block;
								}
							}
						}
						.news-content {
							grid-area: main;
							margin-top: 10px;
							padding-top: 10px;
							border-top: 1px solid $linea;
							.media.noticia-relacionada {
								a {
									figure {
										width: 100px;
									}
									h6 {
										font-size: .75rem;
									}
									h5 {
										font-size: 1.2rem;
									}
								}
							}
							.noticias-relacionadas {
								h6 {
									font:{
										size: 1.2rem;
									}
								}
								.related-news {
									flex-direction: row;
									flex-wrap: wrap;
									justify-content: space-between;
									.related-new {
										width: 24%;
										border-top: none;
										border-bottom: 1px solid $linea;
										padding-top: 0;
										margin-top: 0;
										padding-bottom: 10px;
										margin-bottom: 10px;
										figure.related-img {
											width: 100%;
											float: none;
											margin: 0 0 5px 0;
										}
										h5 {
											font-size: 1.2rem;
										}
									}
								}
							}
							.tags {
								ul {
									li {
										font-size: .85rem;
									}
								}
							}
							.twitter-tweet,
							.twitter-tweet-rendered {
								margin: auto;
							}
						}
						.previous_news {
							background: transparent;
							border-bottom: none;
							h4 {
								font-size: .9rem;
							}
							ul {
								li {
									font-size: 1.2rem;
									font-weight: 600;
									a {
										color: $linea-oscura;
									}
									&:last-of-type {
										padding-bottom: 10px;
										border-bottom: 1px solid $dark;
									}
								}
							}
						}
					}
					figure {
						figcaption {
							font-size: .85rem;
							padding: 5px 0;
						}
						img {
							width: 100%;
						}
					}
				}
			}
		}
	}
	@include media-breakpoint-up(md) {
		.supercontenedor {
			.articulo-header {
				h1 {
					font-size: 3rem;
					letter-spacing: -0.02em;
				}
			}
			.container {
				.main-article {
					figure.figure.btn-open-gallery {
						.figure-caption {
							position: relative;
							background: transparent;
							color: $negro;
							padding: 5px 0;
							border-bottom: 1px solid $linea;
						}
					}
					.news-body {
						padding: 0 50px;
						.news-content {
							position: relative;
							display: flex;
							flex-direction: column;
							justify-content: flex-start;
							a,
							strong a,
							a strong {
								color: $negro;
								box-shadow: inset 0 -2px 0 $azul;
								transition: ease .2s;
								&:hover {
									box-shadow: inset 0 -23px 0 $hover;
								}
							}
							p,
							ul,
							ol,
							li {
								line-height: 1.4em;
								color: $dark;
								a,
								strong a,
								a strong {
									color: $negro;
									text-decoration: none;
									box-shadow: inset 0 -2px 0 $link;
									transition: ease .2s;
									&:hover {
										box-shadow: inset 0 -23px 0 $hover;
									}
								}
							}
							p.destacadoNota {
								a,
								a strong,
								strong a{
									box-shadow: none;
								}
							}
							.noticias-relacionadas {
								h6 {
									padding-bottom: 5px;
									margin-bottom: 10px;
									border-bottom: 1px solid $linea;
								}
								.related-news {
									.related-new {
										h5 {
											a {
												box-shadow: none;
												&:hover {
													box-shadow: none;
												}
											}
										}
									}
								}
							}
							.tags {
								ul {
									li {
										a {
											box-shadow: none;
											&:hover {
												box-shadow: none;
											}
										}
									}
								}
							}
							.galeria-imagenes {
								a {
									box-shadow: none;
									&:hover {
										box-shadow: none;
									}
								}
							}
						}
						.social-topsharing {
							ul {
								li {
									&.whatsapp {
										display: none;
									}
								}
							}
						}
						.fecha-autor {
							.autor {
								font-size: 1.25rem;
							}
						}
					}
				}
			}
		}
	}
	@include media-breakpoint-up(lg) {
		.supercontenedor {
			.articulo-header {
				h1 {
					font-size: 4rem;
					margin-bottom: 20px;
				}
				h2 {
					font-size: 1.6rem;
				}
				border-bottom: 1px solid $linea;
				margin-bottom: 20px;
			}
			.container {
				display: flex;
				.main-article {
					flex: 1 1 0;
					.news-body {
						padding: 0;
						figure{
							margin-top: 0;
						}
					}
				}
				.sidebar {
					flex-basis: 300px;
					width: 300px;
					margin: 0 0 0 25px;
				}
			}
		}
	}
	@include media-breakpoint-up(xl) {
		.supercontenedor {
			.container {
				max-width: 1260px;
				.main-article {
					padding-right: 20px;
					.news-body {
						grid-column-gap: 20px;
						grid-template-areas:
							'sidebar mainuno'
							'sidebar maindos';
						padding: 20px 0 0 0;
						margin: 0;
						grid-template-rows: auto 100%;
						grid-template-columns: 80px auto;
						.fecha-autor {
							grid-area: mainuno;
							align-self: start;
							border-bottom: 1px solid #dedede;
							margin-bottom: 10px;
							padding-bottom: 10px;
							displaly: flex;
							flex-direction: row;
							justify-content: space-between;
							align-items: flex-end;
							.autor {
								padding: 0;
								.autor-nota-arriba {
									display: grid;
									grid-template-areas:
										'foto nombre'
										'foto parrafo';
									grid-template-columns: 60px auto;
									grid-template-rows: 1fr min-content;
									a.nombreautor {
										grid-area: nombre;
									}
									p.autor-about {
										grid-area: parrafo;
										font:{
											size: .8rem;
											family: $font-sinserif;
											weight: normal;
										}
										color: $dark;
										line-height: 1.1em;
										margin: 5px 0 0 0;
										display: block;
										span {
											display: inline-block;
											margin: 3px 10px 0 0;
											img {
												width: auto;
												height: 10px;
												float: left;
												margin: 0 3px 0 0;
												&.facebook {
													height: 12px;
												}
												&.bullet {
													margin-top: 5px;
												}
												&.twitter {
													margin-top: 1px;
													height: 11px;
												}
												&.instagram {
													height: 12px;
													margin-top: 1px;													
												}
											}
											a {
												color: #999;
											}
										}
									}
									figure {
										grid-area: foto;
										height: 50px;
									}
								}
							}
							.fecha {
								min-width: 200px;
								text-align: right;
							}
						}
						.social-topsharing {
							align-self: start;
							grid-area: sidebar;
							justify-content: flex-start;
							z-index: 3;
							position: sticky;
							padding: 0 0 20px 0;
							top: 2rem;
							background: white;
							ul {
								border-bottom: 1px solid $linea;
								flex-direction: column;
								height: auto;
								li {
									width: 50px;
									height: 50px;
									padding: 10px;
									border-top: 1px solid $linea;
									border-left: 1px solid $linea;
									border-right: 1px solid $linea;
									text-align: center;
									margin: 0;
									&.facebook {
										margin-right: 0;
									}
									transition: ease .2s;
									a {
										img {
											transition: ease .2s;
										}
									}
									&:hover {
										a {
											img {
												filter: brightness(0%) invert(1);
											}
										}
									}
									&.facebook:hover {
										background: $fb_color;
									}
									&.twitter:hover {
										background: $tw_color;
									}
									&.linkedin:hover {
										background: $linkedin_color;
									}
									&.mailto:hover {
										background: $linea;
									}
								}
							}
						}
						.news-content {
							grid-area: maindos;
							border-top: none;
							padding-top: 0;
							margin-top: 0;
							display: block;
							p.destacadoNota {
								margin: 30px 20%;
								padding: 40px 50px;
							}
							.tags {
								display: block;
							}
							.previous_news {
								width: 200px;
								display: block;
								float: left;
								padding: 0 20px 0 0;
								margin: 0;
								h4 {
									font-size: 1rem;
									margin-top: 6px;
									padding-top: 0;
									border-bottom: 1px solid $dark;
								}
								ul {
									list-style: none;
									li {
										font-size: 1.12rem;
										padding: 0 0 5px 0;
										margin: 6px 0 0 0;
										line-height: 1.15em;
										border-bottom: 1px solid $linea;
										a {
											&:hover {
												text-decoration: none;
												color: $negro;
											}
										}
										&:before {
											display: none;
										}
										&:last-of-type {
											border-bottom: 1px solid $negro;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}