<div id="pw-zocalo" class="open {{add_class}}">
  <div class="pw-zocalo-top">
    <div class="pw-zocalo-container">
      <figure>
        <img src="/static/img/logo_perfil_negativo.png">
      </figure>
      <div id="pw-zocalo-close">
        <div class="bar1"></div>
        <div class="bar2"></div>
      </div>
    </div>
  </div>
  <div class="pw-zocalo-container">

    <div class="pw-zocalo-bloque-a">
      <p class="pw-zocalo-texto">Te hace falta saber.<br>Nos apasiona informar.</p>
      <p class="pw-zocalo-texto">Necesitás confiar.<br>Te queremos ahí.</p>
    </div>
    <div class="pw-zocalo-bloque-b">
      <h6 style="cursor: pointer;" class="pw-zocalo-btn-call-to-action">{{button_title}}</h6>
      <p class="pw-zocalo-bajada">Para entrar al universo digital de <span>Perfil</span> <br>y acceder a más Periodismo Puro en tiempo real.</p>
    </div>

    <div class="pw-zocalo-acciones">
      <button class="pw-boton-suscripcion pw-zocalo-btn-call-to-action">{{button_title}}</button>
      <p class="mensaje">
        En la verdad <br>no hay grieta.
      </p>
      <p class="mensaje">
        El único compromiso <br>es con vos.
      </p>
    </div>

  </div>
</div>
