<div id="pw-modal" class="pw-color-invertido">
  <div class="pw-modal-box">
    <div class="pw-modal-content">
      <div class="pw-modal-top">
        <a href="/">
          <div id="pw-modal-close">
            <div class="bar1"></div>
            <div class="bar2"></div>
          </div>
        </a>
      </div>
      <div class="pw-perfil-logo">
        <figure class="figure-perfil-logo">
          <a href="/">
            <img src="/img/perfil-blanco.svg" alt="Perfil">
          </a>
        </figure>
      </div>
      <div class="pw-modal-row">
        <p class="pw-modal-mensaje-a">Información creíble en un momento para creer</p>
        <p class="pw-modal-mensaje-b">Llegaste a tu límite de notas del mes.</p>
        <p class="pw-modal-mensaje-c"><a href="#" class="pw-paywall-metered-modal-btn-call-to-action">Hacete socio de Perfil</a></p>
        <p class="pw-modal-mensaje-d">Y accedé al Periodismo Puro en tiempo real.</p>
      </div>
      <div class="pw-modal-row" style="margin-bottom: 10px;">
        <button type="button" class="pw-boton-suscripcion pw-paywall-metered-modal-btn-call-to-action" style="margin-bottom: 10px;">Suscribirme</button><br />
        <span>desde $399 por mes</span>
      </div>
      <div class="pw-modal-row">
        <p class="pw-modal-mensaje-e">En la verdad no hay grieta: el único compromiso es con vos.</p>
      </div>
    </div>
  </div>
</div>
