<div id="pw-modal">
  <div class="pw-modal-box">
    <div class="pw-modal-content">
      <div class="pw-modal-top">
        <a href="/">
          <div id="pw-modal-close">
            <div class="bar1"></div>
            <div class="bar2"></div>
          </div>
        </a>
      </div>
      <div class="pw-perfil-logo">
        <figure class="figure-perfil-logo">
          <a href="/">
            <img src="/static/img/logo_perfil_negativo.png" alt="Perfil">
          </a>
        </figure>
      </div>
      <div class="pw-modal-row">
        <p class="pw-modal-mensaje-f">Te hace falta saber. <br>Nos apasiona informar.</p>
        <p class="pw-modal-mensaje-f">Necesitás confiar. <br>Te queremos ahí.</p>
        <p class="pw-modal-mensaje-g"><a href="https://mi.perfil.com/">Registrate</a></p>
        <p class="pw-modal-mensaje-d">Accedé gratis a más Periodismo Puro en tiempo real.</p>
      </div>
      <div class="pw-modal-row">
        <button type="button" class="pw-boton-suscripcion" id="pw-btn-register">Registrarme</button>
        <p class="pw-modal-enlaces"><a href="{{paywall_url}}id/login/?continue={{current_url}}">Ya tengo una cuenta</a></p>
      </div>
      <div class="pw-modal-row">
        <p class="pw-modal-mensaje-e">En la verdad no hay grieta: el único compromiso es con vos.</p>
      </div>
    </div>
  </div>
</div>
