 .relacionadas {
    width: 100%;
    

    &__noticias {
        width: 100%;
    }
    &__nota {
        width: 100%;
        padding: 0 0 .3em 0;
        margin: 0 0 .3em 0;
        font-size: 1rem;
        font-weight: bold;
        line-height: 1.05em;
        border-bottom: $borde;
        a {
            display: flex;
            justify-content: space-between;
            color: $gris-oscuro;
            flex-direction: row;
            figure {
                width: 40%;
                align-self: flex-start;
            }
            .relacionada-titulo-nota {
                width: 60%;
                padding: 0.1em .7em;
                font-weight: 600;
                font-size: 0.75em;
            }
        }
    }
}

.mas-en-perfil {
    width: 100%;
    padding: 0 .5em;
    &__titulo {
        font-weight: bold;
        font-size: 1.2em;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        text-transform: uppercase;
        letter-spacing: -0.03em;
        img {
            margin-left: 5px;
            margin-bottom: -5px;
        }
    }
    &__nota {
        width: 100%;
        margin: 20px 0;
        box-shadow: $box-shadow;
        background: white;
        padding: 10px 0 0 0;
        display: flex;
        flex-direction: column;
        .logo-revista {
            display: block;
            text-indent: -9999px;
            background: url('/images/revistas-b.png') no-repeat 10px 0;
            width: 100%;
            height: 30px;
        }
        &__titulo {
            display: block;

            line-height: 1em;
            padding: 1em;
           // letter-spacing: -0.03em;
        }
        &.noticias {
            background: #004e94;
            .logo-revista {
                background-position: 10px -50px;
            }
            .mas-en-perfil__nota__titulo {
                color: white;
            }
        }
        &.caras {
            background: $color-brand;
            .mas-en-perfil__nota__titulo {
                color: white;
            }
        }
        &.exitoina {
            background: #e4d20b;
            .logo-revista {
                background-position: 10px -450px;
            }
        }
        &.perfil {
            .logo-revista {
                background-position: 10px -600px;
            }
        }
        &.marieclaire {
            .logo-revista {
                background-position: 10px -100px;
            }
        }
        &.parabrisas {
            background: #dd0305;
            .logo-revista {
                background-position: 10px -150px;
            }
            .mas-en-perfil__nota__titulo {
                color: white;
            }
        }
    }
}

@include media-breakpoint-up(sm) {
    .relacionadas {
        padding: 0;
        /*
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        */
        &__noticias {
            width: 100%;
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat( auto-fit, minmax(180px, 1fr) );
        }
        &__titulo {
            width: 100%;
        }
        &__nota {
            // width: 48%;
            a {
                flex-direction: column;
                figure {
                    width: 100%;
                }
                .relacionada-titulo-nota {
                    width: 100%;
                    padding: .5em;
                }
            }
        }
    }

    .mas-en-perfil {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &__titulo {
            width: 100%;
        }
        &__nota {
            width: 48%;
        }
    }
}

@include media-breakpoint-up(md) {
    /*
    .relacionadas {
        &__nota {
            width: 24%;
        }
    }
    */

    .mas-en-perfil {
        &__nota {
            width: 24%;
            &__titulo {
                font-size: 1rem;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .mas-en-perfil {
        &__nota {
            width: 48%;
            &__titulo {
                font-size: 1.1rem;
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .mas-en-perfil {
        &__nota {
            width: 24%;
            &__titulo {
                font-size: 1rem;
            }
        }
    }
}