.perfil-noticia {
	.supercontenedor {
		padding-top: 10px;
		.articulo-header {
			width: 100%;
			padding: 0 10px;
			display: flex;
			flex-direction: column;
			.hat {
				line-height: 1em;
				padding: 0 0 5px 0;
				border-bottom: 1px solid $linea;
				font: {
					family: $font-sinserif;
					size: 0.8rem;
					size: 4vw;
					weight: 400;
				}
				color: $azul;
				a {
					display: none;
					color: $dark;
					font-weight: 600;
					text-transform: uppercase;
				}
				span {
					&.volanta {
						font-weight: 600;
						text-transform: uppercase;
					}
				}
			}
			h1 {
				font: {
					family: $font-serif;
					size: 2.4rem;
					size: 11vw;
					weight: 600;
				}
				line-height: 1em;
				letter-spacing: -0.03em;
				color: $negro;
			}
			h2 {
				font:{
					size: 1.5rem;
					size: 6.5vw;
					family: $font-serif;
					weight: 400;
				}
				margin: 10px 0;
				letter-spacing: -0.02em;
			}
			h3 {
				font-size: 1.2em;
				margin: 16px 0 10px 0;
			}
		}
	}
}