.noticia {
    display: flex;
    flex-direction: column;
    .articulo-header {
        order: 2;
        padding: 10px;
        .hat {
            text-transform: uppercase;
            font-family: $font-titulos-nowebfont;
            letter-spacing: -0.05em;
            margin: 0 0 10px 0;
            font-size: .95rem;
            line-height: 1;
            a {
                font-weight: bold;
                color: $gris-oscuro;
            }
            &__fecha {
                padding-left: 5px;
                margin-left: 5px;
                border-left: $borde;
                color: $gris-medio;
            }
        }
        h1 {
            letter-spacing: -0.055em;
            line-height: 1.08;
            font-size: 2rem;
            margin: 0 0 15px 0; 
         /*    font-size: 2rem;
                letter-spacing: -0.04em;
                line-height: 0.09em; */
        }
        h2 {
            font-size: 1.6rem;
            letter-spacing: -0.01em;
            font-weight: normal;
            margin: 0 0 20px 0;
            line-height: 1;
            .abrirgaleria {
                display: inline-flex;
                flex-wrap: nowrap;
                align-items: baseline;
                color: $color-brand;
                img {
                    margin: 0 5px;
                    font-size: 1px;
                }
            }
        }
    }
    >figure {
        order: 1;
        height: auto;
        padding: 0;
        picture {
            img {
                display: block;
                font-size: 1px;
            }
        }
        .figure-caption {
            font-size: .72rem;
            padding: 5px 0px;
            border-bottom: 5px solid $second-color;
            font-weight: bold;
            letter-spacing: -0.06em;
            font-family: $font-titulos-nowebfont;
            text-transform: uppercase;
            color: $gris-oscuro;
            line-height: 1.38em;
            .credito-foto {
                font-weight: normal;
            }
        }
    }
    .main-article {
        order: 3;
    }

    @include media-breakpoint-up(sm) {
        .articulo-header {
            order: 0;
            padding: 0;
            h1 {
                font-size: 2.4rem;
            }
        }
        figure {
            order: 0;
            .figure-caption {
                padding: 3px 0 10px 0;
            }
        }
        .main-article {
            order: 0;
        }
    }


    @include media-breakpoint-up(md) {
        .articulo-header {
            h1 {
                font-size: 2.6rem;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .articulo-header {
            display: flex;
            flex-direction: column;
            .hat {
                padding: 0 3em .3em 3em;
                border-bottom: 1px solid $gris-claro;
                margin: 0 auto 1em auto;
                text-align: center;
            }
            h1 {
                font-size: 2.9rem;
            }
          /*   h2 {
                letter-spacing: -0.08em;
            } */
        }
    }

    @include media-breakpoint-up(xl) {
        .articulo-header {
      /*       h1 {
                font-size: 3rem;
               
            } */
        }
    }

    @include media-breakpoint-up(xxl) {
        .articulo-header {
            // h1 {
                
            // }
     /*        h2 {
                font-size: 1.8rem;
                letter-spacing: -0.08em;
            } */
        }
    }
}

 .wf-loaded {
    .noticia {
        .articulo-header {
            .hat {
                font-family: $font-titulos;
                letter-spacing: -0.02em;
                font-size: 1rem;
            }
            h1 {
                font-size: 2rem;
                letter-spacing: -0.04em;
                line-height: 1.1;
                margin-bottom: 15px;
            }
            h2 {
                font-size: 1.5rem;
                letter-spacing: -0.02em;
                line-height: 1.2em;
            }
        }
        figure {
            .figure-caption {
                font-size: .7rem;
                letter-spacing: -0.01em;
                font-family: $font-titulos;
                line-height: 1.2em;
                padding: 5px;
                .credito-foto {
                    font-weight: normal;
                }               
            } 
        }

        @include media-breakpoint-up(sm) {
            .articulo-header {
                h1 {
                    font-size: 2.4rem;
                }
            }
        }

        @include media-breakpoint-up(md) {
            .articulo-header {
                h1 {
                    font-size: 2.6rem;
                }
            }
        }

        @include media-breakpoint-up(lg) {
            .articulo-header {
                h1 {
                    font-size: 2.8rem;
                    letter-spacing: -0.065em;
                    
                }
                h2 {
                    letter-spacing: -0.02em;
                }
            }
        }

        @include media-breakpoint-up(xl) {
            .articulo-header {
                h1 {
                    
                   
                }
                h2 {
                    font-size: 1.6rem;
                }
            }
        }

        @include media-breakpoint-up(xxl) {
            .articulo-header {
                h1 {
                    
                   
                }
                h2 {
                    font-size: 1.5rem;
                    letter-spacing: -0.02em;
                }
            }
        }
    }
}  