.noticia {
    figure {
        position: relative;
        .fotogaleria {
            display: block;
            position: absolute;
            z-index: 1;
            right: 10px;
            top: 10px;
            width: 50px;
            height: 50px;
            background: url('/images/glyph/ampliar-foto.png') no-repeat 0 0;
            background-size: cover;
            opacity: .6;
        }
    }
    .main-article {
        .news-body {
            .autor {
                width: 100%;
                border: $borde;
                padding: .25em .5em;
                margin-bottom: 10px;
                &__nota {
                    display: flex;
                    width: 100%;
                    justify-content: flex-start;
                    align-items: center;
                    &__img {
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        overflow: hidden;
                        margin: 0 10px 0 0;
                        border: $borde;
                    }
                    &__nombre {
                        text-transform: uppercase;
                        font-size: .9rem;
                    }
                }
            }

            .social-topsharing {
                position: sticky;
                top: 0;
                padding: 10px;
                z-index: 9;
                margin-left: 120px;
                ul {
                    display: flex;
                    list-style: none;
                    justify-content: space-between;
                    align-items: center;
                    li {
                        margin-left: 15px;
                        &.share {
                            margin-left: auto;
                        }
                        &.mailto {
                            display: none;
                        }
                        a {
                            img {
                                display: block;
                            }
                        }
                    }
                }
                p {
                    display: none;
                }
            }

            .news-content {
                p,
                ul,
                ol,
                li,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    margin: 1em;
                    font-size: 1.2rem;
                    line-height: 1.6em;
                    color: $negro;
                    letter-spacing: -0.02em;
                    a {
                        color: $link;
                    }
                }
                h2 {
                    line-height: 1.05em;
                    font-size: 1.8rem;
                    margin: 1em .7em;
                }
                >p:first-of-type:first-letter {
                    color: $color-brand;
                    float: left;
                    font-size: 4rem;
                    font-weight: bold;
                    line-height: .2;
                    font-family: $font-titulos;
                    margin: 24px 10px 10px 0;
                    transform: translateY(-10px);
                }
                figure {
                    img {
                        display: block;
                        height: auto;
                    }
                    figcaption {
                        font-size: .9rem;
                        padding: .2em 1.3em .5em 1.3em;
                        border-bottom: 2px solid $color-brand;
                        font-weight: bold;
                        text-transform: uppercase;
                        font-family: $font-titulos;
                        letter-spacing: -0.02em;
                        line-height: 1em;
                        text-align: left;;
                    }
                }
                .tags {
                    width: 100%;
                    border-top: $borde;
                    padding: 1em;
                    &__titulo {
                        width: 100%;
                        padding: 0;
                        margin: .5em 0;
                        font-family: $font-titulos;
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 1.3rem;
                    }
                    &__listado {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        label {
                            font-size: .9rem;
                            text-transform: uppercase;
                            font-weight: bold;
                            padding: .2em 1em;
                        }
                        li {
                            display: inline-block;
                            margin: .5em 1em;
                            font-size: .8rem;
                            text-transform: uppercase;
                            a {
                                background: $gris-muy-claro;
                                border: $borde;
                                border-radius: 3px;
                                display: block;
                                padding: .2em .6em;
                                color: $negro;
                                &:hover {
                                    background: white;
                                    border: $borde;
                                }
                            }
                        }
                    }

                }

                .galeria-fotos {
                    padding: 10px;
                    width: 100%;
                    margin: 20px 0;
                    &__title {
                        font:{
                            family: $font-titulos;
                            size: 1.2rem;
                            weight: bold;
                        }
                        color: $color-brand;
                        text-transform: uppercase;
                        margin: 0 0 .2em 0;
                    }
                    &__fotos {
                        display: flex;
                        justify-content: flex-start;
                        flex-wrap: wrap;
                        a {
                            width: 32.5%;
                            display: block;
                            margin: 0 .5% 5px 0;
                            img {
                                width: 100%;
                                display: block;
                            }
                        }
                    }
                }

                &:before {
                    content: "";
                    display: block;
                    margin: 0 10px 20px 10px;
                    background: $gris-medio;
                    height: 1px;
                    clear: both;
                }
            }
        }

        .ads {
            margin-left: auto;
            margin-right: auto;
        }
    }

}

@include media-breakpoint-up(sm) {
    .noticia {
        .main-article {
            .news-body {
                .social-topsharing {
                    ul {
                        li {
                            &.mailto {
                                display: block;
                            }
                        }
                    }
                }
                .news-content {
                    .galeria-fotos {
                        padding: 10px 0;
                        &__fotos {
                            a {
                                width: 24%;
                                margin: 0 1% 5px 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .noticia {
        .main-article {
            .news-body {
                .social-topsharing {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    ul {
                        li {
                            &.share,
                            &.whatsapp {
                                display: none;
                            }
                        }
                    }
                    p {
                        display: inline-block;
                        color: $gris-claro;
                        font-family: $font-titulos;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                }
                .news-content {
                    .galeria-fotos {
                        &__fotos {
                            a {
                                width: 16%;
                                margin: 0 .66666% 5px 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .noticia {
        .main-article {
            order: 0;
            .news-body {
                .autor {
                    margin-top: 20px;
                }
                .social-topsharing {
                    margin: 20px 0 10px 0;
                    padding: 10px;
                    background: $gris-muy-claro;
                    position: static;
                    justify-content: space-between;
                    p {
                        color: $gris-oscuro;
                        margin-bottom: 0;
                    }
                }
                .news-content {
                    p,
                    ul,
                    ol,
                    li,
                    h3,
                    h4,
                    h5,
                    h6 {
                        margin: 1em 0;
                        a {
                            color: $link;
                            border-bottom: 2px dotted $link;
                            transition: ease .3s;
                            &:hover {
                                color: $color-brand;
                                border-bottom: 2px solid $color-brand;
                            }
                        }
                    }
                    h2 {
                        margin: 1.5em 0 1em 0;
                    }
                    &:before {
                        margin: 0 0 20px 0;
                        background: $gris-medio;
                        height: 1px;
                        clear: both;
                    }
                    figure {
                        figcaption {
                            padding: .3em 0 .5em 0;
                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .noticia {
        .main-article {
            .news-body {
                .news-content {
                    h2 {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}