.perfil-noticia {

	.supercontenedor {

		.container {

			.main-article {

				.news-body {

					strong,
					a strong {
						font-weight: 600;
					}

					a,
					a strong,
					strong a {
						color: $link-mobile;
					}

					ul {
						li {
							list-style: none;
							padding: 0 0 0 16px;
							margin: 0 0 0.5em 0;
							&:before {
								content: "•";
								display: inline-block;
								color: $linea;
								margin: 0 7px 0 -16px;
								transform: translateY(-2px);
							}
						}
					}


					u {
						text-decoration: none;
					}
					.autor {
						color: $dark;
						margin-bottom: 2px;
						font-weight: 600;
						letter-spacing: -0.03em;
						border-radius: 2px;
						border-bottom: 1px solid $linea;
						font-size: 1.25rem;
						padding: 6px 0;
						p.autor-about {
							display: none;
						}
						.autor-nota-arriba {
							display: flex;
							justify-content: flex-start;
							margin-bottom: 20px;
							align-self: center;
							a {
								color: $dark;
								text-decoration: none;
								box-shadow: none;
								align-self: center;
								&:hover {
									color: $negro;
								}
							}
							figure {
								width: 50px;
								border-radius: 50%;
								overflow: hidden;
								margin: 0 10px 0 0;
								border: 1px solid $linea-oscura;
								img {
									width: 100%;
									filter: grayscale(1);
								}
							}
						}
					}

					blockquote {
						padding: 10px 20px;
						margin: 30px 0;
						position: relative;
						p {
							text-align: center;
							font-weight: 600;
							font-family: $font-sinserif;
							line-height: 1.24em;
							font-size: 1em;
							color: $link-mobile;
							a {
								color: $link-mobile;
								text-decoration: none;
							}
							&:before {
								content: "";
								display: block;
								width: 48px;
								height: 48px;
								clear: both;
								margin: 10px auto;
								background:{
									image: url('../../../img/comillaabre.svg');
									repeat: no-repeat;
									size: 48px;
									position: center;
								}
							}
							&:after {
								content: "";
								display: block;
								width: 48px;
								height: 48px;
								clear: both;
								margin: 10px auto;
								background:{
									image: url('../../../img/comillacierra.svg');
									repeat: no-repeat;
									size: 48px;
									position: center;
								}
							}
						}
						border-top: 1px solid $negro;
						border-bottom: 1px solid $negro;
						&:before {
							content: "";
							height: 3px;
							background: $negro;
							display: block;
							position: absolute;
							top: -3px;
							left: 36%;
							right: 36%;
							margin: 0 auto;
						}
						&:after {
							content: "";
							height: 3px;
							background: $negro;
							display: block;
							position: absolute;
							bottom: -3px;
							left: 36%;
							right: 36%;
							margin: 0 auto;
						}
					}
					.news-content {

						.noticias-relacionadas {
							width: 100%;
							border-top: 1px solid $linea;
							margin-top: 20px;
							padding-top: 10px;
							.titulo-relacionadas {
								font:{
									family: $font-serif;
									weight: 600;
									size: 1.2rem;
								}
							}
							.related-news {
								width: 100%;
								display: flex;
								flex-direction: column;
								.related-new {
									width: 100%;
									border-top: 1px solid $linea;
									padding-top: 10px;
									margin-top: 10px;
									figure.related-img {
										width: 35%;
										float: left;
										margin: 0 10px 0 0;
									}
									h5 {
										font-size: 1.05rem;
										line-height: 1em;
										letter-spacing: -0.02em;
										a {
											color: $negro;
										}
									}
								}
							}
						}
						.media.noticia-relacionada {
							width: 100%;
							margin: 40px 0;
							padding: 10px 0;
							border-top: 1px solid $linea;
							position: relative;
							background: white;
							box-shadow: 0 8px 10px -7px rgba(0,0,0,.2);
							&:after {
								content: "";
								clear: both;
								display: block;
								width: 100%;
								height: 0;
							}
							a {
								figure {
									width: 80px;
									float: left;
									margin: 0 10px 0 0;
									img {
										width: 100%;
									}
								}
								.leermas {
									color: $negro;
									font-weight: normal;
									text-transform: uppercase;
									font-size: .75rem;
									margin: 0 0 2px 0;
									font-family: $font-sinserif;
									transform: translateY(-2px);
								}
								.titulorelacionada {
									color: $negro;
									font-size: 1.2rem;
									line-height: 1em;
									font-weight: bold;
									font-family: $font-sinserif;
								}
							}
						}
						.tags {
							display: block;
							border-top: 1px solid $linea;
							margin-top: 30px;
							margin-bottom: 20px;
							ul {
								padding: 0;
								margin: 10px 0;
								list-style: none;
								display: flex;
								justify-content: flex-start;
								flex-wrap: wrap;
								li {
									display: inline-block;
									margin: 0 20px 10px 0;
									padding: 0;
									font:{
										family: $font-sinserif;
										size: .85rem;
									}
									a {
										color: $dark;
										text-decoration: none;
										background: $light;
										border: 1px solid $linea;
										padding: 3px .5em;
										border-radius: 3px;
										&:hover {
											color: $negro;
											background: white;
										}
									}
									&:before {
										content: none;
									}
								}
							}
							h4 {
								display: none;
							}
							label {
								display: none;
							}
						}
					}
					.noticias-relacionadas {
						margin: 0 0 20px 0;
						padding: 0 5%;
						.relacionadas-titulo {
							font: {
					    		size: 1.2rem;
					    		weight: 600;
					    	}
					    	color: $negro;
					    	text-transform: uppercase;
					    	padding: 20px 0 0 0;
							border-bottom: 1px solid $dark;
							margin-bottom: 10px;
						}
						ul {
							list-style: none;
							padding: 0;
							margin: 0 0 20px 0;
							li {
								font: {
									weight: 500;
									size: 1.12rem;
									family: $font-serif;
								}
								margin-left: 4px;
								line-height: 1.05em;
								margin-bottom: 10px;
								padding-bottom: 10px;
								border-bottom: 1px solid $linea;
								position: relative;
								letter-spacing: -0.02em;
								padding-left: 10px;
								&:before {
									content: "\00b7";
									position: absolute;
									left: 10px;
									top: 0;
									display: block;
									width: 8px;
									height: 15px;
									color: #999999;
									font-size: 30px;
								}
								a {
									color: $linea-oscura;
									text-decoration: none;
									box-shadow: none;
									&:hover {
										text-decoration: underline;
										color: $dark;
										box-shadow: none;
									}
								}
								&:last-of-type {
									border-bottom: 2px solid $negro;
								}
							}
						}
					}
					.galeria-imagenes {
						width: 100%;
						display: flex;
						flex-wrap: wrap;
						justify-content: flex-start;
						background: $fondo-gris;
						padding: 10px 7px 10px 10px;
						border-bottom: 1px solid $linea-oscura;
						h3 {
							width: 100%;
						}
						a {
							width: 16%;
							margin-right: .6%;
							display: block;
							img {
								width: 100%;
							}
							@include media-breakpoint-only(xs) {
								&:nth-child(n+7) {
									display: none;
								}
							}
						}
					}
					.title-gallery {
						font:{
							size: 1.4rem;
							weight: 500;
						}
						margin: 30px 0 5px 0;
					}
					.masfotos-gallery {
						font:{
							family: $font-sinserif;
							size: 14px;
							weight: 600;
						}
						margin: 5px 0 0 0;
						letter-spacing: 0.1em;
						text-transform: uppercase;
						display: flex;
						justify-content: flex-start;
						line-height: 1em;
						&:after {
							content: " ";
							display: block;
							width: 20px;
							height: 20px;
							margin-left: 10px;
							transition: ease .3s;
							background:{
								image: url('/images/next.svg');
								repeat: no-repeat;
								size: 14px;
								position: 0 0;
							}
							transform: translateY(-2px);
						}
						a {
							box-shadow: none;
							&:hover {
								box-shadow: none;
							}
						}
						&:hover {
							&:after {
								transform: translate(5px, -2px);
							}
						}
					}
					.twitter-timeline-error {
						display: none;
					}
				}
			}
		}
	}
	.float-button {
		position:fixed;
		width:60px;
		height:60px;
		bottom:20px;
		right:20px;
		background-color:$azul;
		color:#FFF;
		border-radius:50%;
		text-align:center;
		box-shadow: 0 2px 7px 0 rgba(0,0,0,.3);
		z-index: 1;
		i {
			line-height: 60px;
			font-size: 30px;
		}
		display: none;
	}
}
