.pf-new-show {
	.sticky-bottom-ads {
		position: fixed;
		bottom: 0;
		left: 0;
		background-color: white;
		width: 100%;
		height: 60px;
		padding: 5px 0;
		text-align: center;
		z-index: 11;
		max-height: 100px;
		box-sizing: border-box;
		opacity: 1;
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);

		.close-button {
			position: absolute;
			width: 28px;
			height: 28px;
			top: -27px;
			right: 0;
			box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.2);
			border-radius: 12px 0 0 0;
			background-color: white;
			padding: 3px 0 0 3px;
			border-bottom: 0;
			border-right: 0;
			display: none;
		}
	}

	.float-button {
		position:fixed;
		width:60px;
		height:60px;
		bottom:40px;
		right:40px;
		background-color:#0C9;
		color:#FFF;
		border-radius:50px;
		text-align:center;
		box-shadow: 2px 2px 3px #999;
		z-index: 1;
		i {
			margin-top: 20px;
			font-size: 20px;
		}
	}
	.col-ads-left, .col-ads-right {
		flex: 0 0 10%;
		padding: 0;
		min-width: 160px;
		z-index: 1;
		.sticky-top {
			padding-top: 50px;
		}
	}
	.col-article {
		.noticia-cuerpo {
			flex: 1;
		}
		h3 {
			font:{
				family: $font-general;
				size: 14px;
				weight: 700;
			}
			text-transform: uppercase;
			letter-spacing: 0.05em;
			border-bottom: 1px solid #ccc;
			span {
				color: #bebebe!important;
				font-weight: 400;
				letter-spacing: 0.05em;
			}
			@include media-breakpoint-up(lg) {
				font-size: 15px;
			}
		}
		.headgroup {
			padding: 0 15px;
			h1 {
				font:{
					family: $font-destacada;
					size: 1.5rem;
					weight: 700;
				}
				letter-spacing: -0.02em;
				line-height: 1.2em;
			}

			p.headline {
				font:{
					family: $font-general;
					size: 1.3rem;
					weight: 400;
				}
				line-height: 1.2em;
				letter-spacing: -0.02em;
			}
			@include media-breakpoint-up(sm) {
				h1 {
					font-size: 2.4rem;
					line-height: 1em;
				}
			}
			@include media-breakpoint-up(md) {
				padding: 10px 5px;
				h1 {
					font-size: 3rem;
				}
				p.headline {
					font-weight: 700;
				}
			}
			@include media-breakpoint-up(lg) {
				h1 {
					font-size: 3.4rem;
				}
				p.headline {
					font-size: 24px;
				}
			}
			@include media-breakpoint-up(xl) {
				h1 {
					font-size: 4rem;
				}
			}
		}

		.social-topsharing {
			height: 43px;
			margin-bottom: 1em;
			border-top: 1px solid $secondary;
			border-bottom: 1px solid $secondary;
			overflow: hidden;
			&.abajo {
				height: 50px;
				overflow: hidden;
			}
			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				h4 {
					font-size: 12px;
					color: $secondary;
					line-height: 30px;
					padding: 5px;
					text-transform: uppercase;
					font-weight: 700;
					letter-spacing: 0.5px;
					i {
						color: $secondary;
						padding-left: 2px;
						font-size: 11px;
					}
				}
				li {
					float: right;
					margin: 0;
					line-height: 2em !important;
					a {
						display: inline-block;
						font-size: 1.3em;
						margin: 0;
						min-width: 48px;
						padding: 7px 10px;
						text-align: center;
						transition: all 0.25s ease 0s;
						animation-duration: 1s;
						animation-fill-mode: both;
						animation-name: fadeIn;
						animation-delay: 0.6s;
						border-left: 1px solid $miscelanea-light;
						color: $secondary;
					}
					.twitter:hover {
						background-color: $miscelanea;
						color: #fff;
						// background-color: #00aced;
					}
					.youtube:hover {
						background-color: $miscelanea;
						color: #fff;
						//            background-color: #bb0000;
					}
					.facebook:hover {
						background-color: $miscelanea;
						color: #fff;
						//            background-color: #3b5998;
					}
					.googleplus:hover {
						background-color: $miscelanea;
						color: #fff;
						//            background-color: #dd4b39;
					}
					.pinterest:hover {
						background-color: $miscelanea;
						color: #fff;
						//            background-color: #cb2027;
					}
					.instagram:hover {
						background-color: $miscelanea;
						color: #fff;
						//            background-color: #517fa4;
					}
					.whatsapp:hover {
						background-color: $miscelanea;
						color: #fff;
						//            background-color: #25d366;
					}
				}
			}
			@include media-breakpoint-down(sm) {
				display: none;
			}
		}


		.main-image, 
		.image-gallery {
			position: relative;
			.figure-img {
				margin-bottom: 0;
			}
			.figure-caption {
				background: rgba(0,118,186,.7);
				color: white;
				font-weight: 400;
				text-transform: uppercase;
				font-family: $font-general;
				font-size: .8rem;
				letter-spacing: 0.02em;
				line-height: 1.1em;
				position: absolute;
				bottom: 15px;
				width: 100%;
				@include media-breakpoint-up(md) {
					position: static;
					border-bottom: 5px solid $miscelanea;
					color: $negro;
					background: white;
				}
			}
		}

		
		.new-body {
			font-size: 17px;
			p { 
				font-family: $font-cuerpo;
				padding: 1% 0;
				font-size: 1.2rem;
				color: black;
				line-height: 1.4em;
				&:first-of-type:first-letter {
					font-weight: bold;
					color: $miscelanea;
					font-size: 4em;
					float: left;
					text-align: center;
					padding: 0 .5rem 0 0;
					margin: -0.1rem 0 -1rem;
					float: left;
					line-height:1em;
					font-family: $font-destacada;
				}
				a {
					color: $link;
					text-decoration: underline;
					&:hover {
						color: $hover;
						text-decoration: none;
					}
				}
				strong,
				b {
					font-family: $font-destacada;
					font-size: 1em;
					a {
						color: $link;
					}
				}
			}
			h4 {
				font:{
					family: $font-general;
					size: 1.2rem;
					weight: bold;
				}
				margin: 10px 0;
				line-height: 1.8;
			}
			ul,
			ol {
				font-family: $font-cuerpo;
				li {
					font-family: $font-cuerpo;
					font-size: 1rem;
				}
			}
			.embed-responsive {
				margin-bottom: 20px;
			}
			.twitter-tweet {
				width: 100% !important;
			}
			iframe {
				margin: 10px auto;
			}   
			.image {
				border-bottom: 1px solid $miscelanea-light;
				color: $negro;
				text-transform: uppercase;
				font-size: .7rem;
				line-height: 1rem;
				letter-spacing: 0.05em;
				font-weight: 600;
				font-family: $font-general;
				figcaption {
					padding: 5px 0;
				}
				img {
					height: auto;
				}
			}
			.destacadoNota {
				font-size: 1.3em;
				margin: 30px auto;
				text-transform: uppercase;
				padding: 0.8em 0;
				border-top: 8px solid $miscelanea-light;
				border-bottom: 8px solid $miscelanea-light;
				line-height: 1;
				position: relative;
				text-align: center;
				font-family: $font-destacada;
			}
			blockquote {
				position: relative;
				text-align: center;
				padding:1rem 0 1rem 1.2rem;
				width: 80%;
				margin: 1rem auto 2rem;
				font-weight: 400;
				p {
					font-family: $font-destacada;
					font-size: 1.6em;
					line-height: 1.2em;
					color: $miscelanea;
					border-bottom: 2px solid $miscelanea-light;
					text-transform: uppercase;
					&:first-of-type:first-letter {
						color: $miscelanea;
						font-size: 1em;
						padding: 0;
						margin: 0;
						display: inline;
						float: none;
						font-weight: 400;
					}
				}
				&:before,
				&:after {
					font-family: FontAwesome;
					position: absolute;
					top: 10px;
					color: $miscelanea-light;
					font-size: 54px;
				}
				&:before {
					content: "\f10d";
					right: 100%;
				}
				&:after{
					content: "\f10e";
					left: 100%;  
				}
			}
			.tags  {
				font-family: $font-general !important; 
				margin: 0;
				font-size: 14px;
				text-transform: uppercase;
				line-height: 1.3em;
				border-top: 1px solid #ddd;
				padding: 1%;
				ul { 
					padding:0;
					margin-bottom: 0.5rem;
					li{
						display: inline-block;
						list-type:none;
						font-family: $font-general !important;
						font-size: 14px !important;
						margin-right: 10px;
						a {
							font-weight: 400;
							color: $link;
							&:hover {
								text-decoration: underline;
							}
						}       
					}
					label {
						margin:0; 
						padding:0;
					}
				}
			}
			.noticias-relacionadas {
				 margin:25px 0;
				 padding: 1%;
				.top {
					border-bottom: 2px solid $miscelanea;
					h6 {
						 font-size: 22px;
						 font-weight: 700;
						 color:$miscelanea;
						 text-transform: uppercase;
						 font-family: $font-destacada;
						 line-height: 1em;
					}
				}
				div {
					padding: 0;
				}

				.news {
					padding: 10px 0;
					border-bottom: 2px solid $miscelanea;
					img {
						display: inline-block;
						width: 50%;
						vertical-align: top;
					}
					h2 {
						font:{
							size: 16px;
							weight: 700;
							family: $font-general;
						}
						line-height: 18px;
						color: inherit;
						display: inline-block;
						width: 40%;
						vertical-align: top;
						padding: 0;
						margin-left: 3%;
						a {
							color: $link;
							&:hover {
								color: $hover;
							}
						}
					}
					.group {
						border-bottom: 1px solid #e4e4e4;
						padding: 2% 0;
					}
					.group,.groupxDos,.groupxTres {
						margin-bottom: 5px;
					}
					ul {
						margin-top: 10px;
						li {
							padding: 5px;
							p {
								color: $pf_font_color_headline_light;
							}
						}
					}
				}
			}
			.noticia-relacionada {
				margin: 30px;
				padding: 8px 0;
				border-top: 1px solid #dee2e6;
				border-bottom: 1px solid #dee2e6;
				justify-content: space-between;
				flex-wrap: nowrap!important;
				-webkit-box-shadow: 0px 50px 20px -40px rgba(0,0,0,0.2);
				-moz-box-shadow: 0px 50px 20px -40px rgba(0,0,0,0.2);
				box-shadow: 0px 50px 20px -40px rgba(0,0,0,0.2);
				align-items: center;
				background: rgba(248,249,250,1);
				background: -moz-linear-gradient(left, rgba(248,249,250,1) 0%, rgba(255,255,255,1) 54%, rgba(248,249,250,1) 100%);
				background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248,249,250,1)), color-stop(54%, rgba(255,255,255,1)), color-stop(100%, rgba(248,249,250,1)));
				background: -webkit-linear-gradient(left, rgba(248,249,250,1) 0%, rgba(255,255,255,1) 54%, rgba(248,249,250,1) 100%);
				background: -o-linear-gradient(left, rgba(248,249,250,1) 0%, rgba(255,255,255,1) 54%, rgba(248,249,250,1) 100%);
				background: -ms-linear-gradient(left, rgba(248,249,250,1) 0%, rgba(255,255,255,1) 54%, rgba(248,249,250,1) 100%);
				background: linear-gradient(to right, rgba(248,249,250,1) 0%, rgba(255,255,255,1) 54%, rgba(248,249,250,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f9fa', endColorstr='#f8f9fa', GradientType=1 );
				.content-related {
					padding-right: 10px;
					h6 {
						font-weight: bold;
						&:before {
							content: "\f0a9";
							color: $miscelanea;
							line-height: 1em;
							font-size: 1.2em;
							font-family: 'FontAwesome';
							float: left;
							margin: 0 5px 0 0;
						}
					}
					h5 {
						font-family: $font-destacada;
						font-weight: bold;
						margin-bottom: 0;
						a {
							color: #000;
						}
					}
					>img {
						margin-bottom: 20px;
					}			
				}
				.banner-related {
					flex-basis: 320px;
					@include media-breakpoint-down(sm) {
						flex-basis: 100%;
						width: 100%;
						text-align: center;
					}
					@include media-breakpoint-only(lg) {
						flex-basis: 100%;
						width: 100%;
						text-align: center;
					}
				}
				@include media-breakpoint-down(sm) {
					flex-direction: column;
					margin: 30px auto;
					.content-related {
						h5 {
							margin-bottom: 10px;
						}
					}
				}
				@include media-breakpoint-only(lg) {
					flex-direction: column;
					margin: 30px auto;
					.content-related {
						h5 {
							margin-bottom: 10px;
						}
					}
				}
			}
			.twitter-tweet,
			.twitter-tweet-rendered {
				display: flex!important;
				justify-content: center!important;
			}
			@include media-breakpoint-up(md) {
				p,
				ol li,
				ul li {
					line-height:1.5em; 
				}
			}

			@include media-breakpoint-up(lg) {
				p,
				ol li,
				ul li {
					line-height: 1.6em;
				}
				p:first-of-type:first-letter {
					font-size: 5.5em;
					margin: -0.3rem 0 -1rem;
				}

				h4 {
					font-size: 1.6rem;
				}
				.destacadoNota {
					font-size: 1.5rem;
					font-weight: 700;
				}
				.noticias-relacionadas {
					top {
						h1 {
							font-size: 24px;
						}
					}
				}
			}
			@include media-breakpoint-up(xl) {
				p,
				ol li,
				ul li {
					font-size:: 1.3rem;
				}
			}
			@include media-breakpoint-down(md) {
				border-top: 1px solid $secondary;
				padding-top: 10px;
			}
		}
	}


	.ads-middle-body {
		margin-right: 10px;
		margin-top: 8px;
	}
	.card-author, 
	.author {
		.social-btn {
			font-size: 2em;
		}
		/*
		.social-facebook {
			color: $pf_facebook_color;
		}
		.social-twitter {
			color: $pf_twitter_color;
		}
		.social-google {
			color: $pf_google_color;
		}
		.social-instagram {
			color: $pf_instagram_color;
		}
		.social-blog {
			color: $pf_tumblr_color;
		}
		*/
	}


	.comments {
		margin-top: 10px;
		h4 {
			border-bottom: 2px solid $pf_main_color;
		}
	}

	.header-line {
		border-top: 1px solid $pf_news_show_header_line;
	}


	.social-sharing {
		border: 1px solid #ddd;
		padding: 13px;
		-webkit-border-radius: 3px;
		-ms-border-radius: 3px;
		border-radius: 3px;
		margin:2%;
		.btn-share {
			 height: 40px;
			 width: 40px;
			 font-size: 18px;
			 padding: 0.3rem 0.45rem;
		}
	}


	.fotogaleria {
		position: absolute;
		z-index: 9;
		right: 10px;
		top: 10px;
		background: $miscelanea;
		color: #fff;
		font-size: 1.5em;
		padding: 5px 12px;
		border-radius: 50%;
		-webkit-transition: all 1s ease-in-out;
		-moz-transition: all 1s ease-in-out;
		-o-transition: all 1s ease-in-out;
		transition: all 1s ease-in-out;
		-webkit-box-shadow: 1px 1px 0  rgba(0,0,0,0.5);
		-moz-box-shadow: 1px 1px 0  rgba(0,0,0,0.5);
		box-shadow: 1px 1px 0  rgba(0,0,0,0.5);
		:hover {
			color: #fff;
			background: $miscelanea-light;
		}

	}
	.bottom-gallery {
		width: 100%;
		position: relative;
		margin-bottom: 20px;
		a {
			display: inline-block;
			overflow: hidden;

			img {
				width: 150px;
				height: auto;
			}
		}
	}
	.tweet-InformationCircle-widgetParent { 
		margin: 0 auto;
	}

	// **** Responsive ****

	@include media-breakpoint-down(xs) {
		.headline {
			font-size: 1.0625rem;
		}
		.ads-middle-body {
			float: none;
			width: 100%;
			text-align: center;
		}
	}

	@include media-breakpoint-up(md) {
		.destacadoNota {
			padding: 1.2em 30px 1.2em 80px;
			font-size: 2em;
			width: 60%;
		}
		.author { 
			padding:1% 0;
			h5 { 
				font-size: 15px;
			}   
			img {
				max-width: 70px;
				margin-right: 15px;
			}
			p { 
				font-size:14px;
			}
		}
		.noticias-relacionadas {
			.news {
				img {
					display: inherit;
					width: 100%;
				}
				h2 {
					width: auto;
					margin-left: 0;
					display: inherit;
					padding: 10px 0 0 0;
				}
				.group {
					border-bottom: 0;
					padding-bottom: 0;             
					display: inline-block;
					width: 48%;
					padding: 1%;
				}
				.groupxDos {
					border-bottom: 0;
					padding-bottom: 0;             
					display: inline-block;
					width: 48%;
					padding: 1%;
				}
				.groupxTres {
					border-bottom: 0;
					padding-bottom: 0;             
					display: inline-block;
					width: 32%;
					padding: 1%;
				}
				.groupxUno{
					border-bottom: 0;
					padding-bottom: 0;             
					display: inline-block;
					width: 44%;
					padding: 1%;
				}
			}
		}
	}
}


.author-nota {
	border-top: 1px solid $miscelanea;
	padding: 5px 0;
	margin: 0 0.10%;
	.social-btn {
		font-size: 2em;
	}
	img {
		border-radius: 50%;
		max-width:80px;
		margin-right: .5rem;
		float:left; 
	}
	h5 {
		color: $link;
		font-weight: 700;
		text-transform: uppercase;
		text-decoration: none;
		padding: 0;
		margin: 0;
		letter-spacing: 2px;
		font-size: 1em;
		font-family: $font-general;
		a { 
			text-decoration:none;
			color: $link;
		}
	}
	.social-btn {
		font-size: 24px;
	}
	.group {
		float:left;
	}
	p {
		font-family: $font-general;
		margin: 0px;
		padding: 0px;
		font-size: .9empx;
		font-weight: bold;
	}
} 

.author-bottom {
	figure {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		overflow: hidden;
		margin: 0 auto -40px auto;
		z-index: 4;
		img {
			width: 100px;
			height: 100px;
		}
	}
	.datos-autor {
		background: white;
		text-align: center;
		padding-top: 50px;
		h3 {
			font: {
				size: 1.4em;
				weight: normal;
				family: $font-cuerpo;
			}
			letter-spacing: 0;
			text-transform: none;
			border-bottom: none;
		}
		p {
			font-size: 1em;
			line-height: 1.2em;
			position: relative;
			a.social-btn {
				width: 30px;
				height: 30px;
				display: inline-block;
				border: 1px solid $dark;
				background: transparent;
				border-radius: 50%;
				position: static;
				i {
					font-size: 16px;
					line-height: 28px;
					position: static;
				}
			}
		}

	}
}
