* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: ease .3s;
}

body {
	font-family: $font-base;
	font-size: 1rem;
	font-weight: normal;
	color: $negro;

}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	color: $negro;
}

.main {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.container {
    width: 100%;
    padding-left: .5rem;
    padding-right: .5rem;
}

.row {
    width: 100%;
    display: flex;
}

.col-fixed,
.col-fixed-news {
    width: 100%;
}

.col-fluid {
    width: 100%;
}

.seccion {
    flex-direction: column;
}

.max-width {
	width: 100%;
	margin: 0 auto;
}

.image-responsive {
	width: 100%;
	height: auto;
}

a {
    color: $negro;
    text-decoration: none;
}
  
.iframe-container {
    iframe {
        pointer-events: none;
    }

    iframe.clicked {
        pointer-events: auto;
    }
}

figure {
	picture {
		&.cls-optimized {
			padding-top: 56.25%;
			position: relative;
			display: block;
			overflow: hidden;
			width: 100%;
			img {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
			}
		}
	}

	img {
		width: 100%;
	}
}

img {
    height: auto;
}

.embed-responsive-16by9 {
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 56.25%;

    iframe {
        border: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.bg-negro {
    background: $negro;
    color: white;
}
.bg-gray {
    background: $gris-claro;
}
.bg-economy {
    background: $economy;
}

@include media-breakpoint-up(sm) {

}
@include media-breakpoint-up(md) {
    .home {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .col-fixed {
        flex-basis: 300px;
    }
    .col-fluid {
        flex: 1 1 0;
    }
    .sticky {
        position: sticky;
        top: 65px;
    }
}
@include media-breakpoint-up(lg) {
    .col-fixed-news {
        flex-basis: 360px; 
        width: 360px;
    }
}
@include media-breakpoint-up(xxl) {
    .max-width {
        max-width: 1300px;
    }
    .sticky {
        top: 125px;
    }
}

@include generate-display-and-visibility-elements()