.main-footer {
    background: $gris-oscuro;
    padding: 1rem 0 0 0;
    &__logo {
        margin: 1rem auto;
        width: 160px;
        height: 34px;
        border-radius: 2px;

        img {
            width: 100%;
        }
    }
    &__redes {
        background: $gris-oscuro;
        display: flex;
        justify-content: center;
        a {
            margin: 10px;
        }
    }
    &__nav {
        background: $gris-oscuro;
        ul {
            list-style: none;
            display: flex;
            border-top: 1px solid $negro;
            li {
                a {
                    display: block;
                    color: white;
                    white-space: nowrap;
                }
            }

        }
    }
    &__fijas {
        padding: 10px;
        flex-wrap: wrap;
        justify-content: center;
        li {
            a {
                padding: 10px;
            }
        }
    }
    &__revistas {
        overflow-x: auto;
        li {
            a {
                padding: 2rem 1rem;
            }
        }
    }
    &__disclaimer {
        background: $negro;
        padding: 1rem;
        color: white;
        text-align: center;
        font-size: .9rem;
        line-height: 1.5em;
        a {
            color: $gris-claro;
        }
    }
}
@include media-breakpoint-up(lg) {
    .main-footer {
        &__revistas {

            justify-content: center;
            
            &::-webkit-scrollbar {
                width: 6px;
                height: 6px;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 8px;
                background-color: transparent;

                &:hover {
                    background-color: transparent;
                }
            }

            &::-webkit-scrollbar-track {
                border-radius: 8px;
                background-color: transparent;
            }

            &:hover {
                &::-webkit-scrollbar-thumb {
                    background-color: #535353;

                    &:hover {
                        background-color: #353535;
                    }
                }

                &::-webkit-scrollbar-track {
                    background-color: rgba(0, 0, 0, .13);
                }
            }
        }
    }
}
@include media-breakpoint-up(lg) {
    .main-footer {
        &__revistas {
            justify-content: center;
        }
    }
}