@import "fortuna-02/mixins/_breakpoints.scss";


// -- Parabrisas colores --//

$color-brand: #922624;
$link: #6890ff;
$gris-oscuro: #313133;
$gris-medio: #666;
$gris-claro: #eee;
$gris-muy-claro: #e3ebf3;
$negro: #171717;
$linea: #dfdfdf;

// --sombras -- //

$box-shadow: 0 3px 12px 0 rgba(0,0,0,.2);
$text-shadow: 0 3px 5px black;
$borde: 1px solid $gris-claro;

  
@font-face {
    font-family: "Faustina-fallback";
    size-adjust: 103.06%;
    ascent-override: 93%;
    src: local("Times New Roman");
}

@font-face {
    font-family: "Fira-fallback";
    size-adjust: 102.56%;
    ascent-override: 94%;
    src: local("Arial");
}


// -- Parabrisas tipografías

$font-size: 1.2rem;
$line-height-base: 1.6;
$font-base: 'Faustina', "Faustina-fallback", Times, serif;
$font-secundaria: "Fira Sans", "Fira-fallback",Helvetica,Arial,sans-serif;

// -- Paywall

$pw-azul: #4538f3;
$pw-azul-claro: #647ef1;


// -- Redes

$pf_facebook_color: #1877f2;
$pf_twitter_color: #4295DA;
$pf_instagram_color: #C73F7A;
$pf_youtube_color: #D95040;
$pf_linkedin_color: #007bb6;
$pf_pinterest_color: #cc2127;
$pf_flickr_color: #ff0084;
$pf_tumblr_color: #32506d;
$pf_whatsapp_color: #25D366;
$pf_rss_color: #ee802f;


@import "fortuna-02/mixins/_mixins.scss";