.bg-ads-space {
	border: 0 !important;
	font-size: 0.8em;
	text-align: center;

	p {
		color: $pf_font_color_headline_light;
		margin: 0;
	}
}

/* banners */

// solo se muestra en menor a md
.down-md
 {
	display: block !important;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid $linea;
	padding: 10px 0;
	margin: 0 0 10px 0;
	@include media-breakpoint-up(md) {
		display: none !important;
	}
}

// solo se muestra en mayor a xl y en md
.up-xl.only-md{
	display: none !important;
	margin: 20px auto;
	width: 728px;
	@include media-breakpoint-only(md) {
		display: block !important;
	}
	@include media-breakpoint-up(xl) {
		display: block !important;
	}
}

// solo se muestra mayor a md
.up-md {
	display: none !important;
	@include media-breakpoint-up(md) {
		display: block !important;
	}
}

.ads-sidebar {
	margin: 0 0 20px 0;
	width: 100%;
	text-align: center;
	@include media-breakpoint-down(md) {
		border-top: 1px solid $linea;
		border-bottom: 1px solid $linea;
		padding: 20px 0;
	}
}
// solo se muestra mayor a xl
.ads-up-xl {
	display: none !important;
	@include media-breakpoint-up(xl) {
		display: block !important;
	}
}

div[id*=eplAdDivsidebar_300x250x]{
	overflow: hidden;
}

// solo se muestra mayor a md
.down-xs {
	display: block !important;
	@include media-breakpoint-up(xs) {
		display: none !important;
	}
}


// se muestra en pagina de canal cuando es mayor a XL y cuando es menor a MD
.contenido.canal {
	.cuatro-notas {
		&:nth-child(even) {
			.down-md.up-xl {
				@include media-breakpoint-up(xxl) {
					display: block !important;
					width: 300px;
					grid-area: tl;
					border-bottom: none;
				}
			}
		}
	}
}
