.main-footer {
	border-top: 1px solid $linea;
	color: $dark;
	margin-top: 50px;
	padding: 6px 0 0 0;
	display: flex;
	flex-direction: column;
	figure {
		width: 120px;
		margin: 10px auto;
		img {
			width: 100%;
			height: auto;
		}
	}
	a {
		color: $dark;
	}
	.footer-redes {
		display: flex;
		margin: 0 auto;
		justify-content: center;
		align-content: center;
		a {
			margin: 0 8px;
			color: $linea-oscura;
			align-self: center;
			img {
				width: 20px;
				display: inline-block;
			}
			&.link-social-rss {
				img {
					width: 17px;
				}
			}
		}
	}
	.disclaimer {
		font-size: .8rem;
		text-align: center;
		font-family: $font-sinserif;
		background: $dark;
		color: white;
		padding: 15px 10px;
		margin: 0;
		line-height: 1.6em;
		a {
			color: $linea;
		}
	}
	.nav-footer {
		width: 100%;
		margin: 20px 0 0 0;
		font-family: $font-sinserif;
		ul {
			&.footer-revistas,
			&.footer-secciones {
				display: none;
			}
			padding: 10px;
			column-count: 2;
			li {
				font-size: .7rem;
				text-transform: uppercase;
				a {
					display: block;
					padding: 2px 5px;
				}
			}
		}
		@include media-breakpoint-up(sm) {
			display: flex;
			text-align: left;
			flex-direction: row;
			justify-content: space-between;
			padding: 10px 0;
			margin: 20px auto 0 auto;
			max-width: 540px;
			ul {
				&.footer-revistas,
				&.footer-secciones {
					display: block;
				}
				column-count: 1;
				width: 33%;
				border-left: 1px solid $linea;
				padding: 10px 0 0 0;
				li {
					display: block;
					width: 100%;
				}
			}
		}
		@include media-breakpoint-up(md) {
			max-width: 720px;
			ul {
				column-count: 2;
			}
		}
		@include media-breakpoint-up(lg) {
			background: $light;
			display: block;
			padding: 10px 0 0 0;
			max-width: 100%;
			ul {
				column-count: 1;
				border-left: none;
				padding-left: 0;
				width: 100%;
				margin: 0;
				padding: 0;
				text-align: center;
				li {
					width: auto;
					display: inline-block;
					margin: 5px 1px;
					a {
						border: 1px solid $light;
						border-radius: 3px;
						background: $light;
						transition: ease .2s;
						&:hover {
							background: white;
						}
					}
				}
				&.footer-fijas,
				&.footer-revistas {
					background: $fondo-gris;
					li {
						a {
							border: 1px solid $fondo-gris;
							background: $fondo-gris;
							&:hover {
								background: white;
							}
						}
					}
				}
				&.footer-fijas {
					border-top: 1px solid white;
				}
			}
		} 
	}
}

