html,
body {
	font-family: "Roboto", Helvetica, Arial, serif;
	max-width: 100%;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	overflow-x: hidden;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
a {
	color: $negro;
	text-decoration: none;
	&:hover {
		color: $dark;
		text-decoration: none;
	}
}
h1,
h2 {
	font-family: $font-serif;
	line-height: 1em;
}
figure {
	img,
	picture {
		width: 100%;
	}
}

.image-responsive {
	width: 100%;
	height: auto;
}

.iframe-container {
	iframe {
		pointer-events: none;
	}

	iframe.clicked {
		pointer-events: auto;
	}
}





.supercontenedor {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	width: 100%;
	padding: 20px 0 0 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
	flex-wrap: wrap;
	.contenedor-general {
		width: 100%;
	}
	.contenido {
		width: 100%;
		display: flex;
		flex-direction: column;
		.contenedor-general {
			display: flex;
			flex-direction: column;
		}
	}
	.sidebar {
		margin: 10px auto;
		padding: 0;
		display: flex;
		width: 100%;
	}
	&.main-header {
		padding-top: 0;
	}
}


.embed-responsive {
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden;
	.embed-responsive-item, 
	embed,
	iframe,
	object,
	video {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}
}
.videoContainer {
	clear: both;
	display: block;
}
.embed-responsive-16by9 {
	padding-bottom: 56.25%;
}

//TIPOGRAFIAS

.perfil-noticia {
	.supercontenedor {
		.main-article {
			.news-body {
				.fecha-autor {
					.autor {
						font-family: $font-serif
					}
				}
				.news-content {
					font-family: $font-serif
				}
			}
		}
	}
}