* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  body {
	font-family: $font-base;
	font-size: 1rem;
	font-weight: normal;
	color: $negro;
	background: $body-bg;
  }
  h1, h2, h3, h4, h5, h6 {
	font-family: $font-titulos;
	font-weight: 600;
	color: $negro;
  }
  .max-width {
	width: 100%;
  }
  .margin-auto {
	margin: 0 auto;
  }
  
  .image-responsive {
	width: 100%;
	height: auto;
  }
  a {
	  color: $negro;
	  text-decoration: none;
  }
  
  .bg-ads-space {
	background: repeating-linear-gradient(-45deg,$body-bg,$body-bg 5px,white,white 7px)!important;
	border: 0 !important;
  
	p {
	  margin: 0;
	}
  }
  
  .iframe-container {
	iframe {
	  pointer-events: none;
	}
  
	iframe.clicked {
	  pointer-events: auto;
	}
  }
  
  figure {
	overflow: hidden;
	img {
	  width: 100%;
	  height: auto;
	}
  }
  
  .seccion {
	  width: 100%;
  }

  .ads-title { text-align: center; padding:2px 0; margin:0; color: #666;}
  .ads-container { margin:0.5em 0 1em 0}
  
  @include media-breakpoint-up(sm) {
	.max-width {
	  max-width: 540px;
	}
  }
  @include media-breakpoint-up(md) {
	.max-width {
	  max-width: 728px;
	}
  }
  @include media-breakpoint-up(lg) {
	.max-width {
	  max-width: 960px;
	}
  }
  @include media-breakpoint-up(xl) {
	.max-width {
	  max-width: 1140px;
	}
  }
  @include media-breakpoint-up(xxl) {
	.max-width {
	  max-width: 1300px;
	}
  }