* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: ease .3s;
}

body {
	font-family: $font-base;
	font-size: 1rem;
	font-weight: normal;
	color: $negro;

}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	color: $negro;
	font-family: $font-titulos;
}

.max-width {
	width: 100%;
}
.margin-auto {
	margin: 0 auto;
}

.image-responsive {
	width: 100%;
	height: auto;
}

a {
	  color: $negro;
	  text-decoration: none;
}
  
  .iframe-container {
	iframe {
	  pointer-events: none;
	}
  
	iframe.clicked {
	  pointer-events: auto;
	}
  }

figure {
	picture {
		&.cls-optimized {
			padding-top: 56.25%;
			position: relative;
			display: block;
			overflow: hidden;
			width: 100%;
			img {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
			}
		}
	}

	img {
		width: 100%;
	}
}
  
  .seccion {
	  width: 100%;
  }

  .embed-responsive-16by9 {
	  width: 100%;
	  height: 0;
	  position: relative;
	  padding-bottom: 56.25%;
	  iframe {
		  width: 100%;
		  height: 100%;
		  position: absolute;
		  top: 0;
		  bottom: 0;
		  left: 0;
		  right: 0;
	  }
  }



  @include media-breakpoint-up(sm) {
	.max-width {
	  max-width: 540px;
	}
  }
  @include media-breakpoint-up(md) {
	.max-width {
	  max-width: 728px;
	}
  }
  @include media-breakpoint-up(lg) {
	.considebar {
		display: flex;
		justify-content: space-between;
		padding-top: 2.5em;
		.sidebar {
			flex-basis: 30%;
			min-width: 300px;
		}
		.noticia,
		.autor,
		.channel,
		.tag,
		.masleidas {
			flex: 1 1 0;
			padding-right: 30px;
			max-width: 889px;
		}
	}
	.max-width {
	  max-width: 960px;
	}
  }
  @include media-breakpoint-up(xl) {
	.max-width {
	  max-width: 1140px;
	}
  }
  @include media-breakpoint-up(xxl) {
	.max-width {
	  max-width: 1300px;
	}
  }