.pre-header {
	display: none;
}



.main-header {
	background: white;
	position: sticky;
	top: 0;
	z-index: 9;
	width: 100%;
	//height: 50px;
	padding: 10px;
    box-shadow: -6px 11px 22px -13px rgba(0,0,0,.58);

	>.container {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		.hamburguer {
			width: 28px;
			height: 28px;
			overflow: hidden;
			margin: 0 10px 0 0;
			background: transparent;
			border: none;
			cursor: pointer;

			div[class*="bar-"] {
				width: 25px;
				height: 2px;
				display: block;
				background: black;
				margin: 5px 0;
				transform: rotate(0);
				transition: ease .3s;
			}

			&.open {
				.bar-1 {
					transform: rotate(-45deg) translate(-3px, 4px);
				}
				.bar-3 {
					transform: rotate(45deg) translate(-3px, -4px);
				}
				.bar-2 {
					display: none;
				}
			}
		}

		.logo {
			width: 150px;
			height: 25px;
			
			
			img {
				width: 100%;
				height: auto;
			}
		}
	}

	.navbar {
		height: 0;
		background: transparent;
		overflow: hidden;
		position: absolute;
		top: 50px;
		z-index: 9;
		width: 100%;
		left: 0;
		right: 0;

		.container {

			ul.nav {
				background: white;
				box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .3);
				width: 240px;
				list-style: none;
				padding: 3px 0 0 0;
				font-family: $font-titulos;

				li {
					position: relative;
					display: block;
					text-transform: uppercase;
					border-bottom: 1px solid $gris-claro;
					&:last-of-type {
						border-bottom: 2px solid $gris-claro;
					}
					&:first-of-type {
						font-weight: bold;
						color: $gris-oscuro;
					}

					a {
						text-decoration: none;
						color: $negro;
						display: block;
						padding: 5px 10px;
						&.has-children-a {
							font-weight: bold;
						}
					}

					ul {
						background: $gris-muy-claro;
						li {
							&:before {
								padding-left: 12px;
								content: ">";
								float: left;
								display: block;
								margin: 4px 5px 0 0;
								width: 10px;
								font-weight: bold;
							}
							&:first-of-type {
								font-weight: normal;
							}
						}
					}
				}

			}

			.search-form {
				background: white;
				box-shadow: 0 3px 7px 0 rgba(0,0,0,.3);
				display:flex;
				padding: 10px;
				justify-content: space-between;
				width: 240px;
				&__btn {
					width: 30px;
					height: 35px;
					border-radius: 50%;
					box-shadow: 2px 2px 5px 0 rgba(0,0,0,.3);
					margin: 0 0 0 10px;
					border: none;
					padding-top: 4px;
					padding-left: 2px;
					cursor: pointer;
				}
				&__input {
					width: 170px;
					height: 35px;
					border: 1px solid $gris-claro;
					border-radius: 3px;
					background: white;
					padding: 5px;
				}
			}

			.social-top {
				width: 240px;
				padding: 10px;
				display: flex;
				justify-content: space-between;
				background: white;
				box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .3);
				a {
					display: block;
					width: 30px;
				}
			}

		}

		&.mostrar {
			height: auto;
			overflow: visible;
		}

	}
}


@include media-breakpoint-up(sm) {
	.pre-header {
		display: block;
		background: $negro;
		width: 100%;
		padding: 3px 10px;
	
		.container {
			display: flex;
			justify-content: space-between;
			align-items: center;
	
			.time-top {
				color: white;
				font-size: .8rem;
				text-transform: uppercase;
			}
	
			.perfil-logo {
				height: 20px;
				width: 90px;
			}
	
		}
	
	}
	

	.main-header {
		margin-bottom: 10px;
		.navbar {
			.container {
				background: white;
				box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .2);
				display: grid;
				grid-template-areas:
					'a b'
					'a c'
					'd e';
				grid-template-columns: 1fr 1fr;
				ul.nav {
					width: 100%;
					padding: 0 1%;
					box-shadow: none;
					&:nth-child(1) {
						grid-area: a;
					}
					&:nth-child(2) {
						grid-area: b;
					}
					&:nth-child(3) {
						grid-area: c;
					}
					li {
						&:last-of-type {
							border-bottom: none;
						}
					}
				}
				.search-form {
					border-top: 1px solid $gris-claro;
					width: 100%;
					box-shadow: none;
					grid-area: e;
					margin-top: 10px;
					&__btn {
						flex-basis: 35px;
					}
					&__input {
						flex: 1 1 0;
					}
				}
				.social-top {
					border-top: 1px solid $gris-claro;
					box-shadow: none;
					grid-area: d;
					width: 100%;
					margin-top: 20px;
					justify-content: flex-start;
					a {
						margin-right: 20px;
					}
				}
			}
		}
	}
}

@include media-breakpoint-up(lg) {
	.main-header {
		position: static;
		margin-bottom: 15px;
		.navbar {
			top: 76px;
			.container {
				grid-template-areas:
					'a a b b c c'
					'd d d e e e';
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
				ul.nav {
					li {
						position: relative;
						ul {
							display: none;
						}
						&.has-children {
							&::after {
								content: '>';
								display: block;
								width: 10px;
								position: absolute;
								left: 140px;
								top: 4px;
								font-weight: bold;
								z-index: 1;
							}
						}
						&:hover>ul {
							display: block;
							position: absolute;
							left: 130px;
							top: 0;
							width: 180px;
							z-index: 2;
						}
					}
				}
				.search-form {
					justify-content: flex-end;
					&__input {
						width: 50%;
						flex: none;
					}
				}
			}
		}
	}
}

@include media-breakpoint-up(xl) {
	.main-header {
		height: 65px;
		padding: 10px;
		>.container {
			.logo {
				width: 200px;
				height: 30px;
				padding: 8px 8px 8px 10px;
			}
		}
		.navbar {
			top: 91px;
		}
	}
}
@include media-breakpoint-up(xxl) {
	.main-header {
		margin-bottom: 76px;
		//display: flex;
		 display:grid;
		grid-template-areas:
			'a b c d';
		grid-template-columns: 0px 185px auto 0px; 
		box-shadow: -6px 11px 22px -13px rgba(0, 0, 0, .6), 0 50px 0 0 $color-brand, 0 61px 0 0 rgba(0,0,0,.1);
		>.container {
			grid-area: b;
			.hamburguer {
				display: none;
			}
			.logo {
				align-self: flex-start;
			}
		}
		.navbar {
			grid-area: c;
			position: static;
			height: auto;
			overflow: visible;
			.container {
				background: transparent;
				display: grid;
				box-shadow: none;
				grid-template-areas:
					'a b c'
					'd d e';
				grid-template-columns: auto 0px auto;
				ul.nav {
					background: transparent;
					//display: flex;
					flex-direction: row;
					li {
						border-bottom: none;
						width: auto;
						display: inline-block;
						font-family: $font-titulos;
						font-size: .85rem;
						letter-spacing: -0.03em;						
						ul {
							display: none;
							li {
								width: 180px;
								background: $gris-muy-claro;
								a {
									color: $negro;
									padding: 10px;
									border-bottom: 1px solid white;
									border-left: 1px solid white;
									border-right: 1px solid white;
								}
								&:first-of-type {
									border-top: none;
								}
								&:before {
									content: none;
								}
							}
						}
						&.has-children {
							position: relative;
							&:hover>ul {
								display: block;
								border-top: none;
								position: absolute;
								top: 45px;
								left: 0;
								padding-top: 10px;
								box-shadow: 0 3px 7px 0 rgba(0,0,0,.2);
								background: transparent;
							}
							&:after {
								content: none;
							}
						}
					
						a {
							padding: 10px 10px 0 10px;
							
						}
					}
					&:nth-child(1) {
						grid-area: a;
					}
					&:nth-child(2) {
						grid-area: d;
					}
					&:nth-child(3) {
						grid-area: b;
						li:first-of-type {
							display: none;
						}
						li:nth-child(n+3) {
							display: none;
						}
					}
					&.topics {
						transform: translateX(-190px);
						height: 50px;
						overflow: hidden;

						li {
							a {
								color: white;
								padding: 15px 0.6rem 0;
								font-size: .9rem;
								
							}
						}
					}
				}
				.search-form {
					grid-area: e;
					background: transparent;
					padding: 0;
					margin: 10px 0 0 0;
					border-top: none;
					&__input {
						width: 100%;
						margin-left: -100px;
					}
					&__btn {
						padding: 0;
					}
				}
				.social-top {
					margin: 0;
					padding-right: 0;
					background: transparent;
					border-top: none;
					height: 55px;
					grid-area: c;
					a {
						margin: 0 0 0 20px;
					}
				}
			}
		}
	}

	.wf-loaded {
		.main-header {
			.navbar {
				.container {
					ul.nav {
						li {
							font-family: $font-titulos;
							font-size: 1rem;
							letter-spacing: 0;
						}
					}
				}
			}
		}
	}
}
