.podcasts-radio {
	background: $dark;
	border-radius: 4px;
	overflow: hidden;
	margin: 0 0 20px 0;
	width: 100%;
	header.titulo {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		background-color: $negro;
		width: 100%;
		font-size: 28px;
		font-weight: 600;
		line-height: .9em;
		letter-spacing: -0.02em;
		padding: 5px 10px;
		a {
			color: #fff;
			&:hover {
				color: #fff;
			}
		}
		img {
			width: 120px;
			height: auto;
		}
	}
	.notaPodcast {
		width: 100%;
		padding: 5px 10px;
		border-bottom: 1px solid $linea-oscura;
		background: $dark;
		transition: ease .3s;
		box-sizing: border-box;
		a {
			width: 100%;
			display: flex;
			figure {
				width: 30%;
				height: 50px;
				float: left;
				margin: 0 10px 0 0;
				border-radius: 3px;
				overflow: hidden;
			}
			.content {
				flex: 1 1 0;
				color: #fff;
				h3 {
					font-size: 16px;
					line-height: 1.05em;
					font-weight: 600;
					letter-spacing: -0.01em;
					font-family: $font-serif;
				}
				h5 {
					font-size: 12px;
					font-family: $font-sinserif;
					line-height: 1em;
					margin-top: 5px;
					text-transform: uppercase;
				}
			}
		}
		&:hover {
			background: $linea-oscura;
		}
		&:after {
			display: block;
			content: " ";
			clear: both;
			height: 0;
			margin: 0;
		}
	}
	footer {
		width: 100%;
		padding: 10px;
		border-bottom: 1px solid #ddd;
		margin: 0;
		a {
			font-family: $font-sinserif;
			font-size: 14px;
			font-weight: normal;
			letter-spacing: 0.2em;
			color: #fff;
			text-transform: uppercase;
			display: flex;
			justify-content: flex-end;
			line-height: 1em;
			&:after {
				content: " ";
				display: block;
				width: 20px;
				height: 20px;
				margin-left: 10px;
				background:{
					image: url('../../../img/glyph/next.svg');
					repeat: no-repeat;
					size: 14px;
					position: 0 0;
				}
				transform: translateY(-2px);
				filter: invert(1);
			}
		}
	}

}



.sidebar {
	#exitoina,
	#net,
	#investigacion,
	#opinion,
	#periodismopuro,
	#panorama,
	#reperfilar,
	#videocolumnas,
	#educacion,
	#batimes {
		background: #fff;
		width: 100%;
		margin: 0 0 20px 0;
		box-sizing: border-box;
		box-shadow: 0 5px 8px 4px rgba(0, 0, 0, 0.15);
		border-radius: 6px;
		header {
			width: 100%;
			padding: 10px 10px 5px 10px;
			box-sizing: border-box;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			border-bottom: 1px solid #ddd;
			margin: 0;
		}
		article {
			width: 100%;
			box-sizing: border-box;
			padding: 10px;
			border-bottom: 1px solid #ddd;
			background: #fff;
			transition: ease .3s;
			a {
				width: 100%;
				display: flex;
				justify-content: space-between;
				figure {
					flex-basis: 35%;
					height: auto;
					overflow: hidden;
					img {
						width: 100%;
					}
				}
				.content {
					flex-basis: 63%;
					h3 {
						font:{
							size: 1.25rem;
							weight: 500;
						}
						line-height: 1.05em;
						letter-spacing: -0.02em;
					}
					.firma-home {
						font-family: $font-sinserif;
						font-size: .8rem;
						margin-top: 5px;
						text-transform: uppercase;
						color: $dark;
						display: inline-block;
					}
					@include media-breakpoint-only(xs) {
						transform: translateY(-4px);
						h3 {
							letter-spacing: -0.03em;
							line-height: 1em;
						}
					}
				}
			}
			&:after {
				display: block;
				content: " ";
				clear: both;
				height: 1px;
				margin: 0;
			}
			&:hover {
				background: rgba(0,0,0,.05);
				a {
					h3 {
						color: #000;
					}
				}
			}
			&:first-of-type {
				a {
					flex-direction: column;
					figure {
						flex-basis: 100%;
						height: auto;
						clear: both;
						margin: 0;
						justify-content: flex-start;
					}
					.content {
						flex-basis: 100%;
						h3 {
							font-size: 1.46rem;
							line-height: 1.03em;
						}
						@include media-breakpoint-up(xs) {
							transform: none;
						}
					}
				}
			}
		}
		footer {
			width: 100%;
			padding: 10px;
			box-sizing: border-box;
			margin: 0;
			background-color: white;
			border-radius: 0 0 6px 6px;
			a {
				font-family: $font-sinserif;
				font-size: 14px;
				font-weight: 600;
				letter-spacing: 0.2em;
				text-transform: uppercase;
				display: flex;
				justify-content: flex-end;
				line-height: 1em;
				&:after {
					content: " ";
					display: block;
					width: 20px;
					height: 20px;
					margin-left: 10px;
					background:{
						image: url('../../../img/glyph/next.svg');
						repeat: no-repeat;
						size: 14px;
						position: 0 0;
					}
					transform: translateY(-2px);
				}
				&:hover {
					color: #444;
				}
			}
			&.edi {
				a {
					letter-spacing: 0.02em;
				}
			}
		}
	}

	#exitoina header .exitoina-titulo {
		text-indent: -9999px;
		width: 180px;
		height: 26px;
		display: block;
		margin: 0;
		background: url('../../../img/exitoina-logo-sidebar.png') 0 0 no-repeat;
		a {
			display: block;
			width: 180px;
			height: 26px;
		}
	}
	#net header .net-titulo {
		text-indent: -9999px;
		width: 70px;
		height: 29px;
		display: block;
		margin: 0;
		background: url('../../../img/net-logo-sidebar.png') 0 0 no-repeat;
		a {
			display: block;
			width: 70px;
			width: 29px;
		}
	}
	#investigacion header .investigacion-titulo {
		text-indent: -9999px;
		width: 280px;
		height: 35px;
		display: block;
		margin: 0;
		background: url('../../../img/investigacion-logo-sidebar.png') 0 0 no-repeat;
		a {
			display: block;
			width: 280px;
			height: 35px;
		}
	}
	#opinion header .opinion-titulo {
		width: 100%;
		height: 30px;
		line-height: 44px;
		display: block;
		margin: 0;
		text-transform: uppercase;
		font-family: $font-serif;
		font-size: 24px;
		font-weight: 600;
		background: url('../../../img/perfil-logo-xs-sidebar.png') right 0 no-repeat;
		a {
			display: inline-block;
			color: #000;
		}
	}
	#periodismopuro header .periodismopuro-titulo {
		text-indent: -9999px;
		width: 183px;
		height: 49px;
		display: block;
		margin: 0 auto;
		background: url('../../../img/periodismo-puro-logo-sidebar.png') 0 0 no-repeat;
		background-position: center center;
		a {
			display: block;
			width: 183px;
			width: 49px;
			margin: auto;
		}
	}
	#periodismopuro header .pp {
		flex-direction: column;
		h4 {
			border-top: 1px solid #d4d4d4;
			margin-top: 10px;
			padding-top: 5px;
			text-align: right;
			font-size: 15px;
			font-style: italic;
			display: block;
			width: 100%;
		}
	}
	#videocolumnas header .videocolumnas-titulo {
		width: 280px;
		height: 30px;
		line-height: 44px;
		display: block;
		margin: 0;
		text-transform: uppercase;
		font-family: $font-serif;
		font-size: 24px;
		font-weight: 600;
		a {
			display: inline-block;
			color: #000;
		}
	}
	#educacion header .educacion-titulo {
		font-family: $font-serif;
		width: 280px;
		height: 30px;
		line-height: 44px;
		display: block;
		margin: 0;
		text-transform: uppercase;
		font-size: 24px;
		font-weight: 600;
	}
	#opinion,
	#videocolumnas,
	#educacion {
		header {
			background: linear-gradient(to bottom,  rgba(228,226,232,0) 0%,rgba(228,226,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e4e2e8', endColorstr='#e4e2e8',GradientType=0 ); /* IE6-9 */
		}
	}
	#reperfilar {
		overflow: hidden;
		header {
			background: #4285f4;
			padding: 0;
			height: 42px;
			.reperfilar-titulo {
				text-indent: -9999px;
				width: 210px;
				height: 42px;
				display: block;
				margin: 0;
				background: url('../../../img/reperfilar-logo-sidebar.png') -3px 0 no-repeat;
				a {
					display: block;
					width: 210px;
					height: 42px;
				}
			}
		}
	}
	#masLeidasSidebar {
		background: #fff;
		width: 100%;
		margin: 0 0 20px 0;
		box-sizing: border-box;
		box-shadow: 0 5px 8px 4px rgba(0, 0, 0, 0.15);
		border-radius: 6px;
		header.masleidas-titulo {
			height: 40px;
			display: block;
			margin: 10px 10px 5px 10px;
			text-transform: uppercase;
			font-family: $font-serif;
			font-size:24px;
			font-weight: 600;
			background: url('../../../img/perfil-logo-xs-sidebar.png') right center no-repeat;
			a {
				display: inline-block;
				color: #000;
				line-height: 50px;
			}
		}
		.ranking {
			width: 100%;
			article.masleidas {
				width: 100%;
				padding: 5px 10px;
				border-top: 1px solid $linea;
				background: #fff;
				transition: ease .3s;
				a {
					width: 100%;
					figure {
						width: 100%;
						margin: 0;
						border-radius: 3px;
						overflow: hidden;
						img {
							width: 100%;
						}
					}
					h3 {
						color: $dark;
						font-size: 1.12rem;
						line-height: 1.05em;
						font-weight: 500;
						letter-spacing: -0.02em;
						font-family: $font-serif;
						margin: 0;
						padding: 0;
						max-height: 56px;
						overflow: hidden;
						.rankOrder {
							width: 40px;
							height: 40px;
							margin: 0 10px 0 0;
							text-align: right;
							display: block;
							padding: 0 8px 0 0;
							font-size: 1.8em;
							color: #999;
							transform: translateY(10px);
							font-family: $font-sinserif;
							font-weight: 400;
							letter-spacing: -0.15em;
							float: left;
						}
					}
				}
				&:hover {
					background: #ededed;
					a {
						h3 {
							color: $negro;
						}
					}
				}
				&:first-of-type {
					position: relative;
					padding: 0;
					a {
						h3 {
							display: block;
							background: rgba(0,0,0,0);
							background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
							position: absolute;
							bottom: 0;
							left: 0;
							right: 0px;
							color: white;
							height: auto;
							padding: 50px 10px 10px 10px;
							max-height: 300px;
							.rankOrder {
								color: white;
							}
						}
					}
					&:hover {
						a {
							h3 {
								color: white;
							}
						}
					}
				}
			}
		}
		footer {
			width: 100%;
			padding: 10px;
			box-sizing: border-box;
			border-bottom: 1px solid #ddd;
			margin: 0;
			background-color: white;
			border-top: 1px solid $linea;
			border-radius: 0 0 6px 6px;
			a {
				font-family: $font-sinserif;
				font-size: 14px;
				font-weight: 600;
				letter-spacing: 0.2em;
				color: #000;
				text-transform: uppercase;
				display: flex;
				justify-content: flex-end;
				line-height: 1em;
				&:after {
					content: " ";
					display: block;
					width: 20px;
					height: 20px;
					margin-left: 10px;
					background:{
						image: url('../../../img/glyph/next.svg');
						repeat: no-repeat;
						size: 14px;
						position: 0 0;
					}
					transform: translateY(-2px);
				}
				&:hover {
					color: #444;
				}
			}
		}
	}
	#educacion {
		footer {
			display: none;
		}
	}
	#batimes { 
		header .batimes-titulo {
			text-indent: -9999px;
			width: 280px;
			height: 35px;
			display: block;
			margin: 0;
			background: url('../../../img/batimes.png') 0 15px no-repeat;
			a {
				display: block;
				width: 280px;
				height: 35px;
			}
		}
		footer {
			a {
				letter-spacing: 0;
			}
		}
	}
	#columnistas {
		background: #fff;
		width: 100%;
		max-width: 100%;
		margin: 0 0 30px 0;
		box-sizing: border-box;
		box-shadow: 0 5px 8px 4px rgba(0, 0, 0, 0.15);
		border-radius: 6px;
		header {
			width: 100%;
			padding: 10px 10px 5px 10px;
			box-sizing: border-box;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			margin: 0;
			background: linear-gradient(to bottom,  rgba(228,226,232,0) 0%,rgba(228,226,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e4e2e8', endColorstr='#e4e2e8',GradientType=0 ); /* IE6-9 */
			a {
				width: 100%;
				height: 30px;
				line-height: 44px;
				display: block;
				margin: 0;
				text-transform: uppercase;
				font-family: $font-serif;
				font-size: 24px;
				font-weight: 600;
				color: $negro;
				background: url('../../../img/perfil-logo-xs-sidebar.png') right 0 no-repeat;
			}
		}
		.columnistas-general {
			width: 100%;
			max-width: 100%;
			height: 350px;
			position: relative;
			overflow: hidden;
			.columnistas-enlaces {
				display: none;
			}
			#columnistas-caja {
				position: absolute;
				width: 100%;
				height: 390px;
				top: 0;
				display: flex;
				overflow-x: auto;
				scroll-snap-type: x mandatory;
				scroll-behavior: smooth;
				-webkit-overflow-scrolling: touch;
				.grupo-columnistas {
					scroll-snap-align: start;
					flex-direction: column;
					flex-shrink: 0;
					transform-origin: center center;
					transform: scale(1);
					transition: ease 0.5s;
					width: 100%;
					.articulo-columnista {
						width: 100%;
						padding: 10px;
						border-top: 1px solid $linea;
						height: 70px;
						a {
							color: $dark;
							font:{
								family: $font-serif;
								weight: 400;
							}
							figure {
								width: 50px;
								height: 50px;
								border-radius: 50%;
								margin: 0 10px 0 0;
								border: 1px solid $azul;
								overflow: hidden;
								float: left;
								display: block;
								img {
									width: 100%;
									height: 100%;
									display: block;
								}
							}
							h3 {
								padding: 0;
								margin: 0;
								font-size: 1.15rem;
								line-height: 1em;
								color: $negro;
							}
							.firma-home {
								padding: 0;
								margin: 0;
								font-size: 1rem;
								color: $dark;
								font-style: italic;
							}
						}
					}
				}
			}
		}
		footer {
			width: 100%;
			padding: 10px;
			box-sizing: border-box;
			border-bottom: 1px solid #ddd;
			margin: 0;
			background-color: white;
			border-top: 1px solid $linea;
			border-radius: 0 0 6px 6px;
			background:{
				image: url('../../../img/glyph/slide.svg');
				position: 10px center;
				size: 50px;
				repeat: no-repeat;
			}
			a {
				font-family: $font-sinserif;
				font-size: 14px;
				font-weight: 600;
				letter-spacing: 0.2em;
				color: #000;
				text-transform: uppercase;
				display: flex;
				justify-content: flex-end;
				line-height: 1em;
				&:after {
					content: " ";
					display: block;
					width: 20px;
					height: 20px;
					margin-left: 10px;
					background:{
						image: url('../../../img/glyph/next.svg');
						repeat: no-repeat;
						size: 14px;
						position: 0 0;
					}
					transform: translateY(-2px);
				}
				&:hover {
					color: #444;
				}
			}
		}
	}

	.divisas {
		width: 100%;
		background: white;
		box-shadow: 0 3px 7px 0 rgba(0,0,0,.2);
		padding: 5px 10px 0 10px;
		margin: 0 0 20px 0;
		.title-divisas {
			font-size: 24px;
			font-weight: 600;
			border-bottom: 2px solid $azul;
			text-transform: uppercase;
		}
		.content-divisas {
			font-family: $font-sinserif;
			font-size: .8rem;
			display: grid;
			grid-template-areas: 
				'empty compra venta'
				'do docompra doventa'
				'db dbcompra dbventa'
				'ds dscompra dsventa'
				'eo eocompra eoventa'
				'eb ebcompra ebventa';
			grid-template-columns: 3fr 2fr 2fr;
			grid-row-gap: 1px;
			transform: translateY(-24px);
			>div {
				border-bottom: 1px solid $linea;
				padding: 5px 0;
				&.venta,
				&.compra {
					border-bottom: none;
				}
			}
			.venta {
				grid-area: venta;
				text-align: right;
				text-transform: uppercase;
			}
			.compra {
				grid-area: compra;
				text-align: right;
				text-transform: uppercase;
			}
			.do {
				grid-area: do;
			}
			.doventa {
				grid-area: doventa;
				text-align: right;
				font-weight: bold;
			}
			.docompra {
				grid-area: docompra;
				text-align: right;
				font-weight: bold;
			}
			.db {
				grid-area: db;
			}
			.dbventa {
				grid-area: dbventa;
				text-align: right;
				font-weight: bold;
			}
			.dbcompra {
				grid-area: dbcompra;
				text-align: right;
				font-weight: bold;
			}
			.ds {
				grid-area: ds;
			}
			.dsventa {
				grid-area: dsventa;
				text-align: right;
				font-weight: bold;
			}
			.dscompra {
				grid-area: dscompra;
				text-align: right;
				font-weight: bold;
			}
			.eo {
				grid-area: eo;
			}
			.eoventa {
				grid-area: eoventa;
				text-align: right;
				font-weight: bold;
			}
			.eocompra {
				grid-area: eocompra;
				text-align: right;
				font-weight: bold;
			}
			.eb {
				grid-area: eb;
			}
			.ebventa {
				grid-area: ebventa;
				text-align: right;
				font-weight: bold;
			}
			.ebcompra {
				grid-area: ebcompra;
				text-align: right;
				font-weight: bold;
			}
		}
	}


	@include media-breakpoint-up(sm) {
		#exitoina,
		#net,
		#investigacion,
		#opinion,
		#periodismopuro,
		#panorama,
		#reperfilar,
		#videocolumnas,
		#educacion,
		#batimes {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			article {
				width: 49%;
				a {
					flex-direction: column;
					justify-content: flex-start;
					figure {
						flex-basis: 100%;
					}
					.content {
						flex-basis: 100%;
						h3 {
							font-size: 1.1rem;
						}
						.firma-home {
							font-size: .8rem;
						}
					}
				}
				&:first-of-type {
					a {
						figure {
							flex-basis: 100%;
							margin: 0;
						}
						.content {
							flex-basis: 100%;
							h3 {
								font-size: 1.1rem;
							}
						}
					}
				}
			}
			header {
				.opinion-titulo {
					width: 100%;
				}
				&.pp {
					flex-direction: row;
					justify-content: space-between;
					.periodismopuro-titulo {
						margin-left: 0;
					}
					h4 {
						display: inline-block;
						border-top: none;
						width: auto;
					}
				}
			}
			footer {
				clear: both;
				width: 100%;
			}
		}

		#masLeidasSidebar {
			.ranking {
				column-count: 2;
				column-gap: 2em;
				column-rule: 1px solid $linea;
				article.masleidas {
					break-inside: avoid-column;
					padding: 5px 0;
					a {
						h3 {
							font-size: 1.1rem
						}
						figure {
							height: 190px;
						}
					}
				}
			}
		}

		#columnistas {
			.columnistas-general {
				#columnistas-caja {
					.grupo-columnistas {
						padding: 0 10px;
						article.articulo-columnista {
							padding: 10px 0;
							a {
								h3 {
									font-size: 1.2rem;
									font-weight: 500;
									letter-spacing: -0.02em;
								}
								.firma-home {
									font-size: 1rem;
								}
							}
						}
					}
				}
			}
		}

	}


	@include media-breakpoint-up(md) {
		#exitoina,
		#net,
		#investigacion,
		#opinion,
		#periodismopuro,
		#panorama,
		#reperfilar,
		#videocolumnas,
		#educacion,
		#batimes {
			article {
				width: 25%;
				a {
					.content {
						.firma-home {
							font-size: .7rem;
						}
					}
				}
			}
		}

		#columnistas {
			.columnistas-general {
				#columnistas-caja {
					.grupo-columnistas {
						flex-wrap: wrap;
						justify-content: space-between;
						width: 50%;
						padding: 0 14px;
						article.articulo-columnista {
							overflow: hidden;
						}
					}
				}
			}
			footer {
				background-image: none;
			}
		}
	}


	@include media-breakpoint-up(lg) {
		#exitoina,
		#net,
		#investigacion,
		#opinion,
		#periodismopuro,
		#panorama,
		#reperfilar,
		#videocolumnas,
		#educacion,
		#batimes {
			display: flex;
			flex-direction: column;
			article {
				width: 100%;
				margin: 0;
				a {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					figure {
						flex-basis: 35%;
					}
					.content {
						flex-basis: 63%;
					}
				}
				&:first-of-type {
					a {
						display: flex;
						justify-content: flex-start;
						figure {
							flex-basis: 100%;
							height: auto;
							margin: 0 0 5px 0;
						}
						.content {
							flex-basis: 100%;
							h3 {
								flex: 1 1 0;
								font-size: 18px;
							}
						}
					}
				}
			}
		}
		#masLeidasSidebar {
			.ranking {
				column-count: 1;
				article.masleidas {
					padding: 5px 10px;
					a {
						figure {
							height: auto;
						}
					}
				}
			}
		}

		#columnistas {
			.columnistas-general {
				height: 390px;
				#columnistas-caja {
					overflow-x: hidden;
					padding-bottom: 30px;
					.grupo-columnistas {
						padding: 0;
						width: 100%;
						padding: 0;
						.articulo-columnista {
							width: 100%;
							padding: 0 10px;
							border-top: 1px solid $linea;
							height: 70px;
							overflow: hidden;
							position: relative;
							a {
								display: flex;
								width: 510px;
								position: absolute;
								top: 0;
								left: 10px;
								transition: ease .3s;
								padding: 10px 0;
								figure {
									width: 50px;
									margin: 0 20px 0 10px;
									order: 1;
								}
								h3 {
									order: 0;
									display: block;
									padding: 0;
									margin: 0;
									width: 220px;
								}
								.firma-home {
									order: 2;
									display: block;
									padding: 0;
									margin: 0;
									width: 210px;
								}
							}
							&:hover {
								background: #ededed;
								a {
									left: -220px;
									transition: ease .3s;
								}
							}
						}
					}
				}

				.columnistas-enlaces {
					position: absolute;
					bottom: 10px;
					left: 10px;
					right: 10px;
					justify-content: center;
					z-index: 9;
					border-top: 1px solid $linea;
					display: flex;
					flex-wrap: wrap;
					padding-top: 8px;
					a {
						display: block;
						background: white;
						border: 1px solid $linea;
						border-radius: 50%;
						width: 20px;
						height: 20px;
						text-align: center;
						line-height: 1em;
						font: normal 12px/20px $font-sinserif;
						color: $dark;
						text-decoration: none;
						margin: 0 5px;
						cursor: pointer;
						&:nth-child(n+10) {
							display: none;
						}
					}
				}
			}
		}

	}
}





