/* publicidad */
.ads-title {
	text-align: center; 
	padding: 2px 0; 
	margin: 0; 
	color: #666;
}
.ads-container {
	margin:0.5em 0 1em 0;
}
.ads-space {
	background: repeating-linear-gradient(-45deg,$gris-muy-claro,$gris-muy-claro 5px,white,white 7px)!important;
	border: 0 !important;
  
	p {
	  margin: 0;
	}
}