.news {
    margin: 0 0 10px 0;
    width: 100%;
    position: relative;
    figure {
        width: 100%;
        position: relative;
    }
    &__media {
        width: 100%;
    }
    &__meta {
        position: relative;
        padding: 10px 0;
    }
    
    &__hat {
        color: $color-brand;
        font-size: .95rem;
        font-weight: 700;
        font-family: $font-condensada;
        border-bottom: 1px solid $gris-oscuro;
    }
    &__title {
        font-size: 1.3rem;
        line-height: 1.23em;
        margin-top: .5rem;         
    }
    &__headline {
        font-size: .9rem;
        margin-top: .5rem;
        display: none;
    }
    &__autor {
        font-size: .8rem;
        text-transform: uppercase;
        margin-top: .8rem;
        color: $color-brand;
        display: inline-block;
        &:before {
            content: 'Por ';
            display: inline-block;
            margin: 5px 0 0;
        }
    }

    &--figure-rounded {
        figure {
            border-radius: 6px;
            overflow: hidden;
        }
    }

    &--centered {
        .news__meta {
            text-align: center;
        }
        .news__hat {
            margin-right: auto;
            margin-left: auto;
        }
    }

    &--text-over {
        .news__meta {
            margin-top: -1.5rem;
            z-index: 1;
        }
    }
    &--border-bottom {
        padding-bottom: 10px;
        border-bottom: 1px solid $gris-claro;
    }

    &--hat-inverted {
        .news__hat {
            display: inline-block;
            text-transform: uppercase;
            background: $color-brand;
            color: white;
            padding: 3px 8px;
            letter-spacing: .08em;
            border-bottom: none;
        }
    }

    &--card-rounded {
        border: 1px solid $gris-claro;
        border-radius: 6px;
        overflow: hidden;
        .news__meta {
            padding: 10px;
        }
    }

    &--figure-hard-shadow {
        .news__media {
            box-shadow: .5rem .5rem 0 0 $gris-oscuro;
        }
    }

    &--data-shadow {
        .news__meta {
            background: white;
            padding: .5rem 1rem 1rem 1rem;
            box-shadow: 0 7px 15px 0 rgba(0,0,0,.1);
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            z-index: 1;
        }
        .news__hat {
            display: none;
        }
    }

    &--bg-dark {
        background: $negro;
        color: white;
        border: none;
        .news__title {
            color: white;
        }
        .news__autor {
            color:white;
        }
    }

    &--tipo-especial {
        position: relative;
        margin: 0;
        .news__meta {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            padding: 0 .5rem .5rem .5rem;
            z-index: 1;
            &:before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: linear-gradient(180deg, rgba(35, 35, 35, 0.51) 0%, rgba(35, 35, 35, 0) 52.64%),linear-gradient(0deg, $negro 6.67%, rgba(0, 0, 0, 0) 63.39%);
            }
        }
        .news__hat {
            margin: 0 auto auto -.5rem;
        }
        .news__title {
            color: white;
            font-family: $font-condensada;
        }
        .news__autor {
            color: white;
        }
        &.news--0 {
            .news__headline {
                display: block;
                color: white;
                border-top: 2px solid rgba(255,255,255,.6);
                padding-top: .5rem;
            }
        }
    }

    &:hover {
        .news__media  {
            >figure {
                >picture {
                    >img {
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}

.galeria-video {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #424242ad;
    display: flex;
    align-items: center;
    justify-content: center;
    .hasvideo {
        transform: translate(2px, 2px);
    }
}


@include media-breakpoint-between(xs, sm) {
    .news {

        &--full-width {
            .news__media {
                margin-left: -1rem;
                margin-right: -1rem;
                width: calc(100% + 2rem);
            }
            figure {
                border-radius: 0;
            }
        }
    }
}